<template>
  <div>
    <Header />
        <div class="mainCont">
        <div class="mainCont__Inner">
            <div class="flowlist flowlist2">
                <p class="flowlist__Flow flowlist__Flow2">
                <span class="flowlist__FlowNumber">1</span>
                完了報告<br>入力
                </p>
                <p class="flowlist__Flow flowlist__Flow2">
                <span class="flowlist__FlowNumber">2</span>
                完了報告<br>確認
                </p>
                <p class="flowlist__Flow flowlist__Flow2 flowlist__FlowActive">
                <span class="flowlist__FlowNumber flowlist__FlowNumberActive">3</span>
                完了報告<br>完了
                </p>
            </div>

            <div class="mainCont__Wrap">
                <div class="register__Cont">
                <h2 class="register__Title register__Title2">完了報告の登録ありがとうございます。</h2>
                <h2 class="register__Title">報酬の獲得は、クライアントの結果確認登録後となりますのでご了承ください。</h2>
                <div class="mainCont__Btns">
                    <ul class="mainCont__BtnsList">
                    <li class="mainCont__BtnsLi">
                        <router-link to="/mypage/work_management" class="mainCont__Btn2 mainCont__BtnCon">
                        仕事管理を表示する
                        </router-link>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import Header from './../../includes/Header'

export default {
  components: {
    Header
  }
}

</script>
