<template>
  <div>
    <Header />
      <div class="mainCont">
        <div class="mainCont__Inner">
        <div class="breadcrumb breadcrumb2">
        <ul class="breadcrumb__List">
            <li class="breadcrumb__Li">
            <a href="#">仕事管理へ戻る</a>
            </li>
        </ul>
        </div>
        <div class="flowlist flowlist2">
        <p class="flowlist__Flow flowlist__Flow2 flowlist__FlowActive">
            <span class="flowlist__FlowNumber flowlist__FlowNumberActive">FLOW1</span>
            完了報告<br>入力
        </p>
        <p class="flowlist__Flow flowlist__Flow2">
            <span class="flowlist__FlowNumber">FLOW2</span>
            完了報告<br>確認
        </p>
        <p class="flowlist__Flow flowlist__Flow2">
            <span class="flowlist__FlowNumber">FLOW3</span>
            完了報告<br>完了
        </p>
        </div>
        <div class="mainCont__Wrap">
            <div class="mainCont__Right mainCont__Right3">
            <form class="register register2">
            <Details :user="auth_status" />
            <div class="mainCont__Box">
                <h2 class="mainCont__Title1">
                選定したインフルエンサー
                </h2>

                <h3 class="mainCont__Title4">選定日時 {{ modifyDate(data.applied_at) }}</h3>

                <div class="userBox">
                <div class="userBox__Box">
                    <p class="userBox__Pic">
                        <router-link :to="`/profile/${data.user.uuid}?role=${config.status_role.influencer}`">
                            <img :src="checkClientImage(data.user.avatar_image)" class="userBox__PicImg" alt="">
                        </router-link>
                    </p>
                    <h3 class="userBox__Title"><a href="#">{{ data.user.name }}</a></h3>

                    <div class="userBox__UserBox">
                    <div class="userBox__UserSt">
                        評価
                        <span class="userBox__UserStScore">{{ getInfluencerRate(data.influencer_rate.has_many_project_users) }}</span>
                    </div>
                    <div class="userBox__UserSt">
                        完了実績
                        <span class="userBox__UserStScore">{{data.influencer_rate.has_many_project_users_corresponded_count}}</span>件
                    </div>
                    <div class="userBox__UserSt">
                        完了率
                        <span class="userBox__UserStScore">{{data.influencer_rate.has_many_project_users_completion_rate_count}}</span>%
                    </div>
                    </div>
                </div>
                <div class="userBox__Box">
                    <ul class="tag">
                        <ul class="tag">
                            <ul class="tag">
                                <li class="tag__Inner" v-for="(category, k) in data.user.has_many_genres" :key="k">
                                    <span class="matter__hash"># {{category.name}}</span>
                                </li>
                            </ul>
                        </ul>
                    </ul>
                </div>
                <div class="userBox__Pr">
                    <h4 class="userBox__SubTitle">
                    自己PR・実績
                    </h4>
                    <p>
                        <span v-html="data.user.self_introduction"></span>
                    </p>
                </div>
                <div class="userBox__Data">
                    <div class="userBox__DataBox">
                    <p class="userBox__DataTitle"><i class="fab fa-youtube"></i>YouTube</p>
                    チャンネル登録者数<br>
                    <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                    <p class="userBox__DataTitle"><i class="fab fa-instagram"></i> Instagram</p>
                    フォロワー数<br>
                    <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                    <p class="userBox__DataTitle"><i class="fab fa-facebook"></i> FaceBook</p>
                    フォロワー数<br>
                    <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                    <p class="userBox__DataTitle"><i class="fab fa-twitter"></i> twitter</p>
                    フォロワー数<br>
                    <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                    <p class="userBox__DataTitle"><i class="fab fa-tiktok"></i> Tiktok</p>
                    フォロワー数<br>
                    <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                </div>
                <div class="userBox__Date">
                    <h4 class="userBox__SubTitle">
                    投稿日時
                    </h4>
                    <p>{{ modifyDate(data.applied_at) }}</p>
                </div>
                </div>

            </div>
                <div class="mainCont__Box">
                <h2 class="mainCont__Title1">
                インフルエンサーからクライアントへの完了報告
                </h2>
                <p class="mainCont__RedBox">
                投稿したSNSへのURLを入力してください
                </p>
                <h3 class="mainCont__Title4">SNS投稿情報</h3>
                <dl class="register__FormList">
                <dt class="register__FormListLeft">
                    投稿SNS
                </dt>
                <dd class="register__FormListRight">
                    <input type="text" placeholder="https://xxxxxx.com" class="register__Url2" v-model="inputs.sns_url">
                    <span class="register__FormListStxt">※半角英数字、記号</span>
                    <span class="error__message" v-if="error.sns_url">{{ error.sns_url[0] }}</span>
                </dd>
                <!-- <dt class="register__FormListLeft">
                    コメント
                </dt>
                <dd class="register__FormListRight">
                    <textarea id="" name="" placeholder="" class="register__TextArea3"></textarea>
                </dd> -->
                </dl>


            </div>
                <div class="mainCont__Box">
                <h3 class="mainCont__Title4">
                    クライアントAさんについての評価
                </h3>
                <p class="mainCont__RedBox">
                    クライアントについての評価を入力してください
                </p>
                <div class="register__FormBox">
                <dl class="register__FormList">
                    <dt class="register__FormListLeft">
                    クライアントの評価
                    </dt>
                    <dd class="register__FormListRight">
                    <p class="register__RadioBox">
                        <input id="radio3" class="register__RadioBtnGood" name="hoge" v-model="inputs.influencer_eva" type="radio" value="1">
                        <label for="radio3" class="register__Label register__Label3">Good</label>
                    </p>
                    <p class="register__RadioBox">
                        <input id="radio4" class="register__RadioBtnBad" name="hoge" v-model="inputs.influencer_eva" type="radio" value="2">
                        <label for="radio4" class="register__Label register__Label4">Bad</label>
                    </p>
                    <br>
                    <span class="error__message" v-if="error.influencer_eva">{{ error.influencer_eva[0] }}</span>
                    </dd>
                    <dt class="register__FormListLeft">
                    コメント
                    <span class="register__FormListStxt">
                        2500文字まで
                    </span>
                    </dt>
                    <dd class="register__FormListRight">
                    <textarea id="" name="" placeholder="" class="register__TextArea3" v-model="inputs.influencer_comment"  maxlength="2500"></textarea><br>
                    <span class="register__FormListStxt" style="float:right; margin-right:23em;">{{inputs.influencer_comment != undefined ? inputs.influencer_comment.length : 0}}/2500</span>
                    <span class="error__message" v-if="error.influencer_comment">{{ error.influencer_comment[0] }}</span>
                    </dd>
                </dl>

                </div>
                <div class="mainCont__Btns">
                <ul class="mainCont__BtnsList">
                    <li class="mainCont__BtnsLi">
                    <router-link to="/mypage/work_management" class="mainCont__Btn5 mainCont__BtnCon2">
                        仕事管理を表示する
                    </router-link>
                    </li>
                    <li class="mainCont__BtnsLi">
                    <a @click="checkEntries()" class="mainCont__Btn2 mainCont__BtnCon2">
                        入力内容を確認する
                    </a>
                    </li>
                </ul>
                </div>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
  </div>
</template>

<script>
import Header from './../../includes/Header'
import ProjectUserService from '../../../../service/project-user/project-user.service'
import Details from '../../includes/ProjectUserDetails'
import Config from '../../../../config/constant'

const config = Config;
const projectUserService = new ProjectUserService();

export default {
  data() {
    return {
        data:{
            user:{},
            influencer_rate: {
                has_many_project_users: [],
            }
        },
        config: config,
        inputs: {
            influencer_eva: parseInt(localStorage.getItem('influencer_eva')),
            influencer_comment: localStorage.getItem('influencer_comment'),
            sns_url: localStorage.getItem('sns_url'),
        },
        error: {},
        auth_status: JSON.parse(localStorage.getItem('auth')),
    }
  },
  components: {
    Header,Details
  },
  created() {
    this.getProjectUser()
    if(this.inputs.influencer_comment != null && this.inputs.influencer_comment != '') this.inputs.influencer_comment = this.inputs.influencer_comment.replace(/<br ?\/?>/ig,"\n");
  },
  methods: {
    getProjectUser(){
        projectUserService.getProjectUser({project_id: this.$route.query.project_id}).then(response => {
            this.data = response.data.data
            // if(this.data.application_status != 3) {
            //     this.$router.push('/mypage/work_management');
            // }
        });
    },
    checkEntries(){
        projectUserService.checkReportDetails(this.inputs).then(response => {
            localStorage.setItem('influencer_eva', this.inputs.influencer_eva);
            localStorage.setItem('influencer_comment', this.inputs.influencer_comment);
            localStorage.setItem('sns_url', this.inputs.sns_url);
            this.$router.push(`/work_management/requesting/confirm?project_id=${this.$route.query.project_id}`);
            this.error={};
        }).catch((err) => {
            this.error = err.response.data.errors;
        });

    }
  }
}

</script>

<style scoped>
  .mainCont__BtnCon2 {
    cursor: pointer;;
  }
</style>
