<template>
  <div>
    <Header />
    <div class="mainCont">
        <div class="mainCont__Inner">
        <div class="breadcrumb breadcrumb2">
        <ul class="breadcrumb__List">
            <li class="breadcrumb__Li">
            <a href="#">仕事管理へ戻る</a>
            </li>
        </ul>
        </div>

        <div class="mainCont__Wrap">
            <div class="mainCont__Right mainCont__Right3">
            <form class="register register2">
                <Details :user="auth_status" v-on:get-application-status="getProjectStatus($event)"/>
                    <div class="mainCont__Box">
                    <h2 class="mainCont__Title1">
                        選定したインフルエンサー
                    </h2>
                    <h3 class="mainCont__Title4">
                        選定日時 {{ modifyDate(data.applied_at) }}
                    </h3>
                    <div class="userBox">
                        <div class="userBox__Box">
                        <p class="userBox__Pic">
                            <router-link :to="`/profile/${data.user.uuid}?role=${config.status_role.influencer}`">
                                <img :src="checkClientImage(data.user.avatar_image)" class="userBox__PicImg" alt="">
                            </router-link>
                        </p>
                        <h3 class="userBox__Title"><a href="#">{{ data.user.name }}</a></h3>

                        <div class="userBox__UserBox">
                            <div class="userBox__UserSt">
                            評価
                            <span class="userBox__UserStScore">{{ getInfluencerRate(data.influencer_rate.has_many_project_users) }}</span>
                            </div>
                            <div class="userBox__UserSt">
                            完了実績
                            <span class="userBox__UserStScore">{{data.influencer_rate.has_many_project_users_corresponded_count}}</span>件
                            </div>
                            <div class="userBox__UserSt">
                            完了率
                            <span class="userBox__UserStScore">{{data.influencer_rate.has_many_project_users_completion_rate_count}}</span>%
                            </div>
                        </div>
                        </div>
                        <div class="userBox__Box">
                            <ul class="tag">
                                <ul class="tag">
                                    <ul class="tag">
                                        <li class="tag__Inner" v-for="(category, k) in data.user.has_many_genres" :key="k">
                                            <span class="matter__hash"># {{category.name}}</span>
                                        </li>
                                    </ul>
                                </ul>
                            </ul>
                        </div>
                        <div class="userBox__Pr">
                        <h4 class="userBox__SubTitle">
                            自己PR・実績
                        </h4>
                        <p>
                            <span v-html="data.user.self_introduction"></span>
                        </p>
                        </div>
                        <div class="userBox__Data">
                        <div class="userBox__DataBox">
                            <p class="userBox__DataTitle"><i class="fab fa-youtube"></i>YouTube</p>
                            チャンネル登録者数</br>
                            <span class="userBox__DataTxt">1,000,000</span>
                        </div>
                        <div class="userBox__DataBox">
                            <p class="userBox__DataTitle"><i class="fab fa-instagram"></i> Instagram</p>
                            フォロワー数</br>
                            <span class="userBox__DataTxt">1,000,000</span>
                        </div>
                        <div class="userBox__DataBox">
                            <p class="userBox__DataTitle"><i class="fab fa-facebook"></i> FaceBook</p>
                            フォロワー数</br>
                            <span class="userBox__DataTxt">1,000,000</span>
                        </div>
                        <div class="userBox__DataBox">
                            <p class="userBox__DataTitle"><i class="fab fa-twitter"></i> twitter</p>
                            フォロワー数</br>
                            <span class="userBox__DataTxt">1,000,000</span>
                        </div>
                        <div class="userBox__DataBox">
                            <p class="userBox__DataTitle"><i class="fab fa-tiktok"></i> Tiktok</p>
                            フォロワー数</br>
                            <span class="userBox__DataTxt">1,000,000</span>
                        </div>
                        </div>
                        <div class="userBox__Date">
                        <h4 class="userBox__SubTitle">
                            投稿日時
                        </h4>
                        <p>{{ modifyDate(data.applied_at) }}</p>
                        </div>
                    </div>
                    </div>
                    <div class="mainCont__Box">
                    <h2 class="mainCont__Title1">
                        インフルエンサーからクライアントへの完了報告
                    </h2>
                    <h3 class="mainCont__Title4">SNS投稿情報　/　完了報告日時 {{modifyDateWithAddedDays(14,data.project.report_deadline_at)}}</h3>
                    <p>
                        投稿URL：{{ data.sns_url }}
                    </p>
                    <div class="mainCont__EmbedSnsWrap">
                        <div class="mainCont__EmbedSns" v-if="data.sns_url != null">
                            <iframe :src="getSocialDetails(data.sns_url)" scroll="no" width="900" height="600" frameborder="0"></iframe>
                        </div>
                    </div>

                    </div>
                    <div class="mainCont__Box">
                    <h3 class="mainCont__Title4">
                        クライアントAさんについての評価
                    </h3>
                    <div class="register__FormBox">
                        <dl class="register__FormList">
                        <dt class="register__FormListLeft">
                            結果の評価
                        </dt>
                        <dd class="register__FormListRight">
                            <p class="register__RadioBox"  v-if="data.influencer_eva == 1">
                                <input id="radio3" disabled class="register__RadioBtnGood" name="hoge" type="radio" v-model="data.influencer_eva" value="1">
                                <label for="radio3" class="register__Label register__Label5">Good</label>
                            </p>
                            <p class="register__RadioBox"  v-if="data.influencer_eva == 2">
                                <input id="radio4" class="register__RadioBtnBad" name="hoge" type="radio" v-model="data.influencer_eva" value="2">
                                <label for="radio4" class="register__Label register__Label4">Bad</label>
                            </p>
                        </dd>
                        <dt class="register__FormListLeft">
                            コメント
                        </dt>
                        <dd class="register__FormListRight">
                            <div class="mainCont__GrayBox">
                            <p class="mainCont__GrayBoxP">
                                <span v-html="data.influencer_comment"></span>
                            </p>
                            </div>
                        </dd>
                        </dl>

                    </div>
                    <div class="mainCont__Btns" v-if="project_status != config.application_status.done">
                        <ul class="mainCont__BtnsList">
                        <li class="mainCont__BtnsLi">
                            <router-link to="/mypage/work_management" class="mainCont__Btn2 mainCont__BtnCon2">
                            仕事管理を表示する
                            </router-link>
                        </li>
                        </ul>
                    </div>
                    </div>
                    <div class="mainCont__Box" v-if="project_status == config.application_status.done">
                    <h2 class="mainCont__Title1">
                        クライアントからあなたへの結果評価
                    </h2>
                    <h3 class="mainCont__Title4">結果評価日時 {{modifyDate(data.evaluated_at)}}</h3>
                    <div class="register__FormBox">
                        <dl class="register__FormList">
                        <dt class="register__FormListLeft">
                            結果の評価
                        </dt>
                        <dd class="register__FormListRight">
                            <p class="register__RadioBox"  v-if="data.client_eva == 1">
                                <input id="radio3" disabled class="register__RadioBtnGood" name="hoge" type="radio" v-model="data.client_eva" value="1">
                                <label for="radio3" class="register__Label register__Label5">Good</label>
                            </p>
                            <p class="register__RadioBox"  v-if="data.client_eva == 2">
                                <input id="radio4" class="register__RadioBtnBad" name="hoge" type="radio" v-model="data.client_eva" value="2">
                                <label for="radio4" class="register__Label register__Label4">Bad</label>
                            </p>
                        </dd>
                        <dt class="register__FormListLeft">
                            コメント
                        </dt>
                        <dd class="register__FormListRight">
                            <div class="mainCont__GrayBox">
                            <p class="mainCont__GrayBoxP">
                                <span v-html="data.client_comment"></span>
                            </p>
                            </div>
                        </dd>
                        </dl>

                    </div>
                    <div class="mainCont__Btns">
                        <ul class="mainCont__BtnsList">
                        <li class="mainCont__BtnsLi">
                            <router-link to="/mypage/work_management" class="mainCont__Btn2 mainCont__BtnCon2">
                            仕事管理を表示する
                            </router-link>
                        </li>
                        </ul>
                    </div>
                </div>
            </form>
            </div>

        </div>
        </div>
    </div>
  </div>
</template>

<script>
import Header from './../../includes/Header'
import Details from '../../includes/ProjectUserDetails'
import ProjectUserService from '../../../../service/project-user/project-user.service'
import Config from '../../../../config/constant'

const config = Config;
const projectUserService = new ProjectUserService();

export default {
  data() {
    return {
        data:{
            user:{},
            project:{},
            influencer_rate: {
                has_many_project_users: [],
            }
        },
        config: config,
        auth_status: JSON.parse(localStorage.getItem('auth')),
        project_status: '',
    }
  },
  components: {
    Header,Details
  },
  created() {
    this.getProjectUser()
  },
  methods: {
    getProjectStatus(data){
        this.project_status = data;
    },
    getProjectUser(){
        projectUserService.getProjectUser({project_id: this.$route.query.project_id}).then(response => {
            this.data = response.data.data
        });
    },
  }
}

</script>
