<template>
        <div class="mainCont__Box">
            <h2 class="mainCont__Title1">
                選定したインフルエンサー
            </h2>
            <h3 class="mainCont__Title4">
                選定日時 {{ modifyDate(data.applied_at) }}
            </h3>
            <div class="userBox" v-for="(value,key) in other_user_projects" :key="key">
                <div class="userBox__Box">
                <p class="userBox__Pic">
                    <router-link :to="`/profile/${value.user.uuid}?role=${config.status_role.influencer}`">
                        <img :src="checkClientImage(value.user.avatar_image)" class="userBox__PicImg" alt="">
                    </router-link>
                </p>
                <h3 class="userBox__Title">{{value.user.name}}</h3>

                <div class="userBox__UserBox">
                    <div class="userBox__UserSt">
                    評価
                    <span class="userBox__UserStScore">{{ value.user.influencer_rate }}</span>
                    </div>
                    <div class="userBox__UserSt">
                    完了実績
                    <span class="userBox__UserStScore">{{data.influencer_rate.has_many_project_users_corresponded_count}}</span>件
                    </div>
                    <div class="userBox__UserSt">
                    完了率
                    <span class="userBox__UserStScore">{{getFinishedRate(value.user.has_many_project_users_corresponded_count, value.user.has_many_project_users_completion_rate_count)}}</span>%
                    </div>
                </div>
                </div>
                <div class="userBox__Box">
                <ul class="tag">
                    <li class="tag__Inner">
                    # ハッシュタグ
                    </li>
                    <li class="tag__Inner">
                    # ハッシュタグ
                    </li>
                    <li class="tag__Inner">
                    # ハッシュタグ
                    </li>
                    <li class="tag__Inner">
                    # ハッシュタグ
                    </li>
                </ul>
                </div>
                <div class="userBox__Pr">
                <h4 class="userBox__SubTitle">
                    自己PR・実績
                </h4>
                <p class="userBox__PrTxt userBox__PrTxt2">
                    <span class="userBox__Blur">投稿者のみが閲覧できます。</span>
                </p>
                </div>
                <div class="userBox__Data">
                <div class="userBox__DataBox">
                    <p class="userBox__DataTitle"><i class="fab fa-youtube" aria-hidden="true"></i>YouTube</p>
                    チャンネル登録者数<br>
                    <span class="userBox__DataTxt">1,000,000</span>
                </div>
                <div class="userBox__DataBox">
                    <p class="userBox__DataTitle"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</p>
                    フォロワー数<br>
                    <span class="userBox__DataTxt">1,000,000</span>
                </div>
                <div class="userBox__DataBox">
                    <p class="userBox__DataTitle"><i class="fab fa-facebook" aria-hidden="true"></i> FaceBook</p>
                    フォロワー数<br>
                    <span class="userBox__DataTxt">1,000,000</span>
                </div>
                <div class="userBox__DataBox">
                    <p class="userBox__DataTitle"><i class="fab fa-twitter" aria-hidden="true"></i> twitter</p>
                    フォロワー数<br>
                    <span class="userBox__DataTxt">1,000,000</span>
                </div>
                <div class="userBox__DataBox">
                    <p class="userBox__DataTitle"><i class="fab fa-tiktok" aria-hidden="true"></i> Tiktok</p>
                    フォロワー数<br>
                    <span class="userBox__DataTxt">1,000,000</span>
                </div>
                </div>
                <div class="userBox__Date">
                <h4 class="userBox__SubTitle">
                    投稿日時
                </h4>
                <p>{{ modifyDate(value.applied_at) }}</p>
                </div>
            </div>
            <div class="mainCont__BtnsList3">
                <router-link to="/mypage/work_management" class="mainCont__Btn2 mainCont__BtnCon">
                仕事管理を表示する
                </router-link>
            </div>
        </div>
</template>

<script>
import Header from './../../includes/Header'
import Details from '../../includes/ProjectUserDetails'
import ProjectUserService from '../../../../service/project-user/project-user.service'
import Config from '../../../../config/constant'

const config = Config;
const projectUserService = new ProjectUserService();

export default {
  data() {
    return {
        config: config,
        other_user_projects: [],
        auth_status: JSON.parse(localStorage.getItem('auth')),
        data:{
            influencer_rate: {
                has_many_project_users: [],
            }
        }
    }
  },
  components: {
    Header,Details
  },
  created() {
    this.getProject()
    this.getProjectUser()
  },
  methods: {
    getProjectUser(){
        projectUserService.getProjectUser({project_id: this.$route.query.project_id}).then(response => {
            this.data = response.data.data
        });
    },
    getProject(){
        projectUserService.getCompletedProjectUserDetails({project_id: this.$route.query.project_id}).then(response => {
            this.other_user_projects = response.data.data
        });
    },
    getFinishedRate(divisor, dividen){
        if(dividen == 0 && divisor == 0) return 0;
        dividen = dividen == 0 ? 1 : dividen;
        return ((divisor/dividen) *100).toFixed();
    },
  }
}

</script>
