.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.confirmation__modal {
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.confirmation__modalInner {
  position: absolute;
  background-color: white;
  border-radius: 30px;
  top: 30%;
  left: 30%;
  width: 45%;
  padding: 20px 40px;
  margin: 0 auto
}

.confirmation__close {
  cursor: pointer;
  z-index: 1;
  background: url(/assets/btn_close.png) no-repeat;
  background-size: 20px;
  border: 0px;
  height: 30px;
  float: right;
  width: 20px;
  outline: none;
  margin-top: 8px;
}

.password__modal {
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.password__confirmation {
  position: absolute;
  background-color: white;
  border-radius: 30px;
  top: 30%;
  left: 30%;
  width: 45%;
  padding: 40px;
  margin: 0 auto;
  @media (max-width: 640px) {
    width: 90%;
    left: 5%;
  }
}

@media (max-width: 640px) {
	.password__confirmation {
    padding: 20px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  .password__confirmation .register__BtnGenre {
    width: 100%;
  }
}

.password__label {
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.password__close {
  cursor: pointer;
  z-index: 1;
  background: url(/assets/btn_close.png) no-repeat;
  background-size: 20px;
  border: 0px;
  height: 30px;
  float: right;
  width: 20px;
  outline: none;
}

.password__textboxconf {
  padding: 8px 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  box-shadow: none;
  appearance: none;
  border: 1px solid #DDD;
  border-radius: 0;
  box-sizing: border-box;
  width: 100%;
}

.project_contents {
  font-size: 12px;
  margin-bottom: 10px;
  width: inherit;
  overflow-wrap: anywhere;
}

.message__UserPic {
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.message__wrapper {
  margin-top: 70px;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  visibility: visible;
  overflow: hidden;
}

.reward__currency{
  margin-right: 5px;
}
.rewardBox {
	text-align: right;
  display: grid;
  font-size: 10px;
	background: #FFF;
}

.rewardBox + p {
  margin-bottom: 10px;
}

.rewardPrice {
  font-size: 16px;
  padding: 10px;
  text-align: right;
  margin-left: -8px;
  width: 190px;
  vertical-align: middle;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #DDD;
  outline:none;
  border-radius: 5px;
  box-sizing: border-box;
}
.sns_frame {
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: none;
  display: block;
  margin: 0px 0px 12px;
  padding: 0px;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: .6;
  &:hover {
    cursor: default;
  }
}

.tiktok {
  height: 620px;
  border: none;
}

.youtube {
  height: 50vh;
  width: 75vh;
  @media (max-width: 640px) {
    height: auto;
    width: 100%;
  }
}

.facebook {
  height: 47vh;
  width: 78vh;
  border: none;
  @media (max-width: 640px) {
    height: 370px;
    width: 100%;
  }
}

.twitter {
  width: 130vh;
  height: 150px;
  border: none;
}

.instagram {
  @media (max-width: 640px) {
    width: 100%;
  }
}

.register__File3 {
  display: none;
}

.center__text {
  text-align: center;
}

.delete_sns_btn_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.delete_sns_label {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 17px;
}

.snsinfoModal {
  &__Submit {
    margin-left: 27px;
    color: #FFF;
    background: #f2850c;
    @media (max-width: 640px) {
      margin-left: 0px;
    }
  }

  &__Cancel {
    margin-right: 27px;
    color: #FFF;
    background: #999999;
  }

  &__Btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    border: none;
    box-shadow: none;
    width: 180px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
}

.delete_sns_confirmation {
  position: absolute;
  background-color: white;
  border-radius: 30px;
  top: 30%;
  left: 30%;
  width: 45%;
  padding: 40px;
  margin: 0 auto;
  @media (max-width: 640px) {
    width: 90%;
    left: 5%;
  }
}

@media (max-width: 640px) {
	.delete_sns_confirmation {
    padding: 20px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  .delete_sns_btn_wrap {
    flex-wrap: nowrap;
  }
}
.button__size {
  width: 280px !important;
}

.spinner {
	transition: all 0.3s;
	box-sizing: border-box;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #13106c
}

.horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-top: 3px
}

.diagonal.part-1 {
	position: relative;
	transition: all 0.3s;
	box-sizing: border-box;
	float: left
}

.diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-top: 3px
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	opacity: 0
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(135deg);
	margin-top: 8px
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(-135deg);
	margin-top: -9px
}

.register__Url2 {
  font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 70%
}

.register__Url2:focus {
  border-width: 2px;
	background-color: #FFF;
	padding: 14px 9px;
	border-radius: 0;
	box-shadow: none;
	background: #edf6ff
}

.register__FormListStxtSp {
  float: right;
  width: 35%;
  @media (max-width: 640px) {
    width: auto;
  }
}

.report__submitBtn {
  border:none;
  height: 41.44px;
  width: 320px;
  cursor: pointer;
  @media (max-width: 640px) {
    height: 46px;
    width: 274.14px;
  }
}
