.breadcrumb2 {
	margin-bottom: 30px;
}
.breadcrumb__List {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
}
.breadcrumb__Li {
	position: relative;
	padding: 0 10px;
	list-style-type: none;
	font-weight: bold;
	&:after {
		content: ">";
		position: absolute;
		right: -4px;
	}
	&:first-of-type {
		padding: 0 10px 0 0;
	}
	&:last-of-type {
		&:after {
			content: none;
		}
	}
}
