@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
//@import url(https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c);
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "./node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@charset "utf-8";
$viewport: 640px;
$base: #000000;
$notosans: 'Noto Sans Japanese', "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$rounded: 'M PLUS Rounded 1c', "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$roboto: 'Roboto', "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$blue: #13106c;
$blue2: #edf6ff;
$white: #FFF;
$yellow: #ffff00;
$red: #CC0000;
$orange: #f2850c;
$green: #EAFFC1;
$green2: #09B600;
$gray:#f2f2f2;
$gray2:#DDD;
$gray3:#FCFCFC;
$sec_width_l: 1366px;
$sec_width: 1000px;
$sec_width_s: 90%;

//mixin

/* intro */
@mixin intro {
	margin-top: 70px;
	padding-top: 30px;
	@media (max-width: $viewport) {
		margin-top: 50px;
	}
}

/* inner */
@mixin inner_sec {
  max-width: $sec_width_l;
	min-width: $sec_width;
	margin: 0 auto;
  padding: 0 20px;

	@media (max-width: $viewport) {
    max-width: $sec_width_s;
    min-width: $sec_width_s;
		width: $sec_width_s;
		margin: 0 auto;
    padding: 0;
	}
}

/* wrap */
@mixin flex {
	display:-webkit-box; // old
	display:-moz-box; // old
	display:-ms-flexbox; // ie
	display:-webkit-flex; // new
	display:flex; // new
	flex-wrap: wrap;
}
@mixin between {
	-webkit-justify-content: space-between;  /* Safari etc. */
	-ms-justify-content    : space-between;  /* IE10        */
	justify-content        : space-between;
}
@mixin align-i-center {
	align-items: center;
	-webkit-box-align: center;
}
@mixin align-i-end {
	align-items:flex-end;
	-webkit-box-align: flex-end;
}
@mixin justfy-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* icon */
@mixin fontawesome {
	font-family:'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block;
}

/* btn */
@mixin btn1 {
	border-radius:4px;
	@include flex;
	@include align-i-center;
	@include justfy-center;
	font-weight: bold;
	&:hover {
		opacity: 1;
	}
}

@mixin btn2 {
	border-radius: 5px;
	@include flex;
	@include align-i-center;
	@include justfy-center;
	border: 1px solid #13106c;
	text-align: center;
	font-weight: 600;
	padding: 15px 0;
	&:hover {
		opacity: 1;
	}
}

/* txt */
@mixin txt20 {
	font-size: 20px;
	@media (max-width: $viewport) {
	}
}
@mixin txt18 {
	font-size: 18px;
	@media (max-width: $viewport) {
    font-size: 14px;
	}
}
@mixin txt16 {
	font-size: 16px;
	@media (max-width: $viewport) {
	}
}
@mixin txt14 {
	font-size: 14px;
	@media (max-width: $viewport) {
    font-size: 12px;
	}
}
@mixin txt12 {
	font-size: 12px;
	@media (max-width: $viewport) {
    //font-size: 10px;
	}
}
@mixin txt10 {
	font-size: 10px;
	@media (max-width: $viewport) {
	}
}

/* title */
@mixin title1 {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
	@media (max-width: $viewport) {
    font-size: 24px;
	}
}
@mixin title2 {
	font-size: 22px;
	margin-bottom: 30px;
	@media (max-width: $viewport) {
    font-size: 16px;
	}
}
@mixin title3 {
	font-size: 18px;
	margin-bottom: 10px;
	@media (max-width: $viewport) {
    font-size: 14px;
	}
}


/* form */
@mixin input {
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid $gray2;
	border-radius: 0;
	box-sizing: border-box;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: $blue2;
	}
	@media (max-width: $viewport) {
		font-size: 16px;
	}
}


/*	common
---------------------------------*/
body {
  color: $base;
	font-family: $notosans;
	//font-family: $rounded;
	@include txt14;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
}

/* link */
a {
	color: $blue;
	text-decoration: none;
}
a:active, a:focus {
   outline:  none;
}
a {
  transition: .4s;
}
a:hover {
  opacity: .6;
}

/* element */
.image {
	display: inline;
	@media (max-width: $viewport) {
		display: none;
	}
}
.image_s {
	display: none;
	@media (max-width: $viewport) {
		display: inline;
	}
}

/* adjust anchor */
.anc {
	margin-top: -0px;
  padding-top: 0px;
  @media (max-width: $viewport) {
  }
}


/*	display
---------------------------------*/
.block {
	display: block;
}
.block_p {
	display: block;
	@media (max-width: $viewport) {
		display: none;
	}
}
.block_s {
	display: none;
	@media (max-width: $viewport) {
		display: block;
	}
}
.inline_p {
	display: inline;
	@media (max-width: $viewport) {
		display: none;
	}
}
.inline_s {
	display: none;
	@media (max-width: $viewport) {
		display: inline;
	}
}

/* figure */
img {
	max-width: 100%;
	height: auto;
}

.m-top {
	&--30 {
		margin-top: 30px;
	}
	&--60 {
		margin-top: 60px;
	}
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;  /* Internet Explorer 5.5+ */
}
