.gtable3{
  border-left: 0px solid #ccc;
  border-right:none;
  font-size: 14px;
}

@media screen and (max-width: 640px) {
  .gtable3 {
      font-size: 12px;
  }
}

.gtable3 th{
  text-align: center;
  padding: 3px 10px;
  height:50px;
}
.gtable3 td{
  border-left: none;
  border-right: 0px solid #ccc;
  padding: 20px 10px;
  height:50px;
}
.gtable3 th:nth-child(1){
  height: 50px;
}
.gtable3 td:nth-child(1){
  width: 35%;
  height: 50px;
  text-align: left;
}
.gtable3 td:nth-child(1) p{
  padding-left: 8px;
  border-left: 0px solid rgba(39, 71, 98, 0.55);
}
.gtable3 th p{
  padding-left: 8px;
  border-left: 0px solid rgba(39, 71, 98, 0.55);
}


table{
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-spacing:0px;
  width: 100%;
  -webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
table td,table th{
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-spacing:0px;
  -webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
.table{
  border-collapse: collapse;
  border: 1px solid #DDD;
  width: 100%;
  margin: 20px 0 0 0;
}
.tr{
  display: table-row;
  width: 100%;
  -webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
.td,.th{
  display: table-cell;
  border-spacing:0px;
  -webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}


.tokuteiLead {
  width: 1040px;
  margin: 0 auto 100px auto;
  padding: 40px 0 0 0;
  min-width: 1040px
}

@media (max-width: 640px) {
  .tokuteiLead {
    width: 90%;
    margin: 0 auto 50px auto;
  }
}

@media (max-width: 640px) {
  .tokuteiLead {
    min-width: 90%
  }
}

.tokutei_Ttl {
  font-size: 30px;
  color: #13106c;
  margin: 0 0 10px;
  text-align: center;
  padding: 90px 0 30px 0
}

@media screen and (max-width: 640px) {
  .tokutei_Ttl {
    font-size: 24px;
    padding: 50px 0 30px 0
  }
}
