.error {
  &__message{
    color: red;
  }
}

.error__base {
	margin-top: 70px;
	padding-top: 30px
}

@media (max-width: 640px) {
	.error__base {
		margin-top: 50px
	}
}

.error__Inner {
	width: 800px;
	margin: auto
}

@media (max-width: 640px) {
	.error__Inner {
		width: 90%
	}
}


@media (max-width: 800px) and (min-width: 641px) {
	.error__Inner {
		width: 100%; 
	}
}

.error__Title {
	font-size: 28px;
	margin-bottom: 30px;
	font-weight: bold;
	text-align: center;
	text-align: -webkit-center
}

@media (max-width: 640px) {
	.error__Title {
		font-size: 18px;
		text-align: initial;
	}
}

.error__Content {
	width: 100%;
	padding-left: 100px
}

@media (max-width: 640px) {
	.error__Content {
		width: 100%;
		padding-left: initial
	}
}

.error__CauseTitle {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: bold
}

@media (max-width: 640px) {
	.error__CauseTitle {
		font-size: 16px
	}
}

.error__detail {
	margin: 0 0 50px 50px
}

@media (max-width: 640px) {
	.error__detail {
		margin: 0 0 50px 30px
	}
}

.error__detailUl {
	list-style: square;
	font-size: 18px
}

@media (max-width: 640px) {
	.error__detailUl {
		font-size: 16px
	}
}

.error__detailLi {
	margin-bottm: 5px
}

.err__Btn {
	text-align: center;
	text-align: -webkit-center
}

.err__BtnA {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	background: #f2850c;
	color: #FFF;
	padding: 8px 10px;
	position: relative;
	width: 240px;
	font-size: 18px
}

@media (max-width: 640px) {
	.err__BtnA {
		font-size: 14px
	}
}

.err__BtnA:hover {
	opacity: 1
}

.err__BtnA:before {
	content: "\f00c";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}
