.faq {
	margin: 0 auto 100px;
	.searchWrap {
		width: 485px;
		.searchWrap__SearchKeywordWrap {
			width: 100%;
			border-radius: 4px;
		}
	}
}
.faq__Cont {
	width: 800px;
	margin: 0 auto;
}
.faq__PageTitle {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
	text-align: center !important;
	margin-bottom: 20px !important;
}
.faq__SearchWrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	border-bottom: 3px solid #13106c;
	padding-bottom: 30px;
	margin: 50px 0 30px;
}
.faq__SearchTxt {
	color: #13106c;
	font-weight: bold;
	margin: 0 20px 0 20px;
}
.faq__Wrap {
	padding: 0 20px 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.faq__Wrap2 {
	padding: 0 20px 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.faq__Box {
	width: 365px;
	margin: 0 0 20px;
	border: 1px solid #f2f2f2;
}
.faq__BoxTitle {
	background: #13106c;
	color: #FFF;
	text-align: center;
	padding: 4px;
}
.faq__BoxListWrap {
	padding: 10px 20px;
}
.faq__BoxList {
	margin: 0 0 5px;
}
.faq__Left {
	width: 250px;
}
.faq__LeftListTitle {
	background: #13106c;
	color: #FFF;
	padding: 10px;
}
.faq__LeftListLi {
	background: #13106c;
	color: #FFF;
	padding: 10px;
	background: #edf6ff;
	border-bottom: 1px solid #DDD;
	padding-left: 15px;
	&:last-of-type {
		border-bottom: none;
	}
}
.faq__Right {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	padding-left: 25px;
}
.faq__RightTitle {
	font-size: 25px;
	margin-bottom: 30px;
}
.faq__Dt {
	cursor: pointer;
	border-bottom: 1px solid #f2f2f2;
	padding: 8px 10px;
	position: relative;
	font-size: 18px;
	font-weight: bold;
	color: #13106c;
	&:after {
		content: "";
		position: absolute;
		right: 10px;
		top: 15px;
		border-top: 5px solid #13106c;
		border-right: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid transparent;
	}
}
.faq__Dd {
	display: none;
	padding: 10px 10px 20px 10px;
}
