.flowlist {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	width: 550px;
	margin: auto;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		height: 2px;
		width: 100%;
		background: #f2f2f2;
	}
}
.flowlist__Flow {
	text-align: center;
	color: #000;
	background: #f2f2f2;
	border-radius: 100px;
	width: 120px;
	height: 120px;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	padding: 25px 30px 30px;
	font-weight: bold;
}
.flowlist__Flow2 {
	text-align: center;
	color: #000;
	background: #f2f2f2;
	border-radius: 100px;
	width: 120px;
	height: 120px;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	padding: 25px 30px 30px;
	font-weight: bold;
}
.flowlist__FlowActive {
	text-align: center;
	color: #000;
	background: #f2f2f2;
	border-radius: 100px;
	width: 120px;
	height: 120px;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	padding: 25px 30px 30px;
	font-weight: bold;
	background: #13106c;
	color: #FFF;
}
.flowlist__FlowNumber {
	font-size: 12px;
	width: 100%;
	text-align: center;
	display: block;
	border-bottom: 1px solid #000;
	padding: 0 0 2px;
	margin: 0 0 8px;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.flowlist__FlowNumberActive {
	font-size: 12px;
	width: 100%;
	text-align: center;
	display: block;
	border-bottom: 1px solid #000;
	padding: 0 0 2px;
	margin: 0 0 8px;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	border-bottom: 1px solid #FFF;
}
.flowlist.flowlist2 {
	width: 410px;
}
