.footer {
	width: 100%;
	background: #13106c;
	color: #FFF;
	text-align: center;
	font-size: 10px;
	padding: 60px 0;
	margin: 100px 0 0 0;
}
.footer__Logo {
	width: 175px;
	margin: 0 auto 20px;
}
.footer.footerCont {
	padding: 60px 20px;
	margin: 0;
	@media screen and (min-width: 768px) {
		min-width: 1000px;
	}
}
.footer__fixed {
    // min-height: calc(100vh - 267.47px); 
    min-height: calc(100vh - 12vw); 
	@media screen and (max-width: 768px) {
		min-height: calc(100vh - 17vw);
	}
}

