.header {
	background: #FFF;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #f2f2f2;
	z-index: 10;
}
.header__wrap {
	padding: 0 20px;
	height: 70px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	align-items: center;
	-webkit-box-align: center;
	position: relative;
}
.header__Logo {
	width: 160px;
}
.header__Btns {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	width: 270px;
}
.header__BtnBeginner {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	font-size: 12px;
	width: 130px;
	height: 30px;
	background: #f2850c;
	color: #FFF;
	&:hover {
		opacity: 1;
	}
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f580";
		margin-top: 2px;
	}
}
.header__BtnLogin {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	font-size: 12px;
	width: 130px;
	height: 30px;
	background: #13106c;
	color: #FFF !important;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f2f6";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		margin-top: 3px;
	}
}
.header__BtnMemberRegistration {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	font-size: 12px;
	width: 130px;
	height: 30px;
	background: #f2850c;
	color: #FFF;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f00c";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		margin-top: 2px;
	}
}
.header__IconsList {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.header__IconsLi {
	position: relative;
}
.header__Icon {
	font-size: 20px;
	display: block;
	position: relative;
	padding: 0 4px;
	color: #13106c;
	cursor: pointer;
	&:before {
		font-size: 24px;
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		margin-right: 10px;
	}
}
.header__IconOn {
	color: #FFF;
	background: #c00;
	position: absolute;
	right: 2px;
	bottom: 0;
	font-size: 10px;
	border-radius: 100%;
	min-width: 20px;
	height: 20px;
	text-align: center;
	box-sizing: border-box;
	font-weight: bold;
	padding-top: 2px;
	z-index: 1;
}
.header__IconUser {
	&:before {
		content: "\f007";
		font-weight: bold;
	}
}
.header__IconMessage {
	&:before {
		content: "\f0e0";
	}
}
.header__IconNotification {
	&:before {
		content: "\f0f3";
	}
}
.header__IconNotice {
	&:before {
		content: "\f024";
	}
}
.header__IconHelp {
	&:before {
		content: "\f059";
	}
}
.header__balloon {
	display: none;
	position: absolute;
	border: 1px solid #DDD;
	bottom: auto;
	left: -65px;
	width: 270px;
	padding: 10px;
	background: #FFF;
	margin: 10px 0 0 0;
	z-index: 2;
	font-size: 12px;
	word-break: break-all;
}
.header__balloonMessage {
	left: -105px;
}
.header__balloonNotification {
	left: -145px;
}
.header__balloonNotice {
	left: -195px;
}
.header__balloonHelp {
	left: -235px;
}
.header__balloonTitle {
	font-weight: bold;
	margin-bottom: 10px;
	background: #edf6ff;
	padding: 5px 8px;
}
.header__ballonDate {
	font-size: 10px;
	display: block;
	color: #9A9A9A;
}
.header__ballonName {
	font-size: 10px;
	display: block;
	font-weight: bold;
}
.header__ballonLink {
	text-align: center;
	display: block;
	border-top: 1px solid #DDD;
	padding-top: 10px;
	font-weight: bold;
}
.header__balloonList {
	margin-bottom: 5px;
	padding: 0 0 5px 5px;
	border-bottom: 1px solid #f2f2f2;
	&:last-of-type {
		border-bottom: 0;
	}
}
.header__balloonList2 {
	margin-bottom: 5px;
	padding: 0 0 5px 5px;
	border-bottom: 1px solid #f2f2f2;
	&:last-of-type {
		border-bottom: 0;
	}
}
.header__bk-balloon {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
