.login {
	margin-top: 70px;
	padding-top: 30px;
}
.login__PageTitle {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.login__Inner {
	background: #f2f2f2;
	margin: auto;
	width: 100%;
	max-width: 550px;
	padding: 30px 30px 40px;
	// margin-bottom: 100px;
}
.login__Title {
	font-weight: bold;
	margin-bottom: 10px;
}
.login__Email {
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 30px;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
	}
	+ .error__message {
		margin: -30px 0 30px;
	}
}
.login__Password {
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 30px;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
	}
	+ .error__message {
		margin: -30px 0 30px;
	}
}

.login__Email, .login__Password {
    margin: 0 0 30px;
	
}

.login__BtnLoginWrap {
	width: 85%;
	margin: 0 auto 40px;
}
.login__BtnMemberWrap {
	width: 85%;
	margin: 0 auto;
}
.login__BtnLogin {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	font-size: 18px;
	background: #13106c;
	color: #FFF;
	border: none;
	box-shadow: none;
	width: 100%;
	height: 40px;
	margin: 0 0 10px;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f2f6";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
	}
}
.login__BtnMemberRegistration {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	font-size: 18px;
	background: #f2850c;
	color: #FFF;
	border: none;
	box-shadow: none;
	width: 100%;
	height: 40px;
	margin: 10px 0 0;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f00c";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
	}
}

.login__fixedHeight {
    min-height: calc(100vh - 266px);
}