.mainCont {
	margin-top: 70px;
	padding-top: 30px;
	min-height: 1050px;
	input[type=checkbox] {
		display: none;
	}
	// Min Height for ipad devices.
	@media only screen
    and (min-device-width: 768px)
    and (max-width: 1112px)
    and (orientation: portrait) {
		min-height: calc(100vh + 100px);
    }
	@media only screen
	and (min-device-width: 1024px)
	and (max-device-width: 1024px)
	and (orientation: portrait)
	and (-webkit-min-device-pixel-ratio: 2) {
		min-height: calc(100vh + 100px);
	}
	@media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (orientation: landscape)
      and (-webkit-min-device-pixel-ratio: 2) {
    	min-height: calc(100vh + 100px);
	}
	@media only screen
		and (min-device-width: 1024px)
		and (max-device-width: 1366px)
		and (orientation: landscape)
		and (-webkit-min-device-pixel-ratio: 2) {
			min-height: calc(100vh + 100px);
	}
}
.mainCont__Box {
	margin-bottom: 40px;
	padding: 0 20px;
}
.mainCont__BoxWrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	align-items: center;
	-webkit-box-align: center;
	margin-bottom: 5px;
}
.mainCont__GrayBox {
	padding: 30px;
	background: #f2f2f2;
}
.mainCont__GrayBoxP {
	margin: 0 0 20px;
	overflow-wrap: anywhere;
	&--alt {
		display: flex;
		flex-wrap: wrap;
	}
	&:last-of-type {
		margin: 0;
	}
}
.mainCont__GrayBoxP2 {
	font-size: 20px;
	text-align: center;
	color: #13106c;
	font-weight: bold;
}
.mainCont__GrayBoxRed {
	color: #c00;
	font-weight: bold;
}
.mainCont__RedBox {
	border: 1px solid #c00;
	color: #c00;
	padding: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.mainCont__Result {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	margin: 20px 0 30px;
}
.mainCont__ResultTitleBox {
	margin: 0 20px 0 0;
	font-size: 18px;
}
.mainCont__ResultTitle {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.mainCont__Title1 {
	font-size: 18px;
    margin-bottom: 10px;
    background: #edf6ff;
    color: #13106c;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px 10px 3px 40px;
    margin: 0 -20px 20px;
    border-radius: 4px;
    background: url(/assets/icon_logo.png) left 15px center no-repeat #edf6ff;
    background-size: 16px;
    font-weight: bold;
}
.mainCont__Title2 {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
	text-align: left !important;
	margin-bottom: 20px !important;
}
.mainCont__Title3 {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
	text-align: left !important;
	margin-bottom: 20px !important;
	text-align: center !important;
}
.mainCont__Title4 {
	border-bottom: 3px solid #000;
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-weight: normal;
}
.mainCont__TitleLead {
	margin: 0 0 30px;
}
.mainCont__StIcon {
	border: 1px solid #c00;
	color: #c00;
	padding: 2px 10px;
	margin: 0 0 5px;
	font-size: 14px;
	display: inline-block;
	border-radius: 4px;
}
.mainCont__Inner {
	max-width: 1366px;
	min-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}
.mainCont__Inner2 {
	max-width: 1366px;
	min-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1000px !important;
}
.mainCont__Wrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	margin-top: 30px;
}
.mainCont__Left{
	width:200px;
	padding-right:15px;
	padding-bottom:100px
}
@media (max-width: 640px){
	.mainCont__Left{
		padding-bottom:30px;
		width:100%;
		padding-right:0
	}
}
@media (max-width: 640px){.mainCont__Left2{padding-bottom:50px}}
.mainCont__Right {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	padding-left: 15px;
	padding-bottom: 100px;
	border-left: 1px solid #13106c;
}
.mainCont__Right3 {
	border: none;
	padding-left: 0;
}
.mainCont__CategoryBox {
	margin: 0 0 40px;
}
.mainCont__CategoryTitle {
	margin: 0 0 20px;
	font-size: 18px;
	margin-bottom: 10px;
	border-left: 5px solid #13106c;
	padding-left: 10px;
}
.mainCont__NarrowTitle {
	margin: 0 0 20px;
	font-size: 18px;
	margin-bottom: 10px;
	border-left: 5px solid #13106c;
	padding-left: 10px;
}
.mainCont__CategoryLi {
	font-size: 12px;
	margin: 0 0 10px;
	border-bottom: 1px solid #DDD;
	padding: 0 0 10px;
	color: #13106c;
	i {
		display: inline-block;
		margin-right: 5px;
	}
}
.mainCont__Category {
	position: relative;
}
.mainCont__CategoryChild {
	padding: 5px 0 0 10px;
}
.mainCont__CategoryLiChild {
	padding-bottom: 5px;
}
.mainCont__Formbox {
	margin-bottom: 20px;
}
.mainCont__FormSelectBox {
	overflow: hidden;
	text-align: center;
	position: relative;
	border: 1px solid #DDD;
	border-radius: 4px;
	background: #FFF;
	&:before {
		position: absolute;
		top: 0.8em;
		right: 0.9em;
		width: 0;
		height: 0;
		padding: 0;
		content: '';
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid #DDD;
		pointer-events: none;
	}
}
.mainCont__FormSelect {
	width: 100%;
	cursor: pointer;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	padding: 8px 38px 8px 8px;
	color: #000;
}
.mainCont__NarrowSubTitle {
	font-weight: bold;
	margin-bottom: 5px;
}
input[type=checkbox] {
	&:checked+.mainCont__Narrowinput {
		&::after {
			opacity: 1;
		}
	}
	transition: all 0.3s;
	box-sizing: border-box;
	display: none;
	&:checked~.sidebarIconToggle {
		>.horizontal {
			transition: all 0.3s;
			box-sizing: border-box;
			opacity: 0;
		}
		>.diagonal.part-1 {
			transition: all 0.3s;
			box-sizing: border-box;
			transform: rotate(135deg);
			margin-top: 8px;
		}
		>.diagonal.part-2 {
			transition: all 0.3s;
			box-sizing: border-box;
			transform: rotate(-135deg);
			margin-top: -9px;
		}
	}
}
.mainCont__Narrowinput {
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	padding: 5px 30px;
	position: relative;
	width: auto;
	font-size: 12px;
	&:before {
		background: #FFF;
		border: 1px solid #DDD;
		content: '';
		display: block;
		height: 16px;
		left: 5px;
		margin-top: -8px;
		position: absolute;
		top: 50%;
		width: 16px;
	}
	&:after {
		border-right: 3px solid #13106c;
		border-bottom: 3px solid #13106c;
		content: '';
		display: block;
		height: 9px;
		left: 10px;
		margin-top: -7px;
		opacity: 0;
		position: absolute;
		top: 50%;
		transform: rotate(45deg);
		width: 5px;
	}
}
.mainCont__NarrowBtn {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	width: 100%;
	padding: 5px;
	background: #13106c;
	color: #FFF;
	position: relative;
	&:hover {
		opacity: 1;
	}
}
.mainCont__UserTitle {
	font-size: 18px;
	color: #13106c;
	margin-bottom: 10px;
	position: relative;
	font-weight: bold;
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f007";
		margin-top: 2px;
		font-weight: bold;
	}
}
.mainCont__UserPic {
	display: block;
	width: 80%;
	margin: auto;
}
.mainCont__UserPic2 {
	display: block;
	width: 80%;
	margin: auto;
	width: 100px;
	margin: 0 20px 0 0;
	div {
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.mainCont__UserPic3 {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}
.mainCont__UserPic3--alt {
	margin: 0 20px 0 0;
    width: 100px;
    height: 100px;
}
@media (max-width: 640px){
	.mainCont__UserPic3 {
		width: 150px !important;
		height: 150px;
	}
}
.mainCont__UserName {
	width: 100%;
	margin: auto;
	padding-top: 5px;
}
.mainCont__UserName2 {
	width: 100%;
	margin: auto;
	margin-bottom: 10px;
}
.mainCont__UserPicImg {
    border-radius: 50%;
}
.mainCont__UserSt,
.mainCont__UserSt2 {
	margin-top: 30px
}
@media (max-width: 640px) {
	.mainCont__UserSt,
	.mainCont__UserSt2 {
		margin-top: 10px
	}
}
.mainCont__UserSt2 {
	position: relative;
	margin: 0
}
.mainCont__UserSt2:before {
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block;
	content: "\f559";
	margin-top: 2px;
	font-weight: bold;
	color: #f2850c
}
@media (max-width: 640px) {
	.mainCont__UserSt2 {
		text-align: center
	}
}
.mainCont__UserStList {
	margin-bottom: 30px;
}
@media (max-width: 640px) {
	.mainCont__UserStList {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 10px
	}
}
.mainCont__UserStLi {
	margin: 0 0 15px;
	position: relative;
	overflow: hidden
}
.mainCont__UserStLi:before {
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block;
	content: "\f559";
	margin-top: 2px;
	font-weight: bold;
	color: #f2850c
}
@media (max-width: 640px) {
	.mainCont__UserStLi {
		margin: 0;
		text-align: center;
		width: calc(100% / 3)
	}
}
.mainCont__UserStOtherLi {
	font-size: 12px;
	padding-bottom: 10px;
	padding-top: 10px
}
.mainCont__UserStOtherTtl {
	display: inline-block;
	margin-right: 20px;
	font-weight: bold;
}
.mainCont__UserStOtherLi:nth-child(2) {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2
}
.mainCont__UserStScore {
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	margin: 0 3px 0 20px;
	color: #f2850c;
}
.mainCont__UserStScore3 {
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	margin: 0 3px 0 20px;
	color: #f2850c;
	margin-left: 20px;
}
.mainCont__UserStScore2 {
	display: block;
	font-size: 12px;
	margin: 2px 0 0 0;
	background: #EAFFC1;
	text-align: center;
	padding: 2px;
}
.mainCont__UserStBox {
	float: right;
	margin: -5px 0 0 0;
}
.mainCont__UserStLinkTxt {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	background: #13106c;
	color: #FFF;
	font-size: 12px;
	padding: 5px;
	margin: 10px 0 0 0;
	&:hover {
		opacity: 1;
	}
}
.mainCont__UserWrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	width: 140px;
}
.mainCont__UserId {
	background: #f2f2f2;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	margin: -10px 0 20px;
}
.mainCont__Evaluation {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	margin: 0 0 30px;
}
.mainCont__EvaluationTxt {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	padding: 18px 35px;
	margin-left: 15px;
	border-radius: 100px;
	background: #f2f2f2;
	position: relative;
	font-weight: bold;
	font-size: 12px;
	border: 2px solid #DDD;
}
.mainCont__EvaluationTxt2 {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	padding: 18px 35px;
	margin-left: 15px;
	border-radius: 100px;
	background: #f2f2f2;
	position: relative;
	font-weight: bold;
	font-size: 12px;
	border: 2px solid #DDD;
	position: relative;
	font-weight: bold;
}
.mainCont__EvaluationIconGood {
	width: 100px;
	background: #edf6ff;
	border: 2px solid #13106c;
	padding: 2px 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #13106c;
	font-size: 18px;
	position: relative;
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f599";
		font-weight: normal;
	}
}
.mainCont__EvaluationIconBad {
	width: 100px;
	background: #edf6ff;
	border: 2px solid #13106c;
	padding: 2px 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #13106c;
	font-size: 18px;
	position: relative;
	border: 2px solid #c00;
	color: #c00;
	background: #FAE4E4;
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f599";
		font-weight: normal;
		content: "\f119";
	}
}
.mainCont__EvaluationDate {
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	display: block;
}
.mainCont__GenreLi {
	font-size: 12px;
	border: 1px solid #DDD;
	margin: 0 5px 10px 0;
	border-radius: 100px;
	box-sizing: border-box;
	padding: 4px 10px;
	display: inline-block;
}
.mainCont__SnsBox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 1px solid #DDD;
	background: #edf6ff;
	margin: 0 0 20px;
}
.mainCont__SnsIcon {
	width: 20%;
	text-align: center;
	font-size: 18px;
	color: #13106c;
	font-weight: bold;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.mainCont__SnsDetail {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	background: #FFF;
}
.mainCont__SnsTitle {
	width: 30%;
	border-bottom: 1px solid #DDD;
	padding: 5px;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	box-sizing: border-box;
	padding: 5px;
	&:last-of-type {
		border-bottom: none;
	}
}
.mainCont__SnsTxt {
	width: 70%;
	border-bottom: 1px solid #DDD;
	box-sizing: border-box;
	padding: 5px;
	&:last-of-type {
		border-bottom: none;
	}
}
.mainCont__PageFeedBox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.mainCont__PageFeedBtn {
	cursor: pointer;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	padding: 2px 8px;
	margin: 0 5px;
	background: #edf6ff;
	color: #13106c;
}
.mainCont__PageFeedBtnAc {
	background: #13106c;
	color: #FFF;
}
.mainCont__NextPrevBtns {
	width: 180px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.mainCont__NextPrevBtns2 {
	margin: 20px auto 0;
}
.mainCont__NextPrevBtn {
	cursor:pointer;
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	background: #f2f2f2;
	padding: 10px 18px;
	font-weight: normal !important;
	&:hover {
		opacity: 1;
	}
	i {
		display: inline-block;
		margin: 0 5px;
		position: relative;
		top: 1px;
	}
}
.mainCont__BlockWrap {
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.mainCont__Block {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	width: 200px;
	align-items: center;
	-webkit-box-align: center;
	text-align: center;
	font-size: 18px;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	padding: 20px;
	&:last-of-type {
		border-right: 1px solid #f2f2f2;
	}
}
.mainCont__BlockTitle {
	display: block;
	color: #13106c;
	font-size: 14px;
}
.mainCont__BlockSnsWrap {
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.mainCont__BlockSns {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	width: 20%;
	align-items: center;
	-webkit-box-align: center;
	text-align: center;
	font-size: 18px;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: #13106c;
	padding: 20px;
	&:last-of-type {
		border-right: 1px solid #f2f2f2;
	}
	i {
		display: block;
	}
}
.mainCont__BlockWrap2 {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	margin: 0 0 20px;
}
.mainCont__Block2 {
	border: 1px solid #DDD;
	width: 32%;
}
.mainCont__Block2Title {
	background: #13106c;
	color: #FFF;
	text-align: center;
	padding: 5px;
}
.mainCont__Block2List {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	padding: 20px;
}
.mainCont__Block2ListDt {
	width: 50%;
	margin-bottom: 10px;
	font-weight: bold;
	margin-bottom: -2px;
	color: #13106c;
}
.mainCont__Block2ListDd {
	width: 50%;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: right;
}
.mainCont__Block2Number {
	font-size: 20px;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	display: inline-block;
	margin-right: 5px;
	color: #f2850c;
	text-decoration: underline;
}
.mainCont__Block2Number2 {
	font-size: 20px;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	display: inline-block;
	margin-right: 5px;
	color: #f2850c;
	text-decoration: underline;
	text-decoration: none;
	color: #000;
}
.mainCont__BtnsList {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.mainCont__BtnsList2 {
	padding-bottom: 30px;
}
.mainCont__BtnsList3 {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 30px;
}
.mainCont__BtnsLi {
	padding: 0 10px;
}
.mainCont__BtnsLi2 {
	margin: 0 0 10px;
}
.mainCont__BtnsLi3 {
	padding: 0 10px;
	width: 100%;
}
.mainCont__Btn1 {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	background: #f2850c;
	color: #FFF;
	padding: 8px 10px;
	position: relative;
	width: 240px;
	color: #FFF;
	background: #f2850c;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f00c";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f002";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
	}
}
.mainCont__Btn2 {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	background: #f2850c;
	color: #FFF;
	padding: 8px 10px;
	position: relative;
	width: 240px;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f00c";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
	}
}
.mainCont__Btn3 {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	background: #f2850c;
	color: #FFF;
	padding: 8px 10px;
	position: relative;
	width: 240px;
	color: #FFF;
	background: #13106c;
	font-weight: normal;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f00c";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f086";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
	}
}
.mainCont__Btn4 {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	background: #f2850c;
	color: #FFF;
	padding: 8px 10px;
	position: relative;
	width: 240px;
	color: #FFF;
	background: #13106c;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f00c";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f002";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
	}
}
.mainCont__Btn5 {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	background: #f2850c;
	color: #FFF;
	padding: 8px 10px;
	position: relative;
	width: 240px;
	color: #000;
	background: #f2f2f2;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f00c";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: none;
	}
}
.mainCont__Btn2_2 {
	margin: 30px auto 30px;
	width: 70%;
	font-size: 20px;
}
.mainCont__Date {
	font-size: 12px;
	margin: 10px 0 20px;
}
.mainCont__MoneyBox {
	margin: 30px 0 30px;
	display: inline-block;
	text-align: right;
	min-width: 300px;
}
.mainCont__MoneyBoxInner {
	border: 1px solid #DDD;
	margin-bottom: 10px;
}
.mainCont__MoneyTitle {
	background: #13106c;
	color: #FFF;
	padding: 5px 10px;
	text-align: center;
}
.mainCont__Money {
	text-align: center;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: #13106c;
	font-weight: bold;
	font-size: 20px;
	padding: 5px 10px;
}
.mainCont__UneiBox {
	margin: 0 0 30px;
}
.mainCont__UneiDate {
	padding: 0 0 10px;
	margin: 0 0 10px;
	border-bottom: 1px solid #f2f2f2;
}
.mainCont__UneiLink {
	display: block;
	padding: 5px 0;
}
.mainCont__ContirmBox {
	width: 200px;
	margin: 30px 0;
}
.mainCont__ContirmBox2 {
	width: 240px;
	margin: 30px 0 30px;
}
.mainCont__Card {
	width: 400px;
	margin: auto;
}
.mainCont__EmbedSnsWrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 0 0;
}
.mainCont__EmbedSns {
	width: 350px;
	background: #FFF;
}
.mainCont__TitleWrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	flex-direction: row-reverse;
}
.mainCont__TitleWrapBox {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	padding-left: 15px;
}
.mainCont__FixedTitle {
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 10px;
	text-align: center;
	z-index: 1;
	font-size: 18px;
}

.mainCont__BtnCon {
	width: 320px;
	height: 70%;
	font-size: 18px
}

.mainCont__BtnCom {
    width: 320px;
    height: 45px;
    font-size: 18px;
}

.mainCont__File {
	background: #FFF;
	padding: 10px;
	// width: 150px;
	margin: 5px;
}

.mainCont--projectComplete {
	min-height: calc(100vh - 266.47px);
	.mainCont__Box {
		margin-bottom: 0;
	}
}

.mainCont {
	overflow-y: hidden;
	&__Right {
		border-left: 0;
		position: relative;
		&::before {
			content: '';
			width: 1px;
			height: 10000%;
			background-color: #13106c;
			position: absolute;
			left: 0;
			top: 0;
			@media (max-width: 676px){
				display: none;
			}
		}
		&3 {
			&::before {
				display: none !important;
				padding-left: 0 !important;
			}
		}
	}
}

.mainCont__BtnCon2 {
	width: 300px;
	height: 60%;
	font-size: 18px
}

.mainCont__Box--confirm {
	.mainCont__GrayBox {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.mainCont__File {
		flex: 1;
	}
}