.matter.matterEnd {
	position: relative;
}
.matter {
	border: 2px solid #f2f2f2;
	margin: 0 0 20px;
	display: block;
	position: relative;
}
.matter__Box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	color: #000;
	padding: 20px 20px 20px 10px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: relative;
}
.matter__Date {
	position: absolute;
	right: 10px;
	bottom: 3px;
	font-size: 10px;
}
.matter__Title {
	color: #13106c;
	margin: 0 0 10px;
	font-size: 18px;
}
.matter__Detail {
	border-right: 1px solid #f2f2f2;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	padding: 0 10px;
}
.matter__DetailTxt {
	font-size: 12px;
	margin-bottom: 10px;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.matter__PriceBox {
	padding: 0 10px;
	border-right: 1px solid #f2f2f2;
	min-width: 150px;
	text-align: center;
	&:last-of-type {
		border-right: none;
	}
}
.matter__PriceTitle {
	font-size: 12px;
	background: #EAFFC1;
	border: 1px solid #EAFFC1;
	padding: 2px;
	margin: 0 0 5px;
	height: 23px;
}
.matter__Price {
	font-weight: bold;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-size: 20px;
}
.matter__PriceYen {
	font-size: 14px;
	display: inline-block;
	margin-left: 5px;
}
.matter__PriceNinzu {
	padding: 0px 0 10px;
}
.matter__OtherBox {
	padding: 0 10px;
	border-right: 1px solid #f2f2f2;
	min-width: 120px;
	text-align: center;
	&:last-of-type {
		border-right: none;
	}
}
.matter__OtherTitle {
	border: 1px solid #c00;
	color: #c00;
	padding: 2px;
	margin: 0 0 5px;
	font-weight: bold;
	font-size: 12px;
	height: 23px;
}
.matter__OtherTitle2 {
	border: 1px solid #777;
	color: #777;
}
.matter__OtherSmall {
	font-size: 12px;
	display: block;
}
.matter__OtherDate {
	font-size: 20px;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.matter__OtherTxt2 {
	position: relative;
	&:before {
		content: "";
		width: 100%;
		height: 28px;
		display: block;
	}
}
.matter__SnsIcons {
	width: 100%;
	margin: 10px 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.matter__SnsIconsLi {
	margin: 0 10px 0 0;
}
.matter__SnsIcon {
	font-size: 20px;
	color: #13106c;
}
.matter__UserBox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	margin: 10px 0 0;
}
.matter__UserPic {
	margin-right: 10px;
	width: auto;
	&--div {
		div {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}
.matter__UserPicImg {
	border-radius: 50%;
	position: relative;
	top: 2px;
    width: 25px;
    height: 25px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.matter__UserName {
	font-size: 12px;
	background: #13106c;
	box-sizing: border-box;
	padding: 2px 10px;
	color: #FFF;
	position: relative;
}

.matter__TitleA:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.matter__TitleE:before {
	content: '';
	background: rgba(0, 0, 0, 0.05);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
