@media (max-width: 640px) {
	.block_p {
		display: none
	}

  .image {
		display: none
	}

  .image_s {
		display: inline
	}

  .block_p {
		display: none
	}

  .block_s {
		display: block
	}

  .inline_p {
		display: none
	}

  .inline_s {
		display: inline
	}
  .header__wrap {
		height: 50px;
		padding: 10px
	}
  .header__Logo {
		width: 90px
	}
  .header__Btns {
		width: 190px
	}
  .header__BtnBeginner,
	.header__BtnLogin,
	.header__BtnMemberRegistration {
		width: 110px;
		font-size: 12px !important
	}
  .header__BtnLogin {
		background: #13106c;
		color: #FFF;
		padding: 0;
		width: 75px
	}
  .header__IconsList {
		position: relative;
		top: -4px;
		right: -8px
	}
  .header__Icon:before {
		margin-right: 5px
	}
  .header__balloon {
		position: fixed;
		bottom: auto;
		top: 40px;
		left: 50%;
		background: #FFF;
		margin: 10px 0 0 0;
		margin-left: -45%;
		width: 90%
	}
  .header__balloon2 {
		left: 50%
	}
  .header__balloon3 {
		left: 50%
	}
  .header__balloon4 {
		left: 50%
	}
  .header__balloon5 {
		left: 50%
	}
  .searchWrap.searchWrapHeader {
		display: none
	}
  .searchWrap {
		width: 100%
	}
  .searchWrap__SearchKeywordWrap2 {
		width: 100%
	}
  .searchWrap__SearchKeyword {
		font-size: 16px
	}
  .searchWrap__SearchSelect {
		font-size: 16px
	}
  .searchWrap__SearchSelectTitle {
		font-size: 12px
	}
  .footer {
		margin: 50px 0 0 0;
		padding: 30px 0;
		min-width: 100%
	}
  .footer__Logo {
		width: 100px;
		margin: 0 auto 10px
	}
  .footer.footerCont {
		margin: 0;
		min-width: 100%;
		padding: 30px 0
	}
  .login {
		margin-top: 50px;
		padding-bottom: 60px
	}
  .login__PageTitle {
		font-size: 24px
	}
  .login__Inner {
		width: 90%;
		padding: 20px 20px 30px
	}
  .login__Email,
	.login__Password {
		font-size: 16px
	}
  .login__BtnLogin {
		font-size: 14px
	}
  .login__BtnMemberRegistration {
		font-size: 14px
	}
  .register {
		margin-top: 50px
	}
  .register__PageTitle {
		font-size: 24px
	}
  .register__Title {
		font-size: 16px
	}
  .register__SubTitle {
		font-size: 14px
	}
  .register__FormTitle {
		font-size: 14px
	}
  .register__Cont {
		max-width: 1366px;
		min-width: 1000px;
		margin: 0 auto;
		padding: 0 20px;
		padding: 20px 0 30px 0 !important;
		margin-bottom: 20px !important
	}
  .register__Cont {
		max-width: 90%;
		min-width: 90%;
		width: 90%;
		margin: 0 auto;
		padding: 0
	}
  .register__FormCont {
		max-width: 1366px;
		min-width: 1000px;
		margin: 0 auto;
		padding: 0 20px;
		padding: 20px 0 30px 0;
		margin-bottom: 20px !important
	}
  .register__FormCont {
		max-width: 90%;
		min-width: 90%;
		width: 90%;
		margin: 0 auto;
		padding: 0
	}
  .register__Email {
		font-size: 16px
	}
  .register__BtnRegister,
	.register__BtnRegister3,
	.register__BtnConfirm {
		font-size: 14px
	}
  .register__BtnConfirm {
		width: 70%
	}
  .register__BtnRegister3 {
		width: 70%
	}
  .register__BtnRegister2,
	.register__BtnConfirm2 {
		font-size: 14px
	}
  .register__BtnRegister2,
	.register__BtnConfirm2 {
		width: 70%
	}
  .register__BtnEmail,
	.register__BtnPassword {
		font-size: 14px;
		width: 80%;
		margin: 0 auto 50px
	}
  .register__BtnGenre {
		font-size: 14px
	}
  .register__Mail {
		font-size: 14px
	}
  .register__FormListLeft {
		width: 100%;
		text-align: left;
		margin-bottom: 10px
	}
  .register__FormListRight {
		width: 100%;
		text-align: left
	}
  .register__FormCardListRight {
		width: 100%;
		text-align: left
	}
  .register__Required,
	.register__Koukai,
	.register__Hikoukai,
	.register__Any {
		margin-top: 5px
	}
  .register__Password,
	.register__UserName,
	.register__Name,
	.register__Kana,
	.register__Tel,
	.register__Jyusyo,
	.register__Year,
	.register__Year2,
	.register__Month,
	.register__Month2,
	.register__Day,
	.register__Email2,
	.register__Irai,
	.register__Url,
	.register__Price,
	.register__Security,
	.register__CardNumber {
		font-size: 16px
	}
  .register__Url2 {
		width: 100% !important;
	}
  .register__Year,
	.register__Year2,
	.register__Month,
	.register__Month2,
	.register__Day,
	.register__Security {
		width: 80%
	}
  .register__Month2,
	.register__Year2 {
		width: 50%
	}
  .register__DateWrap,
	.register__DateWrap2 {
		width: 25%
	}
  .register__DateWrap2 {
		width: 45%;
		margin-right: -70px
	}
  .register__PriceWrap {
		width: 100%
	}
  .register__Price {
		width: 80%
	}
  .register__RadioBox,
	.register__RadioBox2,
	.register__RadioBox3.register__RadioBox4 {
		width: 45%
	}
  .register__RadioBox2 {
		width: 100%
	}
  .register__RadioBox4 {
		width: 100%
	}
  .register__Label,
	.register__Label2,
	.register__Label3,
	.register__Label4,
	.register__Label5 {
		font-size: 12px
	}
  .register__TextArea3 {
		width: 100%
	}
  .register__SelectWrap {
		width: 100%
	}
  .register__SelectWrap2 {
		width: 100%
	}
  .register__InputWrap {
		width: 100%
	}
  .register__CalculationBox {
		width: 100%
	}
  .register__CautionBox2 {
		width: auto
	}
  .register__SnsTitle {
		width: 100%;
		border-bottom: 1px solid #f2f2f2
	}
  .register__Btns {
		width: 100%;
		border-top: 1px solid #f2f2f2
	}
  .register__GrayBox,
	.register__BlueBox {
		padding: 15px;
		max-height: 200px;
		overflow: scroll
	}
  .register__GrayBoxTitle {
		font-size: 12px
	}
  .register.register2 {
		padding: 0
	}
  #placeholderDiv {
		font-size: 12px
	}
  .resetPassword {
		margin-top: 50px
	}
  .resetPassword__PageTitle {
		font-size: 24px
	}
  .resetPassword__Cont {
		max-width: 1366px;
		min-width: 1000px;
		margin: 0 auto;
		padding: 0 20px;
		padding: 20px 0 30px 0 !important;
		margin-bottom: 20px !important
	}
  .resetPassword__Cont {
		max-width: 90%;
		min-width: 90%;
		width: 90%;
		margin: 0 auto;
		padding: 0
	}
  .resetPassword__Email,
	.resetPassword__PassWord {
		font-size: 16px
	}
  .resetPassword__BtnMail,
	.resetPassword__BtnRegistration,
	.resetPassword__BtnLogin {
		font-size: 14px
	}
  .flowlist {
		max-width: 1366px;
		min-width: 1000px;
		margin: 0 auto;
		padding: 0 20px;
		margin-bottom: 30px !important
	}
  .flowlist {
		max-width: 90%;
		min-width: 90%;
		width: 90%;
		margin: 0 auto;
		padding: 0
	}
  .flowlist__Flow,
	.flowlist__Flow2,
	.flowlist__FlowActive {
		font-size: 10px;
		width: 24%;
		height: 70px;
		padding: 10px 5px;
		border-radius: 0
	}
  .flowlist__Flow2 {
		width: 30%
	}
  .flowlist__FlowNumber,
	.flowlist__FlowNumberActive {
		padding: 0 0 2px;
		margin: 0 0 5px
	}
  .flowlist.flowlist2 {
		max-width: 1366px;
		min-width: 1000px;
		margin: 0 auto;
		padding: 0 20px;
		margin-bottom: 30px !important
	}
  .flowlist.flowlist2 {
		max-width: 90%;
		min-width: 90%;
		width: 90%;
		margin: 0 auto;
		padding: 0
	}
  .breadcrumb__List {
		border-bottom: 1px solid #13106c;
		padding: 0 0 10px
	}
  .mainCont {
		margin-top: 50px
	}
  .mainCont__Box {
    margin-bottom: 80px;
		padding: 0;
	}
  .mainCont__Box2 {
		margin-bottom: 30px
	}
  .mainCont__GrayBox {
		padding: 15px;
		max-height: 300px;
		overflow: scroll
	}
  .mainCont__ResultTitleBox {
		font-size: 14px
	}
  .mainCont__ResultTitle {
		font-size: 24px
	}
  .mainCont__Title1 {
		font-size: 14px
	}
  .mainCont__Title1 {
		margin: 0 0 15px
	}
  .mainCont__Title2,
	.mainCont__Title3 {
		font-size: 24px
	}
  .mainCont__StIcon {
		font-size: 12px
	}
  .mainCont__Inner,
	.mainCont__Inner2 {
		max-width: 90%;
		min-width: 90%;
		width: 90%;
		margin: 0 auto;
		padding: 0
	}
  .mainCont__Inner2 {
		max-width: 90%
	}
  .mainCont__Wrap {
		margin-top: 20px
	}
  .mainCont__Wrap2 {
		flex-direction: column-reverse
	}
  .mainCont__Left {
		padding-bottom: 30px;
		width: 100%;
		padding-right: 0
	}
  .mainCont__Left2 {
		padding-bottom: 50px
	}
  .mainCont__Right {
		border-left: none;
		padding-bottom: 50px;
		padding-left: 0;
		width: 100%
	}
  .mainCont__Right2 {
		padding-bottom: 0
	}
  .mainCont__CategoryBox {
		margin: 0 0 20px
	}
  .mainCont__CategoryTitle,
	.mainCont__NarrowTitle {
		font-size: 14px
	}
  .mainCont__FormSelectBox:before {
		top: 14px
	}
  .mainCont__FormSelect {
		font-size: 16px
	}
  .mainCont__Narrowinput {
		width: 100%
	}
  .mainCont__UserTitle {
		font-size: 14px
	}
  .mainCont__UserTitle {
		background: #13106c;
		color: #FFF;
		padding: 4px 10px
	}
  .mainCont__UserPic,
	.mainCont__UserPic2,
	.mainCont__UserPic3 {
		width: 60%;
    margin: 0px auto 20px;
	}
  .mainCont__UserPic2 {
		width: 60%;
		margin: auto
	}
  .mainCont__UserName,
	.mainCont__UserName2 {
		text-align: center;
		margin-top: 10px
	}
  .mainCont__UserSt,
	.mainCont__UserSt2 {
		margin-top: 10px
	}
  .mainCont__UserSt2 {
		text-align: center
	}
  .mainCont__UserStList {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 10px
	}
  .mainCont__UserStLi {
		margin: 0;
		text-align: center;
		width: calc(100% / 3)
	}
  .mainCont__UserStScore,
	.mainCont__UserStScore3 {
		margin: 0 3px 0 0;
    padding-left: 20px;
	}
  .mainCont__UserStScore2 {
		padding: 2px;
		margin: 0
	}
  .mainCont__UserStBox {
		margin: 0;
		float: none
	}
  .mainCont__UserWrap {
		width: 100%
	}
  .mainCont__Evaluation {
		display: block
	}
  .mainCont__EvaluationTxt,
	.mainCont__EvaluationTxt2 {
		padding: 15px;
		margin-left: 0;
		margin-top: 10px;
		border-radius: 20px
	}
  .mainCont__EvaluationTxt2 {
		margin-right: 0
	}
  .mainCont__EvaluationIconGood,
	.mainCont__EvaluationIconBad {
		font-size: 14px
	}
  .mainCont__SnsIcon {
		font-size: 14px
	}
  .mainCont__SnsIcon {
		width: 100%;
		padding: 5px
	}
  .mainCont__SnsDetail {
		width: 100%
	}
  .mainCont__SnsTitle {
		width: 40%
	}
  .mainCont__SnsTxt {
		width: 60%
	}
  .mainCont__NextPrevBtns {
		margin: 10px 0 0
	}
  .mainCont__NextPrevBtns3 {
		margin: 40px 0 -130px
	}
  .mainCont__BlockWrap {
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between
	}
  .mainCont__Block {
		font-size: 14px
	}
  .mainCont__Block {
		border: 1px solid #f2f2f2;
		width: 100%;
		width: 48%;
		margin: 0 0 15px
	}
  .mainCont__BlockTitle {
		font-size: 12px
	}
  .mainCont__BlockSnsWrap {
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between
	}
  .mainCont__BlockSns {
		font-size: 14px
	}
  .mainCont__BlockSns {
		width: 48%;
		margin: 0 0 10px;
		border: 1px solid #f2f2f2
	}
  .mainCont__Block2List {
		padding: 10px
	}
  .mainCont__Block2ListDt,
	.mainCont__Block2ListDd {
		width: 100%;
		text-align: center
	}
  .mainCont__Block2ListDd {
		text-align: center
	}
  .mainCont__BtnsList2 {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: center
	}
  .mainCont__BtnsLi {
		margin-bottom: 10px;
		width: 100%;
		text-align: -webkit-center
	}
  .mainCont__BtnsLi3 {
		margin-bottom: 10px
	}
  .mainCont__Btn4 {
		font-size: 14px
	}
  .mainCont__BtnCon {
		width: 80%;
		height: 45px;
		font-size: 14px;
		padding: 0
	}
  .mainCont__BtnCon2 {
		width: 80%;
		height: 30px;
		font-size: 14px !important
	}
  .mainCont__BtnCom {
		width: 70%;
		height: 34px;
		font-size: 14px
	}
  .mainCont__Btn2_2 {
		font-size: 16px
	}
  .mainCont__Date {
		margin: 0 0 20px
	}
  .mainCont__MoneyBox {
		min-width: auto;
		margin: 10px 0 30px
	}
  .mainCont__Card {
		width: 70%
	}
  .mainCont__EmbedSns {
		position: relative;
		width: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch
	}
  .mainCont__TitleWrapBox {
		padding-left: 0;
		width: 100%
	}
  .matter__Box {
		padding: 15px;
		display: flow-root
	}
  .matter__Title {
		font-size: 16px;
		word-break: break-word
	}
  .matter__Detail {
		width: 100%;
		padding: 0;
		border-right: none
	}
  .matter__PriceBox {
		min-width: auto;
		width: 50%;
		margin: 0 0 10px;
		float: left
	}
  .matter__PriceBox2 {
		width: 100%
	}
  .matter__PriceYen {
		font-size: 12px
	}
  .matter__OtherBox {
		width: 50%;
		max-width: auto;
		margin: 0 0 10px;
		float: right
	}
  .matter__OtherBox2 {
		width: 100%
	}
  .matter__OtherTxt2:before {
		display: none
	}
  .matter__SnsIcons {
		margin: 0 0 10px
	}
  .matter__UserBox {
		margin: 0 0 10px
	}
  .userBox__Btn,
	.userBox2__Btn {
		margin: 20px auto 0;
		position: static;
		width: 100%
	}
  .userBox__Data,
	.userBox2__Data {
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between
	}
  .userBox__DataBox,
	.userBox2__DataBox {
		width: 48%;
		margin: 0 0 15px
	}
  .userBox__DataTitle,
	.userBox2__DataTitle {
		font-size: 14px
	}
  .tag__Inner {
		font-size: 10px;
		margin: 0 5px 10px 0
	}
  .tabs__NextPrevBtns {
		margin: 10px 0 0;
		width: 140px
	}
  .tab_item.tab_item2 {
		border-bottom: none;
		margin-bottom: 10px
	}
  .tab_item {
		font-size: 12px
	}
  .tab_item {
		font-size: 12px;
		width: auto;
		padding: 0 10px;
		height: 30px;
		line-height: 30px
	}
  .tab_content {
		padding: 10px 0 0
	}
  .table2__th,
	.table2__th2 {
		width: 100%;
		display: block;
		padding: 0
	}
  .table2__td,
	.table2__td2 {
		width: 100%;
		display: block;
		padding: 0 0 10px;
		text-align: left
	}
  .table2__td2 {
		width: 100%;
		text-align: left !important;
		padding-left: 10px
	}
  .table2__Icon {
		margin: 0
	}
  .table2__td1,
	.table2__td3 {
		width: auto;
		margin-left: 10px
	}
  .table2__td2 {
		width: auto
	}
  .table2__td3 {
		margin-left: 0
	}
  .table3 {
		width: 100%
	}
  .faq {
		margin: 0 auto 50px
	}
  .faq__Cont {
		width: 90%
	}
  .faq__PageTitle {
		font-size: 24px
	}
  .faq__SearchWrap {
		margin: 0 0 30px
	}
  .faq__SearchTxt {
		margin: 0 0 10px
	}
  .faq__Wrap,
	.faq__Wrap2 {
		padding: 0
	}
  .faq__Wrap2 {
		flex-direction: column-reverse
	}
  .faq__Left {
		margin: auto
	}
  .faq__Right {
		width: 100%;
		margin-bottom: 30px;
		padding-left: 0
	}
  .faq__RightTitle {
		font-size: 16px
	}
  .faq__RightTitle {
		margin-bottom: 10px !important
	}
  .faq__Dt {
		padding: 8px 20px 8px 10px;
    font-size: 100%;
	}
  .faq__Dt:after {
		top: 50%
	}
  .message {
		position: fixed
	}
  .message__Inner {
		max-width: 90%;
		min-width: 90%;
		width: 90%;
		margin: 0 auto;
		padding: 0
	}
  .message__Title {
		font-size: 14px
	}
  .message__Title {
		text-align: center;
		background: #13106c;
		color: #FFF;
		padding: 10px;
		margin: 0 0 20px
	}
  .message__Left {
		width: 90%;
		transform: translateX(-100%);
		transition: transform 250ms ease-in-out
	}
  .message__LeftTitle {
    padding-top: 13px;
		margin: 0 -15px 0
	}
  .message__Right {
		border-left: none;
		border-top: 1px solid #f2f2f2;
		width: 100%
	}
  .message__Btn {
		width: 100%
	}
  .message__TextareaWrap_s {
		display: initial;
		box-sizing: border-box;
		position: relative;
		width: 100%;
		background: #FFF;
		border-top: 2px solid #f2f2f2
	}
  .message__TextareaWrap {
		width: 100%
	}
  .message__FileWrap {
		width: 160px
	}
  .register__FileWrap {
		width: 50%
	}
  .message__ChatContent {
		margin-top: 10px;
    height: 98%;
		overflow: hidden auto
	}
  .message__ChatMainWrap {
		position: initial;
	}
  .message__AreaWrapHeader {
		height: 60px;
	}
  .register__FileClear {
		margin: 10px 10px 0
	}
  .register__FileMessage {
		max-width: 200px;
    margin: 10px 0 0 10px;
	}
  .register__FormListLi {
		height: 60px
	}
  .mainCont__File {
		display: block;
    width: auto;
	}
  .register__FormListList {
		display: block
	}
  .message__AreaWrapBtn {
		display: block
	}
  .modal__All {
		width: 90%;
		top: 10%
	}
  .sidebarIconToggle {
		transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 15px;
    left: 15px;
    height: 22px;
    width: 22px
	}
  .register__CheckInput {
		width: 100%
	}
  .mainCont__MailBox {
		min-width: auto;
		margin: 10px 0 30px
	}
  .message__BtnWrap {
    padding: 0
  }
  .message__wrapper {
    margin-top: 45px !important;
  }
  .message__RightTitle {
		margin-top: 2px;
    padding: 10px 10% 10px 10%;
  }
  .ellipsis {
    width: 100% !important;
  }
}
