.message {
 @include intro;
  @media (max-width: $viewport) {
    padding-top: 30px!important;
  }
  &__Inner {
    @include inner_sec;
    min-width: 100%!important;
    padding-right: 0!important;
  }
  &__Title {
    @include title3;
    color: $blue;
    @media (max-width: $viewport) {
      text-align: center;
      background: $blue;
      color: #FFF;
      padding: 10px;
      margin: 0 0 20px;
    }
  }
  &__Wrap {
    @include flex;
    border-top: 1px solid $gray;
  }
  &__Left {
    width: 300px;
    padding: 0 15px 100px;
    background: $gray;
    @media (max-width: $viewport) {
      width: 100%;
      padding: 0 15px 20px;
      margin: 0 0 30px;
    }
  }
  &__LeftTitle {
    margin: 0 -15px 15px;
    padding: 10px;
    background: #FFF;
    text-align: center;
    color: $blue;
    position: relative;
    &:before {
      @include fontawesome;
      content: "\f007";
    }
    @media (max-width: $viewport) {
      margin: 0 -15px 15px;
    }
  }

  &__UserWrap {
    cursor: pointer;
    @include flex;
    padding: 8px;
    margin: 0 0 5px;
  }
  &__UserWrap.active {
    background: $blue;
    color: #FFF;
  }

  &__UserWrapNoread {
    font-weight: bold;
  }
  &__UserIcon {
    width: 30px;
    position: relative;
    top: 5px;
  }
  &__UserIconImg {
    border-radius: 50%;
  }
  &__UserText {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding-left: 10px;
    @include txt12;
  }

  &__Right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding-bottom: 100px;
    border-left: 1px solid $gray;
    @media (max-width: $viewport) {
      border-left:none;
      border-top: 1px solid $gray;
    }
  }
  &__RightTitle {
    margin: 0 0 15px;
    padding: 10px;
    background: #FFF;
    text-align: center;
    color: #13106c;
    position: relative;
    border-bottom: 1px solid $gray;

  }
  &__InfulWrap {
    width: 75%;
    margin: 0 0 15px 20px;
    @include flex;
  }
  &__InfulBox {
    padding: 15px;
    background: $blue2;
    -webkit-box-flex: 1;
    border-radius: 4px;
    -ms-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-left: 15px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: -10px;
      top: 20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 10px 10px;
      border-color: transparent transparent $blue2 transparent;
    }
  }
  &__InfulName,
  &__InfulDate {
    display: inline-block;
    margin: 0 10px 0 0;
    @include txt12;
  }
  &__InfulName {
    background: #FFF;
    color: $blue;
    padding: 0 8px;
  }
  &__InfulText {
    margin-top: 5px;
  }
  &__InfulName {}
  &__InfulDate {
  }

  &__ClientWrap {
    width: 75%;
    margin: 0 20px 15px 0;
    @include flex;
    float: right;
  }
  &__ClientBox {
    padding: 15px;
    background: $blue;
    color: #FFF;
    border-radius: 4px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-left: 15px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      right: -10px;
      top: 20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 10px 10px;
      border-color: transparent transparent $blue transparent;
    }
  }
  &__ClientDate {
    display: inline-block;
    margin: 0 10px 0 0;
    @include txt12;
  }
  &__ClientText {
    margin-top: 5px;
  }
  &__ClientName {}
  &__ClientDate {
  }

  &__BtnWrap {
    overflow: hidden;
    padding: 0 20px;
  }
  &__Btn {
    float: right;
    @include btn1;
    background: $orange;
    color: #FFF;
    padding: 8px 10px;
    position: relative;
    border: none;
		box-shadow: none;
    width: 150px;
    &:before {
      content: "\f00c";
      @include fontawesome;
    }
  }

  &__Box {
    display: none;
  }
  &__Box.show {
    display: block;
  }

  &__success{
    color: #4F8A10;
    animation: fadeOut 1s forwards;
    animation-delay: 5s;
  }
  @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
  }
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;
	visibility: visible;
	overflow: hidden;
}
.message__Inner {
	max-width: 1366px;
	min-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
	min-width: 100% !important;
	padding-right: 0 !important;
}
.message__Title {
	font-size: 18px;
	margin-bottom: 10px;
	color: #13106c;
}
.message__Wrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: relative;
	height: calc(100% - 70px);
}
.message__Left {
  width: 300px;
  padding: 0 0 0 15px;
  background: #f2f2f2;
  overflow: hidden auto;
  height: 90vh;
  display: grid;
  grid-template-rows: 42px 1fr;
  z-index: 80;
}
.message__LeftTitle {
	margin: 0 -15px 15px;
	padding: 10px;
	background: #FFF;
	text-align: center;
	color: #13106c;
	position: relative;
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f007";
	}
}
.message__UserWrap {
	cursor: pointer;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 8px;
	margin: 0 0 5px;
}
.message__UserWrap.active {
	background: #13106c;
	color: #FFF;
}
.message__UserWrapNoread {
	font-weight: bold;
}
.message__UserIcon {
	width: 30px;
	height: 30px;
	position: relative;
	top: 5px;
  &--div {
    div {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.message__UserIconImg {
	border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.message__UserText {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	padding-left: 10px;
	font-size: 12px;
}

.message__Right {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	border-left: 1px solid #f2f2f2;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	display: grid;
	grid-template-rows: 42px 1fr;
	width: calc(100% - 300px);
	grid-row: 1;
  padding-bottom: 0;
}
.message__RightTitle {
	margin: 0 0 15px;
	padding: 10px;
	background: #FFF;
	text-align: center;
	color: #13106c;
	position: relative;
	border-bottom: 1px solid #f2f2f2;
}
.message__InfulWrap {
	width: 75%;
	margin: 0 0 15px 20px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.message__InfulBox {
	padding: 15px;
	background: #edf6ff;
	-webkit-box-flex: 1;
	border-radius: 4px;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	margin-left: 15px;
	position: relative;
	word-break: break-all;
	&:before {
		position: absolute;
		content: "";
		left: -10px;
		top: 20px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 10px 10px;
		border-color: transparent transparent #edf6ff transparent;
	}
}
.message__InfulName {
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 12px;
	background: #FFF;
	color: #13106c;
	padding: 0 8px;
}
.message__InfulDate {
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 12px;
}
.message__InfulText {
	margin-top: 5px;
}

.message__InfulAttachment {
  color : inherit;
	margin-top: 5px;
}
.message__ClientWrap {
	width: 75%;
	margin: 0 20px 15px 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	float: right;
}
.message__ClientBox {
	padding: 15px;
	background: #13106c;
	color: #FFF;
	border-radius: 4px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	margin-left: 15px;
	position: relative;
	word-break: break-all;
	&:before {
		position: absolute;
		content: "";
		right: -10px;
		top: 20px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 10px 10px;
		border-color: transparent transparent #13106c transparent;
	}
}
.message__ClientDate {
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 12px;
}
.message__ClientText {
	margin-top: 5px;
}

.message__ClientAttachment {
	margin-top: 5px;
  color : inherit;
}
.message__BtnWrap {
	overflow: hidden;
}
.message__Btn {
	float: right;
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	background: #f2850c;
	color: #FFF;
	padding: 5px 15px;
	position: relative;
	border: none;
	box-shadow: none;
	width: 150px;
	cursor: pointer;
	font-size: 100%;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f00c";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
	}
}
.message__TextareaWrap_p {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	background: #FFF;
	border-top: 2px solid #f2f2f2;
}
.message__TextareaWrap_s {
	display: none;
}
.message__Textarea {
	width: 100%;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
	height: 120px;
	font-size: 16px;
}
.message__Box {
	display: none;
}
.message__Box.show {
	display: block;
	padding-bottom: 100px;
}
.message__FileWrap {
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	i {
		margin-right: 5px;
	}
}
.message__File {
	font-size: 14px;
}

.message__ChatContentLeft {
  overflow: hidden auto;
}

.message__ChatContent {
  display: grid;
  grid-template-rows: 1fr auto;
  height: calc(100vh - 154px);
  position: relative;
  z-index: 0;
  width: 100%;
}

.message__ChatMain {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 10px 0;
}

.message__ChatMainWrap {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden auto;
  border: 1px solid transparent;
}

.message__AreaWrap {
  position: relative;
  margin: 0px 16px;
  padding: 0px 0px 8px;
}

.message__AreaWrapHeader {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 34px;
}

.message__AreaWrapBtn {
  display: inline-block;
}

.message__FileWrap {
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  background: #13106c;
  color: #FFF;
  padding: 5px 15px;
  margin-bottom: 5px;
  width: 180px;
}

.register__File2 {
    display: inline-block;
}

.register__FileMessage {
  display: inline-block;
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.register__FileClear {
  display: inline-block;
  margin: 0 20px 0;
  text-decoration: underline;
  cursor: pointer;
  vertical-align: middle;
}

.message__AreaWrapRight {
  position: absolute;
  right: 0;
  top: 0;
}

input[type="checkbox"]:checked~#_sideContent {
	transform: translateX(0)
}

.message__InfulText pre {
  font-family: "Noto Sans Japanese","Helvetica Neue","Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}


@media (max-width: $viewport) {
  // .message__ChatTitle {
  //   position: fixed;
  //   width: 100%;
  //   background-color: #fff;
  //   z-index: 20;
  // }
  .message__ChatContent {
    margin-top: 10px;
    height: 100%;
    overflow: unset;
  }
  .message__ChatMain {
    height: calc(100vh - 87vw);
    position: relative;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .message__Wrap {
    height: auto;
    max-height: 90vh;
    overflow: hidden;
  }
  .sidebarIconToggle {
    position: fixed;
    top: 15vw;
  }
}