.modal {
	display: none;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.modal__Inner {
	max-height: 255px;
	overflow: scroll;
}
.modal__Title {
	font-weight: bold;
	text-align: center;
	margin: 0 0 10px;
	color: #13106c;
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f002";
	}
}
.modal__Close {
	margin: 20px 0 0 0;
	padding: 10px;
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #000;
	background: #f2f2f2;
	&:hover {
		opacity: 1;
	}
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f00d";
		position: relative;
		top: 1px;
	}
}
.modal__Open {
	margin: 20px 0 0 0;
	padding: 10px;
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #000;
	background: #f2f2f2;
	margin: 0;
	&:hover {
		opacity: 1;
	}
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f00d";
		position: relative;
		top: 1px;
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f002";
		position: relative;
		top: 1px;
	}
}
.modal__bg {
	background: rgba(0, 0, 0, 0.8);
	height: 100vh;
	position: absolute;
	width: 100%;
}
.modal__content {
	background: #fff;
	left: 50%;
	padding: 20px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}
