.register__Title {
	font-size: 22px;
	margin-bottom: 70px
}

.register__PageTitle {
	font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 640px) {
	.register__Title {
		font-size: 16px
	}
}

.register__Title2 {
	margin-bottom: 30px
}

.register__SubTitle {
	font-size: 18px;
	margin-bottom: 10px
}

@media (max-width: 640px) {
	.register__SubTitle {
		font-size: 14px
	}
}

.register__FormTitle {
	font-size: 18px;
	margin-bottom: 10px;
	background: #13106c;
	color: #FFF;
	padding: 2px 10px;
	border-radius: 4px;
	margin: 0 0 30px
}

@media (max-width: 640px) {
	.register__FormTitle {
		font-size: 14px
	}
}

.register__Inner {
	max-width: 1000px;
	margin: auto
}

.register__Cont {
	width: 550px;
	margin: 30px auto;
	padding: 0 0 30px;
	border-bottom: 1px solid #f2f2f2
}

@media (max-width: 640px) {
	.register__Cont {
		max-width: 1366px;
		min-width: 1000px;
		margin: 0 auto;
		padding: 0 20px;
		padding: 20px 0 30px 0 !important;
		margin-bottom: 20px !important
	}
}

@media (max-width: 640px) and (max-width: 640px) {
	.register__Cont {
		max-width: 90%;
		min-width: 90%;
		width: 90%;
		margin: 0 auto;
		padding: 0
	}
}

.register__FormCont {
	max-width: 790px;
	margin: 30px auto;
	padding: 0 20px 30px;
	border-bottom: 1px solid #f2f2f2
}

@media (max-width: 640px) {
	.register__FormCont {
		max-width: 1366px;
		min-width: 1000px;
		margin: 0 auto;
		padding: 0 20px;
		padding: 20px 0 30px 0;
		margin-bottom: 20px !important
	}
}

@media (max-width: 640px) and (max-width: 640px) {
	.register__FormCont {
		max-width: 90%;
		min-width: 90%;
		width: 90%;
		margin: 0 auto;
		padding: 0
	}
}

.register__Email {
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	margin: 30px 0
}

.register__Email:focus {
	border-width: 2px;
	background-color: #FFF;
	padding: 14px 9px;
	border-radius: 0;
	box-shadow: none;
	background: #edf6ff
}

@media (max-width: 640px) {
	.register__Email {
		font-size: 16px
	}
}

.register__BtnWrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 30px auto 0
}

.register__BtnRegister {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #FFF;
	font-size: 18px;
	background: #13106c;
	border: none;
	box-shadow: none;
	width: 85%;
	height: 40px;
	margin: 0 auto 20px
}

.register__BtnRegister3,
.register__BtnConfirm {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #FFF;
	font-size: 18px;
	background: #f2850c;
	border: none;
	box-shadow: none;
	width: 70%;
	height: 45px;
	margin: 0 auto 20px;
	cursor: pointer
}

.register__BtnRegister:hover,
.register__BtnRegister3:hover,
.register__BtnConfirm:hover {
	opacity: 1
}

@media (max-width: 640px) {
	.register__BtnRegister,
	.register__BtnRegister3,
	.register__BtnConfirm {
		font-size: 14px;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
		&:before {
			content: "\f1d8";
			font-family: 'Font Awesome 5 Free';
			margin-right: 5px;
			display: inline-block;
		}
	}
}

.register__BtnRegister:before {
	content: "\f2f6";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}

.register__BtnRegister3:before,
.register__BtnConfirm:before {
	content: "\f1d8";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}

.register__BtnConfirm {
	margin-top: 30px;
	width: 50%
}

@media (max-width: 640px) {
	.register__BtnConfirm {
		width: 70%
	}
}

.register__BtnConfirm:before {
	content: "\f00c"
}

.register__BtnRegister3 {
	margin-top: 30px
}

@media (max-width: 640px) {
	.register__BtnRegister3 {
		width: 70%
	}
}

.register__BtnRegister2,
.register__BtnConfirm2 {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #FFF;
	font-size: 18px;
	background: #f2850c;
	border: none;
	box-shadow: none;
	width: 320px;
	height: 45px;
	margin: 5px 10px;
	cursor: pointer
}

.register__BtnRegister2:hover,
.register__BtnConfirm2:hover {
	opacity: 1
}

@media (max-width: 640px) {
	.register__BtnRegister2,
	.register__BtnConfirm2 {
		font-size: 14px
	}
}

@media (max-width: 640px) {
	.register__BtnRegister2,
	.register__BtnConfirm2 {
		width: 70%
	}
}

.register__BtnRegister2:before,
.register__BtnConfirm2:before {
	content: "\f00c";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}

.register__BtnConfirm2 {
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #FFF;
	font-size: 18px;
	background: #f2850c;
	border: none;
	box-shadow: none;
	width: 320px;
	height: 45px;
	margin: 5px 10px;
	cursor: pointer;
	background: #f2f2f2;
	color: #000
}

.register__BtnConfirm2:before {
	content: none;
	margin-top: 20px
}
.register__BtnPassword {
	padding: 0px !important;
}
.register__BtnEmail,
.register__BtnPassword,
.register__BtnGenre {
	cursor: pointer;
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	margin: 0 auto 20px;
	color: #FFF;
	font-size: 18px;
	text-align: left!important;
	padding: 8px;
	background: #f2850c;
	border: none;
	box-shadow: none;
	width: 50%;
	height: 45px
}

@media (max-width: 640px) {
	.register__BtnEmail,
	.register__BtnPassword {
		font-size: 14px;
		width: 80%;
		margin: 0 auto 50px
	}
}

.register__BtnEmail:hover,
.register__BtnPassword:hover,
.register__BtnGenre:hover {
	opacity: 1
}

.register__BtnEmail:before,
.register__BtnPassword:before,
.register__BtnGenre:before {
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block;
	content: "\f0e0"
}

.register__BtnPassword:before {
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block;
	content: "\f084"
}

.register__BtnGenre {
	background: #f2850c;
	color: #FFF;
	height: 100%;
	margin-top: 10px
}

.register__BtnGenre:before {
	content: none
}

.register__Txt {
	text-align: center;
	font-size: 14px
}

.register__Mail {
	background: #EAFFC1;
	font-size: 18px;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	text-align: center;
	margin: 30px 0;
	padding: 20px
}

@media (max-width: 640px) {
	.register__Mail {
		font-size: 14px
	}
}

.register__Confirm {
	background: #f2f2f2;
	padding: 20px;
	margin: 30px 0 0 0
}

.register__ListLi {
	font-size: 12px;
	margin: 0 0 5px
}

.register__FormBox {
	margin: 0 0 30px;
  padding-top: 30px;
}

.register__FormList {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center
}

.register__FormListLeft {
	width: 35%;
	padding-right: 20px;
	box-sizing: border-box;
	margin-bottom: 30px;
	text-align: right
}

@media (max-width: 640px) {
	.register__FormListLeft {
		width: 100%;
		text-align: left;
		margin-bottom: 10px
	}
}

.register__FormListRight {
	width: 60%;
	margin-bottom: 30px;
	position: relative
}

@media (max-width: 640px) {
	.register__FormListRight {
		width: 100%;
		text-align: left
	}
}

.register__FormListLeft2 {
	width: 100%;
	margin: 0 0 20px
}

.register__FormListRight2 {
	width: 100%;
	margin: 0 0 40px
}

.register__FormCardListRight {
	width: 40%
}

@media (max-width: 640px) {
	.register__FormCardListRight {
		width: 100%;
		text-align: left
	}
}

.register__Required,
.register__Koukai,
.register__Hikoukai,
.register__Any {
	box-sizing: border-box;
	padding: 0 5px;
	display: inline-block;
	font-size: 12px;
	color: #FFF;
	border-radius: 3px;
	background: #c00;
	margin: 0 3px
}

@media (max-width: 640px) {
	.register__Required,
	.register__Koukai,
	.register__Hikoukai,
	.register__Any {
		margin-top: 5px
	}
}

.register__Hikoukai {
	color: #000;
	background: #f2f2f2
}

.register__Koukai {
	color: #FFF;
	background: #13106c
}

.register__Any {
	background: #13106c
}

.register__Password,
.register__UserName,
.register__Name,
.register__Kana,
.register__Tel,
.register__Jyusyo,
.register__Year,
.register__Year2,
.register__Month,
.register__Month2,
.register__Day,
.register__Email2,
.register__Irai,
.register__Url,
.register__Price,
.register__Security,
.register__CardNumber {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%
}

.register__Password:focus,
.register__UserName:focus,
.register__Name:focus,
.register__Kana:focus,
.register__Tel:focus,
.register__Jyusyo:focus,
.register__Year:focus,
.register__Year2:focus,
.register__Month:focus,
.register__Month2:focus,
.register__Day:focus,
.register__Email2:focus,
.register__Irai:focus,
.register__Url:focus,
.register__Price:focus,
.register__Security:focus,
.register__CardNumber:focus {
	border-width: 2px;
	background-color: #FFF;
	padding: 14px 9px;
	border-radius: 0;
	box-shadow: none;
	background: #edf6ff
}

@media (max-width: 640px) {
	.register__Password,
	.register__UserName,
	.register__Name,
	.register__Kana,
	.register__Tel,
	.register__Jyusyo,
	.register__Year,
	.register__Year2,
	.register__Month,
	.register__Month2,
	.register__Day,
	.register__Email2,
	.register__Irai,
	.register__Url,
	.register__Price,
	.register__Security,
	.register__CardNumber {
		font-size: 16px
	}
}

.register__Password:focus,
.register__UserName:focus,
.register__Name:focus,
.register__Kana:focus,
.register__Tel:focus,
.register__Jyusyo:focus,
.register__Year:focus,
.register__Year2:focus,
.register__Month:focus,
.register__Month2:focus,
.register__Day:focus,
.register__Email2:focus,
.register__Irai:focus,
.register__Url:focus,
.register__Price:focus,
.register__Security:focus,
.register__CardNumber:focus {
	outline: none
}

.register__Year,
.register__Year2,
.register__Month,
.register__Month2,
.register__Day,
.register__Price,
.register__Security {
	width: 100px
}

@media (max-width: 640px) {
	.register__Year,
	.register__Year2,
	.register__Month,
	.register__Month2,
	.register__Day,
	.register__Price,
	.register__Security {
		width: 80%
	}
}

@media (max-width: 640px) {
	.register__Month2,
	.register__Year2 {
		width: 50%
	}
}

.register__DateWrap,
.register__PriceWrap,
.register__DateWrap2 {
	display: inline-block;
	margin: 0 10px 0 0;
	font-weight: bold
}

@media (max-width: 640px) {
	.register__DateWrap,
	.register__PriceWrap,
	.register__DateWrap2 {
		width: 25%
	}
}

@media (max-width: 640px) {
	.register__DateWrap2 {
		width: 45%;
		margin-right: -70px
	}
}

@media (max-width: 640px) {
	.register__PriceWrap {
		width: 250px
	}
}

.register__Year2 {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	width: 100px;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
		outline: none;
	}
}
.register__Month {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	width: 100px;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
		outline: none;
	}
}
.register__Month2 {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	width: 100px;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
		outline: none;
	}
}
.register__Day {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	width: 100px;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
		outline: none;
	}
}
.register__Email2 {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
		outline: none;
	}
}
.register__Irai {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
		outline: none;
	}
}
.register__Url {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
		outline: none;
	}
}
.register__Price {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	width: 200px;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
		outline: none;
	}
}
.register__Security {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	width: 100px;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
		outline: none;
	}
}
.register__CardNumber {
	font-size: 16px;
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
		outline: none;
	}
}
.register__DateWrap {
	display: inline-block;
	margin: 0 10px 0 0;
	font-weight: bold;
}
.register__PriceWrap {
	width: 60%
}

.register__Price {
	width: 200px
}

.register__RadioBox,
.register__RadioBox2,
.register__RadioBox3.register__RadioBox4 {
	display: inline-block;
	width: 180px;
	margin-right: 10px;
	margin-bottom: 10px
}

@media (max-width: 640px) {
	.register__RadioBox,
	.register__RadioBox2,
	.register__RadioBox3.register__RadioBox4 {
		width: 45%
	}
}

.register__RadioBox2 {
	width: 32%;
	margin-bottom: 10px;
	text-align: left
}

@media (max-width: 640px) {
	.register__RadioBox2 {
		width: 100%
	}
}

.register__RadioBox3 {
	width: 45%;
	margin-bottom: 10px;
	text-align: left
}

.register__RadioBox4 {
	width: calc(50% - 5px);
	margin-bottom: 10px;
	text-align: left;
	vertical-align: top;
	margin-right: 0
}

.register__RadioBox4:nth-child(odd) {
	margin-right: 10px
}

@media (max-width: 640px) {
	.register__RadioBox4 {
		width: 100% !important;
	}
	.register__BtnGenre {
		font-size: 14px;
	}
}

.register__RadioBtn {
	display: none
}

.register__RadioBtn:checked+label {
	background-color: #13106c;
	color: #FFF
}

.register__RadioBtn:checked+label:before {
	content: "\f14a";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}

.register__RadioBtnGood,
.register__RadioBtnBad {
	display: none;
}

.register__RadioBtnGood:checked+label {
	background-color: #13106c;
	color: #FFF;
}

.register__RadioBtnBad:checked+label {
	background-color: #c00;
	color: #FFF;
}

.register__RadioBtnGood:checked+label:before {
	content: "\f599";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}

.register__RadioBtnBad:checked+label:before {
	content: "\f119";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}

.register__Label,
.register__Label2,
.register__Label3,
.register__Label4,
.register__Label5 {
	background-color: #f2f2f2;
	color: #000;
	padding: 10px 20px;
	width: 100%;
	display: block;
	text-align: center
}

.register__Label:before,
.register__Label2:before,
.register__Label3:before,
.register__Label4:before,
.register__Label5:before {
	content: "\f0c8";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}

@media (max-width: 640px) {
	.register__Label,
	.register__Label2,
	.register__Label3,
	.register__Label4,
	.register__Label5 {
		font-size: 12px
	}
}

.register__Label2 {
	text-align: left
}

.register__Label3:before {
	content: "\f599";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}

.register__Label6 {
	background: #c00;
	color: #FFF
}

.register__Label4:before {
	content: "\f119";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}

.register__Label5 {
	background: #13106c;
	color: #FFF
}

.register__Label5:before {
	content: "\f599";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}

.register__Label6 {
	background: #c00;
	color: #FFF
}

.register__Label6:before {
	content: "\f119";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block
}


.register__Label:hover {
	cursor: pointer;
}

.register__FormTxt {
	display: block;
	font-size: 10px;
	margin-top: 5px
}

.register__Checkbox {
	display: inline-block;
	position: relative;
}

.register__TextArea,
.register__TextArea2,
.register__TextArea3 {
	width: 100%;
	padding: 5px;
	height: 500px;
	border: 1px solid #DDD;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-sizing: border-box;
	font-size: 16px
}

.register__TextArea:focus,
.register__TextArea2:focus,
.register__TextArea3:focus {
	outline: none
}

.register__TextArea2 {
	height: 500px;
	position: relative;
	z-index: 1;
	background: none
}

.register__TextArea3 {
	width: 70%
}

@media (max-width: 640px) {
	.register__TextArea3 {
		width: 100%
	}
}

.register__FormListStxt {
	display: block;
	font-size: 10px;
	margin: 5px 0 0;
	font-weight: bold;
}
.register__SelectWrap {
	height: 56px;
	width: 200px;
	font-size: 16px;
	overflow: hidden;
	text-align: center;
	position: relative;
	border: 1px solid #DDD;
	&:before {
		position: absolute;
		top: calc(50% - 2px);
		right: 15px;
		width: 0px;
		height: 0px;
		content: "";
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #DDD;
	}
}

.register__SelectWrap,
.register__SelectWrap2 {
	height: 56px;
	width: 200px;
	font-size: 16px;
	overflow: hidden;
	text-align: center;
	position: relative;
	border: 1px solid #DDD
}

.register__SelectWrap:before,
.register__SelectWrap2:before {
	position: absolute;
	top: calc(50% - 2px);
	right: 15px;
	width: 0px;
	height: 0px;
	content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #DDD
}

.register__SelectWrap2 {
	width: 350px
}

@media (max-width: 640px) {
	.register__SelectWrap2 {
		width: 100%
	}
}

.register__InputWrap {
	width: 350px;
	position: relative;
	border: none
}

@media (max-width: 640px) {
	.register__InputWrap {
		width: 100%
	}
}

.register__Select1 {
	width: 100%;
	height: 100%;
	cursor: pointer;
	border: none;
	outline: none;
	background: none transparent;
	box-shadow: none;
	appearance: none;
	padding: 0 10px
}

.register__CalculationBox {
	background: #EAFFC1;
	padding: 20px;
	width: 550px;
	margin: auto
}

@media (max-width: 640px) {
	.register__CalculationBox {
		width: 100%
	}
}

.register__CalculationTitle {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 3px solid #000;
	padding-bottom: 10px;
	margin-bottom: 15px
}

.register__CautionBox {
	background: #EAFFC1;
	padding: 20px
}

.register__CautionBox2 {
	width: 55%;
	margin: auto
}

@media (max-width: 640px) {
	.register__CautionBox2 {
		width: auto
	}
}

.register__CautionBoxLi {
	margin-bottom: 5px;
	font-size: 12px
}

.register__Sns {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	border: 1px solid #f2f2f2;
	margin-bottom: 20px
}

.register__SnsTitle {
	width: 100px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	color: #13106c
}

@media (max-width: 640px) {
	.register__SnsTitle {
		width: 100%;
		border-bottom: 1px solid #f2f2f2
	}
}

.register__SnsBox {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%
}

.register__SnsBoxList {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2
}

.register__SnsBoxDt {
	width: 25%;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	box-sizing: border-box;
	padding: 10px;
	font-size: 12px;
	background: #edf6ff
}

.register__SnsBoxDt:last-of-type {
	border-bottom: none
}

.register__SnsBoxDd {
	width: 75%;
	font-size: 12px;
	border-bottom: 1px solid #f2f2f2;
	box-sizing: border-box;
	padding: 10px;
	word-break: break-all
}

.register__SnsBoxDd:last-of-type {
	border-bottom: none
}

.register__Btns {
	width: 100px;
	padding: 10px
}

@media (max-width: 640px) {
	.register__Btns {
		width: 100%;
		border-top: 1px solid #f2f2f2
	}
}

.register__BtnHensyu {
	cursor: pointer;
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	margin: 0 0 10px;
	width: 100%;
	background: #13106c;
	color: #FFF
}

.register__BtnHensyu:hover {
	opacity: 1
}

.register__BtnSakujyo {
	cursor: pointer;
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	width: 100%
}

.register__BtnSakujyo:hover {
	opacity: 1
}

.register__GrayBox,
.register__BlueBox {
	margin-top: 20px;
	padding: 30px;
	background: #f2f2f2;
	font-size: 12px
}

@media (max-width: 640px) {
	.register__GrayBox,
	.register__BlueBox {
		padding: 15px;
		max-height: 200px;
		overflow: scroll
	}
}

.register__BlueBox {
	background: #edf6ff
}

.register__GrayBoxP {
	margin: 0 0 20px
}

.register__GrayBoxP:last-of-type {
	margin: 0
}

.register__GrayBoxTitle {
	font-weight: bold;
	margin: 0 0 10px;
	font-size: 14px
}

@media (max-width: 640px) {
	.register__GrayBoxTitle {
		font-size: 12px
	}
}

.register__GrayBoxLink {
	margin: 10px 0 0 0;
	display: block
}

.register.register2 {
	margin: 0
}

@media (max-width: 640px) {
	.register.register2 {
		padding: 0
	}
}

.register__RadioBoxOtherInput {
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.4s
}

.register__RadioBoxOther input:checked~.register__RadioBoxOtherInput {
	height: auto;
	opacity: 1;
	margin: 10px 0 0 0;
	display: block;
	transition: 0.4s
}

.register.register2 {
	margin: 0;
}

.register {
	margin-top: 70px;
	margin-bottom: 70px;
	padding-top: 30px;
}
.register__Finish {
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	overflow: hidden;
	position: relative
}

.ui-datepicker-calendar .day-sunday>a,
.ui-datepicker-calendar .day-holiday>a {
	background: #ffc0c0
}

.ui-datepicker-calendar .day-saturday>a {
	background: #c0d0ff
}

.register__FormSuccessMessage {
	text-align: center;
}

.register__Checkbox .input_checkbox {
	box-sizing: border-box;
    cursor: pointer;
    padding: 5px 30px;
    position: relative;
    width: auto;
    font-size: 12px;
	display: none !important;
}

.register__CheckInput {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
    font-size: 12px;
}

.register__CheckInput:before {
    background: #FFF;
    border: 1px solid #DDD;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.register__CheckInput:after {
    border-right: 3px solid #13106c;
    border-bottom: 3px solid #13106c;
    content: '';
    display: block;
    height: 9px;
    left: 10px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 5px;
}

.register__Checkbox .input_checkbox[type=checkbox]:checked+.register__CheckInput::after {
    opacity: 1;
}

.register__bankList {
	background-color: rgb(0,0,0,0.6);
	backdrop-filter: blur(5px);
	z-index: 1;
	border-radius: 5px;
	padding: 10px;
	overflow: scroll;
	width: 380px;
	color: white;
	position: absolute;
	max-height: 200px;
}


@media (max-width: 640px) {
	.register__form--alt {
		display: block;
		width: 70%;
		margin: 5px 10px;
		.register__BtnRegister2 {
			font-size: 14px !important;
			width: 100% !important;
			display: block;
			margin: 0 !important;
		}
	}
}

.register__fixedHeight {
    min-height: calc(100vh - 336.47px);
}

.register__FormListList {
    display: inline-block;
	@media (max-width: 640px) {
		display: block;
	}
}

.register__FileWrap {
    border-radius: 4px;
    cursor: pointer;
    background: #13106c;
    color: #FFF;
    padding: 5px 15px;
    margin-bottom: 5px;
    width: 28%;
}

.register__FormListFile {
    width: 32%;
}

.register__FileWrap i {
    margin-right: 5px;
}

.register__File2 {
    display: none !important;
}

.register__FormListLi {
    height: 35px;
	@media (max-width: 640px) {
		height: 60px;
	}
}

@media (max-width: 640px) {
	.project--recruitment .register__FormBox {
		padding-top: 0;
	}
}
