.resetPassword {
	margin-top: 70px;
	padding-top: 30px;
}
.resetPassword__PageTitle {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.resetPassword__Title {
	margin-bottom: 10px;
	font-weight: bold;
}
.resetPassword__Cont {
	width: 550px;
	margin: 30px auto;
	padding: 0 0 30px;
	border-bottom: 1px solid #f2f2f2;
}
.resetPassword__Wrap {
	margin: 20px 0;
}
.resetPassword__Email {
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	margin: 30px 0;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
	}
}
.resetPassword__PassWord {
	padding: 15px 10px;
	vertical-align: middle;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #DDD;
	border-radius: 0;
	box-sizing: border-box;
	width: 100%;
	margin: 30px 0;
	margin: 0;
	&:focus {
		border-width: 2px;
		background-color: #FFF;
		padding: 14px 9px;
		border-radius: 0;
		box-shadow: none;
		background: #edf6ff;
	}
}
.resetPassword__BtnMail {
	cursor: pointer;
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #FFF;
	font-size: 18px;
	background: #f2850c;
	border: none;
	box-shadow: none;
	width: 70%;
	height: 45px;
	margin: 0 auto 20px;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f1d8";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
	}
}
.resetPassword__BtnRegistration {
	cursor: pointer;
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #FFF;
	font-size: 18px;
	background: #f2850c;
	border: none;
	box-shadow: none;
	width: 70%;
	height: 45px;
	margin: 0 auto 20px;
	color: #FFF;
	background: #f2850c;
	margin: 30px auto 20px;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f1d8";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f00c";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
	}
}
.resetPassword__BtnLogin {
	cursor: pointer;
	border-radius: 4px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: bold;
	color: #FFF;
	font-size: 18px;
	background: #f2850c;
	border: none;
	box-shadow: none;
	width: 70%;
	height: 45px;
	margin: 0 auto 20px;
	margin: 30px auto 20px;
	background: #13106c;
	color: #FFF;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "\f1d8";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f2f6";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
	}
}
.resetPassword__Txt {
	text-align: center;
}
.resetPassword__Caution {
	font-size: 12px;
	display: block;
	margin: 10px 0 0 0;
}

.resetPassword__fixedHeight {
    min-height: calc(100vh - 266px);
}