.searchWrap.searchWrapHeader.searchWrapHeader2 {
	right: 250px;
}
.searchWrap.searchWrapHeader {
	position: absolute;
	right: 310px;
}
.searchWrap {
	width: 515px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
}
.searchWrap__SearchHeaderKeywordWrap {
	box-sizing: border-box;
	position: relative;
	border: 1px solid #DDD;
	display: block;
	padding: 3px 10px;
	height: 44px;
	width: 80%;
	overflow: hidden;
	padding: 0 10px;
	border-radius: 0 4px 4px 0;
}
.searchWrap__SearchKeywordWrap {
	box-sizing: border-box;
	position: relative;
	border: 1px solid #DDD;
	display: block;
	padding: 3px 10px;
	height: 44px;
	width: 100%;
	overflow: hidden;
	padding: 0 10px;
	border-radius: 0 4px 4px 0;
}
.searchWrap__SearchKeyword {
	border: none;
	height: 100%;
	width: 95%;
	box-sizing: border-box;
	padding: 3px;
	color: #000;
	&:focus {
		outline: none;
	}
}
.searchWrap__SearchKeywordBtn {
	cursor: pointer;
	border: none;
	background: none;
	position: absolute;
	outline: none;
	background: url(/assets/icon_search.png) center no-repeat;
	background-size: 14px;
	width: 24px;
	height: 24px;
	padding: 0;
	right: 10px;
	top: 8px;
}
.searchWrap__SearchSelectWrap {
	height: 35px;
	width: 60%;
	overflow: hidden;
	text-align: center;
	position: relative;
	border-width: 1px 1px 1px 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-color: #DDD;
	border-bottom-color: #DDD;
	border-left-color: #DDD;
	border-right-color: #DDD;
	border-radius: 4px 0px 0px 4px;
	&:before {
		position: absolute;
		top: calc(50% - 2px);
		right: 15px;
		width: 0px;
		height: 0px;
		content: "";
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #DDD;
	}
}
.searchWrap__SearchSelect {
	width: 100%;
	height: 100%;
	cursor: pointer;
	border: none;
	outline: none;
	background: none transparent;
	box-shadow: none;
	appearance: none;
	padding: 0 10px;
	font-size: 12px;
}
.searchWrap__SearchTxtWrap {
	height: 44px;
	width: 20%;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.searchWrap__SearchSelectWrap2 {
	&:before {
		content: none;
	}
}
.searchWrap__SearchSelectTitle {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-top: -1px;
}
.searchWrap__Sp {
	position: absolute;
	right: 215px;
	i {
		color: #13106c;
	}
}
.searchWrap__Sp2 {
	right: 192px;
	i {
		font-size: 18px;
	}
}
.searchWrap__SpFormWrap {
	display: none;
	position: absolute;
	left: 0;
	top: 51px;
	width: 100%;
	background: #edf6ff;
	font-size: 16px;
	padding: 10px;
}
.searchWrap__SpForm {
	background: #FFF;
	height: 35px;
}
.searchWrap__SpFormKeyword {
	border: none;
	height: 100%;
	width: 90%;
	box-sizing: border-box;
	color: #000;
	padding: 0 10px;
	font-size: 16px;
	&:focus {
		outline: none;
	}
}
.searchWrap__SpFormKeywordBtn {
	cursor: pointer;
	border: none;
	background: none;
	position: absolute;
	outline: none;
	background: url(/assets/icon_search.png) center no-repeat;
	background-size: 14px;
	width: 24px;
	height: 24px;
	padding: 0;
	right: 18px;
	top: 15px;
}
