.switch__Title {
    font-weight: bold;
    display: inline-block;
    margin: 0 10px 0 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background: #666;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 30px;
}
.switch__Input:checked+.switch::after {
    border: solid 3px #13106c;
    left: 30px;
}

.switch__Input:checked+.switch {
    background: #13106c;
}

.switch::after {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    border: solid 3px #666;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    box-sizing: border-box;
    transition: 0.2s;
}
.switch__Input:checked+.switch::before {
    content: "ON";
    padding: 0 0 0 10px;
}

.switch::before {
    content: "OFF";
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    line-height: 30px;
    padding: 0 0 0 32px;
}
// .on.on2, .off {
//     display: block;
// }

// .on, .off.off2 {
//     display: none;
// }
