.table {
	border-collapse: collapse;
	border: 1px solid #DDD;
	width: 100%;
	margin: 20px 0 0 0;
}
.table__th {
	padding: 10px;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	padding: 5px 10px;
	background: #edf6ff;
}
.table__td {
	padding: 10px;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.table__Right {
	text-align: right;
}
.table__Center {
	text-align: center;
}
.table2 {
	border-collapse: collapse;
	border: none;
	margin: auto;
}
.table2__th {
	width: 40%;
	text-align: left;
	padding: 5px;
}
.table2__th2 {
	width: 40%;
	text-align: left;
	padding: 5px;
	width: 50%;
}
.table2__td {
	text-align: right;
	width: 60%;
	padding: 5px;
}
.table2__td2 {
	text-align: right;
	width: 60%;
	padding: 5px;
	width: 50%;
	width: 40px;
	text-align: right;
}
.table2__Data {
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-size: 16px;
	display: inline-block;
	margin: 0 3px;
}
.table2__Icon {
	display: inline-block;
	margin-left: 5px;
}
.table2__td1 {
	width: 90px;
	text-align: right;
}
.table2__td3 {
	width: 90px;
	text-align: right;
}
.table2__Goukei {
	font-size: 24px;
	margin-left: 10px;
}
.table2__tr {
	border-top: 1px solid #000;
}
.table3 {
	width: 50%;
	margin: auto;
}

.register__CalculationBox table.table,
.register__CalculationBox .table2__td2,
.register__CalculationBox .table2__th2,
.register__CalculationBox th.table2__th,
.register__CalculationBox td.table2__td  {
	border: 0;
}