.tabs__NextPrevBtnsWrap{
	position:relative;
	height:30px;
	margin:20px 0
}
.tabs__NextPrevBtns{
	// cursor: pointer;
	position:absolute;
	right:0;
	width:150px;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
	-webkit-justify-content:
	space-between;
	-ms-justify-content:space-between;
	justify-content:space-between
}
@media (max-width: 640px){
	.tabs__NextPrevBtns{
		margin:10px 0 0;
		width:140px
	}
}
.tabs__NextPrevBtns2{
	margin:20px auto 0
}
.tabs__NextPrevBtn{
	border-radius:4px;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	font-weight:bold;
	background:#f2f2f2;
	padding:3px 10px;
	cursor: pointer;
	font-weight:normal !important
}
.tabs__NextPrevBtn:hover{
	opacity:1
}
.tabs__NextPrevBtn i{
	display:inline-block;
	margin:0 5px;
	position:relative;
	top:1px
}
.tab_item.tab_item2{
	padding:0 12px
}
@media (max-width: 640px){
	.tab_item.tab_item2{
		border-bottom:none;
		margin-bottom:10px
	}
}
.tab_item{
	height:40px;
	font-size:14px;
	border-bottom:3px solid #13106c;
	background-color:#f2f2f2;
	line-height:40px;
	display:inline-block;
	color:#13106c;
	text-align:center;
	transition:all 0.2s ease;
	padding:0 20px;
	width:180px;
	cursor:pointer
}
@media (max-width: 640px){
	.tab_item{
		font-size:12px
	}
}
@media (max-width: 640px){
	.tab_item{
		font-size:12px;
		width:auto;
		padding:0 10px;
		height:30px;
		line-height:30px
	}
}
.tab_item:hover{
	opacity:0.75
}
input[name="tab_item"]{
	display:none
}
.tab_content{
	display:none;
	clear:both;
	overflow:hidden;
	border-top:3px solid #13106c;
	margin-top:-3px;
	padding:20px
}
@media (max-width: 640px){
	.tab_content{
		padding:10px 0 0
	}
}
.tab_content__List{
	font-size:12px;
	margin:20px 0 30px
}
.tab_content__List li{
	margin:0 0 5px
}
#housyu:checked ~ #housyu_content,
#furikomi:checked ~ #furikomi_content,
#credit:checked ~ #credit_content,
#bosyutyu:checked ~ #bosyutyu_content,
#sentei:checked ~ #sentei_content,
#irai:checked ~ #irai_content,
#iraikakunin:checked ~ #iraikakunin_content,
#kanryou:checked ~ #kanryou_content,
#syuryou:checked ~ #syuryou_content,
#hurikomi:checked ~ #hurikomi_content,
#login:checked ~ #login_content{
	display:block
}
#mail:checked ~ #mail_content{display:block}
.tabs input:checked+.tab_item{
	background-color:#13106c;
	color:#fff;
	font-weight:bold
}
.table{
	border-collapse:collapse;
	border:1px solid #DDD;
	width:100%;
	margin:20px 0 0 0
}

.mainCont__MailBox {
	display: inline-block;
	min-width: 400px
}

@media (max-width: 640px) {
	.mainCont__MailBox {
		min-width: auto;
		margin: 10px 0 30px
	}
}

.mainCont__MailTitle:before {
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	display: inline-block;
	content: "\f0e0"
}
