@charset "UTF-8";

.topSpnav {

	&_button {
		display: block;
		padding: 0;
		width: 32px;
		height: 20px;
		position: relative;
		background: none;
		border: none;
		text-align: center;
		letter-spacing: 0.1em;
		cursor: pointer;
		outline: none;
	}
	&_button{
		position: fixed;
		top: 10px;
		right: 18px;
		z-index: 1001;
		background: url(/assets/btn_open.png) no-repeat;
		background-size: 30px;
		height: 30px;
	}
	&_button.active{
		background: url(/assets/btn_close.png) no-repeat;
		background-size: 30px;
		height: 30px;
	}

	&_bg {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 999;
		background-color: rgba(51, 51, 51, 0.5);
		display: none;
		top: 0;
		left: 0;
	}

	&_nav_wrapper {
		width: 312px;
		height: 100%;
		transition: all 0.2s;
		transform: translate(312px);
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1000;
		background-color: $blue2;
		&.open {
			transform: translate(0);
		}
	}

	&.left {
		.topSpnav_button {
			right: auto;
			left: 32px;
		}
		.topSpnav_nav_wrapper {
			transform: translate(-312px);
			right: auto;
			left: 0;
			&.open {
				transform: translate(0);
			}
		}
	}

	&_nav {
		padding: 112px 24px;
	}

	&_Search {
		box-sizing: border-box;
		position: relative;
		border: 1px solid $gray;
		display: block;
		padding: 3px 10px;
		border-radius: 20px;
		height: 38px;
		width: 100%;
		overflow: hidden;
		padding: 0 10px;
		background: #FFF;
		font-size: 16px;
		margin: 0 0 20px;
		@media (max-width: $viewport) {

		}
	}

	&_SearchText {
		border: none;
		height: 100%;
		width: 400px;
		box-sizing: border-box;
		padding: 3px;
		color: $blue;
		font-size: 16px;
	}

	&_SearchText:focus {
		outline: 0;
	}

	&_SearchBtn {
		cursor: pointer;
		border: none;
		background: none;
		position: absolute;
		outline: none;
		background: url(/assets/icon_search.png) center no-repeat;
		background-size: 20px;
		width: 20px;
		height: 20px;
		padding: 0;
		right: 20px;
		top: 7px;
	}

	&_Btns {
		@include flex;
		@include between;
		width: 100%;
	}

	&_BtnsLi {
		width: 47%;
	}

	&_Btn,
	&_Btn-2 {
		@include btn1;
		background: $white;
		color: $blue;
		height: 38px;
		&:hover {
			background: $blue;
			color: $white;
		}
	}

	&_Btn-2 {
		background: $blue;
		color: $white;
		&:hover {
			background: $white;
			color: $blue;
		}
	}

}
