.topNews {
	width: 725px;
	margin: auto;
	@media (max-width: $viewport) {
		width: $sec_width_s;
		margin: 0 auto;
	}
	&_Ttl {
		font-size: 30px;
		font-weight: 600;
		color: $blue;
		margin: 0 0 20px;
		text-align: center;
	}
	&_Stxt {
		// @include nomaltxt;
		color: $base;
		display: block;
		font-weight: 400;
	}
	&_Box {
		border-top: 1px solid $gray;
		height: 280px;
		overflow: scroll;
	}
	&_List {
		border-bottom: 1px solid $gray;
		padding: 20px;
	}
	&_Date {
		color: $blue;
		font-size: 18px;
		margin: 0 0 5px;
	}
}
