.topHeader {
	height: 85px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.5);
	@include flex;
	@include between;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	padding: 0 30px;
	min-width: $sec_width;
	@media (max-width: $viewport) {
		min-width: $sec_width_s;
		padding: 0 15px;
		height: 50px;
	}

	&_Right {
		width: 720px;
		@include flex;
		@include between;
		@media (max-width: $viewport) {
			width: 70%;
			display: none;
		}
	}

	&_Btns {
		@include flex;
		@include between;
		width: 210px;
	}

	&_BtnsLi {
		width: 95px;
	}

	&_Btn,
	&_Btn-2 {
		@include btn2;
		border-radius: 100px;
		padding: 0px;
		background: $white;
		color: $blue;
		height: 38px;
		&:hover {
			background: $blue;
			color: $white;
		}
	}

	&_Btn-2 {
		background: $blue;
		color: $white;
		&:hover {
			background: $white;
			color: $blue;
		}
	}

	&_Logo {
		width: 175px;
		@media (max-width: $viewport) {
			width: 100px;
			margin-top: 5px;
		}
	}

	&_Search {
		box-sizing: border-box;
		position: relative;
		border: 1px solid $gray;
		display: block;
		padding: 3px 10px;
		border-radius: 20px;
		height: 38px;
		width: 490px;
		overflow: hidden;
		padding: 0 10px;
		background: #FFF;
		@media (max-width: $viewport) {

		}
	}

	&_SearchText {
		border: none;
		height: 100%;
		width: 400px;
		box-sizing: border-box;
		padding: 3px;
		color: $blue;
	}

	&_SearchText:focus {
		outline: 0;
	}

	&_SearchBtn {
		cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    outline: none;
    background: url(/assets/icon_search.png) center no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    padding: 0;
    right: 20px;
    top: 7px;
	}

}
