.topAbout {
	background: url(/assets/top_bg1.png) center bottom no-repeat;
	background-size: 1385px;
	margin: 100px 0 0 0;
	padding-bottom: 100px;
	@media (max-width: $viewport) {
		margin: 50px 0 0 0;
		background: url(/assets/top_bg1.png) center bottom 15vw no-repeat;
		background-size: 100%;
	}
	&_inner {
		@include flex;
		@include inner_sec;
	}
	&_Img {
		width: 470px;
		@media (max-width: $viewport) {
			width: 100%;
		}
	}
	&_Box {
		width: 530px;
		margin-left: 40px;
		@include flex;
		align-content: center;
		-ms-flex-line-pack: center;
		@media (max-width: $viewport) {
			margin-left: 0;
		}
	}
	&_Ttl {
		font-size: 30px;
		font-weight: 600;
		color: $blue;
		margin: 0 0 20px;
	}
}
