.topMv {
	margin: 85px 0;
	height: 650px;
	@include flex;
	min-width: $sec_width;
	@media (max-width: $viewport) {
		flex-direction: column-reverse;
		min-width: $sec_width_s;
		margin: 50px 0 0;
		height: auto;
	}
	&_Left {
		background: $blue2;
		overflow: hidden;
		width: 50%;
		height: 100%;
		@include flex;
		/*align-content: center;
		-ms-flex-line-pack: center;*/
		justify-content: flex-end;
		padding-top: 135px;
		@media (max-width: $viewport) {
			width: 100%;
			padding-top: 0;
		}
	}
	&_Box {
		width: 440px;
		margin-right: 70px;
		@media (max-width: $viewport) {
			@include inner_sec;
			padding: 30px 20px 20px;
		}
	}
	&_Ttl {
		color: $blue;
		font-size: 52px;
		font-weight: 600;
		margin: 0 0 20px;
		line-height: 1.4;
		@media (max-width: $viewport) {
			font-size: 32px;
			text-align: center;
		}
	}
	&_Sns {
		margin: 20px 0 40px;
		width: 210px;
		@media (max-width: $viewport) {
			margin: 20px auto;
		}
	}
	&_Btns {
		@include flex;
		@include between;
	}
	&_BtnLi {
		width: 205px;
		@media (max-width: $viewport) {
			width: 100%;
		}
		@media (max-width: $viewport) {
			margin-bottom: 20px;
		}
	}
	&_Btn {
		@include btn1;
		padding: 15px 0;
		border: 1px solid #13106c; 
		color: $blue;
		&:hover {
			background: $blue;
			color: $white;
		}
	}
	&_Btn2 {
		@include btn2;
		padding: 15px 0;
		background: $blue;
		color: $white;
		&:hover {
			background: none;
			color: $blue;
		}
	}
	&_Stxt {
		// @include smalltxt;
		display: block;
		width: 100%;
	}

	&_Right { 
		width: 50%;
		height: 100%;
		background: url(/assets/top_mv.jpg) center no-repeat;
		background-size: cover;
		@media (max-width: $viewport) {
			width: 100%;
			background: none;
		}
	}

}
