.topLead {
	@include inner_sec;
	padding: 40px 0 0 0;
	min-width: $sec_width;
	@media (max-width: $viewport) {
		min-width: $sec_width_s;
	}
	&_Ttl {
		text-align: center;
		color: $blue;
		margin: 0 0 10px;
		font-size: 16px;
	}
}
