.topBtns {
	width: 580px;
	margin: auto;
	margin-bottom: 100px;
	@media (max-width: $viewport) {
		width: $sec_width_s;
	}
	&_List {
		@include flex;
		@include between;
	}
	&_Li {
		width: 275px;
		@media (max-width: $viewport) {
			width: 90%;
			margin: 0 auto 15px;
		}
	}
	&_Btn {
		@include btn1;
		padding: 15px 0;
    border: 1px solid #13106c;
		font-size: 20px;
		color: $blue;
		&:hover {
			background: $blue;
			color: $white;
		}
	}
	&_Btn2 {
		background: $blue;
		color: $white;
		&:hover {
			background: none;
			color: $blue;
		}
	}
	&_Stxt {
		// @include smalltxt;
		display: block;
		width: 100%;
	}
}
