.topMerit {
	min-width: $sec_width;
	background: $blue2;
	margin: 100px 0;
	padding: 100px 0;
	@media (max-width: $viewport) {
		margin: 50px 0;
		padding: 50px 0;
		min-width: $sec_width_s;
	}
	&_Inner {
		@include inner_sec;
	}
	&_Ttl {
		font-size: 30px;
		font-weight: 600;
		color: $blue;
		margin: 0 0 20px;
		text-align: center;
	}
	&_Stxt {
		// @include nomaltxt;
		color: $base;
		display: block;
		font-weight: 400;
	}
	&_Cont {
		margin-top: 50px;
		padding-top: 40px;
		height: 410px;
		overflow: hidden;
		@media (max-width: $viewport) {
			height: auto;
			margin-top: 30px;
			padding-top: 0;
		}
	}
	&_Cont1 {
		background: url(/assets/top_img4.png) left top no-repeat;
		background-size: 585px;
		@media (max-width: $viewport) {
			background: none;
		}
	}
	&_Cont2 {
		background: url(/assets/top_img5.png) right top no-repeat;
		background-size: 585px;
		@media (max-width: $viewport) {
			background: none;
		}
	}
	&_Cont3 {
		background: url(/assets/top_img6.png) left top no-repeat;
		background-size: 585px;
		@media (max-width: $viewport) {
			background: none;
		}
	}
	&_Box,
	&_Box2 {
		width: 585px;
		min-height: 370px;
		background: rgba(255,255,255,0.5);
		padding: 50px;
		float: right;
		@media (max-width: $viewport) {
			width: 100%;
			min-height: auto;
			float: none;
			padding: 30px;
			margin-top: -10px;
		}
	}
	&_Box2 {
		float: left;
		@media (max-width: $viewport) {
			float: none;
		}
	}
	&_EnTxt {
		font-size: 36px;
		color: $blue;
		font-weight: 500;
		@media (max-width: $viewport) {
			font-size: 26px;
		}
	}
	&_SubTtl {
		font-size: 26px;
		color: $blue;
		font-weight: 500;
		background:linear-gradient(transparent 60%, $yellow 60%);
		display: inline;
		@media (max-width: $viewport) {
			font-size: 18px;
		}
	}
	&_Txt {
		margin-top: 20px;
	}

}
