.userBox, .userBox2 {
	border: 1px solid #f2f2f2;
	padding: 20px;
	margin: 0 0 30px;
	position: relative;
}

.userBox__Btn, .userBox2__Btn {
	background: #13106c;
	color: #FFF;
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	justify-content: center;
	border-radius: 4px;
	text-align: center;
	right: 20px;
	top: 20px;
	height: 30px;
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f086";
	}
}

.userBox__Box, .userBox2__Box {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-box-align: center;
	margin: 0 0 20px;
}

.userBox__Pic {
	display: block;
}
.userBox2__Pic {
	width: 40px;
	display: block;
}
.userBox__PicImg {
	border-radius: 50%;
	width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: top;
}
.userBox2__PicImg {
	border-radius: 50%;
}
.userBox__Title {
	margin-left: 10px;
}
.userBox2__Title {
	margin-left: 10px;
}
.userBox__SubTitle {
	margin-bottom: 10px;
}
.userBox2__SubTitle {
	margin-bottom: 10px;
}
.userBox__Pr {
	margin-bottom: 20px;
}
.userBox__Sns {
	margin-bottom: 20px;
}
.userBox__Data {
	margin-bottom: 20px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.userBox2__Pr {
	margin-bottom: 20px;
}
.userBox2__Sns {
	margin-bottom: 20px;
}
.userBox2__Data {
	margin-bottom: 20px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.userBox__DataBox {
	border: 1px solid #DDD;
	width: 18%;
	margin-right: 1%;
	align-items: center;
	-webkit-box-align: center;
	text-align: center;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: #13106c;
	padding: 20px;
	&:last-of-type {
		border-right: 1px solid #DDD;
	}
}
.userBox2__DataBox {
	border: 1px solid #DDD;
	width: 18%;
	margin-right: 1%;
	align-items: center;
	-webkit-box-align: center;
	text-align: center;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: #13106c;
	padding: 20px;
	&:last-of-type {
		border-right: 1px solid #DDD;
	}
}
.userBox__DataTitle {
	font-size: 18px;
	margin: 0 0 10px;
	i {
		display: inline-block;
		margin-right: 5px;
	}
}
.userBox2__DataTitle {
	font-size: 18px;
	margin: 0 0 10px;
	i {
		display: inline-block;
		margin-right: 5px;
	}
}
.userBox__DateTxt {
	font-size: 12px;
}
.userBox2__DateTxt {
	font-size: 12px;
}
.userBox__UserBox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
}
.userBox2__UserBox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
}
.userBox__UserSt {
	margin-right: 20px;
	position: relative;
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f559";
		margin-top: 2px;
		font-weight: bold;
		color: #f2850c;
	}
}
.userBox2__UserSt {
	margin-right: 20px;
	position: relative;
	&:before {
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		content: "\f559";
		margin-top: 2px;
		font-weight: bold;
		color: #f2850c;
	}
}
.userBox__UserStScore {
	font-size: 20px;
	color: #f2850c;
	display: inline-block;
	margin: 0 5px 0 10px;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-weight: bold;
}
.userBox2__UserStScore {
	font-size: 20px;
	color: #f2850c;
	display: inline-block;
	margin: 0 5px 0 10px;
	font-family: "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-weight: bold;
}
.userBox__PrTxt {
	position: relative;
	&:before {
		-ms-filter: blur(0px);
		filter: blur(0px);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&:after {
		-ms-filter: blur(0px);
		filter: blur(0px);
		content: "投稿者のみが閲覧できます。";
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -100px;
		margin-top: -15px;
		display: inline-block;
		z-index: 1;
		background: #EAFFC1;
		font-size: 14px;
		font-weight: bold;
		padding: 5px 10px;
	}
}
.userBox2__PrTxt {
	position: relative;
	&:before {
		-ms-filter: blur(0px);
		filter: blur(0px);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&:after {
		-ms-filter: blur(0px);
		filter: blur(0px);
		content: "投稿者のみが閲覧できます。";
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -100px;
		margin-top: -15px;
		display: inline-block;
		z-index: 1;
		background: #EAFFC1;
		font-size: 14px;
		font-weight: bold;
		padding: 5px 10px;
	}
}
.userBox__Blur {
	-ms-filter: blur(4px);
	filter: blur(4px);
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.userBox2__Blur {
	-ms-filter: blur(4px);
	filter: blur(4px);
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.userBox__CheckWrap {
	background: #f2f2f2;
	padding: 8px 20px;
	margin: 0 0 0px -20px;
	box-sizing: border-box;
	font-weight: bold;
	display: inline-block;
	position: relative;
	top: -20px;
}
.userBox2__CheckWrap {
	background: #f2f2f2;
	padding: 8px 20px;
	margin: 0 0 0px -20px;
	box-sizing: border-box;
	font-weight: bold;
	display: inline-block;
	position: relative;
	top: -20px;
}
.userBox__CheckText {
	&:before {
		content: "\f0c8";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		font-weight: normal;
	}
}
.userBox2__CheckText {
	&:before {
		content: "\f0c8";
		font-family: 'Font Awesome 5 Free';
		margin-right: 5px;
		display: inline-block;
		font-weight: normal;
	}
}
.userBox2.isActive {
	background: #edf6ff;
	border: 1px solid #13106c;
	.userBox__CheckWrap {
		background: #13106c;
		color: #FFF;
	}
	.userBox__CheckText {
		&:before {
			content: "\f14a";
			font-family: 'Font Awesome 5 Free';
			margin-right: 5px;
			display: inline-block;
			font-weight: normal;
		}
	}
}
