<template>
  <div>
    <div class="snsinfo__modal">
      <div class="snsinfo__modalInner">
        <div>
          <p class="snsinfo__modalHeader">{{ registerLabel() }}</p>
        </div>
        <div>
          <div class="snsinfo__SnsLogo">
            <span class="userBox__DataTitle" v-html="snsLabel()"></span>
            <span>アカウント</span>
          </div>
          <div class="snsinfo__Input">
              <ValidationObserver ref="observer">
              <dl>
                <dt class="snsinfo__Dt">{{ getSnsIdLabel(snsLabel(true)) }}</dt>
                <dd>
                  <input type="text" class="register__Irai" name="id" :placeholder="getSnsIdLabel(snsLabel(true))" v-model="sns_info.sns_id" @keyup="isChannelId($event)" @paste="isChannelId($event)">
                </dd>
                <dt class="snsinfo__Dt">{{ getSnsUrlLabel(snsLabel(true)) }}</dt>
                <dd>
                  <ValidationProvider
                    :name="getSnsUrlLabel(snsLabel(true))"
                    :rules="rules.url"
                    v-slot="{ errors }"
                  >
                    <input type="text" class="register__Irai" name="url" placeholder="https://" v-model="sns_info.url">
                    <span class="error__message">
                      {{ errors[0] }}
                    </span>
                  </ValidationProvider>
                </dd>
                <dt class="snsinfo__Dt"> {{ followerLabel(sns_details.details.name) }} </dt>
                <dd>
                  <div class="SelectWrap">
                    <select ref="request_people" name="followers" class="register__Irai" @change="onFollowerChange($event)" v-model="sns_info.followers">
                      <option v-for="(info, index) in social_followers" :key="index" :value="info.id"> {{ info.content }} </option>
                    </select>
                  </div>
                </dd>
                <div v-if="showVideosAndViews()">
                    <!-- views -->
                    <dt class="snsinfo__Dt">チャンネル再生回数</dt>
                    <dd>
                        <input type="number" class="register__Irai" name="title" placeholder="チャンネル再生回数を入力してください" v-model="sns_info.views">
                    </dd>
                    <!-- end views -->
                    <!-- videos -->
                    <dt class="snsinfo__Dt">アップロード動画数</dt>
                    <dd>
                        <input type="number" class="register__Irai" name="title" placeholder="アップロード動画数を入力してください" v-model="sns_info.videos">
                    </dd>
                    <!-- end videos -->
                </div>
                <div v-if="showLikes()">
                  <!-- likes -->
                  <dt class="snsinfo__Dt">投稿数</dt>
                  <dd>
                      <input type="number" class="register__Irai" name="title" placeholder="投稿数を入力してください" v-model="sns_info.likes">
                  </dd>
                  <!-- end likes -->
                </div>
                <div v-if="showPosts()">
                  <!-- posts -->
                  <dt class="snsinfo__Dt">投稿数</dt>
                  <dd>
                      <input type="number" class="register__Irai" name="title" placeholder="投稿数を入力してください" v-model="sns_info.posts">
                  </dd>
                  <!-- end posts -->
                </div>
              </dl>
              </ValidationObserver>
              <div class="register__BtnWrap">
                <button class="snsinfo__Btn" type="button" @click="toggleModal()">キャンセル</button>
                <button class="snsinfo__Btn snsinfo__Submit" type="button" @click="register">登録する</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SnsInfoService from "../../../../../service/user/sns.service";
const snsInfoService = new SnsInfoService();

export default {
  props: {
    sns_details: Object,
  },
  data() {
    return {
      sns_info: {
        type: '',
        id: '',
        sns_id: '',
        url: '',
        followers: 1,
        views: '',
        videos: '',
        posts: '',
        likes: '',
      },
      social_followers: [
        { id: 1, content: "1,000未満" },
        { id: 2, content: "1,000以上～5,000未満" },
        { id: 3, content: "5,000以上～10,000未満" },
        { id: 4, content: "10,000以上～50,000未満" },
        { id: 5, content: "50,000以上～100,000未満" },
        { id: 6, content: "100,000以上～1,000,000未満" },
        { id: 7, content: "1,000,000以上" },
      ],
      rules: {
        url: {
          regex: /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/
        }
      }
    }
  },
  mounted(){
    if (this.isModalUpdate()) {
      const sns = this.sns_details.snsInfo;
      this.sns_info.id = sns.id;
      this.sns_info.sns_id = sns.sns_id;
      this.sns_info.url = sns.url;
      this.sns_info.followers = sns.followers;
      switch (sns.type) {
        case 'youtube':
          this.sns_info.views = sns.views;
          this.sns_info.videos = sns.videos;
          break;
        case 'facebook':
          this.sns_info.likes = sns.likes;
          break;
        case 'tiktok':
        case 'twitter':
        case 'instagram':
          this.sns_info.posts = sns.posts;
          break;
      }
    } else {
      delete this.sns_info.id;
    }
    this.sns_info.type = this.snsLabel(true)
  },
  methods: {
    toggleModal(message) {
      this.$emit('toggleModal', message);
    },
    async register() {
      const isValid = await this.$refs.observer.validate();
      if (!isValid) return;
      try {
        const { method } = { ...this.sns_details };
        let response;
        this.prepareFields();
        switch(method) {
          case 'update':
              response = await snsInfoService.updateSnsInfo(this.sns_info);
            break;
          case 'store':
              response = await snsInfoService.createSnsInfo(this.sns_info);
            break;
        }
        this.toggleModal(response.data.message)
      } catch(err) {
        console.log(err)
      }
    },
    showVideosAndViews() {
      return this.snsLabel(true) == 'youtube'
    },
    showPosts() {
      return ['tiktok','twitter','instagram'].includes(this.snsLabel(true));
    },
    showLikes() {
      return this.snsLabel(true) == 'facebook';
    },
    snsLabel(getName = false) {
      const {icon, name} = {...this.sns_details.details};
      if (!getName) return `${icon}${name}`;
      return name.toLowerCase();
    },
    prepareFields() {
      switch(this.snsLabel(true)) {
        case 'youtube':
          this.$delete(this.sns_info, 'posts')
          this.$delete(this.sns_info, 'likes')
          break;
        case 'facebook':
          this.$delete(this.sns_info, 'views')
          this.$delete(this.sns_info, 'videos')
          this.$delete(this.sns_info, 'posts')
          break;
        case 'tiktok':
        case 'twitter':
        case 'instagram':
          this.$delete(this.sns_info, 'views')
          this.$delete(this.sns_info, 'videos')
          this.$delete(this.sns_info, 'likes')
          break;
      }
    },
    registerMethod() {
      return this.sns_details.method;
    },
    registerLabel() {
      if (this.isModalUpdate()) return 'SNSアカウント情報を編集する';
      return 'SNSアカウント情報を登録する';
    },
    getSnsType() {
      if (this.isModalUpdate()) return this.sns_details.snsInfo.type;
      return this.sns_details.details.id;
    },
    isModalUpdate() {
      if (this.sns_details.method == 'update') return true;
        return false;
    },
    onFollowerChange(event) {
      this.sns_info.followers = parseInt(event.target.value);
    },
    followerLabel(name) {
      if (name.toLowerCase() == 'youtube') return 'チャンネル登録者数';
      return 'フォロワー数';
    },
    isChannelId(event) {
      if (event.target.value) {
        if (!/^[a-zA-Z0-9~`!@#\$%\^\&*\(\)-_=+[\]{}\\|:;"'<,>.?/]+$/g.test(event.target.value)) {
          this.sns_info.sns_id = "";
          return event.preventDefault();
        }
      }
    }
  }
}
</script>

<style lang="scss">
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.snsinfo {
  &__modal {
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
  }

  &__modalInner {
    position: absolute;
    background-color: white;
    top: 2%;
    left: 25%;
    width: 800px;
    padding: 10px;
    margin: 0 auto;
    @media (max-width: 640px) {
     overflow-y: scroll;
      height: 90vh;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
    }
  }

  &__modalHeader {
    font-size: 20px;
    color: #13106c;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
  }

  &__explan {
    font-size: 14px;
    color: #000;
  }

  &__SnsLogo {
    color: #13106c;
    padding: 20px 0 5px 0;
    font-size: 16px;
  }

  &__Input {
    margin-bottom: 30px;
  }

  &__Dt {
    font-size: 16px;
    margin: 10px 0 5px 0;
  }


  &__Submit {
    color: #FFF;
    background: #f2850c;
  }

  &__Btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 35px;
    margin: 10px;
    cursor: pointer;
  }
}
</style>
