<template>
  <div>
    <Navbar />
    <div class="topMv">
    	<div class="topMv_Left">
    		<div class="topMv_Box">
    			<h2 class="topMv_Ttl">
    				ファンと繋がり、<br>
    				ファンと拡める。
    			</h2>
    			<p>
    				BUZZLINKはファンと企業が出会う接点の創出から、<br class="inline_p">
    				関係深化までを支援するファンマーケティングクラウドです。
    			</p>
    			<p class="topMv_Sns">
    				<img :src="'assets/top_img1.png'" alt="snsアイコン">
    			</p>
    			<ul class="topMv_Btns">
    				<li class="topMv_BtnLi">
    					<a href="/register/email?ref=1" class="topMv_Btn topMv_Btn1">
    						<span class="topMv_Stxt">
    							クリエイターの方はこちら
    						</span>BUZZLINKに登録する
    					</a>
    				</li>
    				<li class="topMv_BtnLi">
    					<a href="/register/email?ref=1" class="topMv_Btn topMv_Btn2">
    						<span class="topMv_Stxt">
    							クリエイターの方はこちら
    						</span>案件を依頼する
              </a>
    				</li>
    			</ul>
    		</div>
    	</div>
    	<div class="topMv_Right">
    		<p class="block_s" style="">
    			<img :src="'assets/top_mv.png'" alt="">
    		</p>
    	</div>
    </div>

    <section class="topLead">
    	<div class="topLead_inner">
    		<h2 class="topLead_Ttl">brandtouchご活用企業様</h2>
    		<p class="block_p">
    			<img :src="'assets/top_img2.png'" alt="BUZZLINK活用事例" />
    		</p>
    		<p class="block_s">
    			<img :src="'assets/top_img2_sp.png'" alt="BUZZLINK活用事例" />
    		</p>
    	</div>
    </section>

    <section class="topAbout">
    	<div class="topAbout_inner">
    		<div class="topAbout_Img">
    			<p>
    				<img :src="'assets/top_img3.png'" alt="">
    			</p>
    		</div>
    		<div class="topAbout_Box">
    			<h2 class="topAbout_Ttl">BUZZLINKとは？</h2>
    			<p>
    				BUZZLINKはインフルエンサー様と企業を結び付ける<br>マッチングプラットフォームです。<br>
    				Youtubeを始めとするSNSを使ったデジタルマーケティングにより、<br class="inline_p">世の中に広まるブランドの新商品や、新しいサービスを世界中に届け、<br class="inline_p">「認知の拡大」と「企業ブランディング」の最大限の効果を引き出します。
    			</p>
    		</div>
    	</div>
    </section>

    <section class="topNews">
    	<div class="topNews_inner">
    		<h2 class="topNews_Ttl">
    			新着情報
    			<span class="topNews_Stxt">最新のニュースをお届けします</span>
    		</h2>
    		<div class="topNews_Box">
    			<ul>
    				<li class="topNews_List">
    					<h3 class="topNews_Date">
    						2021.00.00
    					</h3>
    					<p>
    						テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    					</p>
    				</li>
    				<li class="topNews_List">
    					<h3 class="topNews_Date">
    						2021.00.00
    					</h3>
    					<p>
    						テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    					</p>
    				</li>
    				<li class="topNews_List">
    					<h3 class="topNews_Date">
    						2021.00.00
    					</h3>
    					<p>
    						テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    					</p>
    				</li>
    			</ul>
    		</div>
    	</div>
    </section>

    <section class="topMerit">
    	<div class="topMerit_Inner">
    		<h2 class="topMerit_Ttl">
    			BUZZLINKの<br class="inline_s">3つのメリット
    			<span class="topMerit_Stxt">
    				BUZZLINKを企業として活用する3つのメリット
    			</span>
    		</h2>

    		<div class="topMerit_Cont topMerit_Cont1">
    			<p class="block_s">
    				<img :src="'assets/top_img3.png'" alt="">
    			</p>
    			<div class="topMerit_Box">
    				<p class="topMerit_EnTxt">
    					Merit.1
    				</p>
    				<h3 class="topMerit_SubTtl">
    					圧倒的な低コストでインフルエンサーを集めることができます
    				</h3>
    				<p class="topMerit_Txt">
    					一般的なインフルエンサーのへの依頼は、各々のインフルエンサーの相場が決まっているため、価格が高くなる傾向があります。これに対し、SPIRITでは公募形式を取っているため、低コストで、インフルエンサーを集め活用することができます。
    				</p>
    			</div>
    		</div>
    		<div class="topMerit_Cont topMerit_Cont2">
    			<p class="block_s">
    				<img :src="'assets/top_img4.png'" alt="">
    			</p>
    			<div class="topMerit_Box2">
    				<p class="topMerit_EnTxt">
    					Merit.2
    				</p>
    				<h3 class="topMerit_SubTtl">
    					貴社の商品を応援したい、<br class="inline_p">
    					意欲あるインフルエンサーが集まります
    				</h3>
    				<p class="topMerit_Txt">
    					公募形式を取っているSPIRITでは、応募の際にインフルエンサーたちが積極的な意気込みを記入しています。企業の商品を応援したいインフルエンサーによるソーシャルメディア発信は、彼らのファン・フォロワーにとって信頼度の高い広告となります。
    				</p>
    			</div>
    		</div>
    		<div class="topMerit_Cont topMerit_Cont3">
    			<p class="block_s">
    				<img :src="'assets/top_img5.png'" alt="">
    			</p>
    			<div class="topMerit_Box">
    				<p class="topMerit_EnTxt">
    					Merit.3
    				</p>
    				<h3 class="topMerit_SubTtl">
    					初回登録費、月額固定費、<br>
    					全て無料
    				</h3>
    				<p class="topMerit_Txt">
    					BUZZLINKの登録に関して、初回登録料や月額固定費等のコストは一切かかりませんので、リスクなく安心してご活用頂けます。
    				</p>
    			</div>
    		</div>
    	</div>
    </section>

    <div class="topBtns">
    	<ul class="topBtns_List">
    		<li class="topBtns_Li">
    			<a href="/register/email?ref=1" class="topBtns_Btn">
    				<span class="topBtns_Stxt">
    					クリエイターの方はこちら
    				</span>
    				BUZZLINKに登録する
    			</a>
    		</li>
    		<li class="topBtns_Li">
    			<a href="/register/email?ref=1" class="topBtns_Btn topBtns_Btn2">
    				<span class="topBtns_Stxt">
    					企業の方はこちら
    				</span>
    				案件を依頼する
    			</a>
    		</li>
    	</ul>
    </div>
  </div>
</template>

<script>
  import Navbar from './../includes/Navbar';

  export default {
    data() {
      return {
        showSpinner: false,
      }
    },
    components: {
      Navbar
    }
  }
</script>
