<template>
  <div>
    <Navbar :isShow="'login'"/>

    <div class="login">
  		<h1 class="login__PageTitle">ログイン画面</h1>
      <form @submit.prevent="onSubmit">
    		<div class="login__Inner">
          <label class="error__message">{{ error }}</label>
          <label class="error__message">{{ errors.lockout }}</label>

    			<p class="login__Title">メールアドレス</p>
    			<input type="email" placeholder="例）info@buzzlink.jp" class="login__Email" @keyup="validateEmail" v-model="email">
          <div class="error__message">{{ errors.email }}</div>

    			<p class="login__Title">パスワード</p>
    			<input type="password" class="login__Password" v-model="password">
          <div class="error__message">{{ errors.password }}</div>

    			<div class="login__BtnLoginWrap">
    				<button class="login__BtnLogin" type="submit">ログインする</button>
    				<p>パスワードを忘れた方は<a href="/password_reset">こちら</a></p>
    			</div>
    			<div class="login__BtnMemberWrap">
    				<p>まだアカウントをお持ちでない方は会員登録をお済ませください</p>
    				<a href="/register/email?ref=1" class="login__BtnMemberRegistration" type="button" style="text-decoration: none; color: #FFF">まずは会員登録（無料）</a>
    			</div>
    		</div>
      </form>
  	</div>
  </div>
</div>
</template>

<script>
  import Navbar from './../includes/NavbarPages';
  export default {
       data() {
          return {
            email: '',
            password: '',
            remember_me: false,
            validationError: '',
            error: '',
            errors: false
          }
      },
      components: {
        Navbar
      },
      methods:{
        validateEmail() {
          this.errors = {}
          let format = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          if(!format.test(this.email) && this.email.length > 0){
            this.errors.email = 'メールアドレスの形式に誤りがあります。'
          }
        },
        onSubmit() {
          this.errors = {}

          if(!this.email){
            this.errors.email = 'メールアドレスは必須です。'
          }

          if(!this.password){
            this.errors.password = 'パスワードは必須です。'
          }

          if(Object.keys(this.errors).length == 0){
            axios.post('/auth', {
              email: this.email,
              password: this.password,
              json: true
            })
            .then(function(response){
              let hosting = location.protocol + '//' + location.host;
              if (response.status == '200') {
                localStorage.setItem('auth','true');
              	localStorage.setItem('workmananagement-tab', 1)
                if(document.referrer.split('?')[0] == hosting + '/search' || document.referrer.split('?')[0] == hosting + '/details'){
                  location.href = document.referrer
                } else {
                  location.href = '/mypage'
                }
              }
            }).catch(error => {
              if(error.response.data.hasOwnProperty('status')){
                this.error = 'メールアドレスまたはパスワードが正しくありません。'
                this.password = ''
              }
            });
          }
        }
    }
  }
</script>

<style scoped>
.error__message {
  margin-bottom: 30px;
}

.login__Email,
.login__Password {
  margin: 0px;
}
</style>
