<template>
  <div class="footer__fixed">
    <Navbar />

    <div class="error__base">
      <div class="error__Inner">
        <p class="error__Title">お探しのページへたどり着く事ができませんでした。</p>
        <div class="error__Content">
          <div class="error__CauseTitle">
            <p class="error__CauseTitleP">以下の原因が考えられます。</p>
          </div>
          <div class="error__detail">
            <ul class="error__detailUl">
              <li class="error__detailLi">指定されたページが削除された、または存在しません。</li>
              <li class="error__detailLi">指定されたページ（URL）が変更されています。</li>
              <li class="error__detailLi">指定されたページ（URL）にアクセスできません。</li>
            </ul>
          </div>
        </div>

        <div class="err__Btn">
          <a href="/" class="err__BtnA">
            ホームへ
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navbar from './../includes/NavbarPages';

  export default {
    components: {
      Navbar
    }
  }
</script>
