<template>
  <div>
    <Navbar :isShow='"noSearch"' v-if="auth_status != true"/>
    <Header v-else/>
    <div class="resetPassword">
      <div class="resetPassword__Inner">
        <h1 class="resetPassword__PageTitle">パスワードの再設定</h1>
        <div class="resetPassword__Cont" v-if="section == 1">
          <p>
            ご登録いただいたメールアドレスを入力してください。<br class="inline_p">
            メールアドレス宛にパスワード変更ページのURLが記載されたメールを送信します。
          </p>
          <form @submit.prevent="sendPasswordReset">
            <input type="email" placeholder="例）info@buzzlink.jp" class="resetPassword__Email" v-model="email" @keyup="validateEmail">
            <div class="error__message">{{ error }}</div>
            <button class="resetPassword__BtnMail" type="submit">再設定用メールを送信する</button>
          </form>
        </div>
        <div class="resetPassword__Cont" v-if="section == 2">
          <p>
            <h2 class="register__Title">ご入力いただいたメールアドレス宛にメールを送信しました。</h2>
            メールを確認し、24時間以内にパスワードの再設定をお願いします。<br><br>
            24時間を経過した場合パスワードの再設定はできなくなります。<br><br>
            もしメールが届かない場合は、入力したメールアドレスに誤りがないかご確認下さい。<br>迷惑メールとして削除されている場合もありますので、メールソフトの設定もあわせてご確認ください。
          </p>
        </div>
      </div>
      <p v-if="section == 1" class="resetPassword__Txt">まだアカウントをお持ちでない方は<br class="inline_s"><a href="/register/email?ref=1">会員登録</a>をお済ませください</p>
    </div>
  </div>
</template>

<script>
  import Navbar from './../includes/NavbarPages';
  import Header from './../includes/Header';
  import UserService from '../../../service/user/user.service';
  const userService = new UserService();

  export default {
    data() {
      return{
        email: '',
        section: 1,
        error: '',
        data: {},
        auth_status: JSON.parse(localStorage.getItem('auth'))
      }
    },
    components: {
      Navbar, Header
    },
    methods: {
      validateEmail() {
        this.error = ''
        let format = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(!format.test(this.email) && this.email.length > 0){
          this.error = 'メールアドレスの形式に誤りがあります。'
        }
      },
      sendPasswordReset() {
        if(!this.email){
          this.error = 'メールアドレスは必須です。'
        }

        axios.get('/pwreset?mail=true&email=' + this.email)
        .then(res => {
          if(res.data.status == 200){
            this.section = 2
          }
        })
        .catch(error => {
          this.error = error.response.data.errors.email[0]
        });
      },
    }
  }
</script>
<style scoped>
  .resetPassword__Email{
    margin-bottom: 0;
  }

  .error__message{
    margin-bottom: 30px;
  }
</style>
