<template>
  <div>
    <Navbar :isShow="'noSearch'" />

    <div class="resetPassword">
      <div class="resetPassword__Inner">
        <h1 class="resetPassword__PageTitle">パスワードの再設定</h1>
        <div class="resetPassword__Cont" v-if="section == 1">
          <p>
            パスワードの設定を行います。<br>
            新しいパスワードを設定してください。
          </p>
          <form @submit.prevent="onSubmit">
            <div class="resetPassword__Wrap">
              <p class="resetPassword__Title">パスワード</p>
              <input type="password" class="resetPassword__PassWord" v-model="password" @keyup="validatePassword">
              <span class="resetPassword__Caution">※半角英数字8～32文字</span>
              <span class="error__message">{{ error.password }}</span>
            </div>
            <div class="resetPassword__Wrap">
              <p class="resetPassword__Title">パスワード(確認)</p>
              <input type="password" class="resetPassword__PassWord" v-model="re_password" @keyup="validateRePassword">
              <span class="error__message">{{ error.re_password }}</span>
            </div>
            <button class="resetPassword__BtnRegistration" type="submit">パスワードを変更する</button>
          </form>
        </div>

        <div class="resetPassword__Cont" v-if="section == 2">
          <p class="resetPassword__Txt">
            パスワードの変更が完了しました。<br>
            新しいパスワードでログインしてください。
          </p>
          <div class="mainCont__Btns">
           <ul class="mainCont__BtnsList">
             <li class="mainCont__BtnsLi3">
               <a href="login" class="resetPassword__BtnLogin">
                 ログインする
               </a>
             </li>
           </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navbar from './../includes/NavbarPages';

  export default {
    data() {
      return{
        password: '',
        re_password: '',
        user_id: '',
        section: 1,
        validated: false,
        error: {
          password: '',
          re_password: '',
          error_count: 0
        }
      }
    },
    components: {
      Navbar
    },
    created () {
      this.getUser()
    },
    methods: {
      getUser() {
        axios.get('/init?auth=' + this.$route.query.auth)
        .then(response => {
          if(response.data == false) {
            location.href = '/expired'
          } else {
            this.user_id = response.data.uuid;
          }
        })
      },
      validateRePassword() {
        this.error.re_password = ''
        this.error.count = 0

        if(this.re_password != this.password){
          this.error.re_password = '登録パスワードと一致していません。'
          this.error.error_count++
        }
      },
      validatePassword() {
        this.error.password = ''
        this.error.count = 0

        if(!/^([0-9]+[a-zA-Z]+|[a-zA-Z]+[0-9]+)[0-9a-zA-Z]*$/.test(this.password)){
          this.error.password = 'パスワードは英数字の両方を含む必要があります。'
          this.error.error_count++
        }

        if(this.password.length < 8 || this.password.length > 32) {
          this.error.password = 'パスワードは8~32文字で入力してください。'
          this.error.error_count++
        }

        if(this.re_password.length > 0){
          this.validateRePassword()
        }
      },
      onSubmit() {
        this.error = {
          password: '',
          re_password: '',
          error_count: 0
        }
        this.validatePassword()
        this.validateRePassword()

        if(!this.password){
          this.error.password = 'パスワードは必須です。'
          this.error.error_count++
        }

        if(!this.re_password){
          this.error.re_password = 'パスワード確認は必須です。'
          this.error.error_count++
        }

        if(this.error.error_count == 0){
          axios.get('/pwreset?uuid=' + this.user_id + '&password=' + this.password)
          .then(res => {
            if(res.data.status == 200){
              this.section = 2;
            }
          })
          .catch(error => {
            this.error = error.response.data.errors.email[0]
          });
        }
      }
    }
  }
</script>
