<template>
  <div>
    <Navbar />

    <div class="register">
  		<div class="register__Inner">
        <h1 class="register__PageTitle">会員登録</h1>
        <div class="flowlist">
          <p class="flowlist__Flow flowlist__FlowActive">
            <span class="flowlist__FlowNumber flowlist__FlowNumberActive">FLOW.1</span>
            メール<br>送信
          </p>
          <p class="flowlist__Flow">
            <span class="flowlist__FlowNumber">FLOW.2</span>
            情報<br>入力
          </p>
          <p class="flowlist__Flow">
            <span class="flowlist__FlowNumber">FLOW.3</span>
            登録内容<br>確認
          </p>
          <p class="flowlist__Flow">
            <span class="flowlist__FlowNumber">FLOW.4</span>
            登録<br>完了
          </p>
        </div>

        <section v-if="section == 1">
          <div class="register__Cont">
            <h2 class="register__Title">メールアドレスをご入力のうえ<br>
            会員登録ボタンをクリック（タップ）してください</h2>
            <p>
              ご入力いただいたメールアドレスへお手続きのご案内を送信します。<br>
              メール内容をご確認いただき、会員登録をお進めください。
            </p>
            <form @submit.prevent="onSubmit">
              <input type="text" placeholder="例）info@buzzlink.jp" class="register__Email" v-model="email">
              <div class="error__message">{{ error }}</div>

              <button class="register__BtnRegister3" type="submit">メールを送信する</button>
            </form>
            <p class="register__Txt">
              ※会員登録をすることで<a href="#">利用規約</a>、<br class="inline_s">
              <a href="#">個人情報保護方針</a>に同意したものとします
            </p>
          </div>
          <p class="register__Txt">
            <a href="/login">既にご登録済の方はこちら</a>
          </p>
        </section>

        <section v-if="section == 2">
          <div class="register__Cont">
            <h2 class="register__Title">下記メールアドレスにメールを送信しました。</h2>
            <p>
              会員登録のお手続きは、まだ完了しておりません。メール本文に記載のURLをクリック（タップ）していただき、会員登録のお手続きをお進めください。
            </p>
            <div class="register__Mail">
              <p>{{ email }}</p>
            </div>
            <p>
              ※メールに記載された登録用URLの有効期限は24時間です。<br>
              有効期限が切れた場合は、再度メールアドレスの入力からやり直してください。
            </p>
            <div class="register__Confirm">
              <h3 class="register__SubTitle">メールを受信しない場合は、以下の点をご確認ください</h3>
              <ul class="register__List">
                <li class="register__ListLi">・ご入力いただいたメールアドレスが正しいか</li>
                <li class="register__ListLi">・迷惑メールフォルダに振り分けられていないか</li>
                <li class="register__ListLi">・「@buzzlink.jp」ドメインのメールが受信可能な設定か</li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
  import Navbar from './../includes/NavbarPages';

  export default {
    data() {
      return{
        email: '',
        section: 1,
        error: ''
      }
    },
    components: {
      Navbar
    },
    watch: {
      email(val){
        this.error = ''
        let format = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(val.length > 255){
          this.error = '254文字以内で入力してください。'
        }
        if(!format.test(val) && val.length > 0){
          this.error = 'メールアドレスの形式に誤りがあります。'
        }
      }
    },
    methods: {
      onSubmit() {
        if(this.error.length == 0){
          axios.post('/store', {
            email: this.email,
            newUser: true,
            json: true
          }).then(res => {
            if(res.data.status == 200){
              this.section = 2
            } else {
              this.error = res.data.message
            }
          })
          .catch(error => {
            if(error.response.status == 422) {
              this.error = 'メールアドレスは必須です。'
            }
          })
        }
      }
    }
  }
</script>
<style scoped>
.error__message {
  margin-bottom: 60px;
}

.register__Email {
  margin-bottom: 0px;
}
</style>
