<template>
  <div>
    <ValidationObserver ref="observer">
      <form :action="`${posturl}`" method="POST" @submit="onSubmit">
        <input type="hidden" name="_token" v-bind:value="csrf" />
        <div class="register__FormBox">
          <h3 class="register__FormTitle">ログイン情報について</h3>
          <dl class="register__FormList">
            <dt class="register__FormListLeft">
              メールアドレス<br class="inline_s">
              <span class="register__Required">必須</span>
              <span class="register__Hikoukai">非公開</span>
            </dt>
            <dd class="register__FormListRight">
              {{ email }}
            </dd>
            <dt class="register__FormListLeft">
              パスワード<br class="inline_s">
              <span class="register__Required">必須</span>
              <span class="register__Hikoukai">非公開</span>
            </dt>
            <dd class="register__FormListRight">
              <i
                class="fas fa-eye icon"
                @click="togglePassword('text')"
                v-if="password_type == 'password'"
              />
              <i
                class="fas fa-eye-slash icon"
                @click="togglePassword('password')"
                v-else
              />
              <ValidationProvider
                name="パスワード"
                rules="required|between_string:8,32|contain_alpha_numeric|alpha_numeric_symbol"
                vid="password"
                v-slot="{ errors }"
              >
                <input
                  :type="password_type"
                  ref="password"
                  placeholder=""
                  class="register__Password"
                  v-model="user.password"
                  name="password"
                />
                <span class="register__FormTxt">※半角英数字8〜32文字</span>
                <span class="error__message">{{ errors[0] }}</span>
              </ValidationProvider>
            </dd>
            <dt class="register__FormListLeft">
              パスワード（確認）<br class="inline_s">
              <span class="register__Required">必須</span>
              <span class="register__Hikoukai">非公開</span>
            </dt>
            <dd class="register__FormListRight">
              <ValidationProvider
                name="パスワード（確認）"
                rules="required|confirmed:password"
                v-slot="{ errors }"
              >
                <input
                  type="password"
                  ref="re_password"
                  placeholder=""
                  class="register__Password"
                  v-model="user.re_password"
                />
                <span class="error__message">{{ errors[0] }}</span>
              </ValidationProvider>
            </dd>
          </dl>
        </div>
        <div class="register__FormBox">
          <h3 class="register__FormTitle">会員情報について</h3>
          <dl class="register__FormList">
            <dt class="register__FormListLeft">
              表示用ユーザー名<br class="inline_s">
              <span class="register__Required">必須</span>
              <span class="register__Koukai">公　開</span>
            </dt>
            <dd class="register__FormListRight">
              <ValidationProvider
                name="表示用ユーザー名"
                rules="required|max:100"
                v-slot="{ errors }"
              >
                <input
                  type="text"
                  ref="name"
                  class="register__UserName"
                  v-model="user.name"
                  name="name"
                />
                <span class="register__FormTxt"
                  >※法人の場合は、法人名をご入力ください</span
                >
                <span class="error__message">{{ errors[0] }}</span>
              </ValidationProvider>
            </dd>
            <dt class="register__FormListLeft">
              氏名<br class="inline_s">
              <span class="register__Required">必須</span>
              <span class="register__Hikoukai">非公開</span>
            </dt>
            <dd class="register__FormListRight">
              <ValidationProvider
                name="氏名"
                rules="required|max:64"
                v-slot="{ errors }"
              >
                <input
                  type="text"
                  ref="full_name"
                  class="register__Name"
                  v-model="user.full_name"
                  name="full_name"
                />
                <span class="error__message">{{ errors[0] }}</span>
              </ValidationProvider>
            </dd>
            <dt class="register__FormListLeft">
              氏名（カナ）<br class="inline_s">
              <span class="register__Required">必須</span>
              <span class="register__Hikoukai">非公開</span>
            </dt>
            <dd class="register__FormListRight">
              <ValidationProvider
                name="氏名（カナ）"
                rules="required|max:64|katakana"
                v-slot="{ errors }"
              >
                <input
                  type="text"
                  ref="full_name_kana"
                  class="register__Kana"
                  v-model="user.full_name_kana"
                  name="full_name_kana"
                />
                <span class="error__message">{{ errors[0] }}</span>
              </ValidationProvider>
            </dd>
            <dt class="register__FormListLeft">
              電話番号<br class="inline_s">
              <span class="register__Required">必須</span>
              <span class="register__Hikoukai">非公開</span>
            </dt>
            <dd class="register__FormListRight">
              <ValidationProvider
                name="電話番号"
                rules="required|max:15|numeric"
                v-slot="{ errors }"
              >
                <input
                  type="text"
                  ref="phone_number"
                  class="register__Tel"
                  v-model="user.phone_number"
                  @keyup="isNumber($event)"
                  name="phone_number"
                />
                <span class="register__FormTxt"
                  >※ハイフン無しでご入力ください</span
                >
                <span class="error__message">{{ errors[0] }}</span>
              </ValidationProvider>
            </dd>
            <dt class="register__FormListLeft">
              主な利用用途<br class="inline_s">
              <span class="register__Required">必須</span>
              <span class="register__Hikoukai">非公開</span>
            </dt>
            <dd class="register__FormListRight" ref="default_role">
              <ValidationProvider
                name="主な利用用途"
                rules="required"
                v-slot="{ errors }"
              >
                <p class="register__RadioBox">
                  <input
                    id="radio1"
                    class="register__RadioBtn"
                    type="radio"
                    value="1"
                    v-model="user.default_role"
                    name="default_role"
                  />
                  <label for="radio1" class="register__Label"
                    >クライアント</label
                  >
                  <span class="register__FormTxt"
                    >※SNSへの投稿を依頼する場合</span
                  >
                </p>
                <p class="register__RadioBox">
                  <input
                    id="radio2"
                    class="register__RadioBtn"
                    type="radio"
                    value="2"
                    v-model="user.default_role"
                    name="default_role"
                  />
                  <label for="radio2" class="register__Label"
                    >インフルエンサー</label
                  >
                  <span class="register__FormTxt"
                    >※SNSに投稿する場合</span
                  >
                </p>
                <p class="error__message">{{ errors[0] }}</p>
              </ValidationProvider>
            </dd>
          </dl>
        </div>
        <p class="register__Txt">
          <ValidationProvider
            name="利用規約"
            rules="required_if"
            v-slot="{ errors }"
          >
            <span class="register__Checkbox">
              <input
                type="checkbox"
                ref="checkbox"
                class="input_checkbox"
                v-model="user.checkbox"
                id="register__CheckRule"
                name="checkbox"
              />
              <label class="register__CheckInput" for="register__CheckRule">
                <a href="#">利用規約</a>、<a href="#">個人情報保護方針</a
                >に同意する
              </label>
              <p class="error__message">{{ errors[0] }}</p>
            </span>
          </ValidationProvider>
        </p>
        <button class="register__BtnConfirm" type="submit">
          入力内容を確認する
        </button>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  props: {
    input: {
      type: Object,
    },
    email: {
      type: String,
    },
    posturl: {
      type: String,
    },
    csrf: {
      type: String,
    },
  },
  data() {
    return {
      user: {
        password: "",
        re_password: "",
        name: "",
        full_name: "",
        phone_number: "",
        default_role: "",
        checkbox: false,
      },
      password_type: "password",
    };
  },
  watch: {
    "user.phone_number": function (val) {
      this.user.phone_number = val.replace(/\W|[A-Za-z]/g, "");
    },
  },
  created() {
    if (this.input !== null) {
      this.user = this.input;
    }
  },
  methods: {
    isNumber(event) {
      if (!/\d/.test(event.key)) {
        return event.preventDefault();
      }
    },
    togglePassword(type) {
      this.password_type = type;
    },
    async onSubmit(event) {
      const isValid = await this.$refs.observer.validate();
      if (!isValid) {
        event.preventDefault();
      }
    },
  },
};
</script>
<style scoped>
.icon {
  position: absolute;
  font-size: larger;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.input_checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-bottom: 5px;
  cursor: pointer;
}
</style>
