<template>
  <div>
    <Navbar :isShow="'noSearch'"/>

    <div class="register">
  		<div class="register__Inner">
        <h1 class="register__PageTitle">メールアドレスは変更されました。</h1>
      </div>
    </div>
  </div>
</template>

<script>
  import Navbar from './../includes/NavbarPages';

  export default {
    components: {
      Navbar
    },
    data () {
      return {
        countDown: 10
      }
    },
    created () {
      this.countDownTimer()
      this.logoutAll()
    },
    methods: {
      countDownTimer() {
        if(this.countDown > 0) {
          setTimeout(() => {
            this.countDown -= 1
            this.countDownTimer()
          }, 1000)
        } else {
          location.href = '/login'
        }
      },
      logoutAll(){
        axios.post('/email_change', {
          auth: this.$route.query.auth,
          json: true
        })
      }
    }
  }
</script>
