<template>
  <div>
    <div id="_content" class="message__Wrap">
        <input type="checkbox" v-model="sidebar_content" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>

        <div id="_sideContent" class="message__Left">
          <div class="message__ChatTitle">
            <h2 class="message__LeftTitle">メッセージ相手</h2>
          </div>

          <div class="message__ChatContentLeft">
            <div v-for="user in user_list">
              <router-link :to="{name:'project_user_message', params:{id: user.project_user.id}}">
                <div :id="'message-' + user.project_user.id" :class="user.is_read == 0 ? 'message__UserWrapNoread' : ''" class="message__UserWrap" @click="fetchMessages(user.project_user.project.title, user.received_user.id, user.project_user.id, user.received_user.name)">
                  <div class="mainCont__UserPic message__UserPic">
                    <div class="mainCont__UserPicImg" v-bind:style="{ backgroundImage: 'url(' + [user.received_user.avatar_image] + ')'}"></div>
                  </div>
                  <div class="message__UserText">
                    <p class="message__UserTitle ellipsis">
                      <ellipsis :data="user.project_user.project.title" :line-clamp="1" :end-char="' ...'" />
                    </p>
                    <p class="message__UserLead ellipsis">
                      <ellipsis :data="user.sent_user.id != active_user.id ? user.sent_user.name : user.received_user.name" :line-clamp="1" :end-char="' ...'" />
                    </p>
                  </div>
                </div>
              </router-link>
            </div>
          </div>
        </div>

        <div id="_mainContent" class="message__Right" :class="loading ? 'disabled' : ''">
          <div class="message__ChatTitle">
            <h2 class="message__RightTitle" v-if="activeChat.title"><ellipsis :data="activeChat.title +'['+activeChat.recipient_name+']'" :line-clamp="1" :end-char="' ...'" /></h2>
          </div>

            <div class="message__ChatContent">
              <div class="message__ChatMain">
                <div class="message__ChatMainWrap" v-chat-scroll="{smooth: true}">
                  <div :class="message.sent_user.id == active_user.id ? 'message__ClientWrap' : 'message__InfulWrap' " v-for="message in messages">
                    <div class="message__UserIcon message__UserIcon--div" v-if="message.received_user == active_user.id">
                      <div class="message__UserIconImg" v-bind:style="{ backgroundImage: 'url(' +message.sent_user.avatar_image + ')'}"></div>
                    </div>
                    <div :class="message.sent_user.id == active_user.id ? 'message__ClientBox' : 'message__InfulBox'">
                      <p class="message__InfulName" v-if="message.received_user == active_user.id">{{ message.sent_user.name }}</p>
                      <p :class="message.sent_user.id == active_user.id ? 'message__ClientDate' : 'message__InfulDate'">{{ modifyDate(message.created_at) }}</p>
                      <p :class="message.sent_user.id == active_user.id ? 'message__ClientText': 'message__InfulText'">
                       <pre>{{message.content}}</pre>
                      </p>
                      <a
                      :class="message.sent_user.id == active_user.id ? 'message__ClientAttachment': 'message__InfulText'"
                      v-bind:href="'/download/message_attachment/' + message.id">{{ message.attachment_name }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="message__TextareaWrap_p" v-show="activeChat.project_user_id">
                <div class="message__AreaWrap">
                  <div class="message__AreaWrapHeader">
                    <div class="message__AreaWrapUp">
                      <div class="message__AreaWrapBtn">
                        <label class="message__FileWrap">
                          <i class="far fa-file"></i> ファイルを選択する
                          <input ref="fileupload" type="file" name="" class="register__File3" id="fileLi1" @change="fileUpload($event)">
                        </label>
                      </div>
                      <div class="register__FileMessage" id="fileName1">{{attachment["file"]? attachment["name"]: "ファイルが未選択です"}}</div>
                                      <span class="error__message" >{{ customErrors.fileSize }}</span>
                      <div
                      class="register__FileClear"
                      v-if="attachment['file']"
                      @click="removeAttachment"
                      >
                      クリア
                      </div>
                    </div>

                    <div class="message__AreaWrapRight">
                      <p class="message__BtnWrap">
                        <button :class="newMessage || attachment.name? 'message__Btn': 'message__Btn disabled'" @click="sendMessage()" type="button">送信</button>
                      </p>
                    </div>
                  </div>
                    <textarea placeholder="こちらにメッセージを入力してください" class="message__Textarea"
                    maxlength="500"
                    @click="seenMessage"
                    @keyup="saveDraft()"
                    v-model="newMessage"/>
                </div>
              </div>
            </div>
        </div>
      </div>
 </div>
</template>

<script>
import moment from "moment";
import Config from "../../../config/constant";

const config = Config;
export default {
  props: {
    message_users: {
      type: Array,
    },
    message_list: {
      type: Array,
    },
    active_chat: {
      type: Object,
    },
    user: {
      type: Object,
    },
  },
  data() {
    return {
      api_timer: 30000,
      loading: false,
      messages: {},
      sidebar_content: false,
      newMessage: "",
      attachment: { name: null, file: null },
      user_list: {},
      active_user: {},
      activeChat: [
        (user_id) => "",
        (project_user_id) => "",
        (title) => "",
        (recipient_name) => "",
      ],
      customErrors: {
        fileSize: "",
      },
    };
  },
  created(){
    this.user_list = this.message_users
    this.active_user = this.user
    this.setMessagesData()
    this.setDraft()
    setInterval(() => {
      this.fetchAllMessages();
      if (typeof this.$route.params.id !== "undefined") {
        this.updateMessages(this.$route.params.id);
      }
    }, this.api_timer);
  },
  methods: {
    setMessagesData() {
      if (this.active_chat) {
        this.messages = this.message_list;
        this.activeChat = this.active_chat;
        setTimeout(() => {
          $("#message-" + this.active_chat.project_user_id).addClass("active");
        }, 200);
      }
    },

    fetchMessages(title, user_id, project_user_id, recipient_name) {
      this.sidebar_content = false;
      this.loading = true;
      this.activeChat.user_id = user_id;
      this.activeChat.title = title;
      this.activeChat.project_user_id = project_user_id;
      this.activeChat.recipient_name = recipient_name;
      $("#message-" + project_user_id).removeClass("message__UserWrapNoread");
      this.updateMessages(project_user_id);
      this.seenMessage();
    },

    updateMessages(project_user_id) {
      axios.get("project_messages/" + project_user_id).then((response) => {
        this.messages = response.data;
        this.loading = false;
        this.setDraft();
      })
    },

    fetchAllMessages() {
      var url =
        typeof this.$route.params.id == "undefined"
          ? "project_messages_all"
          : `project_messages_all/${this.$route.params.id}`;
      axios.get(url).then((response) => {
        this.user_list = response.data;
        response.data.map((value) => {
          if (value.is_read == 0 && value.sent_user.id != this.user.id) {
            setTimeout(() => {
              $("#message-" + value.project_user.id).addClass(
                "message__UserWrapNoread"
              );
            }, 300);
          }
        });
        setTimeout(() => {
          $(".message__UserWrap").removeClass("active");
          if (typeof this.$route.params.id !== "undefined") {
            $("#message-" + this.$route.params.id).addClass("active");
          }
        }, 100);
      });
    },

    fileUpload(event) {
      this.customErrors.fileSize = "";

      let file = event.target.files[0];
      if (file.size >= 10000000) {
        this.customErrors.fileSize = config.CustomValidationMessage.MaxFileSize;
      } else {
        this.attachment["name"] = file.name;
        this.attachment["file"] = file;
      }
    },
    removeAttachment() {
      this.attachment["name"] = "";
      this.attachment["file"] = "";
    },

    seenMessage() {
      axios.get(`seen_messages/${this.activeChat.project_user_id}`);
      $("#message-" + this.activeChat.project_user_id).removeClass(
        "message__UserWrapNoread"
      );
    },

    saveDraft(){
      const date = new Date();
      //add 7 days in current date
      date.setDate(date.getDate() + 7);

      const draftMessage = {
        value: this.newMessage,
        expiry: date
      }

      localStorage.setItem('messageDraft:project_user_id:' + this.activeChat.project_user_id, JSON.stringify(draftMessage))
    },

    setDraft(){
      const draftStr = localStorage.getItem('messageDraft:project_user_id:' + this.activeChat.project_user_id)
      this.newMessage = ''

      if(draftStr) {
        const draft = JSON.parse(draftStr)
        const now = new Date()

        if(now.getTime() > draft.expiry) {
          localStorage.removeItem('messageDraft:project_user_id:' + this.activeChat.project_user_id)
        } else {
          this.newMessage = draft.value
        }
      }
    },

    updateUserList(){
      var index = this.user_list.map(function(e) { return e.project_user.id }).indexOf(parseInt(this.$route.params.id));
      var temp_data = this.user_list[index]

      this.user_list.splice(index, 1);
      this.user_list.unshift(temp_data);
      this.api_timer = 30000;
      setTimeout(() => {
        $(".message__UserWrap").removeClass("active");
        $("#message-" + this.$route.params.id).addClass("active");
      }, 200);
    },

    sendMessage() {
      $('.message__Btn').addClass("disabled")
      const data = new FormData();
      data.append("receiver", this.activeChat.user_id);
      data.append("project_user_id", this.activeChat.project_user_id);
      data.append("title", this.activeChat.title);
      data.append("message", this.newMessage);

      if (this.attachment["file"]) {
        data.append("attachment", this.attachment["file"]);
      }

      const headers = { "content-type": "multipart/form-data" };

      axios.post("project_messages", data, { headers }).then((res) => {
        if (res.data.status == 200) {
          this.updateUserList();
          this.messages.push({
            id: res.data.message_id,
            sent_user: {
              id: this.active_user.id,
            },
            received_user: "",
            content: this.newMessage,
            attachment_name: this.attachment.name
          });
          this.newMessage = "";
          this.$refs.fileupload.value=null;
          this.removeAttachment();
          localStorage.removeItem('messageDraft:project_user_id:' + this.activeChat.project_user_id)
        }
      });
    },

    modifyDate(date) {
      return moment(date).format("MM/DD HH:mm:ss");
    },
  },
};
</script>
