<template>
  <div>
    <div class="mainCont__Box">

      <h2 class="mainCont__Title1">
        直近の募集実績
      </h2>

      <div class="matter" v-for="(value,key) in data.projects">
        <div href="#" class="matter__Box">
          <div class="matter__Detail">
            <h3 class="matter__Title">{{value.title}}</h3>
            <ul class="tag">
              <li class="tag__Inner" v-for="(v,k) in data.has_many_genres">
                #{{ v.name }}
              </li>
            </ul>
            <ul class="matter__SnsIcons">
              <li class="matter__SnsIconsLi" v-if="value.post_sns_code.split(',').some(el => el == 1)">
               <a href="#" class="matter__SnsIcon">
                 <i class="fab fa-tiktok"></i>
                </a>
              </li>
              <li class="matter__SnsIconsLi" v-if="value.post_sns_code.split(',').some(el => el == 2)">
                <a href="#" class="matter__SnsIcon">
                   <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li class="matter__SnsIconsLi" v-if="value.post_sns_code.split(',').some(el => el == 3)">
                <a href="#" class="matter__SnsIcon">
                   <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="matter__SnsIconsLi" v-if="value.post_sns_code.split(',').some(el => el == 4)">
                <a href="#" class="matter__SnsIcon">
                   <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="matter__SnsIconsLi" v-if="value.post_sns_code.split(',').some(el => el == 5)">
                <a href="#" class="matter__SnsIcon">
                   <i class="fab fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="matter__PriceBox">
            <p class="matter__PriceTitle">1人あたりの報酬</p>
            <p class="matter__Price">
              {{ value.reward_amount }}<span class="matter__PriceYen">円</span>
            </p>
          </div>
          <p class="matter__Date">
            掲載日：{{ modifyDate(value.created_at) }}
          </p>
        </div>
      </div>

    </div>

    <div class="mainCont__Box">

      <h2 class="mainCont__Title1">
        直近の評価実績
      </h2>

      <div class="mainCont__Evaluation" v-for="(value,key) in data.project_client_comment" v-if="key < 4">
        <div class="mainCont__EvaluationIconBad" v-if="value.influencer_eva == 2">
          Bad
        </div>
        <div class="mainCont__EvaluationIconGood" v-else>
          Good!
        </div>
        <div class="mainCont__EvaluationTxt">
          <p>
            <span v-html="value.influencer_comment"></span>
          </p>
          <span class="mainCont__EvaluationDate">{{ modifyDate(value.reported_at) }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: ['data'],
  name: 'sidebar',
  data() {
    return {
    }
  },
  created() {
  },
  methods: {
    modifyDate(date){
      return moment(date).format('YYYY年M月D日');
    },
  }
}
</script>
