<template>
  <div class="mainCont__Right">
    <h1 class="mainCont__Title2">
      ユーザー情報編集
    </h1>
    <p>充実させるとお仕事のマッチング率が高まります。</p>
    <p class="mainCont__ContirmBox">
      <a :href="`/profile/${data.uuid}/${data.default_role == 1 ? 'client' : 'influencer'}`" target="_blank" class="mainCont__Btn1">現在の表示を確認する</a>
    </p>
    <div class="tabs">
      <input id="housyu" type="radio" name="tab_item" :checked="retain_tab == 1" @click="retainTab(1)">
      <label class="tab_item  tab_item2" for="housyu">プロフィール</label>

      <input id="furikomi" type="radio" name="tab_item" :checked="retain_tab == 2" @click="retainTab(2)">
      <label class="tab_item  tab_item2" for="furikomi">ユーザー情報</label>

      <input id="credit" type="radio" name="tab_item" :checked="retain_tab == 3" @click="retainTab(3)">
      <label class="tab_item  tab_item2" for="credit">SNS情報</label>

      <input id="hurikomi" type="radio" name="tab_item" :checked="retain_tab == 4" @click="retainTab(4)">
      <label class="tab_item" for="hurikomi">振込先口座情報</label>

      <input id="login" type="radio" name="tab_item" :checked="retain_tab == 5" @click="retainTab(5)">
      <label class="tab_item" for="login">ログイン情報</label>

      <input id="mail" type="radio" name="tab_item" :checked="retain_tab == 6" @click="retainTab(6)">
      <label class="tab_item" for="mail">メール配信設定</label>

      <div class="tab_content" id="housyu_content">
        <housyu :data="data" :file_name="file_name" :success_mgs="success_mgs" :upload_image="uploadImage" :save_profile="saveProfile" :error="error" :img_err="img_err" />
      </div>
      <div class="tab_content" id="furikomi_content">
        <furikomi :data="data" :prefectures="prefectures" :birthday="birthday" :check_kana="checkKana" :save_information="saveInformation" :success_mgs="success_mgs" :error="error" :kana_err="kana_err" />
      </div>
      <div class="tab_content" id="credit_content">
        <credit :data="data" :genres="genres" :others="others" :change_others="changeOthers" :checked="checked" @save_genres="saveGenres" :success_mgs="success_mgs" :sns_list="sns_list"/>
      </div>
      <div class="tab_content" id="hurikomi_content">
        <div class="tab_content_description">
          振込先口座情報の編集を行えます。
          <ul class="tab_content__List">
            <li>・報酬の出金をするためには、出金方式にて「自動出金ON」とし「振込先口座の登録」が必要です。</li>
            <li>・楽天銀行をご登録いただくと振込手数料は100円(税抜)です。それ以外の銀行の場合は、振込手数料が500円(税抜)必要です。</li>
          </ul>
          <form class="register register2">
            <div class="register__FormBox">
              <dl class="register__FormList">
                <dt class="register__FormListLeft2">
                  <h3 class="mainCont__Title1">出金方式</h3>
                </dt>
                <dd class="register__FormListRight2">
                  <span class="switch__Title">自動出金</span>
                  <label>
                    <input type="checkbox" class="switch__Input" name="" v-model="withdrawal_method" @click="changeWithdrawalMethod()"  true-value=1 false-value=0>
                    <span class="switch"></span>
                  </label>
                  <div class="off" v-if="withdrawal_method == 0">
                    <div class="register__GrayBox">
                      <p class="register__GrayBoxTitle">自動出金が設定されていません</p>
                      <p class="register__GrayBoxP">
                        報酬額の額に関わらず、お振込みされません。<br>報酬を設定済みの口座へ振込むためには、自動出金をONに設定する必要があります。
                      </p>
                      <a href="#" class="register__GrayBoxLink">
                      詳しくはこちら
                      </a>
                    </div>
                  </div>
                  <div class="on" v-if="withdrawal_method == 1">
                    <div class="register__GrayBox register__BlueBox">
                      <p class="register__GrayBoxTitle">自動出金が設定されています</p>
                      <p class="register__GrayBoxP">
                        月末時点の報酬残高が1,000円以上の場合、翌月10日に設定済みの振込先口座へお振込み致します。<br>
                        月末時点の報酬残高が1,000円未満の場合、自動的に次回以降に振込みが繰り延べとなります。<br>
                        ※振込予定日が土日祝日など銀行休業日の場合、その前営業日に振込みとなります。
                      </p>
                      <a href="#" class="register__GrayBoxLink">
                      詳しくはこちら
                      </a>
                    </div>
                  </div>
                  <a class="register__BtnGenre" @click="saveWithdrawalMethod()">出金方式を保存する</a>
                  <div class="register__FormSuccessMessage">
                    <span class="message__success" v-if="success_mgs.auto_pay">{{ success_mgs.auto_pay }}</span>
                  </div>
                </dd>

                <dt class="register__FormListLeft2">
                  <h3 class="mainCont__Title1">振込先口座</h3>
                </dt>
                <dd class="register__FormListRight2">
                  <dl class="register__FormList">
                    <dt class="register__FormListLeft">
                      金融機関
                    </dt>
                    <dd class="register__FormListRight">
                      <input type="text" class="register__inputBox" v-model="bank_code" @blur="filteredBanks = []" @keyup="filterBanks">
                      <ul class="register__bankList" v-show="bank_code && filteredBanks.length > 0">
                        <li v-for="bank, key in filteredBanks" v-on:mousedown="selectBank(bank)" :inner-html.prop="bank | highlight(bank_code)" :key="key" />
                      </ul>
                      <span class="register__FormListStxt">
                        ゆうちょ銀行を登録する場合は、振込用の店名・預金種目・口座番号が必要です。<br>
                        通帳に記載されている記号（5桁）、番号（8桁以下）では、お振込みできませんのでご注意ください。<br>
                        振込用の口座番号等は、<a href="https://www.jp-bank.japanpost.jp/kojin/sokin/furikomi/kouza/kj_sk_fm_kz_1.html" target="_blank">こちら （ゆうちょ銀行ご参考ページ）</a>でご確認いただけます。<br>
                        ※詳しくはゆうちょ銀行にお問い合わせください。</span>
                    </dd>
                    <dt class="register__FormListLeft">
                      支店名
                    </dt>
                    <dd class="register__FormListRight">
                      <input type="text" class="register__inputBox" v-model="branch_code" @blur="filteredBranch = []" @keyup="filterBranch" :disabled="!bank_code || !branches.length > 0">
                      <ul class="register__bankList" v-show="branch_code && filteredBranch.length > 0">
                        <li :value="branch.code" v-for="branch, key in filteredBranch" v-on:mousedown="selectBranch(branch)" :inner-html.prop="branch | highlight(branch_code)" :key="key" />
                      </ul>
                    </dd>
                    <dt class="register__FormListLeft">
                      口座種別
                    </dt>
                    <dd class="register__FormListRight">
                      <p class="register__RadioBox">
                        <input id="radio6" class="register__RadioBtn" v-model="data.bank_account.account_type" name="hoge" type="radio" value="1">
                        <label for="radio6" class="register__Label">普通</label>
                      </p>
                      <p class="register__RadioBox">
                        <input id="radio7" class="register__RadioBtn" v-model="data.bank_account.account_type" name="hoge" type="radio" value="2">
                        <label for="radio7" class="register__Label">当座</label>
                      </p>
                      <div class="error__message">{{ account_type_err }}</div>
                    </dd>
                    <dt class="register__FormListLeft">
                      口座番号
                    </dt>
                    <dd class="register__FormListRight">
                      <input type="text" placeholder="" class="register__Tel" v-model="data.bank_account.account_number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="7">
                      <span class="register__FormListStxt">
                        ※半角数字7文字（6桁以下の場合は頭に0をつけてください）
                      </span>
                    </dd>
                    <dt class="register__FormListLeft">
                      口座名義人
                    </dt>
                    <dd class="register__FormListRight">
                      <input type="text" class="register__Name" v-model="data.bank_account.account_name" maxlength="32">
                      <span class="register__FormListStxt">
                        全角カタカナ 全角英字 32文字以内　例）クラウドタロウ
                      </span>
                      <span class="error__message" v-if="kana_err">{{ kana_err }}</span>
                    </dd>
                  </dl>
                  <a class="register__BtnGenre" @click="toggleBankModal()">振込先口座を保存する</a>
                  <div class="register__FormSuccessMessage">
                    <span class="message__success" v-if="success_mgs.sns">{{ success_mgs.sns }}</span>
                  </div>

                  <div class="confirmation__modal" v-if="bank_modal">
                    <div class="confirmation__modalInner" style="top: 15% !important">
                      <button type="button" class="confirmation__close" @click="toggleBankModal" />

                      <h3 class="mainCont__Title1">振込先口座</h3>
                      <dd class="register__FormListRight2">
                        <dl class="register__FormList">
                          <dt class="register__FormListLeft">
                            金融機関
                          </dt>
                          <dd class="register__FormListRight">
                            {{ bank_code }}
                          </dd>
                          <dt class="register__FormListLeft">
                            支店名
                          </dt>
                          <dd class="register__FormListRight">
                            {{ branch_code }}
                          </dd>
                          <dt class="register__FormListLeft">
                            口座種別
                          </dt>
                          <dd class="register__FormListRight">
                            {{ data.bank_account.account_type == 1 ? '普通' : '当座' }}
                          </dd>
                          <dt class="register__FormListLeft">
                            口座番号
                          </dt>
                          <dd class="register__FormListRight">
                            {{ data.bank_account.account_number }}
                          </dd>
                          <dt class="register__FormListLeft">
                            口座名義人
                          </dt>
                          <dd class="register__FormListRight">
                            {{ data.bank_account.account_name }}
                          </dd>
                        </dl>
                        <a class="register__BtnGenre" @click="saveBankAccount()">振込先口座を保存する</a>
                        <center><span class="error__message" v-if="kana_err">{{ kana_err }}</span></center>
                      </dd>
                    </div>
                  </div>
                </dd>
              </dl>
            </div>
          </form>
        </div>
      </div>
      <div class="tab_content" id="login_content">
        <div class="tab_content_description">
          ログイン情報の編集を行えます。
          <div class="register register2">
            <dt class="register__FormListLeft2">
              <h3 class="mainCont__Title1">メールアドレス変更</h3>
            </dt>
            <div class="register__FormBox">
              <ValidationObserver ref="emailValidation">
                <dl class="register__FormList">
                  <dt class="register__FormListLeft">
                    現在のメールアドレス
                  </dt>
                  <dd class="register__FormListRight">
                    {{ data.email }}
                  </dd>
                  <dt class="register__FormListLeft">
                    変更後のメールアドレス
                  </dt>
                  <dd class="register__FormListRight">
                    <ValidationProvider
                      name="メールアドレス"
                      rules="required|email|max:255"
                      v-slot="{ errors }"
                      mode="passive"
                    >
                      <input type="email" v-model="email" placeholder="例）info@buzzlink.jp" class="register__Email2">
                      <p class="error__message" v-if="!isOpen" v-for="err, key in sendEmailErrs" :key="key">{{ err }}</p>
                      <span class="error__message">{{ errors[0] }}</span>
                      <span class="error__message">{{ email_err }}</span>
                    </ValidationProvider>
                  </dd>
                </dl>

                <button class="register__BtnEmail" @click="toggleModal" type="button">メールアドレスを変更する</button>
                <div class="register__FormSuccessMessage">
                  <span class="message__success" v-if="success_mgs.sendResetEmail">{{ success_mgs.sendResetEmail }}</span>
                </div>
              </ValidationObserver>

              <div class="m-top--60">
                <h3 class="mainCont__Title1">パスワード変更</h3>
              </div>
              <div class="password__modal" v-if="isOpen">
                <div class="password__confirmation">
                  <button type="button" class="password__close" @click="toggleModal"></button>
                  <h1 class="password__label">パスワードを入力してください。</h1>
                  <input type="password" v-model="password" class="password__textboxconf">
                  <p class="error__message" style="margin-bottom: 10px" v-for="err, key in sendEmailErrs" :key="key">{{ err }}</p>
                  <button class="register__BtnPassword" @click="sendResetEmail" type="button">メールアドレスを変更する</button>
                </div>
              </div>
              <a href="/password/reset" class="register__BtnPassword">パスワードを変更する</a>
              <div class="register__FormSuccessMessage">
                <span class="message__success" v-if="success_mgs.password">{{ success_mgs.password }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="mail_content">
        <div class="tab_content_description">
          Eメールの配信設定を行えます。
          <ul class="tab_content__List">
            <li>Eメール配信を「ON」に設定頂くことで、案件期限超過の防止、お知らせの確認漏れなどを防止することに役立ちます。</li>
          </ul>
          <div class="mainCont__MailBox">
              <div class="mainCont__MailTitle">配信先Eメールアドレス</div>
              <div class="mainCont__Mail">{{ data.email }}</div>
          </div>
          <div class="register register2">
            <div class="register__FormBox">
              <dl class="register__FormList">
                <dt class="register__FormListLeft2">
                  <h3 class="mainCont__Title1">Eメールの配信登録/停止</h3>
                </dt>
                <dd class="register__FormListRight2">
                  <span class="switch__Title">Eメール配信</span>
                  <label>
                    <input type="checkbox" class="switch__Input" :checked="email_reject_setting ? 'checked' : ''" @click="toggleEmailRejectSetting()">
                    <span class="switch"></span>
                  </label>
                  <div v-if="email_reject_setting">
                    <div class="register__GrayBox register__BlueBox">
                      <p class="register__GrayBoxTitle">Eメールによるお知らせを配信します</p>
                      <p class="register__GrayBoxP">
                        案件に関するお知らせ、運営からのお知らせなどをEメールで配信します。
                      </p>
                    </div>
                  </div>
                  <div v-else>
                    <div class="register__GrayBox">
                      <p class="register__GrayBoxTitle">Eメールによるお知らせは配信されません</p>
                      <p class="register__GrayBoxP">
                        一部のメールにつきましては、配信設定に関わらず配信を行います。予めご了承ください。
                      </p>
                    </div>
                  </div>
                  <button class="register__BtnConfirm" type="button" @click="saveEmailRejectSetting()">保存する</button>

                  <div class="register__FormSuccessMessage">
                    <span class="message__success" v-if="success_mgs.reject_setting">{{ success_mgs.reject_setting }}</span>
                    <span class="error__message" v-if="error.email_reject_setting">{{ error.email_reject_setting }}</span>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FormData from 'form-data';

  import Housyu from './edit/Housyu';
  import Furikomi from './edit/Furikomi';
  import Credit from './edit/Credit';

  import UserService from "../../../service/user/user.service";
  import UserCategory from "../../../service/user-category/user-category.service";
  import BankAccountService from "../../../service/bank-account/bank-account.service";
  import Config from "../../../config/constant";

  const config = Config;

  const userService = new UserService();
  const userCategory = new UserCategory();
  const bankAccountService = new BankAccountService();

  export default {
    props: {
      user: Object,
      prefecture_list: Array,
      genre_list: Array,
      sns_list: Array
    },
    data() {
      return {
        data: {
          uuid: "",
          updated_user: 0,
          file_name: "",
          name: "",
          is_profile_update: 1,
          has_many_genres: [],
          bank_account: {
            is_auto_pay: 0,
            account_type: 0,
            acount_number: 0,
            account_name: "",
            code: "",
            branch_code: "",
          },
        },
        email_reject_setting: true,
        bank_modal: false,
        file_name: "ファイルが未選択です",
        bank_code: "",
        branch_code: "",
        banks: [],
        filteredBanks: [],
        branches: [],
        filteredBranch: [],
        genres: [],
        error: {
          email_reject_setting:'',
        },
        email: "",
        email_err: "",
        password: "",
        sendEmailErrs: [],
        account_type_err: "",
        isOpen: false,
        img_err: "",
        kana_err: "",
        success_mgs: {
          profile: "",
          info: "",
          password: "",
          genres: "",
          sns: "",
          auto_pay: "",
          sendResetEmail: "",
          reject_setting: ''
        },
        prefectures: {},
        birthday: {
          year: "",
          day: "",
          month: "",
        },
        others: "",
        withdrawal_method: 1,
        bank_account: {
          is_auto_pay: 0,
          account_type: "",
          acount_number: "",
          account_name: "",
          code: "",
          branch_code: "",
        },
        retain_tab: 1,
      };
    },
    components: {
      Housyu, Furikomi, Credit
    },
    mounted() {
      this.init();
      this.getBanks();
    },
    watch: {
      'data.bank_account.account_name': function(val){
        this.data.bank_account.account_name = val.replace(/[！“＃＄％＆‘【】0＝〜｜『』＊｀＋？＞＜＿、。・!$%^&@#*_+|~=`{}\\\[\]:";'<>?,.\/]/, "");
      }
    },
    filters: {
      highlight: function (words, query) {
        return words.replace(
          query,
          '<span style="font-weight: bold">' + query + "</span>"
        );
      },
    },
    methods: {
      init() {
        this.data = this.user;
        this.prefectures = this.prefecture_list;
        this.genres = this.genre_list;

        this.checkUserInfo();

        if(this.user.email_reject_setting){
          this.email_reject_setting = false
        }

        this.data.updated_user = this.data.id;
        this.withdrawal_method = this.data.bank_account.is_auto_pay;

        const others = this.data.has_many_genres.filter((e) => e.genre_id == 16);

        if (others.length > 0) this.others = others[0].name;

        if (this.data.birthday != null) {
          const birthday = this.data.birthday.split("-");
          this.birthday.year = birthday[0];
          this.birthday.month = birthday[1];
          this.birthday.day = birthday[2];
        }

        this.data.avatar_image =
          this.data.avatar_image == null
            ? "/assets/user.png"
            : this.data.avatar_image;

        this.setRetainTab();
      },
      getBanks() {
        axios.get("/bank_list").then((res) => {
          this.banks = res.data.bank_list;
          this.bank_code = res.data.selected_bank;
          this.getBranch();
        });
      },
      selectBank(name) {
        this.data.bank_account.code = name.slice(0, 4);
        this.bank_code = name;
        this.branch_code = "";
        this.getBranch();
      },
      selectBranch(name) {
        this.data.bank_account.branch_code = name.slice(0, 4);
        this.branch_code = name;
      },
      getBranch() {
        if (this.data.bank_account.code) {
          axios
            .get(`/branch_list?bank_code=${this.data.bank_account.code}`)
            .then((res) => {
              this.branches = res.data.branch_list;
              this.branch_code = res.data.selected_branch;
            });
        }
      },
      checkKana(e) {
        if (!/^([ァ-ン]+)$/.test(e.target.value)) {
          this.kana_err = "氏名（カナ）は必須です。";
        } else {
          this.kana_err = "";
        }
      },
      convertKana() {
        const regex = new RegExp(
          /ァ|ィ|ゥ|ェ|ォ|ヵ|ヶ|ッ|ャ|ュ|ョ|ヮ|\(|\)|ｰ|ー|-|−/,
          "g"
        );
        let convert_val = this.data.bank_account.account_name;

        convert_val = convert_val
          .replace(/[!$%^&@#*_+|~=`{}\\\[\]:";'<>?,.\/]/, "")
          .replace(/[A-Za-z0-9\s]/g, function (s) {
            return String.fromCharCode(s.charCodeAt(0) + 65248);
          })
          .replace(/[ａ-ｚ]/g, function (s) {
            return String.fromCharCode(s.charCodeAt(0) - 32);
          })
          .replace(/[あ-ん]/g, function (s) {
            return String.fromCharCode(s.charCodeAt(0) + 96);
          })
          .replace(regex, (match) => config.char_map[match]);

        this.data.bank_account.account_name = convert_val;
      },
      saveProfile() {
        if (this.data.self_introduction != "")
          this.data.self_introduction = document
            .getElementById("self_intro")
            .value.replace(/\n/g, "<br />");

        let form_data = new FormData();
        form_data.set('self_introduction', this.data.self_introduction);
        form_data.set('updated_user', this.data.updated_user);
        form_data.set('is_profile_update', this.data.is_profile_update);
        if (this.data.image) {
          form_data.append('image', this.data.image, this.data.image.name);
          form_data.set('file_name', this.data.file_name);
        }
        let headers = {
          headers: {
            'accept': 'application/json',
            'Accept-Language': 'en-US,en;q=0.8',
            'Content-Type': this.data.image ? `multipart/form-data; boundary=${form_data._boundary}` : 'application/json',
          }
        };

        userService
          .update(form_data, headers)
          .then((response) => {
            this.data = response.data.data;
            this.init();
            this.checkUserInfo();
            this.success_mgs.profile = response.data.message;
            this.removeSuccessMsg();
            this.img_err = '';
            this.error = {};
            this.file_name = 'ファイルが未選択です';
            setInterval(() => {
              location.reload();
            }, 2000);
          })
          .catch((err) => {
            this.error = err.response.data.errors;
          });
      },
      saveInformation() {
        if (this.kana_err != "") return;
        this.data.birthday = `${this.birthday.year}-${this.birthday.month}-${this.birthday.day}`;
        if (this.data.birthday === '--') {
          this.data.birthday = ''
        }

        userService
          .updateInformation(this.data)
          .then((response) => {
            this.success_mgs.info = response.data.message;
            this.data = response.data.data;
            this.checkUserInfo();
            this.removeSuccessMsg();
            this.error = {};
          })
          .catch((err) => {
            this.error = err.response.data.errors;
          });
      },
      changeOthers(e) {
        if (e.target.checked === false) {
          this.others = "";
          this.data.has_many_genres = this.data.has_many_genres.filter(
            (e) => e.genre_id != 16
          );
        }
      },
      saveGenres(others) {
        const genres = {
          name: others,
          genre_id: 16,
          user_id: this.data.id,
          created_user: this.data.id,
          updated_user: this.data.id,
        };
        if (others !== "") {
          this.data.has_many_genres = this.data.has_many_genres.filter(e => e.genre_id != 16);
          this.data.has_many_genres.push(genres);
        };
        userCategory
          .store(this.data.has_many_genres)
          .then((response) => {
            this.success_mgs.genres = response.data.message;
            this.checkUserInfo();
            this.removeSuccessMsg();
            this.error = {};
          })
          .catch((err) => {
            this.error = err.response.data.errors;
          });
      },
      checked(value, e) {
        const genres = {
          name: value.name,
          genre_id: value.id,
          user_id: this.data.id,
          created_user: this.data.id,
          updated_user: this.data.id,
        };
        if (e.target.checked === true) this.data.has_many_genres.push(genres);
        else
          this.data.has_many_genres = this.data.has_many_genres.filter(
            (e) => e.name != value.name
          );
      },
      savePassword() {
        userService
          .updatePassword(this.data)
          .then((response) => {
            this.data = response.data.data;
            this.checkUserInfo();
            this.success_mgs.password = response.data.message;
            this.error = {};
            this.removeSuccessMsg();
          })
          .catch((err) => {
            this.error = {};
            this.error = err.response.data.errors;
          });
      },
      saveWithdrawalMethod() {
        this.data.bank_account.is_auto_pay = this.withdrawal_method;
        bankAccountService.store(this.data.bank_account).then((response) => {
          this.success_mgs.auto_pay = response.data.message;
          this.checkUserInfo();
          this.removeSuccessMsg();
        });
      },
      changeWithdrawalMethod() {
        this.withdrawal_method = this.withdrawal_method == 0 ? 1 : 0;
      },
      saveBankAccount() {
        if (!this.data.bank_account.account_type) {
          this.account_type_err = "口座種別は必須です。";
        } else {
          bankAccountService.store(this.data.bank_account).then((response) => {
            this.data.bank_account = response.data.data.bank_account;
            this.withdrawal_method = this.data.bank_account.is_auto_pay;
            this.success_mgs.sns = "振込先口座が更新されました。";
            this.kana_err = "";
            this.account_type_err = "";
            this.toggleBankModal();
            this.checkUserInfo();
            this.removeSuccessMsg();
          });
        }
      },
      saveEmailRejectSetting() {
        axios.post('/update_email_reject', {
          email_reject_setting: this.email_reject_setting
        }).then(res => {
          if(res.status == 200){
            this.success_mgs.reject_setting = config.successMessage.emailRejectSetting;
            this.removeSuccessMsg();
          }
        }).catch(err => {
          this.error.email_reject_setting = config.responseMessage.InternalServerError
        })
      },
      uploadImage(e) {
        if (e.target.files[0].size / 1024 / 1000 > 3) {
          this.img_err = "ファイルが大きすぎます。";
          return;
        }

        let files = e.target.files || e.dataTransfer.files;

        this.data.file_name = files[0].name;
        this.file_name = files[0].name;

        this.createImage(files);
        this.img_err = "";
      },
      createImage(file) {
        this.data.image = file[0];
        let self = this;
        let fileReader = new FileReader();
        fileReader.readAsDataURL(file[0]);
        fileReader.onload = (e) => {
          self.data.avatar_image = e.target.result;
        };
      },
      showSucce() {
        setTimeout(() => {
          this.success_mgs = {
            sns: "",
            auto_pay: "",
          };
        }, 5000);
      },
      removeSuccessMsg() {
        setTimeout(() => {
          Object.assign(this.$data.success_mgs, this.$options.data().success_mgs);
        }, 6000);
      },
      checkUserInfo() {
        if (
          this.data.self_introduction != null &&
          this.data.self_introduction != ""
        )
          this.data.self_introduction = this.data.self_introduction.replace(
            /<br ?\/?>/gi,
            "\n"
          );
        if (this.data.bank_account == null)
          this.data.bank_account = this.bank_account;
      },
      filterBanks() {
        this.branches = [];
        this.filteredBanks = this.banks.filter((bank) => {
          return bank.match(this.bank_code);
        });
      },
      filterBranch() {
        this.filteredBranch = this.branches.filter((branch) => {
          return branch.match(this.branch_code);
        });
      },
      async toggleModal() {
        this.email_err = "";

        if(this.data.email == this.email){
          this.email_err = '他のメールアドレスを使用してください。'
        }

        const isValid = await this.$refs.emailValidation.validate();
        if(isValid && this.email_err.length == 0){
          this.isOpen = !this.isOpen;
        }

        if(this.isOpen){
          document.body.classList.add("modal-open");
        } else {
          document.body.classList.remove("modal-open");
        }

        this.sendEmailErrs = [];
      },
      getErrorResponeMessages(errResponse) {
        switch (errResponse.status) {
          case config.httpCode.BadRequest:
            return [errResponse.data.message];
          case config.httpCode.UnprocessableEntity:
            let errMessages = Object.values(errResponse.data.errors);
            errMessages = errMessages.map((message) => message[0]);
            return errMessages;
          default:
            return [config.responseMessage.InternalServerError];
        }
      },
      toggleBankModal(){
        this.bank_modal = !this.bank_modal
        if(this.bank_modal){
          document.body.classList.add("modal-open");
          this.password_err = ''
        } else {
          document.body.classList.remove("modal-open");
        }

        this.convertKana()
      },
      sendResetEmail() {
        axios
          .post("/email/reset", {
            email: this.email,
            password: this.password,
          })
          .then((res) => {
            this.isOpen = false;
            document.body.classList.remove("modal-open");
            this.success_mgs.sendResetEmail = res.data.message;
            this.removeSuccessMsg();
          })
          .catch((err) => {
            if(err.response.data.message != 'パスワードが一致しません。'){
              this.isOpen = false;
              document.body.classList.remove("modal-open");
            }

            this.sendEmailErrs = this.getErrorResponeMessages(err.response);
            this.password = "";
          });
      },
      retainTab(status) {
        localStorage.setItem("mypageprofile-tab", status);
        this.setRetainTab();
      },
      setRetainTab() {
        const urlHash = this.getUrlHashParams();
        if (urlHash == '振込先口座情報')
        {
          this.retain_tab = 4
        } else {
          this.retain_tab =
            localStorage.getItem("mypageprofile-tab") == undefined
              ? this.retain_tab
              : localStorage.getItem("mypageprofile-tab");
        }
      },
      toggleEmailRejectSetting() {
        this.email_reject_setting = !this.email_reject_setting
      }
    },
  };
</script>
<style scoped>
  .register__BtnGenre {
    padding: 8px 0px;
  }

  .register__inputBox {
    width: 350px;
    padding: 15px;
    font-size: 16px;
    position: relative;
    border: 1px solid #ddd;
  }
</style>
