<template>
  <div>
    <div class="mainCont__Box">

      <h2 class="mainCont__Title1">
        得意なジャンル
      </h2>

      <ul class="mainCont__Genre">
        <li class="mainCont__GenreLi" v-for="(value,key) in data.has_many_genres">
          {{ value.name }}
        </li>
        
      </ul>
    </div>

    <div class="mainCont__Box">
      <h2 class="mainCont__Title1">
        依頼可能なSNS
      </h2>
      <div class="mainCont__SnsBox">
        <p class="mainCont__SnsIcon">
          YouTube<br class="inline_p">
          <i class="fab fa-youtube"></i>
        </p>
        <dl class="mainCont__SnsDetail">
          <dt class="mainCont__SnsTitle">チャンネル登録者数</dt>
          <dd  class="mainCont__SnsTxt">1,000</dd>
          <dt class="mainCont__SnsTitle">チャンネル再生回数</dt>
          <dd  class="mainCont__SnsTxt">1,000</dd>
          <dt class="mainCont__SnsTitle">アップロード動画数</dt>
          <dd  class="mainCont__SnsTxt">700</dd>
        </dl>
      </div>
      <div class="mainCont__SnsBox">
        <p class="mainCont__SnsIcon">
          Instagram<br class="inline_p">
          <i class="fab fa-instagram"></i>
        </p>
        <dl class="mainCont__SnsDetail">
          <dt class="mainCont__SnsTitle">フォロワー数</dt>
          <dd  class="mainCont__SnsTxt">1,000</dd>
          <dt class="mainCont__SnsTitle">投稿数</dt>
          <dd  class="mainCont__SnsTxt">1,000</dd>
        </dl>
      </div>
      <div class="mainCont__SnsBox">
        <p class="mainCont__SnsIcon">
          Facebook<br class="inline_p">
          <i class="fab fa-facebook"></i>
        </p>
        <dl class="mainCont__SnsDetail">
          <dt class="mainCont__SnsTitle">フォロワー数</dt>
          <dd  class="mainCont__SnsTxt">1,000</dd>
          <dt class="mainCont__SnsTitle">投稿数</dt>
          <dd  class="mainCont__SnsTxt">1,000</dd>
        </dl>
      </div>
      <div class="mainCont__SnsBox">
        <p class="mainCont__SnsIcon">
          Twitter<br class="inline_p">
          <i class="fab fa-twitter"></i>
        </p>
        <dl class="mainCont__SnsDetail">
          <dt class="mainCont__SnsTitle">フォロワー数</dt>
          <dd  class="mainCont__SnsTxt">1,000</dd>
          <dt class="mainCont__SnsTitle">ツイート数</dt>
          <dd  class="mainCont__SnsTxt">1,000</dd>
        </dl>
      </div>
      <div class="mainCont__SnsBox">
        <p class="mainCont__SnsIcon">
          TikTok<br class="inline_p">
          <i class="fab fa-tiktok"></i>
        </p>
        <dl class="mainCont__SnsDetail">
          <dt class="mainCont__SnsTitle">フォロワー数</dt>
          <dd  class="mainCont__SnsTxt">1,000</dd>
          <dt class="mainCont__SnsTitle">投稿数</dt>
          <dd  class="mainCont__SnsTxt">1,000</dd>
        </dl>
      </div>
    </div>

    <div class="mainCont__Box">

      <h2 class="mainCont__Title1">
        直近の契約実績
      </h2>

      <div class="matter" v-for="(value,key) in data.project_influencer">
        <div href="#" class="matter__Box">
          <div class="matter__Detail">
            <h3 class="matter__Title">{{value.project.title}}</h3>
            <ul class="matter__TagList">
              <li class="tag__Inner" v-for="(v,k) in value.project.has_many_user_category">
                # {{ v.name }}
              </li>
            </ul>
            <ul class="matter__SnsIcons" v-if="value.project.post_sns_code.split(',').some(el => el == 1)">
              <li class="matter__SnsIconsLi">
               <a href="#" class="matter__SnsIcon">
                 <i class="fab fa-tiktok"></i>
                </a>
              </li>
              <li class="matter__SnsIconsLi" v-if="value.project.post_sns_code.split(',').some(el => el == 2)">
                <a href="#" class="matter__SnsIcon">
                   <i class="fab fa-youtube"></i>
                </a>
              </li>
              <li class="matter__SnsIconsLi" v-if="value.project.post_sns_code.split(',').some(el => el == 3)">
                <a href="#" class="matter__SnsIcon">
                   <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="matter__SnsIconsLi" v-if="value.project.post_sns_code.split(',').some(el => el == 4)">
                <a href="#" class="matter__SnsIcon">
                   <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="matter__SnsIconsLi" v-if="value.project.post_sns_code.split(',').some(el => el == 5)">
                <a href="#" class="matter__SnsIcon">
                   <i class="fab fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="matter__PriceBox">
            <p class="matter__PriceTitle">1人あたりの報酬</p>
            <p class="matter__Price">
              {{ value.project.reward_amount }}<span class="matter__PriceYen">円</span>
            </p>
          </div>
          <p class="matter__Date">
            掲載日：{{ modifyDate(value.project.created_at) }} 
          </p>
        </div>
      </div>

    </div>

    <div class="mainCont__Box">

      <h2 class="mainCont__Title1">
        直近の評価実績
      </h2>

      <div class="mainCont__Evaluation" v-for="(value,key) in data.project_influencer_comment">
        <div class="mainCont__EvaluationIconGood" v-if="value.client_eva == 1">
          Good!
        </div>
        <div class="mainCont__EvaluationIconBad" v-else>
          Bad
        </div>
        <div class="mainCont__EvaluationTxt">
          <p>
            <span v-html="value.client_comment"></span>
          </p>
          <span class="mainCont__EvaluationDate">{{ modifyDate(value.evaluated_at) }}</span>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: ['data'],
  name: 'sidebar',
  data() {
    return {
    }
  },
  created() {
  },
  methods: {
    modifyDate(date){
      return moment(date).format('YYYY年M月D日');
    },
  }
}
</script>