<template>
  <div>
    <Header v-on:informations="informations($event)"/>
    <div class="mainCont">
      <div class="mainCont__Inner">
        <div class="mainCont__Wrap mainCont__Wrap2">
          <Profile/>
          <div class="mainCont__Right">
            <h1 class="mainCont__Title2">
              {{ !$route.params.id ? '運営からのお知らせ一覧' : data.title }}
            </h1>
            <div class="mainCont__Box" v-for="(value, key) in dates" :key="key" v-if="!$route.params.id">
              <div class="mainCont__UneiBox">
                <p class="mainCont__UneiDate">{{value}}</p>
                <a :href="`information/${v.id}`" class="mainCont__UneiLink" v-for="(v, k) in data" :key="k" v-if="value == v.notification_at">
                  <span v-html="v.title"></span>
                </a>
              </div>
            </div>
            <div class="mainCont__Box" v-if="$route.params.id">
              <div class="mainCont__UneiBox">
                <p class="mainCont__UneiDate">{{data.notification_at}}</p>
                <span class="mainCont__UneiLink">
                  <span v-html="data.contents"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from './../includes/Header'
import Profile from './../includes/SidebarProfile'
import InformationService from '../../../service/information/information.service'

const informationService = new InformationService();

  export default {
    data() {
      return {
        data: {},
        dates: [],
      }
    },
    components: {
      Header, Profile
    },
    created() {
      if(this.$route.params.id) {
        this.show(this.$route.params.id);
      }
    },
    methods: {
        informations(data) {
          if(!this.$route.params.id) {
            this.data = data;
            this.dates = this.data.map(e => e.notification_at).filter((value, index, self) => self.indexOf(value) === index);
          }
        },
        show(id) {
          informationService.show(id).then(response => {
            this.data = response.data.data;
            this.data.updated_at = new Date(this.data.updated_at).toLocaleDateString();
          })
        }
    }
  }
</script>
