<template>
  <span>
    <h1 class="mainCont__Title2">
    仕事管理
    </h1>
    <p class="mainCont__TitleLead">応募以降の案件の情報が表示されます。</p>
    <div class="tabs">
      <input id="bosyutyu" type="radio" name="tab_item" :checked="retain_tab == 1" @click="list({status: config.application_status.applied, page: 1})">
      <label class="tab_item tab_item2" for="bosyutyu">応募中（{{ count.applied }})</label>
      <input id="sentei" type="radio" name="tab_item" :checked="retain_tab == 2" @click="list({status: config.application_status.selection, page: 1})">
      <label class="tab_item tab_item2" for="sentei">選定中（{{ count.selection }}）</label>
      <input id="irai" type="radio" name="tab_item" :checked="retain_tab == 3" @click="list({status: config.application_status.working, page: 1})">
      <label class="tab_item tab_item2" for="irai">作業中（{{ count.working }}）</label>
      <input id="iraikakunin" type="radio" name="tab_item" :checked="retain_tab == 4" @click="list({status: config.application_status.checking, page: 1})">
      <label class="tab_item tab_item2" for="iraikakunin">結果確認中（{{ count.checking }}）</label>
      <input id="kanryou" type="radio" name="tab_item" :checked="retain_tab == 5" @click="list({status: config.application_status.done, page: 1})">
      <label class="tab_item tab_item2" for="kanryou">完了</label>
      <input id="syuryou" type="radio" name="tab_item" :checked="retain_tab == 6" @click="list({status: config.application_status.completed, page: 1})">
      <label class="tab_item tab_item2" for="syuryou">選定漏れ</label>
      <div class="tab_content" id="bosyutyu_content">
        <div class="tab_content_description">
          <p>現在応募している案件情報が確認できます。</p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a @click="list({status: config.application_status.applied, page:data.applied.current_page-1})" class="tabs__NextPrevBtn" :class="data.applied.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.applied, page:data.applied.current_page+1 > data.applied.last_page ? data.applied.last_page : data.applied.current_page+1})" class="tabs__NextPrevBtn" :class="data.applied.current_page+1 > data.applied.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="(value,key) in data.applied.data" :key="key">
            <div class="matter__Box">
                <div class="matter__OtherBox matter__OtherBox2">
                  <p class="matter__OtherTitle">募集終了まで</p>
                  <p class="matter__OtherTxt">あと<span class="matter__OtherDate">{{ getHoursLeft(value) }}</span>{{ getHoursLeftSign(value) }}</p>
                  <span class="matter__OtherSmall">({{ getDeadlineAt(value) }})</span>
                </div>
                <div class="matter__Detail">
                  <h3 class="matter__Title">
                    <a :href="`work_management/details/${value.project.id}`" class="matter__TitleA">
                      {{value.project.title}}
                    </a>
                  </h3>
                  <ul class="tag">
                    <li class="tag__Inner" v-for="(category, k) in value.project.project_category" :key="k">
                      <span class="matter__hash"># {{category.name}}</span>
                    </li>
                  </ul>
                  <div class="matter__UserBox">
                    <p class="matter__UserPic">
                      <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)">
                        <img :src="value.project.user.avatar_image == null ? '/assets/user.png' : value.project.user.avatar_image" alt="" class="matter__UserPicImg">
                      </a>
                    </p>
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)" class="matter__UserName">
                      {{ value.project.user.name }}
                    </a>
                  </div>
                </div>
                <div class="matter__PriceBox matter__PriceBox2">
                  <p class="matter__PriceTitle">1人あたりの報酬</p>
                  <p class="matter__Price">
                      {{getNumberFormat(value.project.reward_amount)}}<span class="matter__PriceYen">円</span>
                  </p>
                  <p>
                      募集人数{{value.project.request_people_number}}人
                  </p>
                </div>
                <p class="matter__Date">
                  <!-- 掲載日：2021年9月30日 -->
                  掲載日：{{ getPublishedAt(value) }}
                </p>
            </div>
          </div>

          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a class="mainCont__PageFeedBtn"
              v-for="(value,key) in data.applied.last_page"
              :key="key"
              @click="list({status: config.application_status.applied, page:value})"
              :class="data.applied.current_page == value ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc' : 'mainCont__PageFeedBtn'">
                {{value}}
              </a>
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a @click="list({status: config.application_status.applied, page:data.applied.current_page-1})" class="mainCont__NextPrevBtn" :class="data.applied.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.applied, page:data.applied.current_page+1 > data.applied.last_page ? data.applied.last_page : data.applied.current_page+1})" class="mainCont__NextPrevBtn" :class="data.applied.current_page+1 > data.applied.last_page  ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="sentei_content">
        <div class="tab_content_description">
          <p>依頼するインフルエンサーを選定待ちの案件情報が確認できます。</p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a @click="list({status: config.application_status.selection, page:data.selection.current_page-1})" class="tabs__NextPrevBtn" :class="data.selection.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.selection, page:data.selection.current_page+1 > data.selection.last_page ? data.selection.last_page : data.selection.current_page+1})" class="tabs__NextPrevBtn" :class="data.selection.current_page+1 > data.selection.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="(value,key) in data.selection.data" :key="key">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle">選定終了まで</p>
                <p class="matter__OtherTxt">あと<span class="matter__OtherDate">{{ getHoursLeft(value) }}</span>{{ getHoursLeftSign(value) }}</p>
                <span class="matter__OtherSmall">({{ getDeadlineAt(value) }})</span>
              </div>
              <div class="matter__Detail">
                  <h3 class="matter__Title">
                    <a :href="`work_management/details/${value.project.id}`" class="matter__TitleA">
                      {{value.project.title}}
                    </a>
                  </h3>
                <ul class="tag">
                  <li class="tag__Inner" v-for="(category, k) in value.project.project_category" :key="k">
                    <span class="matter__hash"># {{category.name}}</span>
                  </li>
                </ul>
                <div class="matter__UserBox">
                  <p class="matter__UserPic">
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)">
                      <img :src="value.project.user.avatar_image == null ? '/assets/user.png' : value.project.user.avatar_image" alt="" class="matter__UserPicImg">
                    </a>
                  </p>
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)" class="matter__UserName">
                      {{ value.project.user.name }}
                    </a>
                </div>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">1人あたりの報酬</p>
                <p class="matter__Price">
                  {{getNumberFormat(value.project.reward_amount)}}<span class="matter__PriceYen">円</span>
                </p>
                <p>
                  募集人数{{value.project.request_people_number}}人
                </p>
              </div>
              <p class="matter__Date">
                掲載日：{{ getPublishedAt(value) }}
              </p>
            </div>
          </div>

          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a class="mainCont__PageFeedBtn"
              v-for="(value,key) in data.selection.last_page"
              :key="key"
              @click="list({status: config.application_status.selection, page:value})"
              :class="data.selection.current_page == value ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc' : 'mainCont__PageFeedBtn'">
                {{value}}
              </a>
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a @click="list({status: config.application_status.selection, page:data.selection.current_page-1})" class="mainCont__NextPrevBtn" :class="data.selection.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.selection, page:data.selection.current_page+1 > data.selection.last_page ? data.selection.last_page : data.selection.current_page+1})" class="mainCont__NextPrevBtn" :class="data.selection.current_page+1 > data.selection.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="irai_content">
        <div class="tab_content_description">
          <p>
            クライアントから依頼された案件情報が確認できます。<br>
            SNSへの掲載が完了後、クライアントへの完了報告が必要です。
          </p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a @click="list({status: config.application_status.working, page:data.working.current_page-1})" class="tabs__NextPrevBtn" :class="data.working.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.working, page:data.working.current_page+1 > data.working.last_page ? data.working.last_page : data.working.current_page+1})" class="tabs__NextPrevBtn" :class="data.working.current_page+1 > data.working.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="(value,key) in data.working.data" :key="key">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle">完了報告期限まで</p>
                <p class="matter__OtherTxt">あと<span class="matter__OtherDate">{{ getHoursLeft(value) }}</span>{{ getHoursLeftSign(value) }}</p>
                <span class="matter__OtherSmall">({{ getDeadlineAt(value) }})</span>
              </div>
              <div class="matter__Detail">
                  <h3 class="matter__Title">
                    <a :href="`work_management/requesting/${value.project.id}/review`" class="matter__TitleA">
                      {{value.project.title}}
                    </a>
                  </h3>
                  <ul class="tag">
                  <li class="tag__Inner" v-for="(category, k) in value.project.project_category" :key="k">
                      <span class="matter__hash"># {{category.name}}</span>
                    </li>
                </ul>
                <div class="matter__UserBox">
                  <p class="matter__UserPic">
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)">
                      <img :src="value.project.user.avatar_image == null ? '/assets/user.png' : value.project.user.avatar_image" alt="" class="matter__UserPicImg">
                    </a>
                  </p>
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)" class="matter__UserName">
                      {{ value.project.user.name }}
                    </a>
                </div>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">報酬</p>
                <p class="matter__Price">
                  {{getNumberFormat(value.project.reward_amount)}}<span class="matter__PriceYen">円</span>
                </p>
              </div>
              <p class="matter__Date">
                掲載日：{{ getPublishedAt(value) }}
              </p>
            </div>
          </div>

          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a class="mainCont__PageFeedBtn"
              v-for="(value,key) in data.working.last_page"
              :key="key"
              @click="list({status: config.application_status.working, page:value})"
              :class="data.working.current_page == value ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc' : 'mainCont__PageFeedBtn'">
                {{value}}
              </a>
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a @click="list({status: config.application_status.working, page:data.working.current_page-1})" class="mainCont__NextPrevBtn" :class="data.working.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.working, page:data.working.current_page+1 > data.working.last_page ? data.working.last_page : data.working.current_page+1})" class="mainCont__NextPrevBtn" :class="data.working.current_page+1 > data.working.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="iraikakunin_content">
        <div class="tab_content_description">
          <p>対応が完了し、クライアントが結果を確認中の案件情報が確認できます。</p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a @click="list({status: config.application_status.checking, page:data.checking.current_page-1})" class="tabs__NextPrevBtn" :class="data.checking.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.checking, page:data.checking.current_page+1 > data.checking.last_page ? data.checking.last_page : data.checking.current_page+1})" class="tabs__NextPrevBtn" :class="data.checking.current_page+1 > data.checking.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="(value,key) in data.checking.data" :key="key">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle">結果確認終了まで</p>
                <p class="matter__OtherTxt">あと<span class="matter__OtherDate">{{ getHoursLeft(value) }}</span>{{ getHoursLeftSign(value) }}</p>
                <span class="matter__OtherSmall">({{ getDeadlineAt(value) }})</span>
              </div>
              <div class="matter__Detail">
                  <h3 class="matter__Title">
                    <a :href="`work_management/checking/${value.project.id}`" class="matter__TitleA">
                      {{value.project.title}}
                    </a>
                  </h3>
                <ul class="tag">
                  <li class="tag__Inner" v-for="(category, k) in value.project.project_category" :key="k">
                      <span class="matter__hash"># {{category.name}}</span>
                    </li>
                </ul>
                <div class="matter__UserBox">
                  <p class="matter__UserPic">
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)">
                      <img :src="value.project.user.avatar_image == null ? '/assets/user.png' : value.project.user.avatar_image" alt="" class="matter__UserPicImg">
                    </a>
                  </p>
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)" class="matter__UserName">
                      {{ value.project.user.name }}
                    </a>
                </div>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">報酬</p>
                <p class="matter__Price">
                  {{getNumberFormat(value.project.reward_amount)}}<span class="matter__PriceYen">円</span>
                </p>
              </div>
              <p class="matter__Date">
                掲載日：{{ getPublishedAt(value) }}
              </p>
            </div>
          </div>
          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a class="mainCont__PageFeedBtn"
              v-for="(value,key) in data.checking.last_page"
              :key="key"
              @click="list({status: config.application_status.checking, page:value})"
              :class="data.checking.current_page == value ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc' : 'mainCont__PageFeedBtn'">
                {{value}}
              </a>
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a @click="list({status: config.application_status.checking, page:data.checking.current_page-1})" class="mainCont__NextPrevBtn" :class="data.checking.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.checking, page:data.checking.current_page+1 > data.checking.last_page ? data.checking.last_page : data.checking.current_page+1})" class="mainCont__NextPrevBtn" :class="data.checking.current_page+1 > data.checking.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="kanryou_content">
        <div class="tab_content_description">
          <p>すべての対応が完了した案件情報が確認できます。</p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a @click="list({status: config.application_status.done, page:data.done.current_page-1})" class="tabs__NextPrevBtn" :class="data.done.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.done, page:data.done.current_page+1 > data.done.last_page ? data.done.last_page : data.done.current_page+1})" class="tabs__NextPrevBtn" :class="data.done.current_page+1 > data.done.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="(value,key) in data.done.data" :key="key">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle matter__OtherTitle2">完了</p>
                <p class="matter__OtherTxt">完了日</p>
                <span class="matter__OtherSmall">{{ modifyDate(value.evaluated_at).replace("まで", "") }}</span>
              </div>
              <div class="matter__Detail">
                  <h3 class="matter__Title">
                    <a :href="`work_management/done/${value.project.id}`" class="matter__TitleA">
                      {{value.project.title}}
                    </a>
                  </h3>
                <ul class="tag">
                  <li class="tag__Inner" v-for="(category, k) in value.project.project_category" :key="k">
                      <span class="matter__hash"># {{category.name}}</span>
                    </li>
                </ul>
                <div class="matter__UserBox">
                  <p class="matter__UserPic">
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)">
                      <img :src="value.project.user.avatar_image == null ? '/assets/user.png' : value.project.user.avatar_image" alt="" class="matter__UserPicImg">
                    </a>
                  </p>
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)" class="matter__UserName">
                      {{ value.project.user.name }}
                    </a>
                </div>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">報酬</p>
                <p class="matter__Price">
                  {{getNumberFormat(value.project.reward_amount)}}<span class="matter__PriceYen">円</span>
                </p>
              </div>
              <p class="matter__Date">
                掲載日：{{ modifyDateWithYear(value.project.created_at) }}
              </p>
            </div>
          </div>
          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a class="mainCont__PageFeedBtn"
              v-for="(value,key) in data.done.last_page"
              :key="key"
              @click="list({status: config.application_status.done, page:value})"
              :class="data.done.current_page == value ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc' : 'mainCont__PageFeedBtn'">
                {{value}}
              </a>
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a @click="list({status: config.application_status.done, page:data.done.current_page-1})" class="mainCont__NextPrevBtn" :class="data.done.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.done, page:data.done.current_page+1 > data.done.last_page ? data.done.last_page : data.done.current_page+1})" class="mainCont__NextPrevBtn" :class="data.done.current_page+1 > data.done.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="syuryou_content">
        <div class="tab_content_description">
          <p>
            応募した案件のうち、選定されなかった案件情報が確認できます。
          </p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a @click="list({status: config.application_status.missing, page:data.missing.current_page-1})" class="tabs__NextPrevBtn" :class="data.missing.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a :href="data.missing.next_page_url" class="tabs__NextPrevBtn" :class="data.missing.current_page+1 > data.missing.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="(value,key) in data.missing.data" :key="key">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle matter__OtherTitle2">募集終了</p>
                <span class="matter__OtherSmall">({{ modifyDate(value.project.application_deadline_at) }})</span>
              </div>
              <div class="matter__Detail">
                  <h3 class="matter__Title">
                    <a :href="`work_management/details/${value.project.id}`" class="matter__TitleA">
                      {{value.project.title}}
                    </a>
                  </h3>
                <ul class="tag">
                  <li class="tag__Inner" v-for="(category, k) in value.project.project_category" :key="k">
                      <span class="matter__hash"># {{category.name}}</span>
                    </li>
                </ul>
                <div class="matter__UserBox">
                  <p class="matter__UserPic">
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)">
                      <img :src="value.project.user.avatar_image == null ? '/assets/user.png' : value.project.user.avatar_image" alt="" class="matter__UserPicImg">
                    </a>
                  </p>
                    <a target="_blank" :href="redirectToProfileLink(value.project.user.uuid)" class="matter__UserName">
                      {{ value.project.user.name }}
                    </a>
                </div>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">1人あたりの報酬</p>
                <p class="matter__Price">
                  {{getNumberFormat(value.project.reward_amount)}}<span class="matter__PriceYen">円</span>
                </p>
                <p>
                  募集人数{{value.project.request_people_number}}人
                </p>
              </div>
              <p class="matter__Date">
                掲載日：{{ modifyDateWithYear(value.project.created_at) }}
              </p>
            </div>
          </div>
          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a class="mainCont__PageFeedBtn"
              v-for="(value,key) in data.missing.last_page"
              :key="key"
              @click="list({status: config.application_status.missing, page:value})"
              :class="data.missing.current_page == value ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc' : 'mainCont__PageFeedBtn'">
                {{value}}
              </a>
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a @click="list({status: config.application_status.missing, page:data.missing.current_page-1})" class="mainCont__NextPrevBtn" :class="data.missing.current_page-1 == 0 ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a @click="list({status: config.application_status.missing, page:data.missing.current_page+1 > data.missing.last_page ? data.missing.last_page : data.missing.current_page+1})" class="mainCont__NextPrevBtn" :class="data.missing.current_page+1 > data.missing.last_page ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>
</template>

<script>
import Header from './../includes/Header'
import Profile from './../includes/SidebarProfile'
import ProjectUserService from '../../../service/project-user/project-user.service'
import Config from '../../../config/constant'
import moment from 'moment';

const projectUserService = new ProjectUserService();
const config = Config;

  export default {
    props: {
      projects: {
        type: Object,
      },
      count: {
        type: Object,
      },
    },
    data() {
      return {
        data: {
            applied: [],
            selection: [],
            working: [],
            done: [],
            missing: [],
            checking: [],
        },
        pagination: {},
        error: {},
        config: config,
        filter: {
          status: 1,
          page: 1,
        },
        status: {},
        retain_tab: localStorage.getItem('workmananagement-tab'),
      }
    },
    components: {
      Header, Profile
    },
    mounted() {
      this.data = this.projects;
      this.setInitTab();
    },
    methods: {
      list(status){
        if(status != undefined) {
          localStorage.setItem('workmananagement-tab', status.status)

        }
        projectUserService.list(status).then(response => {
          this.data = response.data;
        }).catch((err) => {
            this.error = err.response.data.errors;
        });
      },
      setInitTab(){
        const urlHashOptions = {
          '応募中': 1,
          '対応中': 3,
          '結果確認中': 4
        }
        const urlHash = this.getUrlHashParams();
        if (urlHash) {
          this.retain_tab = urlHashOptions[urlHash];
          localStorage.setItem('workmananagement-tab', urlHashOptions[urlHash]);
        } else {
          this.retain_tab == undefined ? localStorage.setItem('workmananagement-tab', 1) : localStorage.getItem('workmananagement-tab');
        }
      },
      modifyDate(date){
        return moment(date).format('M月D日') + 'まで';
      },
      modifyDateWithYear(date){
        return moment(date).format('YYYY年M月D日');
      },
      redirectToProfileLink(uuid) {
        return `/profile/${uuid}/client`;
      },
      getHoursLeft(value) {
        return value.project_time_details.hours_left;
      },
      getHoursLeftSign(value) {
        return value.project_time_details.hours_left_sign;
      },
      getDeadlineAt(value) {
        return value.project_time_details.deadline_at;
      },
      getPublishedAt(value) {
        return value.project_time_details.published_at;
      }
    },
  }
</script>
