<template>
  <div>
    <h1 class="mainCont__Title2">
      マイページ
    </h1>

    <div class="mainCont__Box">
      <div class="mainCont__BlockWrap2">
        <div class="mainCont__Block2">
          <p class="mainCont__Block2Title">
            <i class="fas fa-tasks"></i> 現在進行中の<br class="inline_s">案件
          </p>
          <dl class="mainCont__Block2List">
            <dt class="mainCont__Block2ListDt">
              募集中
            </dt>
            <dd class="mainCont__Block2ListDd">
              <a href="#" class="mainCont__Block2Number">{{data.has_many_project_users_apply_count}}</a>件
            </dd>
            <dt class="mainCont__Block2ListDt">
              選定中
            </dt>
            <dd class="mainCont__Block2ListDd">
              <a href="#" class="mainCont__Block2Number">{{data.has_many_project_users_selection_count}}</a>件
            </dd>
            <dt class="mainCont__Block2ListDt">
              依頼中
            </dt>
            <dd class="mainCont__Block2ListDd">
              <a href="#" class="mainCont__Block2Number">{{data.has_many_project_users_working_count}}</a>件
            </dd>
            <dt class="mainCont__Block2ListDt">
              結果確認中
            </dt>
            <dd class="mainCont__Block2ListDd">
              <a href="#" class="mainCont__Block2Number">{{data.has_many_project_users_checking_count}}</a>件
            </dd>
          </dl>
        </div>
        <div class="mainCont__Block2">
          <p class="mainCont__Block2Title">
            <i class="fas fa-medal"></i> これまでの<br class="inline_s">案件実績
          </p>
          <dl class="mainCont__Block2List">
            <dt class="mainCont__Block2ListDt">
              募集実績
            </dt>
            <dd class="mainCont__Block2ListDd">
              <span href="#" class="mainCont__Block2Number2">{{data.projects_count}}</span>件
            </dd>
            <dt class="mainCont__Block2ListDt">
              依頼実績
            </dt>
            <dd class="mainCont__Block2ListDd">
              <span href="#" class="mainCont__Block2Number2">{{ data.has_many_project_users_recruitment_count }}</span>件
            </dd>
            <dt class="mainCont__Block2ListDt">
              発注率
            </dt>
            <dd class="mainCont__Block2ListDd">
              <span href="#" class="mainCont__Block2Number2">{{ data.has_many_project_users_order_rate }}</span>%
            </dd>
          </dl>
        </div>
        <div class="mainCont__Block2">
          <p class="mainCont__Block2Title">
            <i class="fas fa-medal"></i> これまでの<br class="inline_s">評価
          </p>
          <dl class="mainCont__Block2List">
            <dt class="mainCont__Block2ListDt">
              評価
            </dt>
            <dd class="mainCont__Block2ListDd">
              <span href="#" class="mainCont__Block2Number2">{{data.client_rate}}</span>
            </dd>
            <dt class="mainCont__Block2ListDt">
              評価件数
            </dt>
            <dd class="mainCont__Block2ListDd">
              <span href="#" class="mainCont__Block2Number2">{{ data.client_users_project_count }}</span>件
            </dd>
          </dl>
        </div>
      </div>
      <a href="/project_form/add?ref=1" class="mainCont__Btn2 mainCont__Btn2_2">
        案件を募集する（無料）
      </a>
    </div>

    <div class="mainCont__Box">
      <h2 class="mainCont__Title1">
        実行中のタスク
      </h2>
      <a :href="`/details?project_id=${value.project.id}`" class="matter" v-for="(value,index) in data.has_many_project_users">
        <div href="#" class="matter__Box">
          <div class="matter__OtherBox matter__OtherBox2">
            <p class="matter__OtherTitle">{{ checkStatusValue(value.application_status) }}</p>
            <p class="matter__OtherTxt">あと<span class="matter__OtherDate">2</span>日</p>
            <span class="matter__OtherSmall">(({{ modifyDate(value.project.application_deadline_at) }}))</span>
          </div>
          <div class="matter__Detail">
            <h3 class="matter__Title">{{ value.project.title }}</h3>
            <div class="matter__UserBox">
              <p class="matter__UserPic">
                <router-link target="_blank" :to="`/profile/${value.project.user.uuid}?role=${config.status_role.client}`">
                    <img :src="checkClientImage(value.project.user.avatar_image)" class="userBox__PicImg" alt="">
                </router-link>
              </p>
              <router-link target="_blank" :to="`/profile/${value.project.user.uuid}?role=${config.status_role.client}`">
                  <span class="matter__UserName">
                      {{value.project.user.name}}
                  </span>
              </router-link>
            </div>
          </div>
          <div class="matter__PriceBox">
            <p class="matter__PriceTitle">1人あたりの報酬</p>
            <p class="matter__Price">
              {{ value.project.reward_amount }}<span class="matter__PriceYen">円</span>
            </p>
          </div>
          <div class="matter__OtherBox">
            <p class="matter__OtherTxt2">依頼人数<span class="matter__OtherDate">3</span>人</p>
          </div>
          <p class="matter__Date">
            掲載日：{{ modifyDate(value.created_at) }}
          </p>
        </div>
      </a>
    </div>
  </div>
</template>
<script>
  import UserService from '../../../service/user/user.service'
  import Config from '../../../config/constant'
  import moment from 'moment';

  const userService = new UserService();
  const config = Config;

  export default{
    data() {
      return {
        data: {},
        config: config
      }
    },
    created(){
      this.getclientDetails()
    },
    methods: {
      getclientDetails() {
        userService.clientDetails().then(response => {
          this.data = response.data.data;
        }).catch((err) => {
          this.error = err.response.data.errors;
        })
      },
      modifyDate(date){
        return moment(date).format('YYYY年M月D日');
      }
    }
  }
</script>
