<template>
  <div>
    <h1 class="mainCont__Title2">
      マイページ
    </h1>

    <div class="mainCont__Box">
      <div class="mainCont__MoneyBox">
        <div class="mainCont__MoneyBoxInner">
          <h3 class="mainCont__MoneyTitle"><i class="fas fa-yen-sign"></i> 現在の報酬残高</h3>
          <p class="mainCont__Money">¥1,000,000</p>
        </div>
        <a href="#" @click="goToBankDetails()">出金方式の確認・変更はこちら</a>
      </div>

      <div class="mainCont__BlockWrap2">
        <div class="mainCont__Block2">
          <p class="mainCont__Block2Title">
            <i class="fas fa-tasks"></i> 現在進行中の<br class="inline_s">案件
          </p>
          <dl class="mainCont__Block2List">
            <dt class="mainCont__Block2ListDt">
              応募中
            </dt>
            <dd class="mainCont__Block2ListDd">
              <a href="#" class="mainCont__Block2Number">{{influencer.has_many_project_users_apply_count}}</a>件
            </dd>
            <dt class="mainCont__Block2ListDt">
              対応中
            </dt>
            <dd class="mainCont__Block2ListDd">
              <a href="#" class="mainCont__Block2Number">{{influencer.has_many_project_users_working_count}}</a>件
            </dd>
            <dt class="mainCont__Block2ListDt">
              結果確認中
            </dt>
            <dd class="mainCont__Block2ListDd">
              <a href="#" class="mainCont__Block2Number">{{influencer.has_many_project_users_checking_count}}</a>件
            </dd>
          </dl>
        </div>
        <div class="mainCont__Block2">
          <p class="mainCont__Block2Title">
            <i class="fas fa-medal"></i> これまでの<br class="inline_s">案件実績
          </p>
          <dl class="mainCont__Block2List">
            <dt class="mainCont__Block2ListDt">
              対応実績
            </dt>
            <dd class="mainCont__Block2ListDd">
              <span href="#" class="mainCont__Block2Number2">{{influencer.has_many_project_users_corresponded_count}}</span>件
            </dd>
            <dt class="mainCont__Block2ListDt">
              完了実績
            </dt>
            <dd class="mainCont__Block2ListDd">
              <span href="#" class="mainCont__Block2Number2">{{influencer.has_many_project_users_completion_record_count}}</span>件
            </dd>
            <dt class="mainCont__Block2ListDt">
              完了率
            </dt>
            <dd class="mainCont__Block2ListDd">
              <span href="#" class="mainCont__Block2Number2">{{ influencer.has_many_project_users_completion_rate_count }}</span>%
            </dd>
          </dl>
        </div>
        <div class="mainCont__Block2">
          <p class="mainCont__Block2Title">
            <i class="fas fa-medal"></i> これまでの<br class="inline_s">評価
          </p>
          <dl class="mainCont__Block2List">
            <dt class="mainCont__Block2ListDt">
              評価
            </dt>
            <dd class="mainCont__Block2ListDd">
              <span href="#" class="mainCont__Block2Number2">{{ influencer.influencer_rate }}</span>
            </dd>
            <dt class="mainCont__Block2ListDt">
              評価件数
            </dt>
            <dd class="mainCont__Block2ListDd">
              <span href="#" class="mainCont__Block2Number2">{{influencer.has_many_project_users_evaluation_count}}</span>件
            </dd>
          </dl>
        </div>
      </div>
      <router-link to="/search?title=&category=&sns=&min_reward=&max_reward=" class="mainCont__Btn2 mainCont__Btn2_2">
        案件に応募する（無料）
      </router-link>
    </div>

    <div class="mainCont__Box">
    <h2 class="mainCont__Title1">
    実行中のタスク
    </h2>
      <div class="matter" v-for="(value,index) in influencer.has_many_project_users">
        <div class="matter__Box">
          <div class="matter__OtherBox matter__OtherBox2">
            <p class="matter__OtherTitle">{{ checkStatusValue(value.application_status) }}</p>
            <p class="matter__OtherTxt">あと<span class="matter__OtherDate">1</span>日</p>
            <span class="matter__OtherSmall">({{ modifyDate(value.project.application_deadline_at) }})</span>
          </div>
          <div class="matter__Detail">
            <h3 class="matter__Title"><a target="_blank" :href="`/details?project_id=${value.project.id}`" class="matter__TitleA">{{ value.project.title }}</a></h3>
            <ul class="tag">
              <li class="tag__Inner" v-for="(v,k) in value.has_many_genres">
                <span class="matter__hash"># {{ v.name }}</span>
              </li>
            </ul>
          </div>
          <div class="matter__PriceBox matter__PriceBox2">
            <p class="matter__PriceTitle">1人あたりの報酬</p>
            <p class="matter__Price">
              {{ value.project.reward_amount }}<span class="matter__PriceYen">円</span>
            </p>
            <p>
              募集人数5人
            </p>
          </div>
          <p class="matter__Date">
            掲載日：{{ modifyDate(value.project.created_at) }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserService from '../../../service/user/user.service'
import moment from 'moment';

const userService = new UserService();

  export default {
    data() {
      return {
        error: {},
        influencer: {}
      }
    },
    created() {
        this.getInfluencerDetails()
    },
    methods: {
        getInfluencerDetails() {
          userService.influencerDetails().then(response => {
            this.influencer = response.data.data;
          }).catch((err) => {
            this.error = err.response.data.errors;
          })
        },
        goToBankDetails(){
            localStorage.setItem('mypageprofile-tab', 4)
            this.$router.push('/mypage/edit_information');
        },
        modifyDate(date){
            return moment(date).format('YYYY年M月D日');
        },
    }
  }
</script>
