<template>
  <div>
    <Header/>
    <div class="mainCont">
      <div class="mainCont__Inner">

      <div class="mainCont__Wrap mainCont__Wrap2">
        <Profile />
        <div class="mainCont__Right">
          <ClientPage v-if="role == 1" />
          <InfluencerPage v-else />
        </div>
      </div>

      </div>
    </div>
  </div>
</template>

<script>
  import Header from './../includes/Header'
  import Profile from './../includes/SidebarProfile'
  import InfluencerPage from './MyInfluencerPage'
  import ClientPage from './MyClientPage'

  export default {
    data() {
      return {
        role: '',
        data: {}
      }
    },
    components: {
      Header, Profile, InfluencerPage, ClientPage
    },
    created() {
      this.getUserRole()
    },
    methods: {
      getUserRole(){
        axios.get('/init')
        .then(res => {
          this.role = this.$route.query.role ? this.$route.query.role : res.data.default_role
        })
      }
    }
  }
</script>
