<template>
  <div>
    <Header v-on:notifications="notifications($event)"/>
    <div class="mainCont">
      <div class="mainCont__Inner">
        <div class="mainCont__Wrap mainCont__Wrap2">
          <Profile/>
          <div class="mainCont__Right">
            <h1 class="mainCont__Title2">
              お知らせ一覧
            </h1>

            <table class="table">
              <tbody>
                <tr>
                  <th class="table__th">日付</th>
                  <th class="table__th">お知らせ</th>
                </tr>
                <tr v-for="(value, key) in data" :key="key">
                  <td class="table__td table__Center">{{new Date(value.notification_at).toLocaleDateString()}}</td>
                  <td class="table__td"><a :href="value.destination_url"> {{value.notification_contents}} </a></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from './../includes/Header'
import Profile from './../includes/SidebarProfile'

  export default {
    data() {
      return {
        data: {}
      }
    },
    components: {
      Header, Profile
    },
    created() {
      this.notifications();
    },
    methods: {
      notifications(data) {
        this.data = data;
      }
    }
  }
</script>
