<template>
  <div>
    <Navbar :isShow="'withSearch'" v-if="auth_status != true"/>
    <Header v-else/>
    <div class="mainCont">
      <div class="mainCont__Inner">
        <div class="breadcrumb">
          <ul class="breadcrumb__List">
            <li class="breadcrumb__Li">
              <a href="#">TOP</a>
            </li>
            <li class="breadcrumb__Li">
              <a href="#">{{ data.name }}</a>
            </li>
          </ul>
        </div>
        <div class="mainCont__Wrap">
          <Sidebar :data="data" v-on:change-role="changeRole($event)"/>
          <div class="mainCont__Right">
            <div class="mainCont__Box">
              <h2 class="mainCont__Title1">
                自己紹介
              </h2>
              <div class="mainCont__GrayBox">
                <p class="mainCont__GrayBoxP">
                  <span v-html="data.self_introduction"></span>
                </p>
              </div>
            </div>
            <Client v-if="this.$route.query.role == 2" :data="data"/>
            <Influencer v-else :data="data"/>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import Navbar from './../includes/NavbarPages'
import Sidebar from './../includes/Sidebar'
import Influencer from './InfluencerPage'
import Client from './ClientPage'
import Header from './../includes/Header'
import UserService from '../../../service/user/user.service'

const userService = new UserService();

export default {
  data() {
    return {
      data:{
        prefecture_data:{
          name: ''
        },
        client_projects:{
          has_many_project_users_count: 0,
          has_many_project_users: []
        },
        has_many_genres: []
      },
      role: this.$route.query.role,
      auth_status: JSON.parse(localStorage.getItem('auth'))
    }
  },
  components: {
    Navbar,Sidebar,Influencer,Client,Header
  },
  created() {
    this.getUserByUuid()
  },
  methods: {
      getUserByUuid() {
        userService.getUserByUuid(this.$route.params.uuid).then(response => {
          this.data = response.data.data;
          this.data.self_introduction = this.data.self_introduction != null ? this.data.self_introduction : '登録されていません。';
          this.data.avatar_image = this.data.avatar_image == null ? '/assets/user.png' : this.data.avatar_image;
        });
      },
      changeRole(data) {
        this.role = data;
      },
  }
}

</script>
