<template>
  <div>
    <Navbar />

    <div class="mainCont">
      <div class="mainCont__Inner mainCont__Inner2">
        <div class="mainCont__Wrap">
          <div class="mainCont__Right mainCont__Right3">
            <div class="mainCont__Box test">
              <h1 class="mainCont__Title2 mainCont__Title3">
                新しい仕事を募集する
              </h1>
              <div class="flowlist flowlist2">
                <p :class="section == 1 ? 'flowlist__Flow flowlist__Flow2 flowlist__FlowActive' : 'flowlist__Flow flowlist__Flow2'">
                  <span :class="section == 1 ? 'flowlist__FlowNumber flowlist__FlowNumberActive' : 'flowlist__FlowNumber'">FLOW1</span>
                  募集内容<br>入力
                </p>
                <p :class="section == 2 ? 'flowlist__Flow flowlist__Flow2 flowlist__FlowActive' : 'flowlist__Flow flowlist__Flow2'">
                  <span :class="section == 2 ? 'flowlist__FlowNumber flowlist__FlowNumberActive' : 'flowlist__FlowNumber'">FLOW2</span>
                  募集内容<br>確認
                </p>
                <p :class="section == 3 ? 'flowlist__Flow flowlist__Flow2 flowlist__FlowActive' : 'flowlist__Flow flowlist__Flow2'">
                  <span :class="section == 3 ? 'flowlist__FlowNumber flowlist__FlowNumberActive' : 'flowlist__FlowNumber'">FLOW3</span>
                  募集登録<br>完了
                </p>
              </div>
            </div>
            <div class="mainCont__Box" v-if="section == 2">
              <div class="mainCont__GrayBox">
                <p class="mainCont__GrayBoxP">
                  登録はまだ完了していません。<br>
                  下記のプレビュー内容が公開されます。問題がなければ、ページ下の「この内容で登録する」をクリック（タップ）してください。<br>
                  <span class="mainCont__GrayBoxRed">
                  公開後は、依頼内容の修正ができなくなるため、必ずもう一度依頼内容をご確認ください。<br>
                  ※報酬にはシステム利用料は含まれておりません。
                  </span>
                </p>
              </div>
            </div>

            <div class="mainCont__Box" v-if="section != 3">
              <section v-show="section == 1">
                <div class="register__FormBox">
                  <h2 class="mainCont__Title1">
                    STEP1<br class="inline_s">依頼したいカテゴリを選択する
                  </h2>

                  <p class="register__RadioBox register__RadioBox2" v-for="genre in genres">
                    <input :id="'check' + genre.id" :disabled="(other_category ? project.genres.length + 1 : project.genres.length) >= 3 && !project.genres.includes(genre.name)" class="register__RadioBtn" type="checkbox" :value="genre.name" v-model="project.genres">
                    <label :for="'check' + genre.id" class="register__Label register__Label2">{{ genre.name }}</label>
                  </p>

                  <p class="register__RadioBox register__RadioBox2 register__RadioBoxOther">
                    <input id="check_other" :disabled="project.genres.length >= 3" class="register__RadioBtn" type="checkbox" v-model="other_category">
                    <label for="check_other" class="register__Label register__Label2">その他</label>
                    <span class="register__RadioBoxOtherInput">
                      <input ref="genre" type="text" placeholder="例) 釣り" class="register__Irai" v-model="project.other_category">
                    </span>
                  </p>
                  <p class="error__message">{{ errors.genres }}</p>
                </div>

                <div class="register__FormBox">
                  <h2 class="mainCont__Title1">
                    STEP2　仕事の内容を入力する
                  </h2>
                  <dl class="register__FormList">
                    <dt class="register__FormListLeft">
                      依頼タイトル
                      <span class="register__Required">必須</span>
                    </dt>
                    <dd class="register__FormListRight">
                      <input type="text" ref="title" v-model="project.title" placeholder="例) 景品プレゼント 化粧品「xxx」のPR" class="register__Irai">
                      <span class="error__message">{{ errors.title }}</span>
                    </dd>

                    <dt class="register__FormListLeft">
                      依頼内容
                      <span class="register__Required">必須</span>
                    </dt>
                    <dd class="register__FormListRight">
                      <textarea v-model="description" id="text-editor" ref="description" class="register__TextArea register__TextArea2 msg"/>
                      <textarea id="html-output" hidden />
                      <div id="placeholderDiv" style="color: #818181">
                        【 概要 】<br>
                        今回、Excel VBAを使ったシミュレーションシステムの開発をお願いします。<br><br>

                        【 依頼内容 】<br>
                        ・開発内容：<br>
                        毎月予算に対していくらの収益が見込めるかシミュレーションするシステムの制作<br><br>

                        【 納期 】<br>
                        ◯月◯日まで / 相談して決めたい<br>
                        【 契約金額(税抜) 】<br>
                        ◯◯万円くらいで見積もりをお願いします。<br>
                        ※契約金額（税込）からシステム利用料を差し引いた金額が、ワーカーさまの受取金額となります<br><br>

                        【 重視する点・開発経験 】<br>
                        ◯◯を使った開発のご経験<br><br>

                        【 応募方法 】<br>
                        ・簡単な自己紹介や実績をご提示ください。<br>
                        ・条件提示にてお見積もり金額を入力してください。<br>
                        ご質問がありましたら、気軽にお問い合わせください。<br>
                        応募をお待ちしております！
                      </div>
                      <span class="register__FormListStxt" style="float:right;">{{description != undefined ? description.length : 0}}/2500</span>
                      <span class="error__message">{{ errors.description }}</span>
                    </dd>
                    <dt class="register__FormListLeft">
                      投稿希望SNS
                      <span class="register__Required">必須</span>
                    </dt>
                    <dd class="register__FormListRight">
                      <p class="register__RadioBox register__RadioBox3" v-for="(sns_data, key) in sns_list">
                        <input :id="'radio' + key" class="register__RadioBtn" :value="sns_data.value" type="checkbox" v-model="project.sns_code">
                        <label :for="'radio' + key" class="register__Label">{{ sns_data.text }}</label>
                      </p>
                      <p class="error__message">{{ errors.sns_code }}</p>
                    </dd>
                    <dt class="register__FormListLeft">
                      告知URL
                      <span class="register__Any">任意</span>
                    </dt>
                    <dd class="register__FormListRight">
                      <input type="text" ref="url" placeholder="" class="register__Url" v-model="project.url">
                      <span class="register__FormListStxt">SNSへの投稿内容に掲示して欲しいURLがある場合は入力してください。</span>
                      <span class="error__message">{{ errors.sns_url }}</span>
                    </dd>
                    <dt class="register__FormListLeft">
                      添付ファイル
                      <span class="register__Any">任意</span>
                    </dt>
                    <dd class="register__FormListRight">
                      <input type="file" class="register__File" @change="fileUpload($event)" title=" " multiple>
                      <span class="register__FormListStxt">参考資料などがあれば添付してください。</span>
                      <span class="register__FormListStxt">※1ファイルにつき10Mバイトまで添付できます。</span>
                      <p class="error__message">{{ errors.file }}</p>
                      <span v-for="(file, key) in project.files">
                        <dl class="row">
                          <dd class="left">
                            {{file.name}}
                          </dd>
                          <dt class="right">
                            <span class="close" @click="removeFile(key)">&times;</span>
                          </dt>
                        </dl>
                      </span>
                    </dd>
                  </dl>
                </div>

                <div class="register__FormBox">
                  <h2 class="mainCont__Title1">
                    STEP3　予算を入力する
                  </h2>
                  <dl class="register__FormList">
                    <dt class="register__FormListLeft">
                      1人あたりの報酬
                      <span class="register__Required">必須</span>
                    </dt>
                    <dd class="register__FormListRight">
                      <span class="register__PriceWrap">
                        <input type="text" ref="reward" @change="computeTotal" @keyup="isNumber($event)" class="register__Price" v-model="project.reward"> 円(税抜)
                      </span>
                      <p class="error__message">{{ errors.reward }}</p>
                    </dd>
                    <dt class="register__FormListLeft">
                      依頼人数（予定）
                      <span class="register__Required">必須</span>
                    </dt>
                    <dd class="register__FormListRight">
                      <div class="register__SelectWrap">
                        <select ref="request_people" @change="computeTotal" class="register__Select1" v-model="project.request_people">
                          <option value="0">選択してください</option>
                          <option value="1">1人</option>
                          <option value="2">2人</option>
                          <option value="3">3人</option>
                          <option value="4">4人</option>
                          <option value="5">5人</option>
                          <option value="6">6人</option>
                          <option value="7">7人</option>
                          <option value="8">8人</option>
                          <option value="9">9人</option>
                          <option value="10">10人</option>
                        </select>
                      </div>
                      <span class="error__message">{{ errors.request_people }}</span>
                    </dd>
                  </dl>

                  <div class="register__CalculationBox">
                    <p class="register__CalculationTitle">
                      見積（支払総額）
                    </p>
                    <table class="table table2">
                      <tr>
                        <th class="table2__th">
                          a.インフルエンサー費用
                        </th>
                        <td class="table2__td">
                          <span class="table2__Data table2__td1">{{ Number(project.reward ? project.reward : 0).toLocaleString() }}円</span>
                          <span class="table2__Icon">×</span>
                          <span class="table2__Data table2__td2">{{ project.request_people ? project.request_people : 0 }}人</span>
                          <span class="table2__Icon">＝</span>
                          <span class="table2__Data table2__td3">{{ Number(total ? total : 0 ).toLocaleString() }}円</span>
                        </td>
                      </tr>
                      <tr>
                        <th class="table2__th">
                          b.システム利用料
                        </th>
                        <td class="table2__td">
                          <span class="table2__Data table2__td1">{{ Number(total ? total : 0 ).toLocaleString() }}円</span>
                          <span class="table2__Icon">×</span>
                          <span class="table2__Data table2__td2">{{ parseFloat(rates.fee).toFixed(0) }}%</span>
                          <span class="table2__Icon">＝</span>
                          <span class="table2__Data table2__td3">{{ Number(total_with_fee ? total_with_fee : 0 ).toLocaleString() }}円</span>
                        </td>
                      </tr>
                      <tr>
                        <th class="table2__th">
                          c.消費税
                        </th>
                        <td class="table2__td">
                          <span class="table2__Data table2__td1">{{ Number(total_with_fee + total ? total_with_fee + total : 0 ).toLocaleString() }}円</span>
                          <span class="table2__Icon">×</span>
                          <span class="table2__Data table2__td2">{{ parseFloat(rates.tax).toFixed(0) }}%</span>
                          <span class="table2__Icon">＝</span>
                          <span class="table2__Data table2__td3">{{ Number(total_with_tax ? total_with_tax : 0 ).toLocaleString() }}円</span>
                        </td>
                      </tr>
                      <tr class="table2__tr">
                        <th class="table2__th">
                        </th>
                        <td class="table2__td">
                          支払総額(a+b+c)<span class="table2__Data table2__Goukei">{{ Number(total_result ? total_result : 0 ).toLocaleString() }}円</span>
                        </td>
                      </tr>
                    </table>
                    <span class="register__FormListStxt">※インフルエンサーへの費用とは別にシステム利用料が発生します。</span>
                  </div>
                </div>

                <div class="register__FormBox">
                  <h2 class="mainCont__Title1">
                    STEP4　期限を入力する
                  </h2>
                  <dl class="register__FormList">
                    <dt class="register__FormListLeft">
                      応募期限
                      <span class="register__Required">必須</span>
                    </dt>
                    <dd class="register__FormListRight">
                      <div class="register__SelectWrap2">
                        <select ref="application_deadline" @change="computeDates" class="register__Select1" v-model="project.application_deadline">
                          <option value="0">選択してください</option>
                          <option :value="key+5" v-for="(day, key) in 10">{{key + 5}}日後（{{ current_date }}）24:00</option>
                        </select>
                      </div>
                      <span class="error__message">{{ errors.deadline }}</span>
                    </dd>
                    <dt class="register__FormListLeft">
                      完了報告期限
                      <span class="register__Required">必須</span>
                    </dt>
                    <dd class="register__FormListRight">
                      <div class="register__InputWrap">
                        <input type="text" ref="date" id="input-datepicker" placeholder="日付を選択してください" class="register__Finish" readonly/>
                        <span class="error__message">{{ errors.date }}</span>
                      </div>
                    </dd>
                  </dl>
                  <div class="register__CalculationBox">
                    <p class="register__CalculationTitle">
                      予定（目安）
                    </p>
                    <table class="table table2">
                      <tr>
                        <th class="table2__th2">
                          a.応募期限（上記入力日）
                        </th>
                        <td class="table2__td2">
                          <span class="table2__Data">{{ application_deadline.slice(0,5) }}</span>
                          <span class="table2__Data">{{ application_deadline.slice(5,8) }}</span>
                          <span class="table2__Data">{{ application_deadline.slice(8,11) }}</span>
                        </td>
                      </tr>
                      <tr>
                        <th class="table2__th2">
                          b.選定期限（aより1週間）
                        </th>
                        <td class="table2__td2">
                          <span class="table2__Data">{{ selection_deadline_at.slice(0,5) }}</span>
                          <span class="table2__Data">{{ selection_deadline_at.slice(5,8) }}</span>
                          <span class="table2__Data">{{ selection_deadline_at.slice(8,11) }}</span>
                        </td>
                      </tr>
                      <tr>
                        <th class="table2__th2">
                          c.完了報告期限（上記入力日）
                        </th>
                        <td class="table2__td2">
                          <span class="table2__Data deadline_year"></span>
                          <span class="table2__Data deadline_month"></span>
                          <span class="table2__Data deadline_day"></span>
                        </td>
                      </tr>
                      <tr>
                        <th class="table2__th2">
                          d.結果確認期限（cより2週間）
                        </th>
                        <td class="table2__td2">
                          <span class="table2__Data deadline_year_weeks"></span>
                          <span class="table2__Data deadline_month_weeks"></span>
                          <span class="table2__Data deadline_day_weeks"></span>
                        </td>
                      </tr>
                    </table>
                  </div>

                </div>
                <div class="register__BtnWrap">
                  <a href="/mypage" class="register__BtnConfirm2">仕事管理を表示する</a>
                  <button class="register__BtnRegister2" @click="validate" type="button">入力内容を確認する</button>
                </div>
              </section>

              <section v-show="section == 2">
                <div class="mainCont__Box">
                  <h2 class="mainCont__Title1">
                    プレビュー
                  </h2>
                  <div class="mainCont__TitleWrap">
                    <div class="mainCont__TitleWrapBox">
                      <p class="mainCont__StIcon">募集中</p>
                      <h1 class="mainCont__Title2">
                        {{ project.title }}
                      </h1>
                      <ul class="tag">
                        <li class="tag__Inner" v-for="tag in project.genres">
                          # {{ tag }}
                        </li>
                        <li class="tag__Inner" v-if="project.other_category">
                          # {{ project.other_category }}
                        </li>
                      </ul>
                      <p class="mainCont__Date">掲載日：{{ current_date }}</p>
                    </div>
                    <div class="mainCont__UserWrap">
                    <div class="mainCont__UserPic mainCont__UserPic2">
                      <img :src="'/assets/user.png'" alt=""  class="mainCont__UserPicImg">
                    </div>
                    <div class="mainCont__UserName">
                      <h2>
                        {{ user.name }}
                      </h2>
                      <p class="mainCont__UserSt2">
                        評価<span class="mainCont__UserStScore3">4.5</span>
                      </p>
                    </div>
                  </div>
                  </div>
                </div>

                <div class="mainCont__Box">
                  <h2 class="mainCont__Title1">
                  案件内容
                  </h2>
                  <div class="mainCont__BlockWrap">
                    <div class="mainCont__Block">
                      <span class="mainCont__BlockTitle">
                        1人あたりの報酬
                      </span>
                      {{ Number(project.reward).toLocaleString() }}円
                    </div>
                    <div class="mainCont__Block">
                      <span class="mainCont__BlockTitle">
                        依頼予定人数
                      </span>
                      {{ project.request_people }}
                    </div>
                  </div>
                </div>

                <div class="mainCont__Box">
                  <h3 class="mainCont__Title4">
                    投稿希望SNS
                  </h3>

                  <div class="mainCont__BlockSnsWrap">
                    <div class="mainCont__BlockSns" v-if="project.sns_code.includes(1)">
                      <i class="fab fa-youtube" aria-hidden="true"></i>
                      Youtube
                    </div>
                    <div class="mainCont__BlockSns" v-if="project.sns_code.includes(2)">
                      <i class="fab fa-instagram" aria-hidden="true"></i>
                      Instagram
                    </div>
                    <div class="mainCont__BlockSns" v-if="project.sns_code.includes(3)">
                      <i class="fab fa-facebook" aria-hidden="true"></i>
                      Facebook
                    </div>
                    <div class="mainCont__BlockSns" v-if="project.sns_code.includes(4)">
                      <i class="fab fa-twitter" aria-hidden="true"></i>
                      Twitter
                    </div>
                    <div class="mainCont__BlockSns" v-if="project.sns_code.includes(5)">
                      <i class="fab fa-tiktok" aria-hidden="true"></i>
                      TikTok
                    </div>
                  </div>
                </div>

                <div class="mainCont__Box">
                  <h3 class="mainCont__Title4">
                    依頼内容
                  </h3>
                  <div class="mainCont__GrayBox">
                    <p class="mainCont__GrayBoxP" v-html="project.description" />
                  </div>
                </div>

                <div class="mainCont__Box">
                  <h3 class="mainCont__Title4">
                    告知URL
                  </h3>
                  <div class="mainCont__GrayBox">
                    <p class="mainCont__GrayBoxP">
                      <a :href="project.url">
                        {{ project.url }}
                      </a>
                    </p>
                  </div>
                </div>

                <div class="mainCont__Box">
                  <h3 class="mainCont__Title4">
                    添付ファイル
                  </h3>
                  <div class="mainCont__GrayBox">
                    <div class="mainCont__File" v-for="file in project.files">{{ file.name.length >= 15 ? file.name.substring(0, 14) + " ..." : file.name }}
                      <span class="file_name">{{ file.name }}</span>
                    </div>
                  </div>
                </div>

                <div class="register__BtnWrap">
                  <button class="register__BtnConfirm2" type="button" @click="back">入力内容を修正する</button>
                  <button class="register__BtnRegister2" type="button" @click="onSubmit">この内容で登録する</button>
                </div>
              </section>
            </div>
            <section v-show="section == 3">
              <div class="register__Cont">
                  <h2 class="register__Title register__Title2">ご登録ありがとうございます。<br>
                  仕事の募集を開始しました。</h2>

                  <h2 class="register__Title">募集期間が終了するまで、インフルエンサーからの応募をお待ちください。</h2>

                  <div class="mainCont__Btns">
                    <ul class="mainCont__BtnsList">
                      <li class="mainCont__BtnsLi">
                        <a href="/mypage/project_management" class="mainCont__Btn2 mainCont__BtnCon">
                         仕事管理を表示する
                        </a>
                      </li>
                    </ul>
                  </div>
               </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from './../includes/NavbarPages';
import moment from 'moment';

export default {
  components: {
    Navbar
  },
  created() {
    this.getGenre()
    this.date()
    this.getUser()
    this.getRates()
    this.getData()
  },
  data () {
    return {
      user: false,
      isShow: false,
      section: this.$route.query.ref,
      genres: [],
      total: 0,
      total_with_fee: 0,
      total_with_tax: 0,
      total_result: 0,
      application_deadline: '',
      selection_deadline_at: '',
      report_deadline: '',
      description: '',
      rates: {},
      other_category: false,
      project: {
        genres: [],
        files: [],
        sns_code: [],
        request_people: 0,
        application_deadline: 0,
        title: '',
        url: ''
      },
      current_date: '',
      sns_list: [
          { text: 'YouTube', value: 1 },
          { text: 'Instagram', value: 2 },
          { text: 'Facebook', value: 3 },
          { text: 'Twitter', value: 4 },
          { text: 'TikTok', value: 5 }
        ],
      errors: {
        file: ''
      },
      error_focus:''
    }
  },
  watch: {
    other_category(val) {
      if(!val) {
        this.project.other_category = ''
      }
    },
    description(val){
      this.errors.description = ''
      if(val.length > 2500){
        this.errors.description = "2500文字以内"
      }
    },
    'project.title': function(val){
      this.errors.title = ''
      if(val.length > 200){
        this.errors.title = "200文字以内"
      }
    },
    'project.url': function(val){
      this.errors.sns_url = ''
      if(val.length > 200){
        this.errors.sns_url = "200文字以内"
      }
    }
  },
  methods: {
    getData(){
      if(localStorage.getItem('project')){
        this.project = localStorage.getItem('project') ? JSON.parse(localStorage.getItem('project')) : this.project;
        this.description = this.project.description.replace(/<br>/ig, "\n")
        this.other_category = localStorage.getItem('other_category') ? JSON.parse(localStorage.getItem('project')) : false
        this.rates = localStorage.getItem('rates') ? JSON.parse(localStorage.getItem('rates')) : this.rates
        this.computeDates()
        this.computeTotal()
        setTimeout(() => {
          $('#input-datepicker').val(this.project.report_deadline)
        }, 1000)
      }
    },
    getRates(){
      axios.get('/rates')
      .then(res => {
        this.rates = res.data
        localStorage.setItem('rates', JSON.stringify(res.data))
      })
    },
    getUser(){
      axios.get('/init')
      .then(res => {
        this.user = res.data
      })
    },
    isNumber(e) {
      e.target.value = e.target.value.replace(/[^0-9]+/g, '');
      this.project.reward = e.target.value
    },
    computeTotal(){
      let total_payment = this.project.reward * this.project.request_people
      this.total = total_payment < this.rates.min_fee ? this.rates.min_fee : total_payment
      this.total_with_fee = this.total * (this.rates.fee/100)
      this.total_with_tax = (this.total + this.total_with_fee) * (this.rates.tax/100)

      this.total_result = this.total + this.total_with_fee + this.total_with_tax
    },
    date(){
      let currentDate = new Date().toJSON().slice(0,10).replace(/-/g,'/')
      this.current_date = moment(String(currentDate)).format('YYYY年M月D日')
    },
    computeDates(){
      var current = new Date();
      var added_week = new Date();
      current.setDate(current.getDate() + this.project.application_deadline);
      added_week.setDate(added_week.getDate() + this.project.application_deadline + 7)

      this.application_deadline = moment(String(current.toJSON().slice(0,10).replace(/-/g,'/'))).format('YYYY年MM月DD日')
      this.selection_deadline_at = moment(String(added_week.toJSON().slice(0,10).replace(/-/g,'/'))).format('YYYY年MM月DD日')
    },
    back(){
      location.href = 'add?ref=1'
    },
    getGenre(){
      axios.get('/genre_list').then(response => {
          this.genres = response.data;
      })
    },
    removeFile(index){
      this.$delete(this.project.files, index)
    },
    fileUpload(e){
      this.errors.file = ''
      this.project.files = []
      let target = e.target.files.length
      if(target > 10){
        this.errors.file = "添付ファイルは最大10個までとなります。 "
      } else {
        for(var i = 0; i < target; i++){
          let file = e.target.files[i]
          if((file.size/1000000) > 10){
            this.errors.file = "アップロードできるファイルは10MBとなります。 "
          } else {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = (e) => {
              this.project.files.push({name:file.name,file:e.target.result.split(',')[1]})
            }
          }
        }
      }
    },
    validate(){
      this.errors = {}
      this.error_focus = ''

      if(!$('#input-datepicker').val()){
        this.errors.date = "募集開始日時は必須です。"
        this.error_focus = this.$refs.date
      } else {
        this.project.report_deadline = $('#input-datepicker').val()
      }

      if(!this.project.application_deadline){
        this.errors.deadline = "応募期限は必須です。"
        this.error_focus = this.$refs.application_deadline
      }

      if(!this.project.request_people){
        this.errors.request_people = "依頼人数は必須です。"
        this.error_focus = this.$refs.request_people
      }

      if(!this.project.reward){
        this.errors.reward = "一人あたりの報酬は必須です。"
        this.error_focus = this.$refs.reward
      }

      if(this.project.sns_code.length <= 0){
        this.errors.sns_code = "投稿希望SNSは1つ以上選択してください。"
        this.error_focus = this.$refs.url
      }

      if(this.project.url && this.project.url.length > 200){
        this.errors.sns_url = "200文字以内"
        this.error_focus = this.$refs.url
      }

      if(this.description && this.description.length > 2500){
        this.errors.description = "2500文字以内"
        this.error_focus = this.$refs.description
      }

      if(!$('#html-output').val() && !this.project.description){
        this.errors.description = "依頼内容は必須です。"
        this.error_focus = this.$refs.description
      } else {
        this.project.description = $('#html-output').val() ? $('#html-output').val() : this.project.description
      }

      if(this.project.title && this.project.title.length > 200){
        this.errors.title = "200文字以内"
        this.error_focus = this.$refs.title
      }

      if(!this.project.title){
        this.errors.title = "依頼タイトルは必須です。"
        this.error_focus = this.$refs.title
      }

      if(this.project.genres.length == 0 && !this.other_category){
        this.errors.genres = "カテゴリは1つ以上選択してください。"
        this.error_focus = this.$refs.genre
      }

      if(this.other_category && this.project.other_category.length == 0){
        this.errors.genres = "その他カテゴリーを入力してください。"
        this.error_focus = this.$refs.genre
      }

      if(Object.keys(this.errors).length == 0){
        localStorage.setItem('project', JSON.stringify(this.project))
        localStorage.setItem('other_category', JSON.stringify(this.other_category))
        location.href = 'add?ref=2'
      } else {
        this.error_focus.focus()
      }
    },
    onSubmit(){
      axios.post('/project_form', {
        data: this.project,
        json: true
      }).then(res => {
        if(res.data.status == 200){
          this.section = 3
          localStorage.removeItem('project')
          localStorage.removeItem('rates')
        }
      }).catch(error => {
        this.errors = error.response.data
      });
    }
  }
}
</script>

<style scoped>
  .file_name {
    display: none;
    padding: 5px;
  }

  .mainCont__File:hover span{
    display: block;
    position: absolute;
    top: 227%;
    line-height: 20px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    color: rgb(113, 157, 171);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    -webkit-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
  }

  .row {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
  }
  .left {
    float: left;
    width: 85%;
    padding: 0;
    margin: 5px;
  }
  .right {
    float: right;
    width: 10%;
    padding: 0;
    margin: 5px
  }
  .close {
    cursor: pointer;
    padding: 12px 16px;
    transform: translate(0%, -50%);
  }

  .close:hover {background: #bbb;}
  Input[type='file'] {
    color: transparent;
  }

  #placeholderDiv {
  	position: absolute;
  	top: 15px;
  	left: 15px;
  	font-size: 14px
  }

  @media (max-width: 640px) {
  	#placeholderDiv {
  		font-size: 12px
  	}
  }

  #placeholderDiv.none {
  	display: none
  }
</style>
