<template>
  <div class="project--recruitment">
    <ValidationObserver ref="observer">
      <form
        :action="`${postUrl}`"
        method="POST"
        enctype="multipart/form-data"
        autocomplete="off"
        @submit="onSubmit"
      >
        <input type="hidden" name="_token" v-bind:value="csrf" />
        <div class="mainCont__Box">
          <div class="register__FormBox">
            <h2 class="mainCont__Title1">
              STEP1<br class="inline_s" />依頼したいカテゴリを選択する
            </h2>
            <p
              class="register__RadioBox register__RadioBox2"
              v-for="genre in genres"
              :key="genre.id"
            >
              <input
                :id="'check' + genre.id"
                class="register__RadioBtn"
                type="checkbox"
                :value="genre.id"
                v-model="project.genres"
                name="genres[]"
              />
              <label
                :for="'check' + genre.id"
                class="register__Label register__Label2"
                >{{ genre.name }}</label
              >
            </p>
            <p
              class="
                register__RadioBox register__RadioBox2 register__RadioBoxOther
              "
            >
              <input
                id="check_other"
                class="register__RadioBtn"
                type="checkbox"
                v-model="other_category"
              />
              <label for="check_other" class="register__Label register__Label2"
                >その他</label
              >
              <span class="register__RadioBoxOtherInput">
                <ValidationProvider
                  name="その他カテゴリ"
                  rules="max:20"
                  v-slot="{ errors }"
                  :immediate="true"
                >
                  <input
                    ref="genre"
                    type="text"
                    placeholder="例) 釣り"
                    class="register__Irai"
                    name="other_category"
                    v-model="project.other_category"
                  />
                  <span v-show="showCategoryError" class="error__message">
                    {{ errors[0] }}
                  </span>
                </ValidationProvider>
              </span>
            </p>
            <ValidationProvider
              name="カテゴリ"
              rules="min_value:1|max_value:3"
              v-slot="{ errors }"
              :immediate="true"
            >
              <input type="hidden" v-model="categoriesLength" />
              <p v-show="showCategoryError" class="error__message">
                {{ errors[0] }}
              </p>
            </ValidationProvider>
          </div>

          <div class="register__FormBox">
            <h2 class="mainCont__Title1">STEP2　仕事の内容を入力する</h2>
            <dl class="register__FormList">
              <dt class="register__FormListLeft">
                依頼タイトル
                <span class="register__Required">必須</span>
              </dt>
              <dd class="register__FormListRight">
                <ValidationProvider
                  name="依頼タイトル"
                  rules="required|max:255"
                  v-slot="{ errors }"
                >
                  <input
                    type="text"
                    ref="title"
                    v-model="project.title"
                    placeholder="例) 景品プレゼント 化粧品「xxx」のPR"
                    class="register__Irai"
                    name="title"
                  />
                  <span class="error__message">{{ errors[0] }}</span>
                </ValidationProvider>
              </dd>

              <dt class="register__FormListLeft">
                依頼内容
                <span class="register__Required">必須</span>
              </dt>
              <dd class="register__FormListRight">
                <ValidationProvider
                  name="依頼内容"
                  rules="required|max:2500"
                  v-slot="{ errors }"
                >
                  <textarea
                    v-model="project.content"
                    id="text-editor"
                    ref="description"
                    class="register__TextArea register__TextArea2 msg"
                    name="content"
                  />
                  <textarea id="html-output" hidden />
                  <div id="placeholderDiv" style="color: #818181">
                    【 概要 】<br />
                    今回、Excel
                    VBAを使ったシミュレーションシステムの開発をお願いします。<br /><br />

                    【 依頼内容 】<br />
                    ・開発内容：<br />
                    毎月予算に対していくらの収益が見込めるかシミュレーションするシステムの制作<br /><br />

                    【 納期 】<br />
                    ◯月◯日まで / 相談して決めたい<br />
                    【 契約金額(税抜) 】<br />
                    ◯◯万円くらいで見積もりをお願いします。<br />
                    ※契約金額（税込）からシステム利用料を差し引いた金額が、ワーカーさまの受取金額となります<br /><br />

                    【 重視する点・開発経験 】<br />
                    ◯◯を使った開発のご経験<br /><br />

                    【 応募方法 】<br />
                    ・簡単な自己紹介や実績をご提示ください。<br />
                    ・条件提示にてお見積もり金額を入力してください。<br />
                    ご質問がありましたら、気軽にお問い合わせください。<br />
                    応募をお待ちしております！
                  </div>
                  <span class="register__FormListStxt" style="float: right"
                    >{{
                      project.content != undefined ? project.content.length : 0
                    }}/2500</span
                  >
                  <span class="error__message">{{ errors[0] }}</span>
                </ValidationProvider>
              </dd>
              <dt class="register__FormListLeft">
                投稿希望SNS
                <span class="register__Required">必須</span>
              </dt>
              <dd class="register__FormListRight">
                <ValidationProvider
                  name="投稿希望SNS"
                  rules="required_if"
                  v-slot="{ errors }"
                >
                  <p
                    class="register__RadioBox register__RadioBox3"
                    v-for="(sns_data, key) in sns_list"
                  >
                    <input
                      :id="'radio' + key"
                      class="register__RadioBtn"
                      :value="sns_data.value"
                      type="radio"
                      v-model="project.post_sns_code"
                      name="post_sns_code"
                    />
                    <label :for="'radio' + key" class="register__Label">{{
                      sns_data.text
                    }}</label>
                  </p>
                  <p class="error__message">{{ errors[0] }}</p>
                </ValidationProvider>
              </dd>
              <dt class="register__FormListLeft">
                告知URL
                <span class="register__Any">任意</span>
              </dt>
              <dd class="register__FormListRight">
                <ValidationProvider
                  name="告知URL"
                  rules="max:200"
                  v-slot="{ errors }"
                >
                  <input
                    type="text"
                    ref="url"
                    placeholder=""
                    class="register__Url"
                    v-model="project.notification_url"
                    name="notification_url"
                  />
                  <span class="register__FormListStxt"
                    >SNSへの投稿内容に掲示して欲しいURLがある場合は入力してください。</span
                  >
                  <span class="error__message">{{ errors[0] }}</span>
                </ValidationProvider>
              </dd>
              <dt class="register__FormListLeft">
                添付ファイル
                <span class="register__Any">任意</span>
              </dt>
              <input
                type="hidden"
                name="uploaded_files_index[]"
                v-for="(file, index) in project.uploaded_files"
                :key="`uploaded-files-${index}`"
                :value="file.value"
              />
              <dd class="register__FormListRight">
                <div id="filelist">
                  <div
                    class="register__FormListLi"
                    v-for="(key, index) in 5 - project.uploaded_files.length"
                    :key="index"
                  >
                    <div class="register__FormListList">
                      <label class="register__FileWrap register__FormListFile">
                        <i class="far fa-file"></i> ファイルを選択する
                        <input
                          type="file"
                          ref="attachment"
                          name="attachments[]"
                          class="register__File2"
                          @change="fileUpload($event, index)"
                        />
                      </label>
                    </div>
                    <div class="register__FileMessage">
                      {{
                        project.attachments[index]
                          ? project.attachments[index].name
                          : "ファイルが未選択です"
                      }}
                    </div>
                    <div
                      class="register__FileClear"
                      v-if="project.attachments[index]"
                      @click="removeAttachment(index)"
                    >
                      クリア
                    </div>
                  </div>
                  <div
                    class="register__FormListLi"
                    v-for="(uploadFile, index) in project.uploaded_files"
                    :key="`formlist-${index}`"
                  >
                    <div class="register__FileMessage">
                      {{ uploadFile.name }}
                    </div>
                    <div
                      class="register__FileClear"
                      @click="removeUploadedFiles(index)"
                    >
                      クリア
                    </div>
                  </div>
                </div>
                <span class="register__FormListStxt"
                  >参考資料などがあれば添付してください。</span
                >
                <span class="register__FormListStxt"
                  >※1ファイルにつき10Mバイトまで添付できます。</span
                >
                <p class="error__message">{{ customErrors.fileSize }}</p>
              </dd>
            </dl>
          </div>

          <div class="register__FormBox">
            <h2 class="mainCont__Title1">STEP3　予算を入力する</h2>
            <dl class="register__FormList">
              <dt class="register__FormListLeft">
                1人あたりの報酬
                <span class="register__Required">必須</span>
              </dt>
              <dd class="register__FormListRight">
                <ValidationProvider
                  name="1人あたりの報酬"
                  rules="required|min_value:5000"
                  v-slot="{ errors }"
                >
                  <span class="register__PriceWrap">
                    <input
                      type="tel"
                      ref="reward"
                      class="register__Price"
                      v-model="project.reward_amount"
                      name="reward_amount"
                    />
                    円(税抜)
                  </span>
                  <p class="error__message">{{ errors[0] }}</p>
                </ValidationProvider>
              </dd>
              <dt class="register__FormListLeft">
                依頼人数（予定）
                <span class="register__Required">必須</span>
              </dt>
              <dd class="register__FormListRight">
                <div class="register__SelectWrap">
                  <select
                    ref="request_people_number"
                    class="register__Select1"
                    v-model="project.request_people_number"
                    name="request_people_number"
                  >
                    <option v-for="n in 10" v-bind:key="n" v-bind:value="n">
                      {{ n }}人
                    </option>
                  </select>
                </div>
                <!-- TODO: validation -->
                <span class="error__message"></span>
              </dd>
            </dl>

            <div class="register__CalculationBox">
              <p class="register__CalculationTitle">見積（支払総額）</p>
              <table class="table table2">
                <tr>
                  <th class="table2__th">a.インフルエンサー費用</th>
                  <td class="table2__td">
                    <span class="table2__Data table2__td1"
                      >{{
                        Number(
                          project.reward_amount ? project.reward_amount : 0
                        ).toLocaleString()
                      }}円</span
                    >
                    <span class="table2__Icon">×</span>
                    <span class="table2__Data"
                      >{{
                        project.request_people_number
                          ? project.request_people_number
                          : 0
                      }}人</span
                    >
                    <span class="table2__Icon">＝</span>
                    <span class="table2__Data table2__td3"
                      >{{
                        Number(totalCost ? totalCost : 0).toLocaleString()
                      }}円</span
                    >
                  </td>
                </tr>
                <tr>
                  <th class="table2__th">b.システム利用料</th>
                  <td class="table2__td">
                    <span class="table2__Data table2__td1"
                      >{{
                        Number(totalCost ? totalCost : 0).toLocaleString()
                      }}円</span
                    >
                    <span class="table2__Icon">×</span>
                    <span class="table2__Data"
                      >{{ parseFloat(feeRate).toFixed(0) }}%</span
                    >
                    <span class="table2__Icon">＝</span>
                    <span class="table2__Data table2__td3"
                      >{{ Number(fee ? fee : 0).toLocaleString() }}円</span
                    >
                  </td>
                </tr>
                <tr>
                  <th class="table2__th">c.消費税</th>
                  <td class="table2__td">
                    <span class="table2__Data table2__td1"
                      >{{
                        Number(
                          totalCost + fee ? totalCost + fee : 0
                        ).toLocaleString()
                      }}円</span
                    >
                    <span class="table2__Icon">×</span>
                    <span class="table2__Data"
                      >{{ parseFloat(taxRate).toFixed(0) }}%</span
                    >
                    <span class="table2__Icon">＝</span>
                    <span class="table2__Data table2__td3"
                      >{{ Number(tax ? tax : 0).toLocaleString() }}円</span
                    >
                  </td>
                </tr>
                <tr class="table2__tr">
                  <th class="table2__th"></th>
                  <td class="table2__td">
                    支払総額(a+b+c)<span class="table2__Data table2__Goukei"
                      >{{
                        Number(totalPrice ? totalPrice : 0).toLocaleString()
                      }}円</span
                    >
                  </td>
                </tr>
              </table>
              <span class="register__FormListStxt"
                >※インフルエンサーへの費用とは別にシステム利用料が発生します。</span
              >
            </div>
          </div>

          <div class="register__FormBox">
            <h2 class="mainCont__Title1">STEP4　期限を入力する</h2>
            <dl class="register__FormList">
              <dt class="register__FormListLeft">
                応募期限
                <span class="register__Required">必須</span>
              </dt>
              <dd class="register__FormListRight">
                <ValidationProvider
                  name="応募期限"
                  rules="required"
                  v-slot="{ errors }"
                >
                  <div class="register__SelectWrap2">
                    <select
                      ref="application_deadline"
                      class="register__Select1"
                      v-model="project.application_deadline_at"
                      name="application_deadline_at"
                    >
                      <option value="">選択してください</option>
                      <option
                        :value="index"
                        v-for="(value, index) in 10"
                        :key="index"
                      >
                        {{ index + 5 }}日後{{
                          dateFormattedOption(
                            createApplicationDeadline(index + 5)
                          )
                        }}
                      </option>
                    </select>
                  </div>
                  <span class="error__message">{{ errors[0] }}</span>
                </ValidationProvider>
              </dd>
              <dt class="register__FormListLeft">
                完了報告期限
                <span class="register__Required">必須</span>
              </dt>
              <dd class="register__FormListRight">
                <input
                  type="hidden"
                  name="report_deadline_at"
                  :value="dateFormatValue(project.report_deadline_at)"
                />
                <div class="register__InputWrap">
                  <ValidationProvider
                    name="完了報告期限"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <Datepicker
                      input-class="register__Finish"
                      :language="ja"
                      :format="formattedDatepicker"
                      :disabled-dates="disabledDates"
                      placeholder="日付を選択してください"
                      v-model="project.report_deadline_at"
                    ></Datepicker>
                    <span class="error__message">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
              </dd>
            </dl>
            <div class="register__CalculationBox">
              <p class="register__CalculationTitle">予定（目安）</p>
              <table class="table table2">
                <tr>
                  <th class="table2__th2">a.応募期限（上記入力日）</th>
                  <td class="table2__td2">
                    <span class="table2__Data">
                      {{ dateFormatJapanese(applicationDeadline).slice(0, 5) }}
                    </span>
                    <span class="table2__Data">
                      {{ dateFormatJapanese(applicationDeadline).slice(5, 8) }}
                    </span>
                    <span class="table2__Data">
                      {{ dateFormatJapanese(applicationDeadline).slice(8, 11) }}
                    </span>
                  </td>
                </tr>
                <tr>
                  <th class="table2__th2">b.選定期限（aより1週間）</th>
                  <td class="table2__td2">
                    <span class="table2__Data">
                      {{ dateFormatJapanese(selectionDeadline).slice(0, 5) }}
                    </span>
                    <span class="table2__Data">
                      {{ dateFormatJapanese(selectionDeadline).slice(5, 8) }}
                    </span>
                    <span class="table2__Data">
                      {{ dateFormatJapanese(selectionDeadline).slice(8, 11) }}
                    </span>
                  </td>
                </tr>
                <tr>
                  <th class="table2__th2">c.完了報告期限（上記入力日）</th>
                  <td class="table2__td2">
                    <span class="table2__Data">
                      {{
                        dateFormatJapanese(project.report_deadline_at).slice(
                          0,
                          5
                        )
                      }}
                    </span>
                    <span class="table2__Data">
                      {{
                        dateFormatJapanese(project.report_deadline_at).slice(
                          5,
                          8
                        )
                      }}
                    </span>
                    <span class="table2__Data">
                      {{
                        dateFormatJapanese(project.report_deadline_at).slice(
                          8,
                          11
                        )
                      }}
                    </span>
                  </td>
                </tr>
                <tr>
                  <th class="table2__th2">d.結果確認期限（cより2週間）</th>
                  <td class="table2__td2">
                    <span class="table2__Data">
                      {{
                        dateFormatJapanese(resultConfirmDeadline).slice(0, 5)
                      }}
                    </span>
                    <span class="table2__Data">
                      {{
                        dateFormatJapanese(resultConfirmDeadline).slice(5, 8)
                      }}
                    </span>
                    <span class="table2__Data">
                      {{
                        dateFormatJapanese(resultConfirmDeadline).slice(8, 11)
                      }}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="register__BtnWrap">
            <a href="/mypage" class="register__BtnConfirm2"
              >仕事管理を表示する</a
            >
            <button class="register__BtnRegister2" type="submit">
              入力内容を確認する
            </button>
          </div>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import { ja } from "vuejs-datepicker/dist/locale";
import moment from "moment";
import Config from "../../../config/constant";
import "../../util/browser-reload";
import * as dateFormat from "../../util/date-format";
import { persistedRefresh } from "../../util/browser-reload";

const config = Config;
export default {
  components: {
    Datepicker,
  },
  props: {
    input: {
      type: Object,
    },
    genres: {
      type: Array,
    },
    taxRate: {
      type: Number,
    },
    feeRate: {
      type: Number,
    },
    postUrl: {
      type: String,
    },
    csrf: {
      type: String,
    },
  },
  created() {
    persistedRefresh();
    if (this.input !== null) {
      this.project = Vue.util.extend({}, this.input);
      this.project.application_deadline_at = Number(
        this.project.application_deadline_at
      );
      this.project.report_deadline_at = new Date(
        this.project.report_deadline_at.replace(/-/g, "/")
      ); // for safari
      if (this.project.other_category) {
        this.other_category = true;
      }
    }
  },
  data() {
    return {
      ja: ja, // for date picker
      user: false,
      isShow: false,
      showCategoryError: false,
      section: this.$route.query.ref,
      selection_deadline_at: "",
      rates: {},
      other_category: false,
      project: {
        genres: [],
        title: "",
        content: "",
        post_sns_code: [],
        notification_url: "",
        attachments: new Array(5),
        uploaded_files: [],
        reward_amount: 10000,
        request_people_number: 5,
        application_deadline_at: "",
        report_deadline_at: "",
      },
      files: [],
      current_date: new Date(),
      sns_list: [
        { text: "YouTube", value: 1 },
        { text: "Instagram", value: 2 },
        { text: "Facebook", value: 3 },
        { text: "Twitter", value: 4 },
        { text: "TikTok", value: 5 },
      ],
      errors: {
        file: "",
      },
      customErrors: {
        fileSize: "",
      },
      customeErrorMessages: {
        fileSize: "添付ファイルは10Mバイト以下にしてください。",
      },
    };
  },
  computed: {
    dateFormatValue() {
      return function (datetime) {
        if (!datetime) {
          return "";
        }
        return dateFormat.mysqlDateTime(datetime);
      };
    },
    selectionDeadline() {
      return this.applicationDeadline
        ? this.getSelectionDeadline(this.applicationDeadline)
        : "";
    },
    applicationDeadlines() {
      return [...Array(10)].map((_, i) =>
        this.createApplicationDeadline(i + 5)
      );
    },
    applicationDeadline() {
      if (
        this.project.application_deadline_at ||
        this.project.application_deadline_at === 0
      ) {
        return this.createApplicationDeadline(
          this.project.application_deadline_at + 5
        );
      } else {
        return "";
      }
    },
    resultConfirmDeadline() {
      return this.project.report_deadline_at
        ? this.getResultConfirmDeadline(this.project.report_deadline_at)
        : "";
    },
    totalCost() {
      return this.project.reward_amount * this.project.request_people_number;
    },
    fee() {
      return Math.floor(this.totalCost * (this.feeRate / 100));
    },
    tax() {
      return Math.floor((this.totalCost + this.fee) * (this.taxRate / 100));
    },
    totalPrice() {
      return this.totalCost + this.fee + this.tax;
    },
    disabledDates() {
      const selectionDeadlineDate = new Date(this.selectionDeadline);
      // round hh:mm::ss
      const disabledDatesFrom = new Date(
        selectionDeadlineDate.getFullYear(),
        selectionDeadlineDate.getMonth(),
        selectionDeadlineDate.getDate() + 1
      );
      return {
        to: disabledDatesFrom,
      };
    },
    categoriesLength() {
      let length = 0;
      length += this.project.genres.length;
      if (this.other_category === true) {
        length++;
      }
      return length;
    },
  },
  watch: {
    "project.reward_amount": function (val) {
      this.project.reward_amount = val.replace(/\W|[A-Za-z]/g, "");
    },
    other_category: function (val) {
      if (!val) {
        this.project.other_category = "";
      }
    },
    categoriesLength: function () {
      this.showCategoryError = true;
    },
    "project.application_deadline_at": function () {
      if (
        new Date(this.selectionDeadline) >=
        new Date(this.project.report_deadline_at)
      ) {
        this.project.report_deadline_at = "";
      }
    },
  },
  methods: {
    isNumber(e) {
      e.target.value = e.target.value.replace(/[^0-9]+/g, "");
      this.project.reward = e.target.value;
    },
    formattedDatepicker(date) {
      return dateFormat.slashDate(date);
    },
    dateFormattedOption(datetime) {
      return dateFormat.spectifiedFormatDate(
        datetime,
        "（YYYY年M月D日） 24:00"
      );
    },
    createApplicationDeadline(key) {
      let date = new Date(this.current_date);
      const applicationDeadline = date.setDate(date.getDate() + key);
      return new Date(applicationDeadline);
    },
    getSelectionDeadline(datetime) {
      let applicationDeadline = new Date(datetime);
      applicationDeadline = applicationDeadline.setDate(
        applicationDeadline.getDate() + 7
      );

      return applicationDeadline;
    },
    getResultConfirmDeadline(datetime) {
      let reportDeadline = new Date(datetime);
      reportDeadline = reportDeadline.setDate(reportDeadline.getDate() + 14);

      return reportDeadline;
    },
    dateFormatJapanese(datetime) {
      if (!datetime) {
        return "";
      }
      return dateFormat.japaneseDate(datetime);
    },
    removeAttachment(index) {
      this.project.attachments.splice(index, 1, null);
      this.$refs.attachment[index].value = null;
    },
    removeUploadedFiles(index) {
      this.project.uploaded_files.splice(index, 1);
    },
    fileUpload(event, index) {
      this.customErrors.fileSize = "";
      let file = event.target.files[0];
      // can upload under 10MB size
      if (file.size >= 10000000) {
        this.$refs.attachment[index].value = null;
        this.customErrors.fileSize = this.customeErrorMessages.fileSize;
      } else {
        this.project.attachments.splice(index, 1, {
          name: file.name,
        });
      }
    },
    async onSubmit(event) {
      const isValid = await this.$refs.observer.validate();
      if (!isValid) {
        this.showCategoryError = true;
        event.preventDefault();
      }
    },
  },
};
</script>

<style scoped>
.file_name {
  display: none;
  padding: 5px;
}

.mainCont__File:hover span {
  display: block;
  position: absolute;
  top: 227%;
  line-height: 20px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  z-index: 999;
  color: rgb(113, 157, 171);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.row {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.left {
  float: left;
  width: 85%;
  padding: 0;
  margin: 5px;
}
.right {
  float: right;
  width: 10%;
  padding: 0;
  margin: 5px;
}
.close {
  cursor: pointer;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: #bbb;
}
Input[type="file"] {
  color: transparent;
}

#placeholderDiv {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
}

@media (max-width: 640px) {
  #placeholderDiv {
    font-size: 12px;
  }
}

#placeholderDiv.none {
  display: none;
}
</style>
