<template>
  <div>
    <Navbar :isShow="'withSearch'" v-if="!auth_status"/>
    <Header v-else/>
  </div>
</template>

<script>
  import Navbar from './../includes/NavbarPages'
  import Header from './../includes/Header'
  import moment from 'moment'

  export default {
    data() {
      return {
        auth_status: JSON.parse(localStorage.getItem('auth')),
      }
    },
    components: {
      Navbar,Header
    }
  }
</script>
