<template>
  <div>
    <Navbar :isShow="'withSearch'" v-if="!auth_status"/>
    <Header v-else />
  </div>
</template>

<script>
  import Navbar from './../includes/NavbarPages'
  import Header from './../includes/Header'

  export default {
    components: {
      Navbar,Header
    },
    data (){
      return {
        auth_status: JSON.parse(localStorage.getItem('auth'))
      }
    }
  }
</script>
