<template>
  <div>
    <Header />
    <div class="mainCont">
        <div class="mainCont__Inner">
            <div class="breadcrumb breadcrumb2">
                <ul class="breadcrumb__List">
                <li class="breadcrumb__Li">
                    <a href="#">仕事管理へ戻る</a>
                </li>
                <li class="breadcrumb__Li">
                    <a href="#">案件をさがす</a>
                </li>
                <li class="breadcrumb__Li">
                    <a href="#">{{project.title}}</a>
                </li>
                </ul>
            </div>
            <div class="mainCont__Box">
                    <div class="flowlist flowlist2">
                    <p class="flowlist__Flow flowlist__Flow2 flowlist__FlowActive">
                        <span class="flowlist__FlowNumber flowlist__FlowNumberActive">FLOW1</span>
                        応募内容<br>入力
                    </p>
                    <p class="flowlist__Flow flowlist__Flow2">
                        <span class="flowlist__FlowNumber">FLOW2</span>
                        応募内容<br>確認
                    </p>
                    <p class="flowlist__Flow flowlist__Flow2">
                        <span class="flowlist__FlowNumber">FLOW3</span>
                        応募登録<br>完了
                    </p>
                    </div>
                </div>
            <div class="mainCont__Wrap">
                <div class="mainCont__Right mainCont__Right3">
                <form class="register register2">
                    <Details :user="auth_status" />

                    <div class="mainCont__Box">
                    <h2 class="mainCont__Title1">
                        応募する
                    </h2>
                    <p class="mainCont__Box">自己PR・実績は具体的に書くほうが選ばれやすくなります。</p>
                    <dl class="register__FormList">
                        <dt class="register__FormListLeft">
                        自己PR・実績<span class="register__Required">必須</span>
                        <span class="register__FormListStxt">
                            2500文字まで
                          </span>
                        </dt>
                        <dd class="register__FormListRight">
                        <textarea id="" placeholder="" class="register__TextArea" v-model="self_promotion" maxlength="2500"></textarea>
                        <span class="register__FormListStxt" style="float:right;">{{self_promotion != undefined ? self_promotion.length : 0}}/2500</span>
                        <span class="register__FormListStxt">※個人情報・機密情報等を含めないようにご注意ください。</span>
                        <span class="error__message" v-if="error.self_promotion">{{ error.self_promotion[0] }}</span>
                        </dd>
                    </dl>
                    <button class="register__BtnConfirm" @click="saveSelfPromotion()" type="button">内容を確認</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
  </div>
</template>

<script>
import Header from './../../includes/Header'
import UserService from '../../../../service/user/user.service'
import ProjectService from '../../../../service/project/project.service'
import ProjectUserService from '../../../../service/project-user/project-user.service'
import moment from 'moment';
import Details from '../../includes/ProjectDetails'

const userService = new UserService();
const projectService = new ProjectService();
const projectUserService = new ProjectUserService();

export default {
  data() {
    return {
      auth_status: JSON.parse(localStorage.getItem('auth')),
      sns_list: [],
      self_promotion: localStorage.getItem('self-promo'),
      project: {
          project_attachment: [],
      },
      user: {
          avatar_image: ''
      },
      error: {}
    }
  },
  components: {
    Header, Details
  },
  created() {
    this.getProjectUser();
    this.getUser();
    if(this.self_promotion != null && this.self_promotion != '') this.self_promotion = this.self_promotion.replace(/<br ?\/?>/ig,"\n");
  },
  methods: {
    getProjectUser() {
        projectService.getProject(this.$route.query.project_id).then(response => {
            this.project = response.data.data;
            this.sns_list = this.project.post_sns_code.split(',');
        });
    },
    formatDate(date){
        return moment(date).format('YYYY年M月D日');
    },
    getUser(){
      userService.getUser().then(response => {
        this.user = response.data;
        this.user.avatar_image = this.user.avatar_image == null ? '/assets/user.png' : this.user.avatar_image;
      });
    },
    saveSelfPromotion(){
        projectUserService.checkSelfpromo({self_promotion: this.self_promotion}).then(response => {
            localStorage.setItem('self-promo', response.data.self_promotion);
            this.$router.push(`/project/apply_confirm?project_id=${this.$route.query.project_id}`);
            this.error = {};
        }).catch((err) => {
            this.error = err.response.data.errors;
        });
    }
  }
}

</script>
