<template>
  <div>
    <Header />
        <div class="mainCont">
            <div class="mainCont__Inner">
            <div class="breadcrumb breadcrumb2">
                <ul class="breadcrumb__List">
                <li class="breadcrumb__Li">
                    <a href="#">仕事管理へ戻る</a>
                </li>
                <li class="breadcrumb__Li">
                    <a href="#">案件をさがす</a>
                </li>
                <li class="breadcrumb__Li">
                    <a href="#">{{project.title}}</a>
                </li>
                </ul>
            </div>
            <div class="mainCont__Box">
                    <div class="flowlist flowlist2">
                    <p class="flowlist__Flow flowlist__Flow2">
                        <span class="flowlist__FlowNumber">FLOW1</span>
                        応募内容<br>入力
                    </p>
                    <p class="flowlist__Flow flowlist__Flow2 flowlist__FlowActive">
                        <span class="flowlist__FlowNumber flowlist__FlowNumberActive">FLOW2</span>
                        応募内容<br>確認
                    </p>
                    <p class="flowlist__Flow flowlist__Flow2">
                        <span class="flowlist__FlowNumber">FLOW3</span>
                        応募登録<br>完了
                    </p>
                    </div>
            </div>

            <div class="mainCont__Box">
                <div class="mainCont__GrayBox">
                <p class="mainCont__GrayBoxP">
                    登録はまだ完了していません。<br>
                    下記の内容で問題がなければ、ページ下の「この内容で登録する」をクリックしてください。<br>
                    <span class="mainCont__GrayBoxRed">
                    公開後は、依頼内容の修正ができなくなるため、必ずもう一度依頼内容をご確認ください。
                    </span>
                </p>
                </div>
            </div>
            <div class="mainCont__Box">
                <div class="mainCont__TitleWrap">
                <div class="mainCont__TitleWrapBox">
                    <p class="mainCont__StIcon">{{status}}</p>
                    <h1 class="mainCont__Title2">
                    {{project.title}}
                    </h1>
                    <ul class="tag">
                      <li class="tag__Inner" v-for="(value,key) in project.project_category">
                          #{{ value.name }}
                      </li>
                    </ul>
                    <p class="mainCont__Date">掲載日：{{formatDate(project.created_at)}}</p>
                </div>
                <div class="mainCont__UserWrap">
                    <div  class="mainCont__UserPic mainCont__UserPic3">
                      <div class="mainCont__UserPicImg"  v-bind:style="{ backgroundImage: 'url(' + project.user.avatar_image + ')'}"></div>
                    </div>
                    <div class="mainCont__UserName">
                    <h2>
                        {{ project.user.name }}
                    </h2>
                    <p class="mainCont__UserSt2">
                        評価<span class="mainCont__UserStScore3">{{ getClientRate(project.user.has_many_project_users) }}</span>
                    </p>
                    </div>
                </div>
                </div>
            </div>

            <div class="mainCont__Wrap">
                <div class="mainCont__Right mainCont__Right3">
                <form class="register register2">
                    <div class="mainCont__Box">
                    <h2 class="mainCont__Title1">
                        応募する
                    </h2>
                    <dl class="register__FormList">
                        <dt class="register__FormListLeft">
                        自己PR・実績<span class="register__Required">必須</span>
                        </dt>
                        <dd class="register__FormListRight">
                        <div class="register__GrayBox">
                            <p class="register__GrayBoxP">
                              <!-- {{ data.self_promotion }} -->
                              <span v-html="data.self_promotion"></span>
                            </p>
                        </div>
                        <span class="register__FormListStxt register__FormListStxtRed">※個人情報・機密情報等を含めないようにご注意ください。</span>
                        </dd>
                    </dl>
                    </div>
                    <div class="register__BtnWrap">
                    <router-link :to="`/project/apply_start?project_id=${this.$route.query.project_id}`" class="register__BtnConfirm2" type="button">入力画面に戻る</router-link>
                    <button class="register__BtnRegister2" type="button" @click="saveApplication()">この内容で登録する</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
  </div>
</template>

<script>
import Header from './../../includes/Header'
import UserService from '../../../../service/user/user.service'
import ProjectService from '../../../../service/project/project.service'
import ProjectUserService from '../../../../service/project-user/project-user.service'
import moment from 'moment';

const userService = new UserService();
const projectService = new ProjectService();
const projectUserService = new ProjectUserService();

export default {
  data() {
    return {
      role: 0,
      auth_status: JSON.parse(localStorage.getItem('auth')),
      project: {
        project_category: [],
        user: {}
      },
      user: {},
      status:'',
      data: {
        project_id: '',
        self_promotion: localStorage.getItem('self-promo'),
        application_status: 1,
        client_eva: null,
        client_comment:'',
        influencer_eva: null,
        influencer_comment: '',
        sns_url: '',
      }
    }
  },
  components: {
    Header
  },
  created() {
    this.getProjectUser()
    this.getUser()
    if(this.data.self_promotion == null || this.data.self_promotion == undefined){
        // this.$router.push({name: 'apply.project'})
    }
    if(this.data.self_promotion != '' && this.data.self_promotion != undefined) this.data.self_promotion = this.data.self_promotion.replace(/\n/g, "<br />");
  },
  methods: {
    getProjectUser() {
      projectService.getProject(this.$route.query.project_id).then(response => {
        this.project = response.data.data;
        this.project.user.avatar_image = this.project.user.avatar_image == null ? '/assets/user.png' : this.project.user.avatar_image;
        switch(response.data.data.status_code){
            case 1:
              this.status = '募集中'
              break;
            case 2:
              this.status = '選定中'
              break;
            case 3:
              this.status = '依頼中'
              break;
            case 4:
              this.status = '結果確認中'
              break;
            case 5:
              this.status = '完了'
              break;
            case 9:
              this.status = '募集終了'
              break;
            default:
          }
      });
    },
    getUser(){
      userService.getUser().then(response => {
        this.user = response.data;
      });
    },
    saveApplication(){
      this.data.project_id = this.project.id;
      projectUserService.store(this.data).then(response => {
        this.data = response.data;
        localStorage.removeItem('self-promo')
        this.$router.push({name: 'done.project'})
      });
    },
    formatDate(date){
      return moment(date).format('YYYY年M月D日');
    },
  }
}

</script>
