<template>
  <div>
    <Header />
    <div class="mainCont">
        <div class="mainCont__Inner">
        <div class="flowlist flowlist2">
            <p class="flowlist__Flow flowlist__Flow2">
            <span class="flowlist__FlowNumber">FLOW1</span>
            応募内容<br>入力
            </p>
            <p class="flowlist__Flow flowlist__Flow2">
            <span class="flowlist__FlowNumber">FLOW2</span>
            応募内容<br>確認
            </p>
            <p class="flowlist__Flow flowlist__Flow2 flowlist__FlowActive">
            <span class="flowlist__FlowNumber flowlist__FlowNumberActive">FLOW3</span>
            応募登録<br>完了
            </p>
        </div>

        <div class="mainCont__Wrap">
            <div class="register__Cont">
            <h2 class="register__Title register__Title2">応募ありがとうございます。</h2>
            <h2 class="register__Title">案件の募集期間終了後、クライアント様がインフルエンサーを選定します。<br>選定結果の通知をお待ちください。</h2>

            <div class="mainCont__Btns">
                <ul class="mainCont__BtnsList">
                <li class="mainCont__BtnsLi">
                    <router-link :to="{name: 'job-management'}" class="mainCont__Btn2 mainCont__BtnCon">
                    仕事管理を表示する
                    </router-link>
                </li>
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>
  </div>
</template>

<script>
import Header from './../../includes/Header'
import UserService from '../../../../service/user/user.service'

const userService = new UserService();

export default {
  data() {
    return {
      data:{
        prefecture_data:{
          name: ''
        }
      },
      role: 0,
      auth_status: JSON.parse(localStorage.getItem('auth'))
    }
  },
  components: {
    Header
  },
  created() {
    this.getUser()
  },
  methods: {
      getUser() {
        userService.getUser().then(response => {
          this.data = response.data;
          this.data.self_introduction = this.data.self_introduction != null ? this.data.self_introduction : '自己紹介は登録されていません。';
          this.data.avatar_image = this.data.avatar_image == null ? '/assets/user.png' : this.data.avatar_image;
        });
      },
      changeRole(data) {
        this.role = data;
      },
  }
}

</script>
