<template>
  <div>
    <Header />
     <div class="mainCont">
        <div class="mainCont__Inner">
            <div class="breadcrumb breadcrumb2">
                <ul class="breadcrumb__List">
                <li class="breadcrumb__Li">
                    <a href="#">仕事管理へ戻る</a>
                </li>
                <li class="breadcrumb__Li">
                    <a href="#">案件をさがす</a>
                </li>
                <li class="breadcrumb__Li">
                    <!-- <a href="#">{{project.title}}</a> -->
                </li>
                </ul>
            </div>
            <div class="mainCont__Wrap">
                <div class="mainCont__Right mainCont__Right3">
                <form class="register register2">
                    <Details :user="auth_status" />
                    <div class="mainCont__Box">
                    <h2 class="mainCont__Title1">
                        応募する
                    </h2>
                    <p class="mainCont__Box">自己PR・実績は具体的に書くほうが選ばれやすくなります。</p>
                    <dl class="register__FormList">
                        <dt class="register__FormListLeft">
                        自己PR・実績<span class="register__Required">必須</span>
                        <span class="register__FormListStxt">
                            2500文字まで
                        </span>
                        </dt>
                        <dd class="register__FormListRight">
                        <textarea id="" placeholder="" class="register__TextArea" v-model="data.self_promotion" maxlength="2500"></textarea>
                        <span class="register__FormListStxt" style="float:right;">{{data.self_promotion != undefined ? data.self_promotion.length : 0}}/2500</span>
                        <span class="register__FormListStxt">※個人情報・機密情報等を含めないようにご注意ください。</span>
                        <span class="error__message" v-if="error.self_promotion">{{ error.self_promotion[0] }}</span>
                        </dd>
                    </dl>
                    <button class="register__BtnConfirm" @click="checkEntries()" type="button">内容を確認</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
  </div>
</template>

<script>
import Header from './../../includes/Header'
import ProjectUserService from '../../../../service/project-user/project-user.service'
import Details from '../../includes/ProjectUserDetails'
import Config from '../../../../config/constant'

const config = Config;
const projectUserService = new ProjectUserService();

export default {
  data() {
    return {
        data:{
            user:{}
        },
        config: config,
        inputs: {
            influencer_eva: parseInt(localStorage.getItem('influencer_eva')),
            influencer_comment: localStorage.getItem('influencer_comment'),
            sns_url: localStorage.getItem('sns_url'),
        },
        error: {},
        auth_status: JSON.parse(localStorage.getItem('auth')),
    }
  },
  components: {
    Header, Details
  },
  created() {
    this.getProjectUser()
  },
  methods: {
    getProjectUser(){
        projectUserService.getProjectUser({project_id: this.$route.query.project_id}).then(response => {
            this.data = response.data.data
            this.data.self_promotion = this.data.self_promotion.replace(/<br ?\/?>/ig,"\n")
        });
    },
    checkEntries(){
        if(this.data.self_promotion != '') this.data.self_promotion = this.data.self_promotion.replace(/\n/g, "<br />")
        projectUserService.checkSelfpromo(this.data).then(response => {
            projectUserService.updateApplication(this.data);
            this.$router.go(-1);
            this.error={};
        }).catch((err) => {
            this.error = err.response.data.errors;
        });
    },

  }
}

</script>

<style scoped>
  .mainCont__BtnCon2 {
    cursor: pointer;;
  }
</style>
