<template>
  <div>
    <div class="register__BtnWrap">
      <button class="register__BtnConfirm2" type="button" @click="isModalOpen = true">応募を取り消す</button>
      <a :href="`/project/edit/${project_users.project.id}/application`" class="register__BtnRegister2" >応募内容を訂正する</a>
      <div class="password__modal" v-if="isModalOpen">
        <form method="post" action="/project/edit/decline">
          <div class="delete_sns_confirmation">
            <input type="hidden" name="_token" :value="csrfToken">
            <input type="hidden" name="project_id" :value="project_users.project.id">
            <span class="delete_sns_label center__text">応募を取り消しますか？</span>
            <div class="delete_sns_btn_wrap">
              <button class="snsinfoModal__Btn snsinfoModal__Cancel" type="button" @click="isModalOpen = false">キャンセル</button>
              <button class="snsinfoModal__Btn snsinfoModal__Submit" type="submit">応募を取り消す</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Config from '../../../../config/constant'
const config = Config;

export default {
  props: {
    work_details: {
      type: Object
    }
  },
  data() {
    return {
        project_users: {},
        config: config,
        isModalOpen: false,
        csrfToken: "",
    }
  },
  created() {
    this.csrfToken = window.Laravel.csrfToken;
    this.project_users = this.work_details.project_users;
  },
  methods: {
    getFinishedRate(divisor, dividen) {
          if(dividen == 0 && divisor == 0) return 0;
          dividen = dividen == 0 ? 1 : dividen;
          return ((divisor/dividen) *100).toFixed();
    },
  }
}

</script>
