<template>
  <div>
    <div class="mainCont__Left mainCont__Left2">
      <div class="mainCont__CategoryBox">
        <h3 class="mainCont__CategoryTitle">
          カテゴリ
        </h3>

        <div class="mainCont__FormSelectBox block_s">
          <select name="" class="mainCont__FormSelect">
            <option value="" v-for="genre in genres">{{ genre.name }}</option>
          </select>
        </div>

        <ul class="mainCont__CategoryList block_p">
          <li class="mainCont__CategoryLi"><a :href="'/search?title=' + title + '&category=&sns=' + sns_code + '&min_reward=' + min_reward + '&max_reward=' + max_reward" class="mainCont__Category"><i class="far fa-smile" aria-hidden="true"></i>全てのカテゴリ</a></li>
          <li class="mainCont__CategoryLi" v-for="genre in genres"><a :href="'/search?title=' + title + '&category='+ genre.name + '&sns=' + sns_code + '&min_reward=' + min_reward + '&max_reward=' + max_reward" class="mainCont__Category"><span v-html="genre.icon" /> {{ genre.name }}</a></li>
        </ul>
      </div>

      <div class="mainCont__NarrowBox">
        <h3 class="mainCont__NarrowTitle">
          絞り込み
        </h3>
        <form @submit.prevent="onSubmit">
          <div class="mainCont__Formbox">
            <p class="mainCont__NarrowSubTitle">広告媒体</p>
            <input type="checkbox" id="youtube" class="mainCont__Narrowinput" value="1" v-model="sns_code" >
            <label for="youtube" class="mainCont__Narrowinput">YouTube</label>
            <input type="checkbox" id="instagram" class="mainCont__Narrowinput" value="2" v-model="sns_code" >
            <label for="instagram" class="mainCont__Narrowinput">Instagram</label>
            <input type="checkbox" id="facebook" class="mainCont__Narrowinput" value="3" v-model="sns_code" >
            <label for="facebook" class="mainCont__Narrowinput">Facebook</label>
            <input type="checkbox" id="twitter" class="mainCont__Narrowinput" value="4" v-model="sns_code" >
            <label for="twitter" class="mainCont__Narrowinput">Twitter</label>
            <input type="checkbox" id="tiktok" class="mainCont__Narrowinput" value="5" v-model="sns_code" >
            <label for="tiktok" class="mainCont__Narrowinput">TikTok</label>
          </div>
          <div class="mainCont__Formbox">
            <p class="mainCont__NarrowSubTitle">報酬額</p>
            <div class="rewardBox">
             <input type="text" ref="reward" class="rewardPrice" v-model="min_reward">
             <span class="reward__currency">円以上〜</span>
            </div>
            <p align="center">｜</p>
            <div class="rewardBox">
             <input type="text" ref="reward" class="rewardPrice" v-model="max_reward" @blur="checkMaxReward">
             <span class="reward__currency">円以下</span>
            </div>
          </div>

          <p class="">
            <input type="submit" class="mainCont__NarrowBtn" value="絞り込む">
          </p>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        genres: {},
        title: this.$route.query.title,
        category: this.$route.query.category ? this.$route.query.category : '',
        min_reward: this.$route.query.min_reward ? this.$route.query.min_reward : '',
        max_reward: this.$route.query.max_reward ? this.$route.query.max_reward : '',
        sns_code: []
      }
    },
    created () {
      this.getGenres()
      this.getSnsCode()
    },
    watch: {
      min_reward(val){
        this.min_reward = val.replace(/\W|[A-Za-z]/g, "");
      },
      max_reward(val){
        this.max_reward = val.replace(/\W|[A-Za-z]/g, "");
      }
    },
    methods: {
      getSnsCode() {
        if(this.$route.query.sns){
          this.sns_code = this.$route.query.sns.split(',')
        }
      },
      onSubmit() {
        location.href = '/search?title=' + this.title + '&category=' + this.category + '&sns=' + this.sns_code + '&min_reward=' + this.min_reward + '&max_reward=' + this.max_reward
      },
      getGenres() {
        axios.get('/genre_list').then(response => {
            this.genres = response.data;
        })
      },
      checkMaxReward() {
        if(this.max_reward < this.min_reward){
          this.max_reward = this.min_reward
        }
      }
    }
  }
</script>
