<template>
	<div>
		<header class="header">
		    <div class="header__wrap">
		      <p class="header__Logo">
						<a href="/">
	            <img :src="'/assets/logo.png'" alt="BUZZLINK">
		        </a>
		      </p>
			<form class="searchWrap searchWrapHeader" @submit.prevent="onSubmit">
	          <div class="searchWrap__SearchTxtWrap">
	            <p class="searchWrap__SearchSelectTitle">
	              案件をさがす
	            </p>
	          </div>
	          <div class="searchWrap__SearchHeaderKeywordWrap">
	            <input placeholder="検索キーワード" class="searchWrap__SearchKeyword" v-model="title">
	            <button type="submit" class="searchWrap__SearchKeywordBtn" />
	          </div>
	        </form>

	        <div class="searchWrap__Sp block_s">
	          <p id="slidetoggle_button"><i class="fas fa-search"></i></p>
	        </div>
	        <div id="slidetoggle_menu" class="searchWrap__SpFormWrap">
	          <form class="searchWrap__SpForm" @submit.prevent="onSubmit">
	            <input placeholder="検索キーワード" class="searchWrap__SpFormKeyword" v-model="title">
	            <button type="submit" class="searchWrap__SpFormKeywordBtn" />
	          </form>
	        </div>

		      <ul class="header__IconsList">
		        <li class="header__IconsLi">
		          <span class="header__Icon header__IconUser" href="#">
		          </span>
		          <div class="header__balloon header__balloonUser">
		            <p class="header__balloonTitle">{{ user.name }}</p>
		            <ul>
		              <li class="header__balloonList">
		                <a :href="`profile/${user.uuid}?role=${user.default_role}`">
		                  プロフィールを表示
		                </a>
		              </li>
		              <li class="header__balloonList">
		                <a href="/mypage/edit_information">
		                  設定
		                </a>
		              </li>
		              <li class="header__balloonList">
		                <a href="#">
		                  インフルエンサーに切り替える
		                </a>
		              </li>
		              <li class="header__balloonList">
		                <a href="#" @click="logout">
		                  ログアウト
		                </a>
		              </li>
		            </ul>
		          </div>
		        </li>
		        <li class="header__IconsLi">
		          <span class="header__Icon header__IconMessage" href="#">
		            <span class="header__IconOn" v-if="data.message_notifications.length > 0">{{ data.message_notifications.length }}</span>
		          </span>
		          <div class="header__balloon header__balloonMessage">
		            <p class="header__balloonTitle">メッセージ</p>
		            <ul>
									<a :href="'/chat?ref='+ message.sent_user.id +'&project_id='" v-for="message in data.message_notifications.slice(0,2)">
			              <li class="header__balloonList">
		                  <span class="header__ballonName">
		                    {{ message.sent_user.name }}
		                  </span>
											{{ message.content.length >= 35 ? message.content.substring(0, 34) + " ..." : message.content }}
		                  <span class="header__ballonDate">{{ modifyDate(message.created_at) }}</span>
			              </li>
									</a>
		            </ul>
		            <a class="header__ballonLink" href="/chat?ref=&project_id=">
		              <i class="far fa-envelope"></i> 全てのメッセージを見る
		            </a>
		          </div>
		        </li>
		        <li class="header__IconsLi">
		          <span class="header__Icon header__IconNotification">
		            <!-- <span class="header__IconOn">20</span> -->
		          </span>
		          <div class="header__balloon header__balloonNotification">
		            <p class="header__balloonTitle">お知らせ</p>
		            <!-- からメッセージ  -->
		            <!--<p>メッセージを受信すると、ここに表示されます。</p>-->
		            <!-- からメッセージ  -->
		            <ul>
		              <li class="header__balloonList" v-for="(value, key) in data.notifications" :key="key" v-if="key < 3">
		                <a :href="value.destination_url">
		                  {{value.notification_contents}}
		                  <span class="header__ballonDate">{{ value.notification_at }}</span>
		                </a>
		              </li>
		            </ul>
		            <a class="header__ballonLink" href="/notifications">
		              <i class="fas fa-bell"></i> 全てのお知らせを見る
		            </a>
		          </div>
		        </li>
		        <li class="header__IconsLi">
		          <span class="header__Icon header__IconNotice">
		            <!-- <span class="header__IconOn">20</span> -->
		          </span>
		          <div class="header__balloon header__balloonNotice">
		            <p class="header__balloonTitle">運営からお知らせ</p>
		            <!-- からメッセージ  -->
		            <!--<p>メッセージを受信すると、ここに表示されます。</p>-->
		            <!-- からメッセージ  -->
		            <ul>
		              <li class="header__balloonList" v-for="(value, key) in data.informations" :key="key" v-if="key < 3">
		                <a :href="`/information/${value.id}`">
		                  {{value.title}}
		                  <span class="header__ballonDate">{{ value.notification_at }}</span>
		                </a>
		              </li>
		            </ul>
		            <a href="/information" class="header__ballonLink"><i class="far fa-flag"></i> 全ての運営からお知らせを見る</a>
		          </div>
		        </li>

		        <li class="header__IconsLi">
		          <span class="header__Icon header__IconHelp" href="#">
		          </span>
		          <div class="header__balloon header__balloonHelp">
		            <p class="header__balloonTitle">ヘルプ</p>
		            <!-- からメッセージ  -->
		            <!--<p>メッセージを受信すると、ここに表示されます。</p>-->
		            <!-- からメッセージ  -->
		            <ul>
		              <li class="header__balloonList">
		                <a href="#">
		                  ご利用ガイド
		                </a>
		              </li>
		              <li class="header__balloonList">
		                <a href="#">
		                  よくある質問
		                </a>
		              </li>

		            </ul>

		          </div>
		        </li>


		      </ul>
		      <p class="header__bk-balloon"></p>
		    </div>
		  </header>
	</div>
</template>

<script>
import InformationService from '../../../service/information/information.service'
import NotificationService from '../../../service/notification/notification.service'
import moment from 'moment';

const informationService = new InformationService();
const notificationService = new NotificationService();

  export default {
    data() {
      return {
				title: '',
				user:{},
				user_id_list: [],
        data: {
					informations:{},
					notifications:{},
					message_notifications:[]
				}
      }
    },
    created() {
			this.getUser();
      this.getInformations();
      this.getNotifications();
			this.getMessages();
			this.getMessageNotifications();
    },
    methods: {
			logout() {
				axios.post('/logout')
				.then(function(e){
					localStorage.removeItem('mypage-role')
					localStorage.setItem('mypageprofile-tab', 1)
					localStorage.setItem('workmananagement-tab', 1)
					localStorage.removeItem('auth')
					localStorage.removeItem('auth')
					window.location.replace('/');
				})
			},
			getUser() {
				axios.get('/init')
				.then(res => {
					this.user = res.data
				})
			},
			onSubmit() {
				let category = this.$route.query.category ? this.$route.query.category : ''
				let sns_code = this.$route.query.sns ? this.$route.query.sns : ''
				let min_reward = this.$route.query.min_reward ? this.$route.query.min_reward : ''
				let max_reward = this.$route.query.max_reward ? this.$route.query.max_reward : ''
				let sort = this.$route.query.sort ? this.$route.query.sort : ''

				window.location.href = '/search?title=' + this.title + '&category=' + category + '&sns=' + sns_code + '&min_reward=' + min_reward + '&max_reward=' + max_reward + '&sort=' + sort;
			},
			getInformations() {
				informationService.list().then(response => {
					this.data.informations = response.data.data;
					this.$emit('informations', this.data.informations);
				})
			},
			getNotifications() {
				notificationService.list().then(response => {
					this.data.notifications = response.data.data;
					this.$emit('notifications', this.data.notifications);
				})
			},
			getMessages(){
				axios.get('chat/all_message_notifications')
				.then(res => {
					this.data.message_notifications = res.data.messages
					this.user_id_list = res.data.id_list
				})
			},
			getMessageNotifications(){
				Echo.join('chat')
	      .listen('ChatEvent',(event) => {
					if(this.data.message_notifications.length > 0 && this.user_id_list.includes(event.chat.sent_user.id)){
						for(let i=0;i<this.data.message_notifications.length;i++){
							if(this.user_id_list.includes(this.data.message_notifications[i].sent_user.id) &&
								 this.data.message_notifications[i].sent_user.id == event.chat.sent_user.id &&
							 	 this.data.message_notifications[i].project_user_id == event.chat.project_user_id)
								{
									this.data.message_notifications.splice(i, 1, event.chat)
								}
						}
					} else {
						this.user_id_list.push(event.chat.sent_user.id)
						this.data.message_notifications.push(event.chat)
					}
	      })
			},
			modifyDate(date){
	      return moment(date).format('YYYY年M月D日')
	    }
    }
  }
</script>
