<template>
  <div>
    <header class="header">
      <div class="header__wrap">
        <div class="header__Logo">
          <a href="/">
            <img :src="'/assets/logo.png'" alt="BUZZLINK">
          </a>
        </div>
        <form class="searchWrap searchWrapHeader" v-if="isShow == 'withSearch'" @submit.prevent="onSubmit">
          <div class="searchWrap__SearchTxtWrap">
            <p class="searchWrap__SearchSelectTitle">
              案件をさがす
            </p>
          </div>
          <div class="searchWrap__SearchHeaderKeywordWrap">
            <input placeholder="検索キーワード" class="searchWrap__SearchKeyword" v-model="title">
            <button type="submit" class="searchWrap__SearchKeywordBtn" />
          </div>
        </form>

        <div class="searchWrap__Sp block_s" v-if="isShow == 'withSearch'">
          <p id="slidetoggle_button"><i class="fas fa-search"></i></p>
        </div>
        <div id="slidetoggle_menu" class="searchWrap__SpFormWrap">
          <form class="searchWrap__SpForm" v-if="isShow == 'withSearch'" @submit.prevent="onSubmit">
            <input placeholder="検索キーワード" class="searchWrap__SpFormKeyword" v-model="title">
            <button type="submit" class="searchWrap__SpFormKeywordBtn" />
          </form>
        </div>

        <div class="header__Btns" v-if="isShow == 'withSearch'">
          <a href="/login" class="header__BtnLogin">
            ログイン
          </a>
          <a href="/register/email?ref=1" class="header__BtnMemberRegistration">
            無料会員登録
          </a>
        </div>

        <div class="header__Btns" v-if="isShow == 'noSearch'">
          <a href="/login" class="header__BtnLogin">
            ログイン
          </a>
          <a href="/register/email?ref=1" class="header__BtnMemberRegistration">
            無料会員登録
          </a>
        </div>

        <div class="header__Btns" v-if="isShow == 'login'">
  				<a class="header__BtnBeginner" href="/register/email?ref=1">
  					はじめての方
  				</a>
  				<a class="header__BtnLogin" href="/login">
  					ログイン
  				</a>
  			</div>

      </div>
    </header>
  </div>
</template>

<script>
export default {
  props: ['isShow'],
  data() {
    return {
      title: ''
    }
  },
  methods: {
    onSubmit() {
      let category = this.$route.query.category ? this.$route.query.category : ''
      let sns_code = this.$route.query.sns ? this.$route.query.sns : ''
      let min_reward = this.$route.query.min_reward ? this.$route.query.min_reward : ''
      let max_reward = this.$route.query.max_reward ? this.$route.query.max_reward : ''
      window.location.href = '/search?title=' + this.title + '&category=' + category + '&sns=' + sns_code + '&min_reward=' + min_reward + '&max_reward=' + max_reward;
    }
  }
}

</script>
