<template>
  <div>
    <header class="topHeader">
    	<div class="topHeader_Logo">
    		<a href="/">
    			<img :src="'/assets/logo.png'" alt="BUZZLINK">
    		</a>
    	</div>
    	<div class="topHeader_Right mt-3">
    		<form class="topHeader_Search" @submit.prevent="onSubmit">
    			<input type="text" size="" placeholder="案件を検索する" class="topHeader_SearchText" v-model="search_params">
    			<input type="submit" value="" class="topHeader_SearchBtn">
    		</form>
    		<ul class="topHeader_Btns">
    			<li class="topHeader_BtnsLi">
    				<a href="/login" class="topHeader_Btn">
    					ログイン
    				</a>
    			</li>
    			<li class="topHeader_BtnsLi">
    				<a href="/register/email?ref=1" class="topHeader_Btn-2">
    					新規登録
    				</a>
    			</li>
    		</ul>
    	</div>
    	<nav class="topSpnav block_s">
    		<div class="topSpnav_menu">
    			<div class="topSpnav_bg"></div>
    			<button type="button" class="topSpnav_button">
    				<span class="topSpnav_bar topSpnav_bar1"></span>
    				<span class="topSpnav_bar topSpnav_bar2"></span>
    				<span class="topSpnav_bar topSpnav_bar3"></span>
    			</button>
    			<nav class="topSpnav_nav_wrapper">
    				<ul class="topSpnav_nav">
    					<form class="topSpnav_Search" @submit.prevent="onSubmit">
    						<input type="text" size="" placeholder="案件を検索する" class="topSpnav_SearchText" v-model="search_params">
    						<input type="submit" value="" class="topSpnav_SearchBtn">
    					</form>
    					<ul class="topSpnav_Btns">
    						<li class="topSpnav_BtnsLi">
    							<a href="/login" class="topSpnav_Btn">
    							ログイン
                </a>
    						</li>
    						<li class="topSpnav_BtnsLi">
    							<a href="/register/email?ref=1" class="topSpnav_Btn-2">
      							新規登録
                  </a>
    						</li>
    					</ul>
    				</ul>
    			</nav>
    		</div>
    	</nav>
    </header>
  </div>
</template>

<script>
export default {
  name: 'navbar',
  data() {
    return {
      search_params: ''
    }
  },
  methods: {
    onSubmit() {
      window.location.href = "/search?title=" + this.search_params;
    }
  }
}

</script>
