<template>
  <div>
    <div class="mainCont__Box">
      <div class="mainCont__TitleWrap">
        <div class="mainCont__TitleWrapBox">
          <p class="mainCont__StIcon">{{ checkStatus() }}</p>
          <h1 class="mainCont__Title2">
            {{ data.project.title }}
          </h1>
          <ul class="tag">
            <li class="tag__Inner" v-for="tag in data.project.project_category">
              # {{ tag.name }}
            </li>
          </ul>
          <p class="mainCont__Date">掲載日：{{ data.project.published }}</p>
          <p class="mainCont__ContirmBox2" v-if="user">
            <a :href="`/chat?ref=&project_id=${data.project.id}`" class="mainCont__Btn3">
              メッセージを送る
            </a>
          </p>
        </div>
        <div class="mainCont__UserWrap">
          <div class="mainCont__UserPic mainCont__UserPic3">
            <div class="mainCont__UserPicImg"  v-bind:style="{ backgroundImage: 'url(' + [data.project.user.avatar_image] + ')'}"></div>
          </div>
          <div class="mainCont__UserName">
            <h2>
              {{ data.project.user.name }}
            </h2>
            <p class="mainCont__UserSt2">
              評価<span class="mainCont__UserStScore3">{{data.user.client_rate}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="mainCont__Box">
      <h2 class="mainCont__Title1">
        案件内容
      </h2>
      <div class="mainCont__BlockWrap">
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            応募期限
          </span>
          {{ data.project.application_deadline_at }}
        </div>
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            完了報告制限
          </span>
          {{ data.project.report_deadline_at }}
        </div>
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            1人あたりの報酬
          </span>
          {{ Number(data.project.reward_amount).toLocaleString() }}円
        </div>
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            依頼予定人数
          </span>
          {{ data.project.request_people_number }}  </div>
      </div>
    </div>

    <div class="mainCont__Box">
      <h3 class="mainCont__Title4">
        投稿希望SNS
      </h3>
      <div class="mainCont__BlockSnsWrap">
        <div class="mainCont__BlockSns" v-if="sns_list.some(e => e == 1)">
          <i class="fab fa-youtube"></i>
          Youtube
        </div>
        <div class="mainCont__BlockSns" v-if="sns_list.some(e => e == 2)">
          <i class="fab fa-instagram"></i>
          Instagram
        </div>
        <div class="mainCont__BlockSns" v-if="sns_list.some(e => e == 3)">
          <i class="fab fa-facebook"></i>
          Facebook
        </div>
        <div class="mainCont__BlockSns" v-if="sns_list.some(e => e == 4)">
          <i class="fab fa-twitter"></i>
          Twitter
        </div>
        <div class="mainCont__BlockSns" v-if="sns_list.some(e => e == 5)">
          <i class="fab fa-tiktok"></i>
          TikTok
        </div>
      </div>
    </div>

    <div class="mainCont__Box">
      <h3 class="mainCont__Title4">
        {{ data.project.title }}
      </h3>
      <div class="mainCont__GrayBox">
        <p class="mainCont__GrayBoxP" v-html="data.project.contents" />
      </div>
    </div>

    <div class="mainCont__Box">
      <h3 class="mainCont__Title4">
        告知URL
      </h3>
      <div class="mainCont__GrayBox">
        <p class="mainCont__GrayBoxP">SNSへの投稿内容に掲示して欲しいURL</p>
        <p class="mainCont__GrayBoxP">
          <a :href="data.project.notification_url">
            {{ data.project.notification_url }}
          </a>
        </p>
      </div>
    </div>

    <div class="mainCont__Box">
      <h3 class="mainCont__Title4">
        添付ファイル
      </h3>
      <div class="mainCont__GrayBox">
        <div class="mainCont__File" v-for="file in file_list">
          <ellipsis :data="file" :line-clamp="1" :end-char="' ...'" />
        </div>
      </div>
    </div>

    <div class="mainCont__Box">
      <h2 class="mainCont__Title1">
        応募状況
      </h2>
      <div class="mainCont__BlockWrap">
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            募集人数
          </span>
          {{ data.project.request_people_number }}名
        </div>
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            応募人数
          </span>
          {{statuses_count.applied_count}}名
        </div>
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            契約人数
          </span>
          {{statuses_count.contact_count}}名
        </div>
      </div>
    </div>
  </div>
</template>
<script>

  import ProjectUserService from '../../../service/project-user/project-user.service'
  const projectUserService = new ProjectUserService();
  export default {
    props: ['user'],
    data(){
      return {
        data: {
            project: {
                title:'',
                has_many_project_users:[],
                project_attachment: [],
                project_category: [],
                user: {}
            },
            user:{
              has_many_project_users:[]
            }
        },
        file_list: [],
        statuses_count: {
          applied_count: '',
          contact_count: ''
        },
        sns_list: [],
      }
    },
    created() {
      this.getProject()
      this.getApplicationStatusCount()
    },
    methods: {
      getProject(){
            projectUserService.getProjectUserDetails(this.$route.query.project_id).then(response => {
                this.data = response.data.data;
                this.$emit('get-application-status', this.data.application_status);
                this.data.project.user.avatar_image = this.data.project.user.avatar_image ? this.data.project.user.avatar_image : '/assets/user.png'
                this.sns_list = this.data.project.post_sns_code.split(',');
                this.file_list = this.data.project.project_attachment.map(value => {
                    return value.path.split('/').pop();
                });
            })
      },
      getApplicationStatusCount() {
        projectUserService.applicationStatusCount({'project_id': this.$route.query.project_id}).then(response => {
          this.statuses_count = response.data.data;
        }).catch((err) => {
            this.error = err.response.data.errors;
        });
      },
      checkStatus(){
          if(this.data.application_status == 1) return '応募中';
          if(this.data.application_status == 2) return '選定中';
          if(this.data.application_status == 3) return '作業中';
          if(this.data.application_status == 4) return '結果確認中';
          if(this.data.application_status == 5) return '完了';
          if(this.data.application_status == 6) return '選定漏れ';
          if(this.data.application_status == 9) return '応募取消';

        //   1:応募中　2:選定中　3:対応中(作業中) 4:結果確認中　5:完了 6:選定漏れ 9:応募取消
      },
      imageUrlAlt(e){
        e.target.src = '/assets/user.png'
      },
    }
  }
</script>
<style scoped>
  .mainCont__File {
    width: 235px !important;
  }

  .mainCont__File:hover span{
    display: block;
    position: absolute;
    top: 227%;
    line-height: 20px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    color: rgb(113, 157, 171);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    -webkit-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
  }
</style>
