<template>
  <div>
    <div class="mainCont__Box">
      <div class="mainCont__TitleWrap">
        <div class="mainCont__TitleWrapBox">

          <p class="mainCont__StIcon" :style="project.status_code >= 5 ? 'border: 1px solid gray;color: gray;' : ''">{{ status }}</p>
          <h1 class="mainCont__Title2">
            {{ project.title }}
          </h1>
          <ul class="tag">
            <li class="tag__Inner" v-for="tag in project.project_category">
              # {{ tag.name }}
            </li>
          </ul>
          <p class="mainCont__Date">掲載日：{{ project.published }}</p>
          <!-- && project.status_code < 5 -->
          <p class="mainCont__ContirmBox2" v-if="user">
            <a :href="`/chat?ref=&project_id=${project.id}`" class="mainCont__Btn3" v-if="project.client_user_id != user && project_application">
              メッセージを送る
            </a>
          </p>
        </div>
        <div class="mainCont__UserWrap">
          <div class="mainCont__UserPic mainCont__UserPic3">
            <div class="mainCont__UserPicImg"  v-bind:style="{ backgroundImage: 'url(' + [avatar_image ? avatar_image : '/assets/user.png'] + ')'}"  @error="imageUrlAlt" :id="project.user.uuid" @click="redirectUser($event, project.user.default_role)"></div>
          </div>
          <div class="mainCont__UserName">
            <h2>
              {{ name }}
            </h2>
            <p class="mainCont__UserSt2">
              評価<span class="mainCont__UserStScore3">{{getClientRate(project.user.has_many_project_users)}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="mainCont__Box">
      <h2 class="mainCont__Title1">
        案件内容
      </h2>
      <div class="mainCont__BlockWrap">
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            応募期限
          </span>
          {{ project.application_deadline_at }}
        </div>
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            完了報告制限
          </span>
          {{ project.report_deadline_at }}
        </div>
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            1人あたりの報酬
          </span>
          {{ Number(project.reward_amount).toLocaleString() }}円
        </div>
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            依頼予定人数
          </span>
          {{ project.request_people_number }}  </div>
      </div>
    </div>

    <div class="mainCont__Box">
      <h3 class="mainCont__Title4">
        投稿希望SNS
      </h3>
      <div class="mainCont__BlockSnsWrap">
        <div class="mainCont__BlockSns" v-if="youtube">
          <i class="fab fa-youtube"></i>
          Youtube
        </div>
        <div class="mainCont__BlockSns" v-if="instagram">
          <i class="fab fa-instagram"></i>
          Instagram
        </div>
        <div class="mainCont__BlockSns" v-if="facebook">
          <i class="fab fa-facebook"></i>
          Facebook
        </div>
        <div class="mainCont__BlockSns" v-if="twitter">
          <i class="fab fa-twitter"></i>
          Twitter
        </div>
        <div class="mainCont__BlockSns" v-if="tiktok">
          <i class="fab fa-tiktok"></i>
          TikTok
        </div>
      </div>
    </div>

    <div class="mainCont__Box">
      <h3 class="mainCont__Title4">
        {{ project.title }}
      </h3>
      <div class="mainCont__GrayBox">
        <p class="mainCont__GrayBoxP" v-html="project.contents" />
      </div>
    </div>

    <div class="mainCont__Box">
      <h3 class="mainCont__Title4">
        告知URL
      </h3>
      <div class="mainCont__GrayBox">
        <p class="mainCont__GrayBoxP">SNSへの投稿内容に掲示して欲しいURL</p>
        <p class="mainCont__GrayBoxP">
          <a :href="project.notification_url">
            {{ project.notification_url }}
          </a>
        </p>
      </div>
    </div>

    <div class="mainCont__Box">
      <h3 class="mainCont__Title4">
        添付ファイル
      </h3>
      <div class="mainCont__GrayBox">
        <div class="mainCont__File" v-for="file in file_list">
          <ellipsis :data="file" :line-clamp="1" :end-char="' ...'" />
        </div>
      </div>
    </div>

    <div class="mainCont__Box">
      <h2 class="mainCont__Title1">
        応募状況
      </h2>
      <div class="mainCont__BlockWrap">
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            募集人数
          </span>
          {{ project.request_people_number }}名
        </div>
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            応募人数
          </span>
          {{statuses_count.applied_count}}名
        </div>
        <div class="mainCont__Block">
          <span class="mainCont__BlockTitle">
            契約人数
          </span>
          {{statuses_count.contact_count}}名
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import ProjectUserService from '../../../service/project-user/project-user.service'
  const projectUserService = new ProjectUserService();
  export default {
    props: ['user'],
    data(){
      return {
        name: '',
        avatar_image: '',
        status: '',
        file_list: [],
        youtube: false,
        instagram: false,
        facebook: false,
        twitter: false,
        tiktok: false,
        project: {
          user: {}
        },
        project_application: false,
        statuses_count: {
          applied_count: '',
          contact_count: ''
        },
      }
    },
    created() {
      this.getProject()
      this.getProjectApplication()
      this.getApplicationStatusCount()
    },
    methods: {
      getProject(){
        axios.get('/search_details?project_id=' + this.$route.query.project_id)
        .then(res => {
          this.project = res.data
          this.project.post_sns_code = this.project.post_sns_code.split(",")
          this.name = res.data.user.name
          this.avatar_image = res.data.user.avatar_image
          this.youtube = this.project.post_sns_code.includes('1')
          this.instagram = this.project.post_sns_code.includes('2')
          this.facebook = this.project.post_sns_code.includes('3')
          this.twitter = this.project.post_sns_code.includes('4')
          this.tiktok = this.project.post_sns_code.includes('5')

          switch(res.data.status_code){
            case 1:
              this.status = '募集中'
              break;
            case 2:
              this.status = '選定中'
              break;
            case 3:
              this.status = '依頼中'
              break;
            case 4:
              this.status = '結果確認中'
              break;
            case 5:
              this.status = '完了'
              break;
            case 9:
              this.status = '募集終了'
              break;
            default:
          }

          this.file_list = res.data.project_attachment.map(value => {
            return value.path.split('/').pop();
          });
        })
      },
      getProjectApplication(){
        axios.get('/search_details/project_application?project_id=' + this.$route.query.project_id)
        .then(res => {
          this.project_application = res.data
        })
      },
      redirectUser(e, role) {
        e.preventDefault()
        location.href = '/profile/' + e.target.id + '?role=' + role
      },
      imageUrlAlt(e){
        e.target.src = '/assets/user.png'
      },
      getApplicationStatusCount() {
        projectUserService.applicationStatusCount({'project_id': this.$route.query.project_id}).then(response => {
          this.statuses_count = response.data.data;
        }).catch((err) => {
            this.error = err.response.data.errors;
        });
      }
    }
  }
</script>
<style scoped>
  .mainCont__File {
    width: 235px !important;
  }

  .mainCont__File:hover span{
    display: block;
    position: absolute;
    top: 227%;
    line-height: 20px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    color: rgb(113, 157, 171);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    -webkit-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
  }
</style>
