<template>
  <div class="mainCont__Left">
    <div class="mainCont__Left">
        <div class="mainCont__UserBox">
          <p class="mainCont__UserTitle">
            {{ data.name }}
          </p>
          <div  class="mainCont__UserPic mainCont__UserPic3">
            <div class="mainCont__UserPicImg"  v-bind:style="{ backgroundImage: 'url(' + data.avatar_image + ')'}"></div>
          </div>
        </div>

        <div class="mainCont__UserSt">

          <ul class="mainCont__UserStList">
            <li class="mainCont__UserStLi">
              評価<br class="inline_s">
              <div class="mainCont__UserStBox" v-if="this.$route.query.role == 2">
                <span class="mainCont__UserStScore">{{data.client_rate}}</span>
              </div>
              <div class="mainCont__UserStBox" v-else>
                <span class="mainCont__UserStScore">{{data.influencer_rate}}</span>
              </div>
                <span class="mainCont__UserStScore2">評価件数　xx件</span>
            </li>
            <li class="mainCont__UserStLi">{{ this.$route.query.role == 2 ? '募集実績' : '対応実績'}}<br class="inline_s">
              <div class="mainCont__UserStBox" v-if="this.$route.query.role == 2">
                <span class="mainCont__UserStScore" >{{data.projects_count}}</span>件
              </div>
              <div class="mainCont__UserStBox" v-else>
                <span class="mainCont__UserStScore">{{data.client_projects.has_many_project_users_corresponded_count}}</span>件
              </div>
            </li>
            <li class="mainCont__UserStLi">{{ this.$route.query.role == 2 ? '依頼実績' : '完了率'}}<br class="inline_s">
              <div class="mainCont__UserStBox" v-if="this.$route.query.role == 2">
                <span class="mainCont__UserStScore">{{data.has_many_project_users_recruitment_count}}</span> 件
              </div>
              <div class="mainCont__UserStBox" v-else>
                <span class="mainCont__UserStScore">{{data.client_projects.has_many_project_users_completion_rate_count}}</span> %
              </div>
            </li>
          </ul>

          <ul class="mainCont__UserStOtherList">
            <li class="mainCont__UserStOtherLi">
              <span class="mainCont__UserStOtherTtl">登録日</span>{{ modifyDate() }}
            </li>
            <li class="mainCont__UserStOtherLi">
              <span class="mainCont__UserStOtherTtl">都道府県</span>愛知県
            </li>
            <li class="mainCont__UserStOtherLi">
              <span class="mainCont__UserStOtherTtl">{{ data.age }}</span>{{ getGender() }}
            </li>
          </ul>
          <a @click="changeRole()" class="mainCont__UserStLinkTxt" v-if="this. $route.query.role== 1" style="font-size: 11px;">クライアント情報を表示</a>
          <a @click="changeRole()" class="mainCont__UserStLinkTxt" v-else style="font-size: 11px;">インフルエンサー情報を表示</a>
        </div>

      </div>

  </div>
</template>
<script>
import moment from 'moment';

export default {
  props: ['data'],
  name: 'sidebar',
  data() {
    return {
      name: '',
      role:this.$route.query.role ,
    }
  },
  created() {
    this.role = this.$route.query.role;
  },
  methods: {
    modifyDate(){
      return moment(this.data.created_at).format('YYYY年M月D日');
    },
    getGender(){
      if(this.data.sex == 1) return '男性';
      if(this.data.sex == 2) return '女性';
      if(this.data.sex == 9) return '公開しない';
    },
    changeRole() {
      var status_role = this.$route.query.role == 2 ? 1 : 2;
      this.$router.push(`/profile/${this.$route.params.uuid}?role=${status_role}`);
    }
  }
}
</script>

<style scoped>
  .main-sidebar{
    position: fixed
  }

  @media (max-width: 992px)
  .sidebar-open #sidebar-overlay {
      display: block;
  }
</style>
