<template>
	<div class="mainCont__Left">
      <div class="mainCont__UserBox">
        <p class="mainCont__UserTitle">
          {{ data.name }}
        </p>
        <div class="mainCont__UserPic mainCont__UserPic3">
          <div class="mainCont__UserPicImg" @error="imageUrlAlt" v-bind:style="{ backgroundImage: 'url(' + [data.avatar_image ? data.avatar_image : '/assets/user.png'] + ')'}"></div>
        </div>
        <p class="mainCont__UserId">
          ID：{{ data.uuid }}
        </p>
      </div>
      <!-- <ul class="mainCont__CategoryList block_p">
          <li class="mainCont__CategoryLi"><a href="/mypage" class="mainCont__Category"><i class="far fa-smile" aria-hidden="true"></i> マイページ</a></li>
            <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="far fa-comment-dots"></i> メッセージ</a></li>
            <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-user-tie"></i> 仕事管理</a></li>
            <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="far fa-credit-card"></i> 支払管理</a></li>
            <li class="mainCont__CategoryLi"><a href="/mypage/profile" class="mainCont__Category"><i class="fas fa-user-friends" aria-hidden="true"></i> ユーザー情報編集</a></li>
            <li class="mainCont__CategoryLi"><a href="/notifications" class="mainCont__Category"><i class="far fa-flag"></i> お知らせ</a></li>
            <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="far fa-question-circle"></i> ヘルプ</a></li>
        </ul> -->
        <ul class="mainCont__CategoryList block_p">
              <li class="mainCont__CategoryLi"><span class="mainCont__Category"><i class="far fa-smile" aria-hidden="true"></i> マイページ</span>
                <ul class="mainCont__CategoryChild">
                  <li class="mainCont__CategoryLiChild">
                    <a href="/mypage/1" class="mainCont__Category">└ クライアントページ</a>
                  </li>
                  <li class="mainCont__CategoryLiChild">
                    <a href="/mypage/2" class="mainCont__Category">└ インフルエンサーページ</a>
                  </li>
                </ul>
              </li>
              <li class="mainCont__CategoryLi"><a href="/chat?ref=&project_id=" class="mainCont__Category"><i class="far fa-comment-dots"></i> メッセージ</a></li>
              <li class="mainCont__CategoryLi"><span href="#" class="mainCont__Category"><i class="fas fa-user-tie"></i> 仕事管理</span>
                <ul class="mainCont__CategoryChild">
                  <li class="mainCont__CategoryLiChild">
                    <a href="/mypage/project_management" class="mainCont__Category">└ 募集した案件を見る</a>
                  </li>
                  <li class="mainCont__CategoryLiChild">
                    <a href="/mypage/work_management" class="mainCont__Category">└ 応募した案件を見る</a>
                  </li>
                </ul>
              </li>
              <li class="mainCont__CategoryLi"><a href="/payment" class="mainCont__Category"><i class="far fa-credit-card"></i> 支払管理</a></li>
              <li class="mainCont__CategoryLi"><a href="/mypage/edit_information" class="mainCont__Category"><i class="fas fa-user-friends" aria-hidden="true"></i> ユーザー情報編集</a></li>
              <li class="mainCont__CategoryLi"><a href="/notifications" class="mainCont__Category"><i class="far fa-flag"></i> お知らせ</a></li>
              <li class="mainCont__CategoryLi"><a href="/faq" class="mainCont__Category"><i class="far fa-question-circle"></i> ヘルプ</a></li>
            </ul>

        <div class="mainCont__CategoryBox block_s">
          <h3 class="mainCont__CategoryTitle">
            メニュー
          </h3>

          <div class="mainCont__FormSelectBox block_s">
            <select name="" class="mainCont__FormSelect">
              <option value="">マイページ</option>
              <option value="">メッセージ</option>
              <option value="">仕事管理</option>
              <option value="">支払管理</option>
              <option value="">ユーザー情報編集</option>
              <option value="">お知らせ</option>
              <option value="">ヘルプ</option>
            </select>
          </div>

          <ul class="mainCont__CategoryList block_p">
            <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="far fa-smile" aria-hidden="true"></i> 全てのカテゴリ</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-tshirt" aria-hidden="true"></i> アパレル・ファッション</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-utensils" aria-hidden="true"></i> グルメ・スイーツ</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-plane" aria-hidden="true"></i> 旅行</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-user-friends" aria-hidden="true"></i> ファミリー（ママ・キッズ）</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-basketball-ball" aria-hidden="true"></i> スポーツ</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-running" aria-hidden="true"></i> フィットネス・ボディメイク</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-fire-alt" aria-hidden="true"></i> ダイエット</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-couch" aria-hidden="true"></i> 家具・インテリア</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-desktop" aria-hidden="true"></i> 家電・ガジェット</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-pencil-ruler" aria-hidden="true"></i> 生活雑貨</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-heart" aria-hidden="true"></i> 花・フラワーアレンジメント</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-paw" aria-hidden="true"></i> ペット・動物</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-book" aria-hidden="true"></i> アート・漫画・イラスト</a></li>
              <li class="mainCont__CategoryLi"><a href="#" class="mainCont__Category"><i class="fas fa-stethoscope" aria-hidden="true"></i> 医療</a></li>
          </ul>
        </div>
    </div>
</template>

<script>
import UserService from '../../../service/user/user.service'

const userService = new UserService();
export default {
  data() {
      return {
        data: {},
        role:0,
      }
  },
  created() {
    this.getUser();
    this.setStorageSession()
  },
  methods: {
    getUser() {
      userService.getUser().then(response => {
        this.data = response.data;
        if(this.data.bank_account == null) this.data.bank_account = { is_auto_pay:0 };
        this.data.avatar_image = this.data.avatar_image == null ? '/assets/user.png' : this.data.avatar_image;
        this.$emit('get-user', this.data);
      });
    },
    setStorageSession(){
      var hours = 1; // Reset when storage is more than per hour
      var now = new Date().getTime();
      var setupTime = localStorage.getItem('expiry');
      if (setupTime == null) {
          localStorage.setItem('expiry', now)
      } else {
          if(now-setupTime > hours*60*60*1000) {
              localStorage.setItem('mypageprofile-tab', 1)
              localStorage.setItem('expiry', now);
              localStorage.removeItem('self-promo')
          }
      }
    },
		imageUrlAlt(e){
			e.target.src = '/assets/user.png'
		},
  }
}
</script>
