<template>
  <div>
    <div class="userBox__Data">
      <div class="userBox__DataBox" v-for="(info, index) in snsList" :key="index">
        <p class="userBox__DataTitle" v-html="displaySnsIcon(info.type)"></p>
        <span class="userBox__DataTxt">{{ info.follower_label }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SnsList',
  props: {
    snsList: Array,
  },
  data() {
    return {
      snsIcons: {
        tiktok: '<i class="fab fa-tiktok"></i> Tiktok',
        twitter: '<i class="fab fa-twitter"></i> Twitter',
        facebook: '<i class="fab fa-facebook"></i> Facebook',
        instagram: '<i class="fab fa-instagram"></i> Instagram',
        youtube: '<i class="fab fa-youtube"></i> Youtube'
      }
    }
  },
  methods: {
    displaySnsIcon(type) {
      return this.snsIcons[type];
    }
  }
}
</script>
