<template>
  <div class="loading">
    <div class="loading_spin">
      <fulfilling-bouncing-circle-spinner
        :animation-duration="4000"
        :size="60"
        color="#13106c"
      />
    </div>
  </div>
</template>

<script>
  import { FulfillingBouncingCircleSpinner } from 'epic-spinners'
  export default {
    components: {
      FulfillingBouncingCircleSpinner
    }
  }
</script>

<style scoped>
  .loading {
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
  }

  .loading_spin {
    position: absolute;
    top: 35%;
    left: 48%;
    margin: 0 auto
  }
</style>
