<template>
  <div class="tab_content_description">
    SNS情報の編集を行えます。
    <form class="register register2">
      <div class="register__FormBox">
        <dl class="register__FormList">
          <dt class="register__FormListLeft2">
            <h3 class="mainCont__Title1">得意なジャンル</h3>
            <span>複数選択可</span>
          </dt>
          <dd class="register__FormListRight2">
            <p class="register__RadioBox register__RadioBox4" v-for="(value,key) in genres" :key="key">
              <input :id="`check${key}`" class="register__RadioBtn" name="hoge" type="checkbox"
              :value="value.name"
              :checked="data.has_many_genres.some(e => e.genre_id == value.id)"
              @click="checked(value, $event)">
              <label :for="`check${key}`" class="register__Label register__Label2">{{value.name}}</label>
            </p>
            <p class="register__RadioBox register__RadioBox4 register__RadioBoxOther">
              <input id="check16" class="register__RadioBtn" name="hoge" type="checkbox" value="その他" @click="changeOthers($event)" :checked="data.has_many_genres.some(e => e.genre_id == 16)">
              <label for="check16" class="register__Label register__Label2">その他</label>
              <span class="register__RadioBoxOtherInput">
                <input type="text" placeholder="（例）釣り" class="register__Irai" v-model="genreOthers">
              </span>
            </p>
            <a class="register__BtnGenre" @click="saveGenres()">ジャンルを保存する</a>
              <div class="register__FormSuccessMessage">
              <span class="message__success" v-if="success_mgs.genres">{{ success_mgs.genres }}</span>
            </div>
          </dd>
          <dt class="register__FormListLeft2">
            <h3 class="mainCont__Title1">依頼可能なSNS</h3>
          </dt>
          <dd class="register__FormListRight2">
            <p class="register__RadioBox register__RadioBox4"  v-for="(value,key) in social" :key="key">
              <input :id="value.id" class="register__RadioBtn" name="hoge" type="radio" value="" @click="selectSocial(value, $event)">
              <label :for="value.id" class="register__Label register__Label2">{{ value.name }}</label>
            </p>
            <a class="register__BtnGenre" @click="toggleModal('store')">
            追加する
            </a>
            <sns-modal v-if="isSnsModalOpen" @toggleModal="modalState($event)" :sns_details="snsDetails"></sns-modal>
          </dd>
          <dt class="register__FormListLeft2">
            <h3 class="mainCont__Title1">登録済のSNSアカウント</h3>
          </dt>
          <dd class="register__FormListRight2">
            <div class="register__Sns" v-for="(sns,key) in sns_display_list" :key="key">
              <div class="register__SnsTitle">
                <span v-html="getIcon(sns.type)"></span><br>
                {{ getName(sns.type) }}
              </div>
              <div class="register__SnsBox">
                <dl class="register__SnsBoxList">
                  <dt class="register__SnsBoxDt">{{ getSnsIdLabel(sns.type) }}</dt>
                  <dd class="register__SnsBoxDd"> {{ sns.sns_id }} </dd>
                  <dt class="register__SnsBoxDt">{{ getSnsUrlLabel(sns.type) }}</dt>
                  <dd class="register__SnsBoxDd"> {{ sns.url }} </dd>
                  <dt class="register__SnsBoxDt">{{ followerLabel(sns.type) }}</dt>
                  <dd class="register__SnsBoxDd"> {{ getFollowers(sns.followers) }} </dd>
                  <!-- views -->
                  <dt class="register__SnsBoxDt" v-if="showViewsAndVideos(sns.type)"> チャンネル再生回数 </dt>
                  <dd class="register__SnsBoxDd" v-if="showViewsAndVideos(sns.type)"> {{ sns.views }} </dd>
                  <!-- videos -->
                  <dt class="register__SnsBoxDt" v-if="showViewsAndVideos(sns.type)"> アップロード動画数 </dt>
                  <dd class="register__SnsBoxDd" v-if="showViewsAndVideos(sns.type)"> {{ sns.videos }} </dd>
                  <!-- likes -->
                  <dt class="register__SnsBoxDt" v-if="showLikes(sns.type)"> 投稿数 </dt>
                  <dd class="register__SnsBoxDd" v-if="showLikes(sns.type)"> {{ sns.likes }} </dd>
                  <!-- posts -->
                  <dt class="register__SnsBoxDt" v-if="showPosts(sns.type)"> 投稿数 </dt>
                  <dd class="register__SnsBoxDd" v-if="showPosts(sns.type)"> {{ sns.posts }} </dd>
              </dl>
              </div>
              <div class="register__Btns">
                <button class="register__BtnHensyu" type='button' @click="toggleModal('update', sns)">編集</button>
                <button class="register__BtnSakujyo" type='button' @click="snsDeleteModal(sns)">削除</button>
              </div>
            </div>
            <div class="password__modal" v-if="isDeleteModalOpen">
              <div class="delete_sns_confirmation">
                <span class="delete_sns_label center__text">SNSアカウントを削除しますか？</span>
                <div class="register__FormSuccessMessage">
                </div>
                <div class="delete_sns_btn_wrap">
                  <button class="snsinfoModal__Btn snsinfoModal__Cancel" type="button" @click="isDeleteModalOpen = false">キャンセル</button>
                  <button class="snsinfoModal__Btn snsinfoModal__Submit" type="button" @click="snsDelete">削除する</button>
                </div>
              </div>
            </div>
            <div class="center" ref="success_message">
              <p class="error__message" v-for="err, key in responseMessage.error" :key="key">{{ err }}</p>
              <span class="message__success" v-if="responseMessage.success">{{ responseMessage.success }}</span>
            </div>
          </dd>
        </dl>
      </div>
      <!--<button class="register__BtnConfirm" type="button">保存する</button>-->
    </form>
  </div>
</template>

<script>
import SnsModal from './sns/SnsModal.vue';
import SnsInfoService from "../../../../service/user/sns.service";
import Config from '../../../../config/constant'
const config = Config;
const snsInfoService = new SnsInfoService();

export default {
  props: {
    data: Object,
    genres: Array,
    others: String,
    change_others: Function,
    checked: Function,
    success_mgs: Object,
    sns_list: Array,
  },
  components: {
    SnsModal
  },
  data() {
    return {
      isDeleteModalOpen: false,
      isSnsModalOpen: false,
      genreOthers: '',
      snsDeleteInfo: {
        id: '',
        type: ''
      },
      snsModalInfo: {
        selected: '',
        method: ''
      },
      snsDetails: {},
      social: [
        { id: 1, name: "Youtube", icon: '<i class="fab fa-youtube"></i>' },
        { id: 2, name: "Instagram", icon: '<i class="fab fa-instagram"></i>' },
        { id: 3, name: "Facebook", icon: '<i class="fab fa-facebook"></i>' },
        { id: 4, name: "Twitter", icon: '<i class="fab fa-twitter"></i>' },
        { id: 5, name: "Tiktok", icon: '<i class="fab fa-tiktok"></i>' },
      ],
      social_followers: config.social_followers,
      selected_social: {},
      sns_display_list: {},
      responseMessage: {
        success: '',
        error: ''
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      const otherGenre = this.data.has_many_genres.find(e => e.genre_id == "16");
      this.genreOthers = otherGenre != null ? otherGenre.name : "";
		});
    this.sns_display_list = this.sns_list;
  },
  methods: {
    showViewsAndVideos(type) {
      return type == 'youtube'
    },
    showLikes(type) {
      return type == 'facebook';
    },
    showPosts(type) {
      return ['twitter', 'instagram', 'tiktok'].includes(type);
    },
    modalState(message = null) {
      this.isSnsModalOpen = !this.isSnsModalOpen;
      if (message) {
        this.handleResponse(message);
      }
    },
    toggleModal(method = null, sns = null) {
      switch(method) {
        case 'store':
          if (Object.keys(this.selected_social).length <= 0) return false;
          this.snsDetails = {
            method: 'store',
            details: this.selected_social
          };
          break;
        case 'update':
            this.snsDetails = {
            method: 'update',
            snsInfo: sns,
            details: this.social.find(s => s.name.toLowerCase() == sns.type),
          };
          break;
      }
      this.isSnsModalOpen = !this.isSnsModalOpen;
    },
    selectSocial(value, e) {
      this.selected_social = this.social.find(social => social.id == value.id);
    },
    getIcon(type) {
      return this.social.find(s => s.name.toLowerCase() == type).icon;
    },
    getName(type) {
      return this.social.find(s => s.name.toLowerCase() == type).name;
    },
    getFollowers(followers) {
      return this.social_followers.find(sc => sc.id == followers).content;
    },
    snsDeleteModal(sns = null) {
      this.isDeleteModalOpen = !this.isDeleteModalOpen;
      if (sns != null) {
        this.snsDeleteInfo.id = sns.id;
        this.snsDeleteInfo.type = sns.type;
      }
    },
    async snsDelete() {
      try {
        const res = await snsInfoService.deleteSnsInfo(this.snsDeleteInfo);
        this.snsDeleteModal();
        this.handleResponse(res.data.message);
      } catch(err) {
        this.responseMessage.error = this.getErrorResponeMessages(err.response);
      }
    },
    followerLabel(type) {
      if (type.toLowerCase() == 'youtube') return 'チャンネル登録者数';
      return 'フォロワー数';
    },
    async listSnsInfo() {
      const res = await snsInfoService.listSnsInfo();
      this.sns_display_list = res.data;
    },
    handleResponse(message) {
      this.scrollToSuccessMessage();
      this.listSnsInfo();
      this.responseMessage.success = message;
      this.responseMessage.error = '';
      this.removeSuccessMsg();
    },
    removeSuccessMsg() {
      setTimeout(() => {
        Object.assign(this.$data.responseMessage, this.$options.data().responseMessage);
      }, 1500);
    },
    scrollToSuccessMessage() {
      const el = this.$refs.success_message;
      const top = el.offsetTop;
      window.scrollTo(0, top);
    },
    saveGenres() {
      this.$emit('save_genres', this.genreOthers);
    },
    changeOthers(e) {
      if (e.target.checked == false) {
        this.genreOthers = "";
      }
      this.change_others(e)
    }
  }
}
</script>

<style scoped>
  .center {
    display: flex;
    justify-content: center;
  }
</style>
