<template>
  <div>
    <ValidationObserver ref="observer">
      <form @submit="onSubmit">
        <div class="tab_content_description">
          ユーザー情報の編集を行えます。
          <form class="register register2">
            <div class="register__FormBox">
              <dl class="register__FormList">
                <dt class="register__FormListLeft">
                  表示用ユーザー名
                  <span class="register__Required">必須</span>
                  <span class="register__Koukai">公　開</span>
                  <span class="register__FormListStxt">法人の場合は法人名</span>
                </dt>
                <dd class="register__FormListRight">
                  <ValidationProvider
                    name="表示用ユーザー名"
                    rules="required|max:100"
                    v-slot="{ errors }"
                  >
                    <input 
                      type="text" 
                      ref="name"
                      class="register__UserName" 
                      v-model="data.name" 
                    />
                    <span class="register__FormTxt">※法人の場合は、法人名をご入力ください</span>
                    <span class="error__message">{{ errors[0] }}</span>
                  </ValidationProvider>
                </dd>
                <dt class="register__FormListLeft">
                  氏名
                  <span class="register__Required">必須</span>
                  <span class="register__Hikoukai">非公開</span>
                  <span class="register__FormListStxt">法人の場合はご担当者名</span>
                </dt>
                <dd class="register__FormListRight">
                  <ValidationProvider
                    name="氏名"
                    rules="required|max:64"
                    v-slot="{ errors }"
                  >
                    <input 
                      type="text" 
                      ref="full_name"
                      class="register__Name" 
                      v-model="data.full_name" 
                    />
                    <span class="error__message">{{ errors[0] }}</span>
                  </ValidationProvider>
                </dd>
                <dt class="register__FormListLeft">
                  氏名（カナ）
                  <span class="register__Required">必須</span>
                  <span class="register__Hikoukai">非公開</span>
                  <span class="register__FormListStxt">法人の場合はご担当者名</span>
                </dt>
                <dd class="register__FormListRight">
                  <ValidationProvider
                    name="氏名（カナ）"
                    rules="required|max:64|katakana"
                    v-slot="{ errors }"
                  >
                    <input 
                      type="text" 
                      ref="full_name_kana"
                      class="register__Kana" 
                      v-model="data.full_name_kana"
                    />
                    <span class="error__message">{{ errors[0] }}</span>
                  </ValidationProvider>
                </dd>
                <dt class="register__FormListLeft">
                  電話番号
                  <span class="register__Required">必須</span>
                  <span class="register__Hikoukai">非公開</span>
                  <span class="register__FormListStxt">法人の場合はご担当者様電話番号</span>
                </dt>
                <dd class="register__FormListRight">
                  <ValidationProvider
                    name="電話番号"
                    rules="required|max:15|numeric"
                    v-slot="{ errors }"
                  >
                    <input 
                      type="text" 
                      ref="phone_number"
                      class="register__Tel" 
                      v-model="data.phone_number" 
                      @keyup="isNumber($event)"
                    />
                    <span class="register__FormTxt">※ハイフン無しでご入力ください</span>
                    <span class="error__message">{{ errors[0] }}</span>
                  </ValidationProvider>
                </dd>

                <dt class="register__FormListLeft">
                  主な利用用途
                  <span class="register__Required">必須</span>
                  <span class="register__Hikoukai">非公開</span>
                  <span class="register__FormListStxt">どちらを選択してもすべての機能を利用いただけます</span>
                </dt>
                <dd class="register__FormListRight">
                  <ValidationProvider
                    name="主な利用用途"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <p class="register__RadioBox">
                      <input 
                        id="radio1" 
                        class="register__RadioBtn" 
                        name="role" 
                        type="radio" 
                        value="1" 
                        v-model="data.default_role"
                      />
                      <label for="radio1" class="register__Label">クライアント</label>
                      <span class="register__FormTxt">※SNSへの投稿を依頼する場合</span>
                    </p>
                    <p class="register__RadioBox">
                      <input 
                        id="radio2" 
                        class="register__RadioBtn" 
                        name="role" 
                        type="radio" 
                        value="2" 
                        v-model="data.default_role"
                      />
                      <label for="radio2" class="register__Label">インフルエンサー</label>
                      <span class="register__FormTxt">※SNSに投稿する場合</span>
                    </p>
                    <p class="error__message">{{ errors[0] }}</p>
                  </ValidationProvider>
                </dd>
                <dt class="register__FormListLeft">
                  郵便番号
                  <span class="register__Any">任意</span>
                  <span class="register__Hikoukai">非公開</span>
                  <span class="register__FormListStxt">法人の場合は企業の所在地</span>
                </dt>
                <dd class="register__FormListRight">
                  <ValidationProvider
                    name="postcode"
                    rules="max:11"
                    v-slot="{ errors }"
                  >
                    <input 
                      type="tel" 
                      class="register__Tel" 
                      v-model="data.postcode" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                      maxlength="11"
                    />
                    <span class="register__FormTxt">※ハイフン無しでご入力ください</span>
                    <p class="error__message">{{ errors[0] }}</p>
                  </ValidationProvider>
                </dd>
                <dt class="register__FormListLeft">
                  都道府県
                  <span class="register__Any">任意</span>
                  <span class="register__Koukai">公　開</span>
                  <span class="register__FormListStxt">法人の場合は企業の所在地</span>
                </dt>
                <dd class="register__FormListRight">
                  <div class="register__SelectWrap">
                    <select name="" class="register__Select1" v-model="data.prefecture">
                    <option :value="undefined" selected  disabled>選択してください</option>
                    <option :value="value.id" v-for="(value, key) in prefectures" :key="key">{{value.name}}</option>
                    </select>
                  </div>
                </dd>
                <dt class="register__FormListLeft">
                  住所（番地まで）
                  <span class="register__Any">任意</span>
                  <span class="register__Hikoukai">非公開</span>
                  <span class="register__FormListStxt">法人の場合は企業の所在地</span>
                </dt>
                <dd class="register__FormListRight">
                  <input 
                    type="text" 
                    class="register__Jyusyo" 
                    v-model="data.address1" 
                    maxlength="100"
                  />
                </dd>
                <dt class="register__FormListLeft">
                  住所（ビル名など）
                  <span class="register__Any">任意</span>
                  <span class="register__Hikoukai">非公開</span>
                  <span class="register__FormListStxt">法人の場合は企業の所在地</span>
                </dt>
                <dd class="register__FormListRight">
                  <input 
                    type="text" 
                    class="register__Jyusyo" 
                    v-model="data.address2" 
                    maxlength="100"
                  />
                </dd>
                <dt class="register__FormListLeft">
                  生年月日
                  <span class="register__Any">任意</span>
                  <span class="register__Koukai">公　開</span>
                  <span class="register__FormListStxt">法人の場合は入力不要</span>
                </dt>
                <dd class="register__FormListRight">
                  <span class="register__DateWrap"><input type="tel" class="register__Year" v-model="birthday.year" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="4"> 年</span>
                  <span class="register__DateWrap"><input type="tel" class="register__Month" v-model="birthday.month" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="2"> 月</span>
                  <span class="register__DateWrap"><input type="tel" class="register__Day" v-model="birthday.day" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="2"> 日</span>
                  <span class="register__FormListStxt">※「xx代前半」として公開されます</span>
                  <span class="error__message" v-if="error.birthday">{{ error.birthday[0] }}</span>
                </dd>
                <dt class="register__FormListLeft">
                  性別
                  <span class="register__Any">任意</span>
                  <span class="register__Koukai">公　開</span>
                  <span class="register__FormListStxt">
                    法人の場合は選択不要
                  </span>
                </dt>
                <dd class="register__FormListRight">
                  <p class="register__RadioBox">
                    <input 
                      id="radio3" 
                      class="register__RadioBtn" 
                      name="gender" 
                      type="radio" 
                      value="1" 
                      v-model="data.sex"
                    />
                    <label for="radio3" class="register__Label">男性</label>
                  </p>
                  <p class="register__RadioBox">
                    <input 
                      id="radio4" 
                      class="register__RadioBtn" 
                      name="gender" 
                      type="radio" 
                      value="2" 
                      v-model="data.sex"
                    />
                    <label for="radio4" class="register__Label">女性</label>
                  </p>
                  <p class="register__RadioBox">
                    <input 
                      id="radio5" 
                      class="register__RadioBtn" 
                      name="gender" 
                      type="radio" 
                      value="9" 
                      v-model="data.sex"
                    />
                    <label for="radio5" class="register__Label">公開しない</label>
                  </p>
                </dd>
              </dl>
            </div>
            <button class="register__BtnConfirm" type="button" @click="onSubmit">保存する</button>
            <div class="register__FormSuccessMessage">
              <span class="message__success" v-if="success_mgs.info">{{ success_mgs.info }}</span>
            </div>
          </form>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  props: {
    data: Object,
    prefectures: [Object, Array],
    birthday: Object,
    success_mgs: Object,
    error: Object,
    kana_err: String,
    check_kana: Function,
    save_information: Function
  },
  methods: {
    isNumber(event) {
      if (!/\d/.test(event.key)) {
        return event.preventDefault();
      }
    },
    async onSubmit(event) {
      const isValid = await this.$refs.observer.validate();
      if (!isValid) {
        event.preventDefault();
      } else {
        this.save_information()
      }
    },
  }
}
</script>

<style>

</style>