<template>
  <div>
    <ValidationObserver ref="observer">
      <form @submit="onSubmit">
        <div class="tab_content_description">
          プロフィール情報の編集を行えます。
          <form class="register register2" enctype="multipart/form-data">
            <div class="register__FormBox">
              <dl class="register__FormList">
                <dt class="register__FormListLeft">
                  プロフィール写真
                </dt>
                <dd class="register__FormListRight">
                  <div class="message__AreaWrapHeader">
                    <div class="message__AreaWrapUp">
                      <div class="message__AreaWrapBtn">
                        <label class="register__FileWrap">
                          <i class="far fa-file" aria-hidden="true"></i> ファイルを選択する
                          <input type="file" name="" id="file-image" class="register__File2" @change="upload_image($event)" accept=".png, .jpg, .jpeg">
                        </label>
                      </div>
                      <div class="register__FileMessage" id="fileName1">{{ file_name }}</div>
                      <div class="register__FileClear js-register__FileClear" id="js-register__FileClear1">クリア</div>
                    </div>
                  </div>
                  <div class="register__FormListStxt">
                    3MB以下の JPG、PNGファイルを選択してください。<br>
                    変更を保存することで反映されます。
                  </div>
                  <span class="error__message" v-if="img_err">{{ img_err }}</span>
                  <span class="error__message" v-if="error.image">{{ error.image[0] }}</span>
                </dd>
                <dt class="register__FormListLeft">
                  表示用ユーザー名
                </dt>
                <dd class="register__FormListRight">
                    {{ data.name }}
                </dd>
                <dt class="register__FormListLeft">
                  自己紹介
                  <span class="register__FormListStxt">
                    2000文字まで
                  </span>
                </dt>
                <dd class="register__FormListRight">
                  <ValidationProvider
                    name="self_introduction"
                    rules="max:2000"
                    v-slot="{ errors }"
                  >
                    <textarea 
                      id="self_intro" 
                      class="register__TextArea" 
                      v-model="data.self_introduction" 
                      maxlength="2000"
                      ></textarea>
                    <span class="register__FormListStxt" style="float:right;">{{data.self_introduction != undefined ? data.self_introduction.length : 0}}/2000</span>
                    <p class="error__message">{{ errors[0] }}</p>
                  </ValidationProvider>
                </dd>
              </dl>
            </div>
            <button class="register__BtnConfirm" type="button" @click="onSubmit">保存する</button>
            <div class="register__FormSuccessMessage">
              <span class="message__success" v-if="success_mgs.profile">{{ success_mgs.profile }}</span>
            </div>
          </form>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
export default {
  props: {
    data: Object,
    success_mgs: Object,
    error: Object,
    file_name: String,
    img_err: String,
    upload_image: Function,
    save_profile: Function
  },
  methods: {
    async onSubmit(event) {
      const isValid = await this.$refs.observer.validate();
      if (!isValid) {
        event.preventDefault();
      } else {
        this.save_profile()
      }
    },
  }
}
</script>

<style scoped>
  .register__FileWrap {
    border-radius: 4px;
    cursor: pointer;
    background: #13106c;
    color: #FFF;
    padding: 5px 15px;
    margin-bottom: 5px;
    width: 28%;
  }

  .register__FileClear {
    display: none;
    margin: 0 20px 0;
    text-decoration: underline;
    cursor: pointer;
    vertical-align: middle;
  }

  .register__File2 {
    display: none;
  }
</style>