<template>
  <div>
    <section>
      <form :action="`${posturl}`" method="POST" @submit="onSubmit">
        <input type="hidden" name="_token" :value="csrf" />
        <input type="hidden" name="project_id" :value="project_id" />
        <div class="mainCont__Box">
          <h2 class="mainCont__Title1">
            応募したインフルエンサー
          </h2>
          <div class="mainCont__RedBox">
            <p>依頼するインフルエンサーを選択して「支払情報入力画面へ進む」ボタンをクリックしてください。</p>
          </div>
          <h3 class="mainCont__FixedTitle">最大依頼人数 残り{{ maximum_selection }}名</h3>
          <div v-for="selecting_user, index in users_limit" :key="index">
            <div :id="selecting_user.user.uuid" class="userBox userBox2" :class="selected_users_array.includes(selecting_user.user.uuid) ? 'isActive' : ''">
              <div class="userBox__CheckWrap">
                <input v-if="users_array.includes(selecting_user.user.uuid)" type="hidden" name="selected_users[]" :value="selecting_user.user.uuid">
                <span class="userBox__CheckText" @click="selectUser(selecting_user.user.uuid)">このユーザーに依頼する</span>
              </div>
              <div class="userBox__Box">
                <div class="matter__UserPicImg profile_link" v-bind:style="{ backgroundImage: 'url(' + [selecting_user.user.avatar_image ] + ')'}"  @error="setDefaultImage" @click="redirectUser" :id="selecting_user.user.uuid"  ></div>
                <h3 class="userBox__Title"><a :href="false" class="profile_link" :id="selecting_user.user.uuid" @click="redirectUser">{{ selecting_user.user.name }}</a></h3>
                <div class="userBox__UserBox">
                  <div class="userBox__UserSt">
                    評価
                    <span class="userBox__UserStScore">{{ selecting_user.user.influencer_rate }}</span>
                  </div>
                  <div class="userBox__UserSt">
                    完了実績
                    <span class="userBox__UserStScore">{{ selecting_user.user.completed_project }}</span>件
                  </div>
                  <div class="userBox__UserSt">
                    完了率
                    <span class="userBox__UserStScore">{{ selecting_user.user.completion_rate }}</span>%
                  </div>
                </div>
              </div>
              <div class="userBox__Box">
                <ul class="tag">
                  <li class="tag__Inner" v-for="tag, index in selecting_user.user.has_many_genres" :key="index">
                    # {{ tag.name }}
                  </li>
                </ul>
              </div>
              <div class="userBox__Pr">
                <h4 class="userBox__SubTitle">
                  自己PR・実績
                </h4>
                <p class="white_space" v-html="selecting_user.self_promotion" />
              </div>
              <sns-list :snsList="selecting_user.user.sns_list"></sns-list>
              <div class="userBox__Date">
                <h4 class="userBox__SubTitle">
                  応募日時
                </h4>
                <p>{{ dateTimeFormatValue(selecting_user.applied_at) }}</p>
              </div>
              <a target="_blank" :href="`/project_messages/${selecting_user.id}`" class="userBox__Btn">
                メッセージを送る
              </a>
            </div>
          </div>
        </div>
        <div class="mainCont__BtnsList2" v-if="users.length > display_limit">
          <button @click="loadMoreUsers" class="mainCont__Btn4">
            次の50件を表示する
          </button>
        </div>
        <div class="mainCont__Btns">
          <ul class="mainCont__BtnsList">
            <li class="mainCont__BtnsLi">
              <button type="submit" class="mainCont__Btn2 mainCont__BtnCon2 btn_submit">支払情報入力画面へ進む</button>
            </li>
          </ul>
          <span class="error__message" style="text-align:center;display:block;margin-top:20px;">{{ error }}</span>
        </div>
      </form>
    </section>
  </div>
</template>
<script>
  import * as dateFormat from "../../../util/date-format";
  import SnsList from "../../includes/SnsList.vue";

  export default {
    props: {
      project: [Array, Object],
      project_users: [Array, Object],
      selected_users_array: [Array, Object],
      posturl: String,
      csrf: String
    },
    components: {
      SnsList
    },
    data() {
      return {
        project_id: 0,
        display_limit: 50,
        maximum_selection: 0,
        is_project_application: false,
        error: '',
        selected_users: [],
        details: [],
        users: [],
        users_limit: [],
        users_array: []
      }
    },
    created() {
      this.init()
    },
    computed: {
      dateTimeFormatValue() {
        return function (datetime) {
          if (!datetime) {
            return "";
          }
          return dateFormat.slashDateTime(datetime);
        };
      },
    },
    watch: {
      display_limit() {
        this.users_limit = this.users.slice(0, this.display_limit)
      }
    },
    methods: {
      init() {
        let counter = 0;
        this.project_id = this.project.id
        this.reward = this.project.reward_amount
        this.details = this.project
        this.users_array = this.selected_users_array
        this.users = this.project_users

        if (this.selected_users_array.length > 0) {
          for (let i = 0; i < this.selected_users_array.length; i++) {
            counter++
          }
        }
        this.maximum_selection = this.project.request_people_number - counter
        this.users_limit = this.users.slice(0, this.display_limit)
      },
      selectUser(id) {
        $('.btn_submit').removeClass("disabled")
        this.error = ''

        let user_element = document.getElementById(id)
        if (user_element.classList.contains('isActive')) {
          user_element.classList.remove('isActive')
          this.users_array = this.removeValue(this.users_array, id)
          this.maximum_selection++
        } else {
          if (this.maximum_selection > 0 && !this.userExists(id)) {
            user_element.classList.add('isActive')
            this.users_array.push(id)
            this.maximum_selection--
          }
        }
      },
      async onSubmit(event) {
        $('.btn_submit').addClass("disabled")

        if (this.users_array.length == 0) {
          this.error = 'インフルエンサーを選択してください。'
          event.preventDefault();
        }
      },
      loadMoreUsers() {
        if (this.users.length > this.display_limit) {
          if ((this.users.length - this.display_limit) < 50) {
            this.display_limit = this.users.length
          } else {
            this.display_limit =  this.display_limit + 50
          }
        }
      },
      setDefaultImage(e) {
        e.target.src = '/assets/user.png'
      },
      redirectUser(e) {
        e.preventDefault()
        window.open(`/profile/${e.target.id}/influencer`, '_blank')
      },
      userExists(id) {
        return this.selected_users.some(selected_user => {
          return selected_user.user.uuid === id;
        });
      },
      removeValue(arr, value) {
        let i = 0;
        while (i < arr.length) {
          if (arr[i] === value) {
            arr.splice(i, 1);
          } else {
            ++i;
          }
        }
        return arr;
      }
    }
  }
</script>
<style scoped>
  .mainCont__BtnCon2 {
    width: 300px;
    height: 60%;
    font-size: 18px;
    cursor: pointer;
    border: none;
  }
  .mainCont__Btn4 {
    cursor: pointer;
  }
  .profile_link {
    cursor: pointer;
  }
  .btn_submit {
    height: 100%;
  }
  .white_space {
    white-space: pre-line;
  }
</style>
