<template>
  <div>
    <ValidationObserver ref="observer">
      <section>
        <form id="payment-form" :action="`${posturl}`" method="POST">
          <input type="hidden" name="_token" :value="csrf" />
          <input type="hidden" name="project_id" :value="project_id" />
          <div class="mainCont__Box">
            <h2 class="mainCont__Title1">
              選定するインフルエンサー
            </h2>
            <div class="userBox" v-for="selected_user, index in selected_users" :key="index">
              <div class="userBox__Box">
                <p class="userBox__Pic">
                  <img :src="selected_user.user.avatar_image ? selected_user.user.avatar_image : '/assets/user.png'" @error="setDefaultImage" @click="redirectUser" :id="selected_user.user.uuid" class="matter__UserPicImg profile_link">
                </p>
                <h3 class="userBox__Title"><a :href="false" class="profile_link" :id="selected_user.user.uuid" @click="redirectUser">{{ selected_user.user.name }}</a></h3>
                <div class="userBox__UserBox">
                  <div class="userBox__UserSt">
                    評価
                    <span class="userBox__UserStScore">{{ selected_user.user.influencer_rate }}</span>
                  </div>
                  <div class="userBox__UserSt">
                    完了実績
                    <span class="userBox__UserStScore">{{ selected_user.user.completed_project }}</span>件
                  </div>
                  <div class="userBox__UserSt">
                    完了率
                    <span class="userBox__UserStScore">{{ selected_user.user.completion_rate }}</span>%
                  </div>
                </div>
              </div>
              <div class="userBox__Box">
                <ul class="tag">
                  <li class="tag__Inner" v-for="tag, index in selected_user.user.has_many_genres" :key="index">
                    # {{ tag.name }}
                  </li>
                </ul>
              </div>
              <div class="userBox__Pr">
                <h4 class="userBox__SubTitle">
                  自己PR・実績
                </h4>
                <p v-html="selected_user.user.self_introduction" />
              </div>
              <sns-list :snsList="selected_user.user.sns_list"></sns-list>
              <div class="userBox__Date">
                <h4 class="userBox__SubTitle">
                  応募日時
                </h4>
                <p>{{ dateTimeFormatValue(selected_user.applied_at) }}</p>
              </div>
            </div>
          </div>
          <div class="mainCont__Box">
            <h2 class="mainCont__Title1">
              費用明細
            </h2>
            <table class="table table3">
              <tbody>
                <tr>
                  <td class="table__td">インフルエンサー費用</td>
                  <td class="table__td table__Right">¥{{ this.project.reward_amount.toLocaleString() }} × {{ selected_users.length }}人</td>
                  <td class="table__td table__Right">¥{{ payment.total.toLocaleString() }}</td>
                </tr>
                <tr>
                  <td class="table__td">システム利用料</td>
                  <td class="table__td table__Center">　</td>
                  <td class="table__td table__Right">¥{{ payment.total_with_fee.toLocaleString() }}</td>
                </tr>
                <tr>
                  <td class="table__td">消費税</td>
                  <td class="table__td table__Center">　</td>
                  <td class="table__td table__Right">¥{{ payment.total_with_tax.toLocaleString() }}</td>
                </tr>
                <tr>
                  <th class="table__th">合計</th>
                  <th class="table__th"></th>
                  <th class="table__th  table__Right">¥{{ payment.total_to_pay.toLocaleString() }}</th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mainCont__Box">
            <h2 class="mainCont__Title1">
              クレジット決済
            </h2>
            <p class="mainCont__Card">
              <img :src="'/assets/card.png'" alt="">
            </p>
            <div class="register__FormBox">
              <dl class="register__FormList">
                <dt class="register__FormListLeft">
                  クレジットカード番号
                </dt>
                <dd class="register__FormListRight register__FormCardListRight">
                  <div id="card-number" class="register__CardNumber"></div>
                  <span class="card-error">{{ card.errors.number }}</span>
                  <span class="register__FormListStxt">
                    ※半角数字14桁〜16桁　ハイフンなしでご入力ください
                  </span>
                </dd>

                <dt class="register__FormListLeft">
                  有効期限
                </dt>
                <dd class="register__FormListRight register__FormCardListRight">
                  <span class="register__DateWrap2">
                    <div id="card-expiry" class="register__Month2"></div>

                  </span>
                  <div class="card-error">{{ card.errors.expiry }}</div>
                  <span class="register__FormListStxt">
                    ※クレジットカード券面に記載された数字2桁をご入力ください
                  </span>
                </dd>

                <dt class="register__FormListLeft">
                  セキュリティーコード
                </dt>
                <dd class="register__FormListRight register__FormCardListRight">
                  <span class="register__DateWrap">
                    <div id="card-cvc" class="register__Security"></div>

                  </span>
                  <div class="card-error">{{ card.errors.cvc }}</div>
                  <span class="register__FormListStxt">
                    <a target="_blank" href="https://www.stripe-inc-onlinestore.com/help/payment/17">※セキュリティーコードとは？</a>
                  </span>
                </dd>
              </dl>
              <div class="register__CautionBox register__CautionBox2">
                <ul>
                  <li class="register__CautionBoxLi">※お支払い回数は1回払いのみとさせていただきます。</li>
                  <li class="register__CautionBoxLi">※このページの入力を確定した時点で、クレジットカードによる決済を行います。</li>
                  <li class="register__CautionBoxLi">※クレジットカード情報は、決済処理のために弊社が取得し、決済代行会社ストライプジャパン（株）に提供します。<br>なお、弊社ではクレジットカード情報は保持しません。</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="mainCont__Btns">
            <ul class="mainCont__BtnsList">
              <li class="mainCont__BtnsLi">
                <a :href="`/mypage/project_management/selection/form/${this.project_id}`" class="mainCont__Btn5 mainCont__BtnCon2 button__size">
                  選定画面へ戻る
                </a>
              </li>
              <li class="mainCont__BtnsLi">
                <button id="payment_button" type="button" @click="onSubmit" class="mainCont__Btn2 mainCont__BtnCon2 btn_submit">この内容で確定する</button>
              </li>
            </ul>
            <span class="error__message" style="text-align:center;display:block;margin-top:20px;">{{ card.errors.stripe }}</span>
            <span class="success_message" style="text-align:center;display:block;margin-top:20px;">{{ card.message }}</span>
          </div>
        </form>
      </section>
    </ValidationObserver>
  </div>
</template>
<script>
  import * as dateFormat from "../../../util/date-format";
  import SnsList from "../../includes/SnsList.vue";
  import { StripeMessages } from "../../../util/stripe-message";
  import StripeService from "../../../../service/stripe";

  const stripeService = new StripeService()

  export default {
    props: {
      project: [Array, Object],
      project_users: [Array, Object],
      selected_users_array: Array,
      payment: [Object],
      posturl: String,
      csrf: String
    },
    components: {
      SnsList
    },
    data() {
      return {
        project_id: 0,
        is_project_application: false,
        error: '',
        selected_users: [],
        details: [],
        card: {
          message: '',
          payment_method_id: null,
          payment_intent_id: null,
          name: '',
          element: {
            number: null,
            expiry: null,
            cvc: null,
          },
          errors: {
            stripe: '',
            number: '',
            expiry: '',
            cvc: ''
          }
        },
      }
    },
    created() {
      this.init()
    },
    mounted() {
      this.loadStripeElements()
    },
    beforeDestroy() {
      this.card.element.number.destroy()
      this.card.element.expiry.destroy()
      this.card.element.cvc.destroy()
    },
    computed: {
      stripe() {
        return Stripe(process.env.MIX_APP_STRIPE_API_KEY)
      },
      stripeElements() {
        return this.stripe.elements()
      },
      dateTimeFormatValue() {
        return function (datetime) {
          if (!datetime) {
            return "";
          }
          return dateFormat.slashDateTime(datetime);
        };
      },
    },
    watch: {
      "card.errors.stripe" (val) {
        if (val != "") {
          document.getElementById('payment_button').classList.remove('disabled')
        }
      }
    },
    methods: {
      init() {
        this.project_id = this.project.id
        this.details = this.project
        this.selected_users = this.project_users.filter(project_user => {
          return [2].includes(project_user.application_status) && this.selected_users_array.includes(project_user.user.uuid)
        });
      },
      loadStripeElements() {
        const style = {
          invalid: {
            color: '#fa755a',
            iconColor: '#fa755a',
          },
        };
        this.card.element.number = this.stripeElements.create('cardNumber')
        this.card.element.expiry = this.stripeElements.create('cardExpiry')
        this.card.element.cvc = this.stripeElements.create('cardCvc')

        this.card.element.number.mount('#card-number')
        this.card.element.expiry.mount('#card-expiry')
        this.card.element.cvc.mount('#card-cvc')

        this.card.element.number.on("change", this.setStripeValidationError, { style });
        this.card.element.expiry.on("change", this.setStripeValidationError, { style });
        this.card.element.cvc.on("change", this.setStripeValidationError, { style });
      },
      setStripeValidationError(event) {
        if (event.error) {
          switch(event.elementType) {
            case 'cardNumber':
              this.card.errors.number =  StripeMessages[event.error.code]
              break;
            case 'cardExpiry':
              this.card.errors.expiry =  StripeMessages[event.error.code]
              break;
            case 'cardCvc':
              this.card.errors.cvc =  StripeMessages[event.error.code]
              break;
            default:
          }
        } else {
          if (event.complete && event.elementType === 'cardNumber') {
            this.card.errors.number = ''
          }
          if (event.complete && event.elementType === 'cardExpiry') {
            this.card.errors.expiry = ''
          }
          if (event.complete && event.elementType === 'cardCvc') {
            this.card.errors.cvc = ''
          }
        }
      },
      setDefaultImage(e) {
        e.target.src = '/assets/user.png'
      },
      redirectUser(e) {
        e.preventDefault()
        window.open(`/profile/${e.target.id}/influencer`, '_blank')
      },
      async onSubmit(event) {
        this.card.errors.stripe = ''
        document.getElementById('payment_button').classList.add('disabled')

        const isValid = await this.$refs.observer.validate();
        if (!isValid) {
          event.preventDefault()
        }

        this.card.payment_method_id = null
        this.card.payment_intent_id = null
        await this.stripe.createPaymentMethod({
          type: 'card',
          card: this.card.element.number,
          billing_details: {
            name: this.card.element.name,
          },
        }).then(this.processStripePaymentIntent);
      },
      async processStripePaymentIntent(result, requires_action = false) {
        if (result.error) {
          if (result.error.code.includes(['incomplete_cvc'])) {
            this.card.errors.stripe = ''
            document.getElementById('payment_button').classList.remove('disabled')
            return;
          }
          this.card.errors.stripe = StripeMessages[result.error.code] ?? result.error.code
        } else {
          if (!requires_action) {
            this.card.payment_method_id = result.paymentMethod.id
          }
          await stripeService
            .projectsSelectionPayment({
              _token: this.csrf,
              project_id: this.project_id,
              payment_method_id: this.card.payment_method_id,
              payment_intent_id: this.card.payment_intent_id
            })
            .then(response => {
              this.handleStripeServerResponse(response.data);
            })
            .catch(error => {
              this.card.errors.stripe = StripeMessages['internal_server_error']
            })
        }
      },
      async handleStripeServerResponse(response) {
        if (response.error) {
          this.card.errors.stripe = StripeMessages[response.error.slug] ?? response.error.message
        } else if (response.requires_action) {
          this.card.payment_intent_id = response.payment_intent_id
          await this.stripe.handleCardAction(
            response.payment_intent_client_secret
          ).then(response => this.processStripePaymentIntent(response, true));
        } else {
          this.card.errors.stripe = ''

          let paymentForm = document.getElementById('payment-form')
          let paymentMethodIdInput = document.createElement('input');
          let paymentIntentIdInput = document.createElement('input');

          paymentMethodIdInput.setAttribute('type', 'hidden');
          paymentMethodIdInput.setAttribute('name', 'payment_method_id');
          paymentMethodIdInput.setAttribute('value', this.card.payment_method_id);

          paymentIntentIdInput.setAttribute('type', 'hidden');
          paymentIntentIdInput.setAttribute('name', 'payment_intent_id');
          paymentIntentIdInput.setAttribute('value', response.payment_intent_id);

          paymentForm.appendChild(paymentMethodIdInput);
          paymentForm.appendChild(paymentIntentIdInput);
          paymentForm.submit();
        }
      }
    }
  }
</script>
<style scoped>
  .mainCont__BtnCon2 {
    width: 300px;
    height: 60%;
    font-size: 18px;
    cursor: pointer;
    border: none;
  }
  .profile_link {
    cursor: pointer;
  }
  .btn_submit {
    height: 100%;
  }
  .card-error-main {
    margin-top: 10px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: red;
  }
  .card-error {
    font-weight: normal;
    font-style: italic;
    color: red;
  }
  .success_message {
    font-weight: normal;
    font-style: italic;
    color: green;
  }
</style>
