<template>
  <div>
    <Header />

    <div class="mainCont">
      <div class="mainCont__Inner">
        <div class="breadcrumb breadcrumb2" v-show="section != 3">
          <ul class="breadcrumb__List">
            <li class="breadcrumb__Li">
              <a href="/mypage/project_management">仕事管理へ戻る</a>
            </li>
          </ul>
        </div>
        <div class="flowlist flowlist2">
          <p :class="section == 1 ? 'flowlist__Flow flowlist__Flow2 flowlist__FlowActive' : 'flowlist__Flow flowlist__Flow2'">
            <span :class="section == 1 ? 'flowlist__FlowNumber flowlist__FlowNumberActive' : 'flowlist__FlowNumber'">FLOW1</span>
            結果評価<br>入力
          </p>
          <p :class="section == 2 ? 'flowlist__Flow flowlist__Flow2 flowlist__FlowActive' : 'flowlist__Flow flowlist__Flow2'">
            <span :class="section == 2 ? 'flowlist__FlowNumber flowlist__FlowNumberActive' : 'flowlist__FlowNumber'">FLOW2</span>
            結果評価<br>確認
          </p>
          <p :class="section == 3 ? 'flowlist__Flow flowlist__Flow2 flowlist__FlowActive' : 'flowlist__Flow flowlist__Flow2'">
            <span :class="section == 3 ? 'flowlist__FlowNumber flowlist__FlowNumberActive' : 'flowlist__FlowNumber'">FLOW3</span>
            結果評価<br>完了
          </p>
        </div>

        <div class="mainCont__Wrap" v-show="section != 3">
          <div class="mainCont__Right mainCont__Right3">
            <div class="register register2">
              <Details :user="user_id"/>

              <div class="mainCont__Box">
                <h2 class="mainCont__Title1">
                  応募したインフルエンサー
                </h2>
                <h3 class="mainCont__Title4">選定日時 {{ selected_user.selected_at }}</h3>
                <div class="userBox">
                  <div class="userBox__Box">
                    <p class="userBox__Pic">
                      <img :src="selected_user.user.avatar_image" @error="imageUrlAlt" @click="redirectUser" :id="selected_user.user.uuid" class="matter__UserPicImg">
                    </p>
                    <h3 class="userBox__Title"><a :href="'/profile/' + selected_user.user.uuid">{{ selected_user.user.name }}</a></h3>

                    <div class="userBox__UserBox">
                      <div class="userBox__UserSt">
                        評価
                        <span class="userBox__UserStScore">{{ getClientRate(selected_user.user.has_many_project_users) }}</span>
                      </div>
                      <div class="userBox__UserSt">
                        完了実績
                        <span class="userBox__UserStScore">{{selected_user.user.has_many_project_users != undefined ? selected_user.user.has_many_project_users.length : 0}}</span>件
                      </div>
                      <div class="userBox__UserSt">
                        完了率
                        <span class="userBox__UserStScore">100</span>%
                      </div>
                    </div>
                  </div>
                  <div class="userBox__Box">
                    <ul class="tag">
                      <li class="tag__Inner" v-for="tag in selected_user.user.has_many_genres">
                        # {{ tag.name }}
                      </li>
                    </ul>
                  </div>
                  <div class="userBox__Pr">
                    <h4 class="userBox__SubTitle">
                      自己PR・実績
                    </h4>
                    <p v-html="selected_user.self_promotion" />
                  </div>
                  <div class="userBox__Data">
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-youtube"></i>YouTube</p>
                        チャンネル登録者数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-instagram"></i> Instagram</p>
                        フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-facebook"></i> FaceBook</p>
                        フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-twitter"></i> twitter</p>
                        フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-tiktok"></i> Tiktok</p>
                        フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                  </div>
                  <div class="userBox__Date">
                    <h4 class="userBox__SubTitle">
                      応募日時
                    </h4>
                    <p>{{ selected_user.applied_at }}</p>
                  </div>
                  <a :href="`/chat?ref=${selected_user.id}&project_id=`" class="userBox__Btn">
                    メッセージを送る
                  </a>
                </div>

                <div class="mainCont__Box">
                  <h2 class="mainCont__Title1">
                    インフルエンサーからクライアントへの完了報告
                  </h2>
                  <h3 class="mainCont__Title4">SNS投稿情報　/　完了報告日時 2020/10/15 10:00:00</h3>
                  <p>
                    投稿URL：{{ selected_user.sns_url }}
                  </p>

                  <div class="mainCont__EmbedSnsWrap">
                    <div class="mainCont__EmbedSns">
                      <iframe class="sns_frame" :src="selected_user.sns_frame_url" frameborder="0" scrolling="no" :style="selected_user.sns_type == 'www.tiktok.com' ? 'height: 600px; border: none;' : ''"/>
                    </div>
                  </div>
                </div>
                <div class="mainCont__Box" v-show="section == 1">
                  <h2 class="mainCont__Title1">
                    クライアントからインフルエンサーへの結果評価
                  </h2>
                  <p class="mainCont__RedBox">
                    インフルエンサーについての評価を入力してください
                  </p>
                  <div class="register__FormBox">
                    <dl class="register__FormList">
                      <dt class="register__FormListLeft">
                        結果の評価
                      </dt>
                      <dd class="register__FormListRight">
                        <p class="register__RadioBox">
                          <input id="radio3" class="register__RadioBtnGood" name="hoge" type="radio" value="1" v-model="rating">
                          <label for="radio3" class="register__Label register__Label3">Good!</label>
                        </p>
                        <p class="register__RadioBox">
                          <input id="radio4" class="register__RadioBtnBad" name="hoge" type="radio" value="2" v-model="rating">
                          <label for="radio4" class="register__Label register__Label4">Bad</label>
                        </p>
                        <div class="error__message">{{ errors.rating }}</div>
                      </dd>
                      <dt class="register__FormListLeft">
                        コメント
                      </dt>
                      <dd class="register__FormListRight">
                        <textarea v-model="comments" class="register__TextArea3" ref="error" />
                        <div class="error__message">{{ errors.comments }}</div>
                      </dd>
                    </dl>
                  </div>
                  <div class="mainCont__Btns">
                    <ul class="mainCont__BtnsList">
                      <li class="mainCont__BtnsLi">
                        <a href="/mypage/project_management" class="mainCont__Btn5 mainCont__BtnCon2">
                          仕事管理を表示する
                        </a>
                      </li>
                      <li class="mainCont__BtnsLi">
                        <a :href="`checking?ref=2&project_id=${this.$route.query.project_id}&user=${this.$route.query.user}`" @click="setData($e)" class="mainCont__Btn2 mainCont__BtnCon2">
                          入力内容を確認する
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="mainCont__Box" v-show="section == 2">
                  <h2 class="mainCont__Title1">
                    クライアントからインフルエンサーへの結果評価
                  </h2>
                  <div class="register__FormBox">
                    <dl class="register__FormList">
                      <dt class="register__FormListLeft">
                        結果の評価
                      </dt>
                      <dd class="register__FormListRight">
                        <p class="register__RadioBox" v-if="rating == 1">
                          <input id="radio3" disabled class="register__RadioBtnGood" name="hoge" type="radio" value="1">
                          <label for="radio3" class="register__Label register__Label5">Good!</label>
                        </p>

                        <p class="register__RadioBox" v-else>
                          <input id="radio3" disabled class="register__RadioBtnGood" name="hoge" type="radio" value="2">
                          <label for="radio3" class="register__Label register__Label6">Bad</label>
                        </p>
                      </dd>
                      <dt class="register__FormListLeft">
                        コメント
                      </dt>
                      <dd class="register__FormListRight">
                        <div class="mainCont__GrayBox">
                          <p class="mainCont__GrayBoxP">{{ comments }}</p>
                        </div>
                      </dd>
                    </dl>
                  </div>
                  <div class="mainCont__Btns">
                    <ul class="mainCont__BtnsList">
                      <li class="mainCont__BtnsLi">
                        <a :href="`checking?ref=1&project_id=${this.$route.query.project_id}&user=${this.$route.query.user}`" class="mainCont__Btn5 mainCont__BtnCon2">
                          結果評価入力画面に戻る
                        </a>
                      </li>
                      <li class="mainCont__BtnsLi">
                        <a @click="updateProjectUser" class="mainCont__Btn2 mainCont__BtnCon2">
                          この内容で登録する
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mainCont__Wrap" v-show="section == 3">
          <div class="register__Cont">
            <h2 class="register__Title register__Title2">ご登録ありがとうございます。<br>
            結果確認が完了しました</h2>
            <h2 class="register__Title">この案件のタスクはすべて完了しました。<br>引き続きBuzzLinkをご利用ください。</h2>

            <div class="mainCont__Btns">
              <ul class="mainCont__BtnsList">
                <li class="mainCont__BtnsLi">
                  <a href="/mypage/project_management" class="mainCont__Btn2 mainCont__BtnCon">
                    仕事管理を表示する
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from './../includes/NavbarPages'
  import Details from './../includes/ProjectDetails'
  import moment from 'moment'

  export default {
    components: {
      Header, Details
    },
    data(){
      return {
        user_id: '',
        section: this.$route.query.ref,
        selected_user: {},
        errors:{},
        rating: '',
        comments: ''
      }
    },
    created(){
      this.getUser()
      this.getData()
      this.getProjectUser()
    },
    methods: {
      getUser(){
        axios.get('/init')
        .then(res => {
          this.user_id = res.data.id
        })
      },
      getData(){
        this.rating = localStorage.getItem('client_rating') ? JSON.parse(localStorage.getItem('client_rating')) : this.rating
        this.comments = localStorage.getItem('client_comment') ? JSON.parse(localStorage.getItem('client_comment')) : this.comments
      },
      getProjectUser(){
        axios.get('/reporting_user?project_id=' + this.$route.query.project_id + '&user_id=' + this.$route.query.user)
        .then(res => {
          if(res.data.application_status == 4){
            res.data.applied_at = moment(String(res.data.applied_at)).format('YYYY/MM/DD HH:mm:ss')
            res.data.selected_at = moment(String(res.data.selected_at)).format('YYYY/MM/DD HH:mm:ss')
            this.selected_user = res.data
          } else {
            location.href = '/mypage/project_management'
          }
        })
      },
      updateProjectUser(){
        axios.post('/client_evaluation',{
          id: this.selected_user.id,
          rate: this.rating,
          comments: this.comments,
          json: true
        }).then(res => {
          if(res.data.status == 200){
            localStorage.removeItem('client_rating')
            localStorage.removeItem('client_comment')
            this.section = 3
            window.scroll(0,0)
          }
        })
      },
      setData(e, to){
        this.errors = {}
        if(!this.rating){
          this.errors.rating = '結果の評価は必須です。'
          window.scroll({
            top: document.body.clientHeight - 1050,
            behavior: 'smooth'
          });
          e.preventDefault()
        }

        if(!this.comments){
          this.errors.comments = 'コメントは必須です。'
          window.scroll({
            top: document.body.clientHeight - 1000,
            behavior: 'smooth'
          });
          e.preventDefault()
        }

        if(Object.keys(this.errors).length == 0){
          localStorage.setItem('client_rating', JSON.stringify(this.rating))
          localStorage.setItem('client_comment', JSON.stringify(this.comments))
        }
      },
      redirectUser(e) {
        e.preventDefault()
        location.href = '/profile/' + e.target.id
      },
      imageUrlAlt(e){
        e.target.src = '/assets/user.png'
      },
    }
  }
</script>
<style>
.mainCont__BtnCon2 {
    width: 300px;
    height: 60%;
    font-size: 18px;
}
</style>
