<template>
  <div>
    <Header />

    <div class="mainCont">
      <div class="mainCont__Inner">

        <div class="breadcrumb">
          <ul class="breadcrumb__List">
            <li class="breadcrumb__Li">
              <a href="/mypage/project_management">仕事管理へ戻る</a>
            </li>
          </ul>
        </div>

        <div class="mainCont__Wrap">
          <div class="mainCont__Right mainCont__Right3">
            <div class="register register2">
              <Details :user="user_id"/>

              <div class="mainCont__Box">
                <h2 class="mainCont__Title1">
                  選定したインフルエンサー
                </h2>
                <h3 class="mainCont__Title4">選定日時 {{ selected_user.selected_at }}</h3>
                <div class="userBox">
                  <div class="userBox__Box">
                    <p class="userBox__Pic">
                      <img :src="selected_user.user.avatar_image ? selected_user.user.avatar_image : '/assets/user.png'" @error="imageUrlAlt" @click="redirectUser" :id="selected_user.user.uuid" class="matter__UserPicImg">
                    </p>
                    <h3 class="userBox__Title"><a :href="'/profile/' + selected_user.user.uuid">{{ selected_user.name }}</a></h3>

                    <div class="userBox__UserBox">
                      <div class="userBox__UserSt">
                        評価
                        <span class="userBox__UserStScore">{{ getClientRate(selected_user.user.has_many_project_users) }}</span>
                      </div>
                      <div class="userBox__UserSt">
                        完了実績
                        <span class="userBox__UserStScore">{{selected_user.user.has_many_project_users != undefined ? selected_user.user.has_many_project_users.length : 0}}</span>件
                      </div>
                      <div class="userBox__UserSt">
                        完了率
                        <span class="userBox__UserStScore">100</span>%
                      </div>
                    </div>
                  </div>
                  <div class="userBox__Box">
                    <ul class="tag">
                      <li class="tag__Inner" v-for="tag in selected_user.user.has_many_genres">
                        # {{ tag.name }}
                      </li>
                    </ul>
                  </div>
                  <div class="userBox__Pr">
                    <h4 class="userBox__SubTitle">
                      自己PR・実績
                    </h4>
                    <p v-html="selected_user.self_promotion" />
                  </div>
                  <div class="userBox__Data">
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-youtube"></i>YouTube</p>
                      チャンネル登録者数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-instagram"></i> Instagram</p>
                      フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-facebook"></i> FaceBook</p>
                      フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-twitter"></i> twitter</p>
                      フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-tiktok"></i> Tiktok</p>
                      フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                  </div>
                  <div class="userBox__Date">
                    <h4 class="userBox__SubTitle">
                      投稿日時
                    </h4>
                    <p>{{ selected_user.applied_at }}</p>
                  </div>
                </div>
              </div>

              <div class="mainCont__Box">
                <h2 class="mainCont__Title1">
                  インフルエンサーからクライアントへの完了報告
                </h2>
                <h3 class="mainCont__Title4">SNS投稿情報　/　完了報告日時 {{ selected_user.reported_at }}</h3>
                <p>
                  投稿URL：{{ selected_user.sns_url }}
                </p>
                <div class="mainCont__EmbedSnsWrap">
                  <div class="mainCont__EmbedSns">
                    <iframe class="sns_frame" :src="selected_user.sns_frame_url" frameborder="0" scrolling="no" :style="selected_user.sns_type == 'www.tiktok.com' ? 'height: 600px; border: none;' : ''"/>
                  </div>
                </div>
              </div>

              <div class="mainCont__Box">
                <h3 class="mainCont__Title4">
                  インフルエンサーからあなたへの評価
                </h3>
                <div class="register__FormBox">
                    <dl class="register__FormList">
                      <dt class="register__FormListLeft">
                        結果の評価
                      </dt>
                      <dd class="register__FormListRight">
                        <p class="register__RadioBox" v-if="selected_user.influencer_eva == 1">
                          <input id="radio3" disabled class="register__RadioBtnGood" name="hoge" type="radio" value="1">
                          <label for="radio3" class="register__Label register__Label5">Good!</label>
                        </p>

                        <p class="register__RadioBox" v-if="selected_user.influencer_eva == 2">
                          <input id="radio3" disabled class="register__RadioBtnGood" name="hoge" type="radio" value="2">
                          <label for="radio3" class="register__Label register__Label6">Bad</label>
                        </p>
                      </dd>
                      <dt class="register__FormListLeft">
                        コメント
                      </dt>
                      <dd class="register__FormListRight">
                        <div class="mainCont__GrayBox">
                          <p class="mainCont__GrayBoxP" v-html="selected_user.influencer_comment"></p>
                        </div>
                      </dd>
                    </dl>

                  </div>
              </div>
              <div class="mainCont__Box">
                <h2 class="mainCont__Title1">
                  クライアントからインフルエンサーへの結果評価
                </h2>
                <h3 class="mainCont__Title4">結果評価日時 {{ selected_user.evaluated_at }}</h3>
                <div class="register__FormBox">
                  <dl class="register__FormList">
                    <dt class="register__FormListLeft">
                      結果の評価
                    </dt>
                    <dd class="register__FormListRight">
                      <p class="register__RadioBox" v-if="selected_user.client_eva == 1">
                        <input id="radio3" disabled class="register__RadioBtnGood" name="hoge" type="radio" value="1">
                        <label for="radio3" class="register__Label register__Label5">Good!</label>
                      </p>

                      <p class="register__RadioBox" v-if="selected_user.client_eva == 2">
                        <input id="radio3" disabled class="register__RadioBtnGood" name="hoge" type="radio" value="2">
                        <label for="radio3" class="register__Label register__Label6">Bad</label>
                      </p>
                    </dd>
                    <dt class="register__FormListLeft">
                      コメント
                    </dt>
                    <dd class="register__FormListRight">
                      <div class="mainCont__GrayBox">
                        <p class="mainCont__GrayBoxP" v-html="selected_user.client_comment" />
                      </div>
                    </dd>
                  </dl>
                </div>
                <div class="mainCont__Btns">
                  <ul class="mainCont__BtnsList">
                    <li class="mainCont__BtnsLi">
                      <a href="/mypage/project_management" class="mainCont__Btn2 mainCont__BtnCon">
                        仕事管理を表示する
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from './../includes/NavbarPages'
  import Details from './../includes/ProjectDetails'
  import moment from 'moment'

  export default {
    components: {
      Header, Details
    },
    data(){
      return {
        user_id: '',
        selected_user: {}
      }
    },
    created(){
      this.getUser()
      this.getProjectUser()
    },
    methods: {
      getUser(){
        axios.get('/init')
        .then(res => {
          this.user_id = res.data.id
        })
      },
      getProjectUser(){
        axios.get('/reporting_user?project_id=' + this.$route.query.project_id + '&user_id=' + this.$route.query.user)
        .then(res => {
          if(res.data.application_status == 5){
            res.data.applied_at = moment(String(res.data.applied_at)).format('YYYY/MM/DD HH:mm:ss')
            res.data.selected_at = moment(String(res.data.selected_at)).format('YYYY/MM/DD HH:mm:ss')
            this.selected_user = res.data
          }
        })
      },
      redirectUser(e) {
        e.preventDefault()
        location.href = '/profile/' + e.target.id
      },
      imageUrlAlt(e){
        e.target.src = '/assets/user.png'
      },
    }
  }
</script>
