<template>
  <div class="mainCont__Right">
    <h1 class="mainCont__Title2">
      仕事管理
    </h1>
    <p class="mainCont__TitleLead">募集以降の案件の情報が表示されます。</p>
    <div class="tabs">
      <input id="bosyutyu" type="radio" name="tab_item" :checked="retainTab == 1" @click="setTab(config.application_status.applied)"/>
      <label class="tab_item tab_item2" for="bosyutyu"
        >募集中（{{ recruiting.total }}）
      </label>
      <input id="sentei" type="radio" name="tab_item" :checked="retainTab == 2" @click="setTab(config.application_status.selection)"/>
      <label class="tab_item tab_item2" for="sentei"
        >選定中（{{ selection.total }}）</label
      >
      <input id="irai" type="radio" name="tab_item" :checked="retainTab == 3" @click="setTab(config.application_status.working)"/>
      <label class="tab_item tab_item2" for="irai"
        >依頼中（{{ completed.total }}）</label
      >
      <input id="iraikakunin" type="radio" name="tab_item" :checked="retainTab == 4" @click="setTab(config.application_status.checking)"/>
      <label class="tab_item tab_item2" for="iraikakunin"
        >結果確認中（{{ checking.total }}）</label
      >
      <input id="kanryou" type="radio" name="tab_item" :checked="retainTab == 5" @click="setTab(config.application_status.done)"/>
      <label class="tab_item tab_item2" for="kanryou"
        >完了 </label
      >
      <input id="syuryou" type="radio" name="tab_item" :checked="retainTab == 6" @click="setTab(config.application_status.completed)"/>
      <label class="tab_item tab_item2" for="syuryou"
        >募集終了 </label
      >
      <div class="tab_content" id="bosyutyu_content">
        <div class="tab_content_description">
          <p>現在募集している案件情報が確認できます。</p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a
                href="#"
                @click="fetchList(recruiting.prev_page_url, stats.recruiting)"
                class="tabs__NextPrevBtn"
                :class="!recruiting.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(recruiting.next_page_url, stats.recruiting)"
                class="tabs__NextPrevBtn"
                :class="!recruiting.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="recruit in recruiting.data">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle">募集終了まで</p>
                <p class="matter__OtherTxt">
                  あと<span class="matter__OtherDate">{{
                    recruit.application_hours_left['duration']
                  }}</span
                  >{{ recruit.application_hours_left['sign'] }}
                </p>
                <span class="matter__OtherSmall"
                  >({{ recruit.application_deadline_at }}まで)</span
                >
              </div>
              <div class="matter__Detail">
                <h3 class="matter__Title">
                  <a
                    :href="
                      '/details/' +
                        recruit.id +
                        '?limit=50&management=true'
                    "
                    class="matter__TitleA"
                    >{{ recruit.title }}</a
                  >
                </h3>
                <ul class="tag">
                  <li
                    class="tag__Inner"
                    v-for="tag in recruit.project_category"
                  >
                    <span class="matter__hash"># {{ tag.name }}</span>
                  </li>
                </ul>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">1人あたりの報酬</p>
                <p class="matter__Price">
                  {{ getNumberFormat(recruit.reward_amount)
                  }}<span class="matter__PriceYen">円</span>
                </p>
                <p>募集人数{{ recruit.request_people_number }}人</p>
              </div>
              <p class="matter__Date">掲載日：{{ recruit.published }}</p>
            </div>
          </div>

          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a
                @click="fetchList(page, stats.recruiting)"
                :class="
                  recruiting.current_page == page
                    ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc'
                    : 'mainCont__PageFeedBtn'
                "
                v-for="page in recruiting.last_page"
                >{{ page }}</a
              >
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a
                href="#"
                @click="fetchList(recruiting.prev_page_url, stats.recruiting)"
                class="mainCont__NextPrevBtn"
                :class="!recruiting.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(recruiting.next_page_url, stats.recruiting)"
                class="mainCont__NextPrevBtn"
                :class="!recruiting.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="sentei_content">
        <div class="tab_content_description">
          <p>依頼するインフルエンサーを選定待ちの案件情報が確認できます。</p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a
                href="#"
                @click="fetchList(selection.prev_page_url, stats.selection)"
                class="tabs__NextPrevBtn"
                :class="!selection.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(selection.next_page_url, stats.selection)"
                class="tabs__NextPrevBtn"
                :class="!selection.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="select in selection.data">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle">選定終了まで</p>
                <p class="matter__OtherTxt">
                  あと<span class="matter__OtherDate">{{
                    select.selection_hours_left['duration']
                  }}</span
                  >{{ select.selection_hours_left['sign'] }}
                </p>
                <span class="matter__OtherSmall"
                  >({{ select.selection_deadline_at }}まで)</span
                >
              </div>
              <div class="matter__Detail">
                <h3 class="matter__Title">
                  <a
                    :href="`/mypage/project_management/selection/form/${select.id}`"
                    class="matter__TitleA"
                    >{{ select.title }}</a
                  >
                </h3>
                <ul class="tag">
                  <li
                    class="tag__Inner"
                    v-for="tag in select.project_category"
                  >
                    <span class="matter__hash"># {{ tag.name }}</span>
                  </li>
                </ul>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">1人あたりの報酬</p>
                <p class="matter__Price">
                  {{ getNumberFormat(select.reward_amount)
                  }}<span class="matter__PriceYen">円</span>
                </p>
                <p>募集人数{{ select.request_people_number }}人</p>
              </div>
              <p class="matter__Date">掲載日：{{ select.published }}</p>
            </div>
          </div>
          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a
                @click="fetchList(page, stats.selection)"
                :class="
                  selection.current_page == page
                    ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc'
                    : 'mainCont__PageFeedBtn'
                "
                v-for="page in selection.last_page"
                >{{ page }}</a
              >
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a
                href="#"
                @click="fetchList(selection.prev_page_url, stats.selection)"
                class="mainCont__NextPrevBtn"
                :class="!selection.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(selection.next_page_url, stats.selection)"
                class="mainCont__NextPrevBtn"
                :class="!selection.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="irai_content">
        <div class="tab_content_description">
          <p>
            現在インフルエンサーへ対応を依頼している案件情報が確認できます。<br />複数のインフルエンサーに依頼した場合、依頼した人数分の明細が表示されます。
          </p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a
                href="#"
                @click="fetchList(completed.prev_page_url, stats.completed)"
                class="tabs__NextPrevBtn"
                :class="!completed.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(completed.next_page_url, stats.completed)"
                class="tabs__NextPrevBtn"
                :class="!completed.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="complete in completed.data">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle">完了報告期限まで</p>
                <p class="matter__OtherTxt">
                  あと<span class="matter__OtherDate">{{
                    complete.report_hours_left['duration']
                  }}</span
                  >{{ complete.report_hours_left['sign'] }}
                </p>
                <span class="matter__OtherSmall"
                  >({{ complete.report_deadline_at }}まで)</span
                >
              </div>
              <div class="matter__Detail">
                <h3 class="matter__Title">
                  <a
                    :href="`/mypage/project_management/requesting/${complete.id}`"
                    class="matter__TitleA"
                    >{{ complete.title }}</a
                  >
                </h3>
                <ul class="tag">
                  <li
                    class="tag__Inner"
                    v-for="tag in complete.project_category"
                  >
                    <span class="matter__hash"># {{ tag.name }}</span>
                  </li>
                </ul>
                <div class="matter__UserBox">
                  <p class="matter__UserPic">
                    <img
                      :src="
                        complete.user.avatar_image
                          ? complete.user.avatar_image
                          : '/assets/user.png'
                      "
                      @error="imageUrlAlt"
                      :id="complete.user.uuid"
                      @click="redirectUser"
                      class="matter__UserPicImg"
                    />
                  </p>
                  <a
                    target="_blank"
                    :href="redirectLink(complete.user.uuid)"
                    class="matter__UserName"
                  >
                    {{ complete.user.name }}
                  </a>
                </div>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">報酬</p>
                <p class="matter__Price">
                  {{ getNumberFormat(complete.reward_amount)
                  }}<span class="matter__PriceYen">円</span>
                </p>
              </div>
              <p class="matter__Date">掲載日：{{ complete.published }}</p>
            </div>
          </div>
          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a
                @click="fetchList(page, stats.completed)"
                :class="
                  completed.current_page == page
                    ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc'
                    : 'mainCont__PageFeedBtn'
                "
                v-for="page in completed.last_page"
                >{{ page }}</a
              >
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a
                href="#"
                @click="fetchList(completed.prev_page_url, stats.completed)"
                class="mainCont__NextPrevBtn"
                :class="!completed.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(completed.next_page_url, stats.completed)"
                class="mainCont__NextPrevBtn"
                :class="!completed.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="iraikakunin_content">
        <div class="tab_content_description">
          <p>
            インフルエンサーの対応が完了し、結果確認が必要な案件情報が確認できます。<br />
            複数のインフルエンサーに依頼した場合、依頼した人数分の明細が表示されます。
          </p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a
                href="#"
                @click="fetchList(checking.prev_page_url, stats.checking)"
                class="tabs__NextPrevBtn"
                :class="!checking.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(checking.next_page_url, stats.checking)"
                class="tabs__NextPrevBtn"
                :class="!checking.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="check in checking.data">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle">結果確認終了まで</p>
                <p class="matter__OtherTxt">
                  あと<span class="matter__OtherDate">{{
                    check.checking_hours_left['duration']
                  }}</span
                  ><span>{{ check.checking_hours_left['sign'] }}</span>
                </p>
                <span class="matter__OtherSmall"
                  >({{ check.checking_deadline_at }})まで</span
                >
              </div>
              <div class="matter__Detail">
                <h3 class="matter__Title">
                  <a
                    :href="`/mypage/project_management/checking/${check.id}/review`"
                    class="matter__TitleA"
                    >{{ check.title }}</a
                  >
                </h3>
                <ul class="tag">
                  <li
                    class="tag__Inner"
                    v-for="tag in check.project_category"
                  >
                    <span class="matter__hash"># {{ tag.name }}</span>
                  </li>
                </ul>
                <div class="matter__UserBox">
                  <p class="matter__UserPic">
                    <img
                      :src="
                        check.user.avatar_image
                          ? check.user.avatar_image
                          : '/assets/user.png'
                      "
                      @error="imageUrlAlt"
                      :id="check.user.uuid"
                      @click="redirectUser"
                      class="matter__UserPicImg"
                    />
                  </p>
                  <a
                    target="_blank"
                    :href="redirectLink(check.user.uuid)"
                    class="matter__UserName"
                  >
                    {{ check.user.name }}
                  </a>
                </div>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">報酬</p>
                <p class="matter__Price">
                  {{ getNumberFormat(check.reward_amount)
                  }}<span class="matter__PriceYen">円</span>
                </p>
              </div>
              <p class="matter__Date">掲載日：{{ check.published }}</p>
            </div>
          </div>
          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a
                @click="fetchList(page, stats.checking)"
                :class="
                  checking.current_page == page
                    ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc'
                    : 'mainCont__PageFeedBtn'
                "
                v-for="page in checking.last_page"
                >{{ page }}</a
              >
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a
                href="#"
                @click="fetchList(checking.prev_page_url, stats.checking)"
                class="mainCont__NextPrevBtn"
                :class="!checking.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(checking.next_page_url, stats.checking)"
                class="mainCont__NextPrevBtn"
                :class="!checking.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="kanryou_content">
        <div class="tab_content_description">
          <p>
            すべての対応が完了した案件情報が確認できます。<br />
            複数のインフルエンサーに依頼した場合、依頼した人数分の明細が表示されます。
          </p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a
                href="#"
                @click="fetchList(done.prev_page_url, stats.done)"
                class="tabs__NextPrevBtn"
                :class="!done.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(done.next_page_url, stats.done)"
                class="tabs__NextPrevBtn"
                :class="!done.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="done_data in done.data">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle matter__OtherTitle2">完了</p>
                <p class="matter__OtherTxt">完了日</p>
                <span class="matter__OtherSmall">{{
                  done_data.completion_date
                }}</span>
              </div>
              <div class="matter__Detail">
                <h3 class="matter__Title">
                  <a
                    :href="`/mypage/project_management/done/${done_data.id}`"
                    class="matter__TitleA"
                    >{{ done_data.title }}</a
                  >
                </h3>
                <ul class="tag">
                  <li
                    class="tag__Inner"
                    v-for="tag in done_data.project_category"
                  >
                    <span class="matter__hash"># {{ tag.name }}</span>
                  </li>
                </ul>
                <div class="matter__UserBox">
                  <p class="matter__UserPic">
                    <img
                      :src="
                        done_data.user.avatar_image
                          ? done_data.user.avatar_image
                          : '/assets/user.png'
                      "
                      @error="imageUrlAlt"
                      :id="done_data.user.uuid"
                      @click="redirectUser"
                      class="matter__UserPicImg"
                    />
                  </p>
                  <a
                    target="_blank"
                    :href="redirectLink(done_data.user.uuid)"
                    class="matter__UserName"
                  >
                    {{ done_data.user.name }}
                  </a>
                </div>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">報酬</p>
                <p class="matter__Price">
                  {{ getNumberFormat(done_data.reward_amount)
                  }}<span class="matter__PriceYen">円</span>
                </p>
              </div>
              <p class="matter__Date">掲載日：{{ done_data.published }}</p>
            </div>
          </div>
          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a
                @click="fetchList(page, stats.done)"
                :class="
                  done.current_page == page
                    ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc'
                    : 'mainCont__PageFeedBtn'
                "
                v-for="page in done.last_page"
                >{{ page }}</a
              >
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a
                href="#"
                @click="fetchList(done.prev_page_url, stats.done)"
                class="mainCont__NextPrevBtn"
                :class="!done.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(done.next_page_url, stats.done)"
                class="mainCont__NextPrevBtn"
                :class="!done.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="syuryou_content">
        <div class="tab_content_description">
          <p>
            募集が終了した案件情報が確認できます。<br />
            インフルエンサーからの応募が0件、またはインフルエンサーに依頼しなかった案件を表示しています。
          </p>
          <div class="tabs__NextPrevBtnsWrap">
            <div class="tabs__NextPrevBtns">
              <a
                href="#"
                @click="fetchList(expired.prev_page_url, stats.expired)"
                class="tabs__NextPrevBtn"
                :class="!expired.prev_page_url ? 'disabled' : ''">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(expired.next_page_url, stats.expired)"
                class="tabs__NextPrevBtn"
                :class="!expired.next_page_url ? 'disabled' : ''">
                次へ<i class="fas fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="matter" v-for="expired_data in expired.data">
            <div class="matter__Box">
              <div class="matter__OtherBox matter__OtherBox2">
                <p class="matter__OtherTitle matter__OtherTitle2">募集終了</p>
                <span class="matter__OtherSmall"
                  >({{ expired_data.application_deadline_at }}まで)</span
                >
              </div>
              <div class="matter__Detail">
                <h3 class="matter__Title">
                  <a
                    :href="`/details/${expired_data.id}?limit=50&management=true`"
                    class="matter__TitleA"
                    >{{ expired_data.title }}</a
                  >
                </h3>
                <ul class="tag">
                  <li
                    class="tag__Inner"
                    v-for="tag in expired_data.project_category"
                  >
                    <span class="matter__hash"># {{ tag.name }}</span>
                  </li>
                </ul>
              </div>
              <div class="matter__PriceBox matter__PriceBox2">
                <p class="matter__PriceTitle">1人あたりの報酬</p>
                <p class="matter__Price">
                  {{ getNumberFormat(expired_data.reward_amount)
                  }}<span class="matter__PriceYen">円</span>
                </p>
                <p>募集人数{{ expired_data.request_people_number }}人</p>
              </div>
              <p class="matter__Date">掲載日：{{ expired_data.published }}</p>
            </div>
          </div>
          <div class="mainCont__Box">
            <div class="mainCont__PageFeedBox">
              <a
                href="#"
                @click="fetchList(page, stats.expired)"
                :class="
                  expired.current_page == page
                    ? 'mainCont__PageFeedBtn mainCont__PageFeedBtnAc'
                    : 'mainCont__PageFeedBtn'
                "
                v-for="page in expired.last_page"
                >{{ page }}</a
              >
            </div>
            <div class="mainCont__NextPrevBtns mainCont__NextPrevBtns2">
              <a
                href="#"
                @click="fetchList(expired.prev_page_url, stats.expired)"
                class="mainCont__NextPrevBtn"
                :class="!expired.prev_page_url ? 'disabled' : ''"
              >
                <i class="fas fa-chevron-left"></i>前へ
              </a>
              <a
                href="#"
                @click="fetchList(expired.next_page_url, stats.expired)"
                class="mainCont__NextPrevBtn"
                :class="!expired.next_page_url ? 'disabled' : ''"
              >
                次へ<i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Config from "../../../config/constant";
const config = Config;

export default {
  props: {
    status: {
      type: Object
    },
  },
  data() {
    return {
      config: config,
      recruiting: [],
      selection: [],
      completed: [],
      checking: [],
      done: [],
      expired: [],
      retainTab: localStorage.getItem('projectmananagement-tab'),
      stats: {
        recruiting: 'recruiting',
        selection: 'selection',
        completed: 'completed',
        checking: 'checking',
        done: 'done',
        expired: 'expired'
      }
    };
  },
  created() {
    this.recruiting = this.status.recruiting,
    this.selection = this.status.selection,
    this.completed = this.status.completed,
    this.checking = this.status.checking,
    this.done = this.status.done,
    this.expired = this.status.expired
  },
  mounted() {
    const urlHashOptions = {
      '募集中': 1,
      '選定中': 2,
      '依頼中': 3,
      '結果確認中': 4
    }
    const urlHash = this.getUrlHashParams();
    if(urlHash) {
      this.retainTab = urlHashOptions[urlHash];
      localStorage.setItem('projectmananagement-tab', urlHashOptions[urlHash]);
    } else {
      this.retainTab == undefined ? localStorage.setItem('projectmananagement-tab', 1) : localStorage.getItem('projectmananagement-tab')
    }
  },
  methods: {
    setTab(status) {
        if(status != undefined) {
          localStorage.setItem('projectmananagement-tab', status)
        }
    },
    generateUrl(page, status) {
      if (Number.isInteger(page)) {
        return `/mypage/project_management?page=${page}&status=${status}`;
      }

      return `${page}&status=${status}`;
    },
    async fetchList(page, status) {
      try {
        const url = this.generateUrl(page, status)
        const res = await axios.get(url);
        this[status] = res.data;
      } catch(err) {

      }
    },
    getRemainingDurationSign(hours) {
      return hours / 24 < 1 && hours != 0 ? "時間" : "日"
    },
    redirectUser(e) {
      e.preventDefault();
      location.href = `/profile/${e.target.id}/influencer`;
    },
    redirectLink(uuid) {
      return `/profile/${uuid}/influencer`;
    },
    imageUrlAlt(e) {
      e.target.src = "/assets/user.png";
    }
  }
};
</script>
<style scoped>
a.disabled {
  pointer-events: none;
  cursor: default;
}
</style>
