<template>
  <div>
    <Header />

    <div class="mainCont">
      <div class="mainCont__Inner">

        <div class="breadcrumb">
          <ul class="breadcrumb__List">
            <li class="breadcrumb__Li">
              <a href="/mypage/project_management">仕事管理へ戻る</a>
            </li>
          </ul>
        </div>

        <div class="mainCont__Wrap">
          <div class="mainCont__Right mainCont__Right3">
            <div class="register register2">
              <Details :user="user_id"/>

              <div class="mainCont__Box">
                <h2 class="mainCont__Title1">
                  応募したインフルエンサー
                </h2>
                <h3 class="mainCont__Title4">選定日時 {{ selected_user.selected_at }}</h3>
                <div class="userBox">
                  <div class="userBox__Box">
                    <p class="userBox__Pic">
                      <img :src="selected_user.user.avatar_image ? selected_user.user.avatar_image : '/assets/user.png'" @error="imageUrlAlt" @click="redirectUser" :id="selected_user.user.uuid" class="matter__UserPicImg">
                    </p>
                    <h3 class="userBox__Title"><a :href="'/profile/' + selected_user.user.uuid">{{ selected_user.user.name }}</a></h3>

                    <div class="userBox__UserBox">
                      <div class="userBox__UserSt">
                        評価
                        <span class="userBox__UserStScore">{{ getClientRate(selected_user.user.has_many_project_users) }}</span>
                      </div>
                      <div class="userBox__UserSt">
                        完了実績
                        <span class="userBox__UserStScore">{{selected_user.user.has_many_project_users != undefined ? selected_user.user.has_many_project_users.length : 0}}</span>件
                      </div>
                      <div class="userBox__UserSt">
                        完了率
                        <span class="userBox__UserStScore">100</span>%
                      </div>
                    </div>
                  </div>
                  <div class="userBox__Box">
                    <ul class="tag">
                      <li class="tag__Inner" v-for="tag in selected_user.user.has_many_genres">
                        # {{ tag.name }}
                      </li>
                    </ul>
                  </div>
                  <div class="userBox__Pr">
                    <h4 class="userBox__SubTitle">
                      自己PR・実績
                    </h4>
                    <p v-html="selected_user.self_promotion" />
                  </div>
                  <div class="userBox__Data">
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-youtube"></i>YouTube</p>
                        チャンネル登録者数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-instagram"></i> Instagram</p>
                        フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-facebook"></i> FaceBook</p>
                        フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-twitter"></i> twitter</p>
                        フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                    <div class="userBox__DataBox">
                      <p class="userBox__DataTitle"><i class="fab fa-tiktok"></i> Tiktok</p>
                        フォロワー数<br>
                      <span class="userBox__DataTxt">1,000,000</span>
                    </div>
                  </div>
                  <div class="userBox__Date">
                    <h4 class="userBox__SubTitle">
                      応募日時
                    </h4>
                    <p>{{ selected_user.applied_at }}</p>
                  </div>
                  <a :href="`/chat?ref=${selected_user.id}&project_id=`" class="userBox__Btn">
                    メッセージを送る
                  </a>
                </div>

                <div class="mainCont__BtnsList3">
                  <a href="/mypage/project_management" class="mainCont__Btn2 mainCont__BtnCon">
                    仕事管理を表示する
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from './../includes/Header'
  import Details from './../includes/ProjectDetails'
  import moment from 'moment'

  export default {
    components: {
      Header, Details
    },
    data(){
      return {
        user_id: '',
        selected_user: {
          user:[]
        }
      }
    },
    created(){
      this.getUser()
      this.getProjectUser()
    },
    methods: {
      getUser(){
        axios.get('/init')
        .then(res => {
          this.user_id = res.data.id
        })
      },
      getProjectUser(){
        axios.get('/reporting_user?project_id=' + this.$route.query.project_id + '&user_id=' + this.$route.query.user)
        .then(res => {
          if(res.data.application_status == 3){
            res.data.applied_at = moment(String(res.data.applied_at)).format('YYYY/MM/DD HH:mm:ss')
            res.data.selected_at = moment(String(res.data.selected_at)).format('YYYY/MM/DD HH:mm:ss')
            this.selected_user = res.data
          }
        })
      },
      redirectUser(e) {
        e.preventDefault()
        location.href = '/profile/' + e.target.id
      },
      imageUrlAlt(e){
        e.target.src = '/assets/user.png'
      },
    }

  }
</script>
