<template>
  <div>
    <Header />

    <div class="mainCont">
      <div class="mainCont__Inner">

        <div class="breadcrumb">
          <ul class="breadcrumb__List">
            <li class="breadcrumb__Li">
              <a href="/mypage/project_management">仕事管理へ戻る</a>
            </li>
          </ul>
        </div>

        <div class="flowlist">
          <p :class="section == 1 ? 'flowlist__Flow flowlist__FlowActive' : 'flowlist__Flow'">
            <span :class="section == 1 ? 'flowlist__FlowNumber flowlist__FlowNumberActive' : 'flowlist__FlowNumber'">FLOW.1</span>
            選定<br>入力
          </p>
          <p :class="section == 2 ? 'flowlist__Flow flowlist__FlowActive' : 'flowlist__Flow'">
            <span :class="section == 2 ? 'flowlist__FlowNumber flowlist__FlowNumberActive' : 'flowlist__FlowNumber'">FLOW.2</span>
            支払情報<br>入力
          </p>
          <p :class="section == 3 ? 'flowlist__Flow flowlist__FlowActive' : 'flowlist__Flow'">
            <span :class="section == 3 ? 'flowlist__FlowNumber flowlist__FlowNumberActive' : 'flowlist__FlowNumber'">FLOW.3</span>
            内容<br>確認
          </p>
          <p :class="section == 4 ? 'flowlist__Flow flowlist__FlowActive' : 'flowlist__Flow'">
            <span :class="section == 4 ? 'flowlist__FlowNumber flowlist__FlowNumberActive' : 'flowlist__FlowNumber'">FLOW.4</span>
            選定<br>完了
          </p>
        </div>

        <div class="mainCont__Wrap">
          <div class="mainCont__Right mainCont__Right3">
            <div class="register register2">
              <div class="mainCont__Box" v-show="section == 3">
                <div class="mainCont__GrayBox">
                  <p class="mainCont__GrayBoxP">下記の内容で問題がなければ、ページ下の「この内容で確定する」をクリックしてください。</p>
                  <p class="mainCont__GrayBoxRed">確定後は修正ができなくなるため、必ずもう一度依頼内容をご確認ください。</p>
                </div>
              </div>
              <Details :user="user_id" v-show="section != 2 && section != 4" />

              <section v-show="section == 1">
                <div class="mainCont__Box">
                  <h2 class="mainCont__Title1">
                    応募したインフルエンサー
                  </h2>
                  <div class="mainCont__RedBox">
                    <p>依頼するインフルエンサーを選択して「支払情報入力画面へ進む」ボタンをクリックしてください。</p>
                  </div>
                  <h3 class="mainCont__FixedTitle">最大依頼人数 残り{{ maximum_selection }}名</h3>

                  <div class="userBox userBox2" :id="selecting_user.user.uuid" :class="selected_users.some(selected_user => selected_user.user.uuid === selecting_user.user.uuid) ? 'isActive' : ''" v-for="(selecting_user, index) in users.slice(0, display_limit)">
                    <div class="userBox__CheckWrap">
                      <p class="userBox__CheckText" @click="selectApplicant(selecting_user.user.uuid, index)">このユーザーに依頼する</p>
                    </div>
                    <div class="userBox__Box">
                      <p class="userBox__Pic">
                        <img :src="selecting_user.user.avatar_image ? selecting_user.user.avatar_image : '/assets/user.png'" @error="imageUrlAlt" @click="redirectUser" :id="selecting_user.user.uuid" class="matter__UserPicImg">
                      </p>
                      <h3 class="userBox__Title"><a :href="'/profile/' + selecting_user.user.uuid">{{ selecting_user.user.name }}</a></h3>

                      <div class="userBox__UserBox">
                        <div class="userBox__UserSt">
                          評価
                          <span class="userBox__UserStScore">{{ getClientRate(selecting_user.user.has_many_project_users) }}</span>
                        </div>
                        <div class="userBox__UserSt">
                          完了実績
                          <span class="userBox__UserStScore">{{selecting_user.user.has_many_project_users != undefined ? selecting_user.user.has_many_project_users.length : 0}}</span>件
                        </div>
                        <div class="userBox__UserSt">
                          完了率
                          <span class="userBox__UserStScore">100</span>%
                        </div>
                      </div>
                    </div>
                    <div class="userBox__Box">
                      <ul class="tag">
                        <li class="tag__Inner" v-for="tag in selecting_user.user.has_many_genres">
                          # {{ tag.name }}
                        </li>
                      </ul>
                    </div>
                    <div class="userBox__Pr">
                      <h4 class="userBox__SubTitle">
                        自己PR・実績
                      </h4>
                      <p v-html="selecting_user.promotion" />
                    </div>
                    <div class="userBox__Data">
                      <div class="userBox__DataBox">
                        <p class="userBox__DataTitle"><i class="fab fa-youtube"></i>YouTube</p>
                        チャンネル登録者数
                        <span class="userBox__DataTxt">1,000,000</span>
                      </div>
                      <div class="userBox__DataBox">
                        <p class="userBox__DataTitle"><i class="fab fa-instagram"></i> Instagram</p>
                        フォロワー数
                        <span class="userBox__DataTxt">1,000,000</span>
                      </div>
                      <div class="userBox__DataBox">
                        <p class="userBox__DataTitle"><i class="fab fa-facebook"></i> FaceBook</p>
                        フォロワー数
                        <span class="userBox__DataTxt">1,000,000</span>
                      </div>
                      <div class="userBox__DataBox">
                        <p class="userBox__DataTitle"><i class="fab fa-twitter"></i> twitter</p>
                        フォロワー数
                        <span class="userBox__DataTxt">1,000,000</span>
                      </div>
                      <div class="userBox__DataBox">
                        <p class="userBox__DataTitle"><i class="fab fa-tiktok"></i> Tiktok</p>
                        フォロワー数
                        <span class="userBox__DataTxt">1,000,000</span>
                      </div>
                    </div>
                    <div class="userBox__Date">
                      <h4 class="userBox__SubTitle">
                        応募日時
                      </h4>
                      <p>{{ selecting_user.applied_at }}</p>
                    </div>
                    <a :href="`/chat?ref=${selecting_user.id}&project_id=`" class="userBox__Btn">
                      メッセージを送る
                    </a>
                  </div>
                </div>
                <div class="mainCont__BtnsList2" v-if="users.length > display_limit">
                  <a @click="showMore" class="mainCont__Btn4">
                    次の50件を表示する
                  </a>
                </div>

                <div class="mainCont__Btns">
                  <ul class="mainCont__BtnsList">
                    <li class="mainCont__BtnsLi">
                      <a href="/mypage/project_management" class="mainCont__Btn5 mainCont__BtnCon2">
                        仕事管理を表示する
                      </a>
                    </li>
                    <li class="mainCont__BtnsLi">
                      <a :href="`selection?ref=2&project_id=${this.$route.query.project_id}`" @click="setData($event)" class="mainCont__Btn2 mainCont__BtnCon2">
                        支払情報入力画面へ進む
                      </a>
                    </li>
                  </ul>
                  <span class="error__message" style="text-align:center;display:block;margin-top:20px;">{{ error }}</span>

                </div>
              </section>

              <section v-show="section == 2">
                <div class="mainCont__Box">
                  <h2 class="mainCont__Title1">
                   費用明細
                  </h2>
                  <table class="table table3">
                    <tbody>
                      <tr>
                        <td class="table__td">インフルエンサー費用</td>
                        <td class="table__td table__Right">¥{{ reward.toLocaleString() }} × {{ selected_users.length }}人</td>
                        <td class="table__td table__Right">¥{{ payment.total.toLocaleString() }}</td>
                      </tr>
                      <tr>
                        <td class="table__td">システム利用料</td>
                        <td class="table__td table__Center">　</td>
                        <td class="table__td table__Right">¥{{ payment.total_with_fee.toLocaleString() }}</td>
                      </tr>
                      <tr>
                        <td class="table__td">消費税</td>
                        <td class="table__td table__Center">　</td>
                        <td class="table__td table__Right">¥{{ payment.total_with_tax.toLocaleString() }}</td>
                      </tr>
                      <tr>
                        <th class="table__th">合計</th>
                        <th class="table__th"></th>
                        <th class="table__th  table__Right">¥{{ payment.total_to_pay.toLocaleString() }}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="mainCont__Box">
                  <h2 class="mainCont__Title1">
                    クレジット決済
                  </h2>
                  <p class="mainCont__Card">
                    <img :src="'/assets/card.png'" alt="">
                  </p>
                  <div class="register__FormBox">
                    <dl class="register__FormList">
                      <dt class="register__FormListLeft">
                        カード名義人
                      </dt>
                      <dd class="register__FormListRight register__FormCardListRight">
                        <input type="text" v-model="card.username" class="register__UserName">
                        <span class="register__FormListStxt">
                          ※半角英字でご入力ください
                        </span>
                      </dd>
                      <dt class="register__FormListLeft">
                        クレジットカード番号
                      </dt>
                      <dd class="register__FormListRight register__FormCardListRight">
                        <input type="text" v-model="card.number" class="register__CardNumber">
                        <span class="register__FormListStxt">
                          ※半角数字14桁〜16桁　ハイフンなしでご入力ください
                        </span>
                      </dd>

                      <dt class="register__FormListLeft">
                        有効期限
                      </dt>
                      <dd class="register__FormListRight register__FormCardListRight">
                        <span class="register__DateWrap2"><input type="tel" v-model="card.month" class="register__Month2"></span>　／　
                        <span class="register__DateWrap2"><input type="tel" v-model="card.year" class="register__Year2"></span><span> （月 ／ 年）</span>
                        <span class="register__FormListStxt">
                          ※クレジットカード券面に記載された数字2桁をご入力ください
                        </span>
                      </dd>

                      <dt class="register__FormListLeft">
                        セキュリティーコード
                      </dt>
                      <dd class="register__FormListRight register__FormCardListRight">
                        <span class="register__DateWrap"><input type="tel" v-model="card.security_code" class="register__Security"></span>
                        <span class="register__FormListStxt">
                          <a href="#">※セキュリティーコードとは？</a>
                        </span>
                      </dd>
                    </dl>
                    <div class="register__CautionBox register__CautionBox2">
                      <ul>
                        <li class="register__CautionBoxLi">※お支払い回数は1回払いのみとさせていただきます。</li>
                        <li class="register__CautionBoxLi">※このページでは支払いは確定しません。次ページにて入力内容をご確認して頂いた後、確定となります。</li>
                        <li class="register__CautionBoxLi">※クレジットカード情報は、決済処理のために弊社が取得し、決済代行会社ストライプジャパン（株）に提供します。<br>なお、弊社ではクレジットカード情報は保持しません。</li>
                      </ul>
                    </div>
                  </div>
                  <div class="mainCont__Btns">
                    <ul class="mainCont__BtnsList">
                      <li class="mainCont__BtnsLi">
                        <a :href="`selection?ref=1&project_id=${this.$route.query.project_id}`" class="mainCont__Btn5 mainCont__BtnCon2">
                          選定画面に戻る
                        </a>
                      </li>
                      <li class="mainCont__BtnsLi">
                        <a :href="`selection?ref=3&project_id=${this.$route.query.project_id}`" @click="setData($event)" class="mainCont__Btn2 mainCont__BtnCon2">
                          入力内容を確認する
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>

              <section v-show="section == 3">
                <div class="mainCont__Box">
                  <h2 class="mainCont__Title1">
                    選定するインフルエンサー
                  </h2>

                  <div class="userBox" v-for="selected_user in selected_users">
                    <div class="userBox__Box">
                      <p class="userBox__Pic">
                        <img :src="selected_user.user.avatar_image ? selected_user.user.avatar_image : '/assets/user.png'" @error="imageUrlAlt" @click="redirectUser" :id="selected_user.user.uuid" class="matter__UserPicImg">
                      </p>
                      <h3 class="userBox__Title">{{ selected_user.user.name }}</h3>

                      <div class="userBox__UserBox">
                        <div class="userBox__UserSt">
                          評価
                          <span class="userBox__UserStScore">{{ getClientRate(selected_user.user.has_many_project_users) }}</span>
                        </div>
                        <div class="userBox__UserSt">
                          完了実績
                          <span class="userBox__UserStScore">{{selected_user.user.has_many_project_users != undefined ? selected_user.user.has_many_project_users.length : 0}}</span>件
                        </div>
                        <div class="userBox__UserSt">
                          完了率
                          <span class="userBox__UserStScore">100</span>%
                        </div>
                      </div>
                    </div>
                    <div class="userBox__Box">
                      <ul class="tag">
                        <li class="tag__Inner" v-for="tag in selected_user.user.has_many_genres">
                          # {{ tag.name }}
                        </li>
                      </ul>
                    </div>
                    <div class="userBox__Pr">
                      <h4 class="userBox__SubTitle">
                        自己PR・実績
                      </h4>
                      <p v-html="selected_user.user.self_introduction" />
                    </div>
                    <div class="userBox__Data">
                      <div class="userBox__DataBox">
                        <p class="userBox__DataTitle"><i class="fab fa-youtube"></i>YouTube</p>
                        チャンネル登録者数<br>
                        <span class="userBox__DataTxt">1,000,000</span>
                      </div>
                      <div class="userBox__DataBox">
                        <p class="userBox__DataTitle"><i class="fab fa-instagram"></i> Instagram</p>
                        フォロワー数<br>
                        <span class="userBox__DataTxt">1,000,000</span>
                      </div>
                      <div class="userBox__DataBox">
                        <p class="userBox__DataTitle"><i class="fab fa-facebook"></i> FaceBook</p>
                        フォロワー数<br>
                        <span class="userBox__DataTxt">1,000,000</span>
                      </div>
                      <div class="userBox__DataBox">
                        <p class="userBox__DataTitle"><i class="fab fa-twitter"></i> twitter</p>
                        フォロワー数<br>
                        <span class="userBox__DataTxt">1,000,000</span>
                      </div>
                      <div class="userBox__DataBox">
                        <p class="userBox__DataTitle"><i class="fab fa-tiktok"></i> Tiktok</p>
                        フォロワー数<br>
                        <span class="userBox__DataTxt">1,000,000</span>
                      </div>
                    </div>
                    <div class="userBox__Date">
                      <h4 class="userBox__SubTitle">
                        応募日時
                      </h4>
                      <p>{{ selected_user.applied_at }}</p>
                    </div>
                  </div>
                </div>

                <div class="mainCont__Box">
                  <h2 class="mainCont__Title1">
                   費用明細
                  </h2>
                  <table class="table table3">
                    <tbody>
                      <tr>
                        <td class="table__td">インフルエンサー費用</td>
                        <td class="table__td table__Right">¥{{ reward.toLocaleString() }} × {{ selected_users.length }}人</td>
                        <td class="table__td table__Right">¥{{ payment.total.toLocaleString() }}</td>
                      </tr>
                      <tr>
                        <td class="table__td">システム利用料</td>
                        <td class="table__td table__Center">　</td>
                        <td class="table__td table__Right">¥{{ payment.total_with_fee.toLocaleString() }}</td>
                      </tr>
                      <tr>
                        <td class="table__td">消費税</td>
                        <td class="table__td table__Center">　</td>
                        <td class="table__td table__Right">¥{{ payment.total_with_tax.toLocaleString() }}</td>
                      </tr>
                      <tr>
                        <th class="table__th">合計</th>
                        <th class="table__th"></th>
                        <th class="table__th  table__Right">¥{{ payment.total_to_pay.toLocaleString() }}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="mainCont__Box">
                  <h2 class="mainCont__Title1">
                    クレジット決済
                  </h2>

                  <div class="register__FormBox">
                    <dl class="register__FormList">
                      <dt class="register__FormListLeft">
                        カード名義人
                      </dt>
                      <dd class="register__FormListRight">
                        {{ card.username }}
                      </dd>
                      <dt class="register__FormListLeft">
                        クレジットカード番号
                      </dt>
                      <dd class="register__FormListRight">
                        {{ card.number.substring(0, 4) + '********' + card.number.substring(card.number.length - 4, card.number.length) }}
                      </dd>

                      <dt class="register__FormListLeft">
                        有効期限
                      </dt>
                      <dd class="register__FormListRight">
                        {{ card.month }} / {{ card.year }}
                      </dd>

                      <dt class="register__FormListLeft">
                        セキュリティーコード
                      </dt>
                      <dd class="register__FormListRight">
                        <span v-for="mask in card.security_code.length">
                        *
                        </span>
                      </dd>
                    </dl>
                  </div>
                  <div class="mainCont__Btns">
                    <ul class="mainCont__BtnsList">
                      <li class="mainCont__BtnsLi">
                        <a :href="`selection?ref=2&project_id=${this.$route.query.project_id}`" class="mainCont__Btn5 mainCont__BtnCon2">
                          選定画面へ戻る
                        </a>
                      </li>
                      <li class="mainCont__BtnsLi">
                        <a href="#" @click="updateProjectUser" class="mainCont__Btn2 mainCont__BtnCon2">
                          この内容で確定する
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
              <section v-show="section == 4">
                <div class="register__Cont">
                  <h2 class="register__Title register__Title2">ご登録ありがとうございます。<br>
                  インフルエンサーの選定が完了しました。</h2>

                  <h2 class="register__Title">選定したインフルエンサーに対してシステムより選定通知を送信します。<br>インフルエンサーからの完了報告をお待ちください。</h2>
                  <div class="mainCont__Btns">
                    <ul class="mainCont__BtnsList">
                      <li class="mainCont__BtnsLi">
                        <a href="/mypage/project_management" class="mainCont__Btn2 mainCont__BtnCon">
                          仕事管理を表示する
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from './../includes/NavbarPages'
  import Details from './../includes/ProjectDetails'
  import moment from 'moment'

  export default {
    data(){
      return {
        user_id: '',
        display_limit: 50,
        section: this.$route.query.ref,
        maximum_selection: 0,
        payment: {
          total: '',
          total_with_fee: '',
          total_with_tax: '',
          total_to_pay: ''
        },
        reward: 0,
        error: '',
        card: {
          number: '',
          security_code: ''
        },
        selected_users: [],
        details: [],
        users: [],
        rates: []
      }
    },
    created() {
      this.getUser()
      this.getApplicant()
      this.getRates()
      this.computePayment()
      this.getData()
      this.redirectToStart()
    },
    components: {
      Header, Details
    },
    methods: {
      getUser(){
        axios.get('/init')
        .then(res => {
          this.user_id = res.data.id
        })
      },
      getData(){
        this.selected_users = localStorage.getItem('selected_users') ? JSON.parse(localStorage.getItem('selected_users')) : this.selected_users
        this.card = localStorage.getItem('card_details') ? JSON.parse(localStorage.getItem('card_details')) : this.card
        if(this.$route.query.ref == 1){
          localStorage.removeItem('completed')
        }
      },
      getRates(){
        axios.get('/rates')
        .then(res => {
          this.rates = res.data
        })
      },
      getApplicant(){
        axios.get('/user/' + this.$route.query.project_id)
        .then(res => {
          let counter = 0;

          this.reward = res.data.reward_amount
          this.details = res.data
          for(var i=0;i<res.data.has_many_project_users.length;i++){
            res.data.has_many_project_users[i].applied_at = moment(String(res.data.has_many_project_users[i].applied_at)).format('YYYY/MM/DD HH:mm:ss')
            if(res.data.has_many_project_users[i].application_status == 2 || res.data.has_many_project_users[i].application_status == 1){
              this.users.push(res.data.has_many_project_users[i])
            } else {
              counter++
            }
          }
          if(this.selected_users.length > 0){
            for(var n=0;n<this.selected_users.length;n++){
              counter++
            }
          }

          this.maximum_selection = res.data.request_people_number - counter
        })
      },
      updateProjectUser(){
        axios.post('/select_user', {
          selected_users: this.selected_users,
          details: this.details,
          json: true
        }).then(res => {
          if(res.data.status == 200){
            localStorage.removeItem('selected_users')
            localStorage.removeItem('card_details')
            localStorage.setItem('completed', true)
            location.href=`selection?ref=4&project_id=${this.$route.query.project_id}`
          }
        })
      },
      redirectUser(e) {
        e.preventDefault()
        location.href = '/profile/' + e.target.id
      },
      redirectToStart(){
        if(localStorage.getItem('completed') && this.$route.query.ref != 4){
          location.href = 'selection?ref=1&project_id=' + this.$route.query.project_id
        }
      },
      setData(e){
        if(this.selected_users.length > 0){
          localStorage.setItem('selected_users', JSON.stringify(this.selected_users))
          localStorage.setItem('card_details', JSON.stringify(this.card))
        } else {
          e.preventDefault()
          this.error = 'インフルエンサーを選択してください。'
        }
      },
      imageUrlAlt(e){
        e.target.src = '/assets/user.png'
      },
      selectApplicant(id, index){
        if($("#" + id).hasClass('isActive')) {
          $("#" + id).removeClass('isActive');
          this.maximum_selection++
          for(var i=0; i<this.selected_users.length; i++)
          {
            if(this.selected_users[i].user.uuid == id){
              this.selected_users.splice(i, 1);
            }
          }
        } else {
          if(this.maximum_selection > 0){
            $("#" + id).addClass('isActive');
            this.maximum_selection--
            this.selected_users.push(this.users[index])
          }
        }
      },
      computePayment(){
        setTimeout(() => {
          let total_payment = this.reward * this.selected_users.length
          this.payment.total = total_payment < this.rates.min_fee ? this.rates.min_fee : total_payment
          this.payment.total_with_fee = this.payment.total * (this.rates.fee/100)
          this.payment.total_with_tax = (this.payment.total + this.payment.total_with_fee) * (this.rates.tax/100)
          this.payment.total_to_pay = this.payment.total + this.payment.total_with_fee + this.payment.total_with_tax
        }, 500)
      },
      showMore(){
        this.display_limit + 50
      }
    }
  }
</script>
<style scoped>
  .mainCont__BtnCon2{
    width: 300px;
    height: 60%;
    font-size: 18px;
  }
</style>
